- transaction_url = person_transaction_url(recipient, url_params.merge({:id => transaction.id.to_s}))
- url = new_person_message_feedback_url(recipient, url_params.merge({:message_id => transaction.id.to_s}))

%tr
  %td{:align => "left", :style => "padding-top: 15px;"}
    %font{body_font}
      = t("emails.automatically_confirmed_footer.giving_feedback_is_good_idea", :other_party_given_name => PersonViewUtils.person_display_name_for_type(transaction.other_party(recipient), "first_name_only"))

= render :partial => "action_button", :locals => { :text => t("emails.automatically_confirmed_footer.give_feedback_to", :other_party_given_name => PersonViewUtils.person_display_name_for_type(transaction.other_party(recipient), "first_name_only")), :url => url}

%tr
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = link_to t("emails.accept_reminder.show_thread"), transaction_url
