%tr
  %td.person-name
    %h1= t("emails.common.hi", name: PersonViewUtils.person_display_name_for_type(@recipient, 'first_name_only'))

%tr
  %td.email-content
    %p.text-bold
      = t("emails.transaction_automatically_confirmed_v2.we_have_marked_request_as_confirmed", :request => @transaction.listing.title)
    %p
      = t("emails.booking_transaction_automatically_confirmed_v2.order_automatically_confirmed")

= render partial: "person_mailer/automatic_confirmation/automatically_confirmed_footer-v2", :locals => { transaction: @transaction, recipient: @recipient, url_params: @url_params }
