%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.transaction_automatically_confirmed.we_have_marked_request_as_confirmed", :request => @conversation.listing.title, :days_passed => @conversation.automatic_confirmation_after_days)

= render partial: "person_mailer/automatic_confirmation/automatically_confirmed_footer", :locals => { transaction: @conversation, recipient: @recipient, url_params: @url_params }
