/ Don't use HTML5 number input. It's a mess.
- decimals = custom_field.allow_decimals?
= text_field_tag "#{prefix}[numeric_value]", custom_field_value.display_value,
  required: custom_field.required?,
  number_decimals: decimals || nil, number_no_decimals: !decimals || nil,
  number_min: custom_field.display_min, number_max: custom_field.display_max,
  id: "person_custom_fields_#{index}", input_group_id: "person_custom_fields_#{index}"
