= text_field_tag "#{prefix}[text_value]", custom_field_value.text_value,
  :class => (custom_field.required? ? "required" : ""), id: "person_custom_fields_#{index}",
  input_group_id: "person_custom_fields_#{index}"
