.add-category-buttons
  .inline-button-container
    = form.button t(".save")
  .inline-button-container
    %a{:href => admin_categories_path, :class => "cancel-button"}
      .content
        = t(".cancel")
