- if @category.children.empty?
  .row
    .col-12
      = form.label :parent_id, t(".category_parent")
      = form.select :parent_id, options_for_select([[t(".no_parent"), nil]] + @current_community.top_level_categories.collect { |c| [c.display_name, c.id] })