%p
  #{service_name} on HOAS Kampin talojen oma verkkotori. #{service_name(:inessive)} 
  on helppo myydä, lainata ja vaihtaa tavaroita muiden 
  asukkaiden kanssa, järjestellä kyytejä ja auttaa naapureita 
  eri tavoin. Lisää #{service_name(:illative)} tieto tavaroista joita voisit lainata 
  muille ja tavoista joilla voisit auttaa muita. Jos tarvitset 
  tavaran tai apua, pyydä. Niin yksinkertaista se on.