%p
  #{service_name} is the social marketplace of HOAS Kamppi apartments. In #{service_name} it's easy to sell, lend and swap stuff with other residents, share rides and help neighbors out in several ways. Add the stuff you could lend and ways you could help others out to #{service_name}. If you need an item or help, just ask. It's that simple.