.row
  = form.label :paypal_email, t("paypal_accounts.new.paypal_account_email"), :class => "input"
.row
  - create = link_to(t("paypal_accounts.new.create_paypal_account"), "https://www.paypal.com")
  - upgrade = link_to(t("paypal_accounts.new.upgrade_paypal_account"), "https://www.paypal.com")
  - text = t("paypal_accounts.new.paypal_account_email_info_text", {create_paypal_account: create, upgrade_paypal_account: upgrade}).html_safe
  = render :partial => "layouts/info_text", :locals => {text: text}


.row.send-button-wrapper
  = form.button t("paypal_accounts.new.connect_paypal_account"), :class => "send_button"

%br/

.row
  = form.label :paypal_email, t("paypal_accounts.new.paypal_account_billing_agreement", commission: commission_from_seller), :class => "input disabled"
