- content_for :extra_javascript do
  :javascript
    $("#no_paypal").click(function(){
      $.ajax({
        type: "POST", 
        url: "#{toggle_payment_person_settings_path(@current_user)}", 
        data: {
          no_paypal: this.checked
        },
        success: function() {
          window.location.href = window.location.href;
        }
      })
    });
%label
  = check_box_tag :no_paypal, 1, @current_user.preferences[:no_paypal]
  = t("paypal_accounts.not_now")
