= render :partial => "request_spacer" unless requests.empty?
= render :partial => "recent_listing", :collection => requests, :as => :listing, :spacer_template => "request_spacer"
<!--SPLIT_req-off-->
= render :partial => "offer_spacer" unless offers.empty?
= render :partial => "recent_listing", :collection => offers, :as => :listing, :spacer_template => "offer_spacer"
