.homepage_sidebar_box_content
  %h3= t(".add_your_info")
  %p= t(".you_have_not_added_your_info")
  %p= link_to t(".add_your_info_link"), person_settings_path(@current_user)
  %p= link_to t(".add_a_profile_picture"), person_settings_path(@current_user)
