.search-form-input.search-form-text-field
  = text_field_tag "q", params[:q], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need")
.search-form-input
  %button.action-button#search-button{type: 'submit'}
    = icon_tag("search", ["icon-part"])
