%p
  %b
    Badges, feedback and a new domain
  %br/
  1.12.2010

%p
  You can now achieve badges in Kassi as a recognition of your activeness in using the service. Badges are earned from receiving good feedback in events, listing new offers and requests, commenting others' content and just overall active use of the service. You can see the badges you have achieved in the left hand side of your profile page, right below the profile picture.

%p
  In the same location you can also see an average of the feedback you have received from the other users. Feedback helps others to assess your trustworthiness, so it's good to always give accurate feedback to others after participating in events and also remind them to give good feedback to you.

%p
  The kassi community of Aalto University has also officially moved to a new domain. From now on it can be found from 
  = link_to("http://aalto.kassi.eu", "http://aalto.kassi.eu") + "." 
  However, the old
  = link_to("http://kassi.sizl.org", "http://kassi.sizl.org")
  domain is still also in use and points to the same location.

.event_spacer

%p
  %b
    Thanks for AARREmarkkinat sellers
  %br/
  15.11.2010

%p
  AYY's AARREmarkkinat flea market was held 13.11. at Domma. Thanks for the people who supplied stuff for sale on Kassi's table. Some of it got sold and the rest will be returned to owners. Wish you all luck to get them sold in Kassi.


.event_spacer

%p
  %b
    Welcome to new Kassi
  %br/
  2.10.2010

%p
  Kassi has been renewed inside out. The listings are now divided simply to requests and offers. Lendable items are now added simply as offers, and no more need to use a separate list in your profile. Also categories are simplified to 4 main categories and further details can be entered as share type and tags. Especially tags will help people to find your offer or request with search, so remember to use them.

%p
  Part of the old features are now disabled, because we are still working on those. If there is something critical missing, please let us know by giving
  = link_to "feedback!", "#", :id => "give_feedback_link"
  And please give also other comments about the new version! What is better and what is worse?
  
%p  
  = link_to "More details about the new Kassi", how_to_use_infos_path
  
    