%p
  %b
    Tapiola-Keilaniemi-Otaniemi Kassi-yhteisö
  %br/
  18.3.2011

%p
  Tapiola-Keilaniemi-Otaniemi -alueen käyttöön on avattu oma Kassi-yhteisö testikäyttöön. Palvelua voi kokeilla vapaasti ja vasemman laidan palautenapilla pääsee antamaan palautetta ja kehitysehdotuksia suoraan palvelun tekijöille.
    
%p  
  = link_to "Lue lisää siitä, miten Kassi toimii!", how_to_use_infos_path
  
