%p
  %b
    AARREmarkkinat tulossa 13.11.
  <br />
  27.10.2010

%p
  Kassi on mukana AYY:n järjestämillä AARREmarkkinoilla 13.11. Dommalla. Perinteisein kirpputorin lisäksi myynnissä on myös itse tehtyjä esineitä sekä tavaranvaihtotori. Keskustassa järjestettävät AARREmarkkinat keräävät todennäköisesti myyntipöytien ääreen paljon kansaa myös Aallon ulkopuolelta, joten nyt tarjoutuu hyvä mahdollisuus saada vanhat tavarat myytyä kirpputorilla, ilman myyntipöydän varaamisen ja myyjänä päivystämisen vaivaa.

%p  
  Jos tägäät tarjouksesi "aarremarkkinat"-avainsanalla, voit saada tavarasi myyntiin Kassin myyntipöydälle, tuomalla sen hinnoiteltuna 10.11. omalle pääkampuksellesi. Tarkemmat ohjeet lähetetään "aarremarkkinat"-avainsanaa käyttäneille myöhemmin.

%p
  Voit käyttää samaa avainsanaa myös palvelustarjouksiin, ja tulla paikan päälle tarjoamaan vaikka haalarimerkkien ompelua haluamaasi korvausta vastaan.

%p
  Lisätietoja AARREmarkkinoista <a href="http://www.facebook.com/event.php?eid=150277811675352">Facebookin-tapahtumasivulta</a>

.event_spacer

%p
  %b
    Kassi on uudistunut
  <br />
  2.10.2010

%p
  Kassi on uudistunut niin ulkoisesti kuin sisäisestikin. Ilmoitukset on nyt jaettu aiempaa selkeämmin pyyntöihin ja tarjouksiin, ja esimerkiksi lainatavarat lisätään loogisesti tarjouksina, eikä lisätietoina omaan profiiliin. Myös kategorisointia on selkeytetty valitsemalla käyttöön 4 pääkategoriaa. Sen lisäksi ilmoitusta voi tarkentaa tarjoustavan valinnalla ja vapaamuotoisilla avainsanoilla. Avainsanat helpottavat ilmoituksesi löytymistä hauissa, joten niitä kannattaa käyttää reilusti.

%p
  Osa vanhoista ominaisuuksista on tilapäisesti poistettu, sillä niiden uudet versiot ovat työn alla. Jos jokin puute tuntuu haittaavan tämän hetken käyttöä, pistä siitä ihmeessä 
  = link_to "palautetta!", "#", :id => "give_feedback_link"
  Kaikki palaute uudesta versiosta on muutenkin erittäin tervetullutta! 
  
%p  
  = link_to "Lue lisää siitä, miten uusi Kassi toimii!", how_to_use_infos_path
  
