%p
  Tervetuloa käyttämään Kassin uudistunutta versiota. Uuden ulkoasun lisäksi myös palvelun toiminnallisuudessa on tapahtunut muutoksia. Uudistuksen tarkoituksena on tehdä palvelusta entistä yksinkertaisempi, miellyttävämpi ja hauskempi käyttää.
  
%p
  Merkittävimpänä uudistuksena aiemman kolmijaon ilmoitukset-tavarat-palvelukset on korvannut jako yksinkertaisesti pyyntöihin ja tarjouksiin. Myös tapahtumia on yksinkertaistettu: nyt kaikki tapahtumat syntyvät siten, että käyttäjä vastaa toisen käyttäjän laatimaan pyyntöön (tarjoamalla jotain) tai tarjoukseen (pyytämällä tarjottua asiaa), ja ilmoituksen laatija hyväksyy saamansa pyynnön tai tarjouksen.
  
%p
  Osa vanhoista ominaisuuksista on tilapäisesti poistettu, sillä niiden uudet versiot ovat työn alla. Ei kuitenkaan hätää, ne palaavat ajan myötä entistä ehompina.
  
%p  
  = link_to "Lue lisää siitä, miten Kassi toimii!", how_to_use_infos_path
  
%p
  %i
    Mitä mieltä olet uudesta Kassista? Mikä on paremmin? Onko jokin asia huonommin? Puuttuuko jotain oleellisia ominaisuuksia? Miten palvelua voisi muuten kehittää?
    = link_to "Anna meille palautetta!", "#", :id => "give_feedback_link"