%p
  Kassi has undergone a major facelift. Besides the new looks the functionality of the service has also been revamped. We have tried to make the service simpler and more enjoyable and fun to use.

%p
  The most significant renewal is that instead of the old listings-items-favors -division we now have only listings that are divided into offers and requests. Transaction process has also been simplified. Now there is only only one way to create a transaction: you reply to a listing created by somebody else, and then this person accepts your offer/request.
  
%p
  Some of the features in old Kassi have been temporarily removed. But fear not, they will be back, and they will be better than before.
  
%p  
  = link_to "Read more about how Kassi works!", how_to_use_infos_path
  
%p
  %i
    What do you think of new Kassi? What is better? Is something worse than before? Is there something essential missing? How should the service be developed further?
    = link_to "Give us feedback!", "#"