%p
  %b
    Tapiola-Keilaniemi-Otaniemi Kassi-community
    %br/
    18.3.2011

  %p
    A new Kassi community is opened for Tapiola-Keilaniemi-Otaniemi area. This is now in test use. You can give feedback easily with the button on the left. Hope you enjoy using Kassi!

%p  
  = link_to "More details about Kassi", how_to_use_infos_path
  
