%p
  %b
    Kassi community for Oakland Single Parents Network!
  %br/
  3 Mar 2011

%p
  Hello! And welcome to test this new Kassi community for OSPN. Here you can communicate with your fellow OSPN members and share resources with them: lend, borrow, buy and sell goods, do favors, share rides and so on.
