%h4 Welcome to Kassi on behalf of Oakland Single Parents' Network!
.welcome_text
  %p
    = image_tag("/images/kadie-and-the-kids.jpg", :alt => "Me and the kids")
  %p
    I'm Kadie Kelly, a single mom of two boys and the leader of The Oakland Single
    Parents’ Network. I started OSPN in March 2010 to bring single parents in our
    local community together.
  %p
    As a single parent I felt alone for a long time.  And then I realized I wasn’t
    alone.  And since that realization I have not been able to stop envisioning a
    world where life is not so hard and we are not so isolated from each other.
  %p
    OSPN's collaboration with Kassi is another steps towards helping single parents
    make everyday lives easier together. You can use the service in whatever way
    best fits your needs: to borrow and lend items, exchange favors, organize
    carpooling, sell or give away things you or your children no longer need and so
    on. I hope you will try it out, give us feedback on what works and what doesn't,
    and, if you like it, invite others around to become users of the service, too!
  %p
    For more details, take a look at:
    %br/
    = link_to "OSPN", "http://oaklandsingleparents.com/"
    %br/
    = link_to "Kassi", "http://ospn.kassi.eu/en/infos/about/"
  

