
%p
  %b
    AARREmarkkinat at Nov 13th
  <br />
  27.10.2010

%p
  AYY is organizing fleemarket-like event AARREmarkkinat at November 13th at Domma. In addition to traditional fleemarket there are also handicrafts for sale and item swapping. Kassi is taking part in AARREmarkkinat and now there is a possibility to get stuff sold more effectively than normally.

%p
  If you tag an offer in Kassi with "aarremarkkinat" tag you can get your items for sale at Kassi's table at Aarremarkkinat. You only need to bring them to any of the main campuses at wednesday Nov 10th. More details will be sent to everyone tagging something with "aarremarkkinat". 

%p
  You can use the same tag also for favor offers and come to AARREmarkkinat to offer some favor to people and get something that you wish in return.

%p
  More information about AARREmarkkinat is available at <a href="http://www.facebook.com/event.php?eid=150277811675352">Facebooks's event page</a>

.event_spacer

%p
  %b
    Welcome to new Kassi
  <br />
  2.10.2010

%p
  Kassi has been renewed inside out. The listings are now divided simply to requests and offers. Lendable items are now added simply as offers, and no more need to use a separate list in your profile. Also categories are simplified to 4 main categories and further details can be entered as share type and tags. Especially tags will help people to find your offer or request with search, so remember to use them.

%p
  Part of the old features are now disabled, because we are still working on those. If there is something critical missing, please let us know by giving
  = link_to "feedback!", "#", :id => "give_feedback_link"
  And please give also other comments about the new version! What is better and what is worse?
  
%p  
  = link_to "More details about the new Kassi", how_to_use_infos_path
  
    