
%p
  %b
    Thanks for AARREmarkkinat sellers
  <br />
  15.11.2010

%p
  AYY's AARREmarkkinat flea market was held 13.11. at Domma. Thanks for the people who supplied stuff for sale on Kassi's table. Some of it got sold and the rest will be returned to owners. Wish you all luck to get them sold in Kassi.


.event_spacer

%p
  %b
    Welcome to new Kassi
  <br />
  2.10.2010

%p
  Kassi has been renewed inside out. The listings are now divided simply to requests and offers. Lendable items are now added simply as offers, and no more need to use a separate list in your profile. Also categories are simplified to 4 main categories and further details can be entered as share type and tags. Especially tags will help people to find your offer or request with search, so remember to use them.

%p
  Part of the old features are now disabled, because we are still working on those. If there is something critical missing, please let us know by giving
  = link_to "feedback!", "#", :id => "give_feedback_link"
  And please give also other comments about the new version! What is better and what is worse?
  
%p  
  = link_to "More details about the new Kassi", how_to_use_infos_path
  
    