.feed-navigation
  .feed-actions.actions-menu
    %a.request-link{href: '#'} 
      %i.ss-plus.icon-with-text
      .text-with-icon Post a new listing!
    %a.offset-link.toggle{href: '#', data: {toggle: '.feed-filters'}}
      %i.ss-search
    %a.offset-link.toggle{href: 'map.html', title: 'Map view'}
      %i.ss-maplocation

  .feed-filters.toggle-menu-filters
  
    .feed-search
      %input{type: 'text', placeholder: 'What do you need?'}
      %button
        %i.ss-search.icon-with-text
        .text-with-icon.hidden Search
      %a.map-link{href: 'map.html', title: 'Map view'}
        %i.ss-maplocation.icon-with-text
        .text-with-icon.hidden-text Map
    
    .feed-filter-dropdowns
      .filter-title
        Show:
      %select.item-type
        %option All listings types
        %option Requests
        %option — Borrowing
        %option — Buying
        %option — Taking for free
        %option — Renting
        %option — Swapping
        %option Offers
        %option — Giving away
        %option — Lending
        %option — Renting out
        %option — Selling
        %option — Sharing for free
        %option — Swapping
      %select.item-category
        %option All categories
        %option Items
        %option — Clothing
        %option — Furniture
        %option — Electronics
        %option — Tools
        %option Services
        %option Rideshare
        %option Spaces
      

#homepage-feed.feed
  - if @listings.total_entries > 0
    = render :partial => "recent_listing", :collection => @listings, :as => :listing
    = will_paginate(@listings)
    = pageless(@listings.total_pages, '#homepage-feed', root_path, t('.loading_more_content'), false)
