.menu {
  font-family: var(--Topbar_fontFamily); /* should come from topbar */
  flex-grow: 1;
  cursor: pointer;

  &:focus,
  & :focus {
    outline: none;
    color: var(--Menu_textColorFocus);
  }

  &:focus,
  &.openMenu,
  &.touchless:hover {

    & .menuLabel {
      color: var(--Menu_textColorFocus);
    }

    & .menuLabelIcon g,
    & .menuLabelDropdownIcon path {
      fill: var(--Menu_textColorFocus);
    }
  }

  &.openMenu,
  &.touchless:hover {
    & .menuContent {
      display: block;
    }
  }
}

.menuLabel {
  display: inline-block;
  font-size: var(--Menu_fontSize);
  padding: var(--Menu_labelPaddingVertical) 0;
  white-space: nowrap;
  color: var(--Menu_textColor);

  &::first-letter {
    text-transform: capitalize;
  }
}

.menuLabelIcon {
  margin-right: var(--Menu_iconPadding);
}

.menuLabelDropdownIcon {
  margin-left: 0.2857em;
}

.menuLabelDropdownIconOpen {
  composes: menuLabelDropdownIcon;
  display: none;
}

.menu.openMenu .menuLabelDropdownIconOpen,
.menu.touchless:hover .menuLabelDropdownIconOpen {
  display: inline-block;
}

.menuLabelDropdownIconClosed {
  composes: menuLabelDropdownIcon;
  display: inline-block;
}

.menu.openMenu .menuLabelDropdownIconClosed,
.menu.touchless:hover .menuLabelDropdownIconClosed {
  display: none;
}

.menuContent {
  display: none;
  z-index: var(--Menu_zIndex);
  background-color: var(--Menu_colorBackground);
  border: 1px solid var(--Menu_borderColor);
  border-radius: 3px;
  position: absolute;
  box-shadow: var(--Menu_boxShadow);
}

.menuContentArrowTop,
.menuContentArrowBelow {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.menuContentArrowTop {
  border-color: transparent;
  border-bottom-color: var(--Menu_colorBackground);
  border-width: 7px;
  margin-left: -7px;
}

.menuContentArrowBelow {
  border-color: transparent;
  border-bottom-color: var(--Menu_borderColor);
  border-width: 9px;
  margin-left: -9px;
}
