.menu {
  font-family: var(--topbarFontFamily); /* should come from topbar */
  font-size: var(--Menu_fontSize);

  &:focus,
  & :focus {
    outline: none;
  }

  &:focus .menuContent,
  &:hover .menuContent {
    outline: none;
    display: block;
  }

}

.menuLabel {
  display: inline-block;
  font-size: var(--Menu_fontSize);
  padding: 28px 24px;
  white-space: nowrap;
  cursor: pointer;
}

.menuLabelIcon {
  margin-right: var(--Menu_iconPadding);
}
.menuLabelDropdownIcon {
  margin-left: 0.2857em;
}

.menuContent {
  display: none;
  background-color: var(--Menu_colorBackground);
  border: 1px solid var(--Menu_borderColor);
  border-radius: 3px;
  position: absolute;
  box-shadow: var(--Menu_boxShadow);
}

.menuContentArrowTop,
.menuContentArrowBelow {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.menuContentArrowTop {
  border-color: transparent;
  border-bottom-color: var(--Menu_colorBackground);
  border-width: 9px;
  margin-left: -9px;
}
.menuContentArrowBelow {
  border-color: transparent;
  border-bottom-color: var(--Menu_borderColor);
  border-width: 11px;
  margin-left: -11px;
}
