Sharetribe is a service for the community of the University of Patras. Here you can lend, rent, give away and sell stuff, give and get help, ask for books from other students, find a roommate or share rides. Could you lend something to others or help them? 
= link_to "Tell it here!", new_request_path(:type => "offer")