Το Sharetribe είναι μια υπηρεσία για την κοινότητα του Πανεπιστημίου Πατρών. Εδώ μπορείς να δανείσεις, να ενοικιάσεις, να χαρίσεις και να πουλήσεις πράγματα, να προσφέρεις και να ζητήσεις βοήθεια, να βρεις συγκάτοικο ή να βρεις συνταξιδιώτες. Έχεις κάτι που μπορείς να δανείσεις; Μπορείς να προσφέρεις βοήθεια; 
= link_to "Πες το!", new_request_path(:type => "offer")