%h4 Hei Salon Omakotiyhdistyksen jäsen!
.welcome_text
  %p
    Tarvitsetko jonkun kastelemaan kukat ja ajamaan nurmikon kesälomamatkan aikana? Entä kaipaatko apua pyörän huollossa tai vaatteiden kunnostuksessa? Tarvitsisitko moottorisahan tai trampoliinin käyttöösi päiväksi, muttet viitsisi ostaa?
  %p
    Nyt nämä ja monet muut palvelut ja tavarat ovat ulottuvillasi lähinaapurustossa!
  %p
    Salon Omakotiyhdistys tarjoaa käyttöösi maksuttoman Kassi-verkkopalvelun, jonka kautta voit pyytää naapureiltasi apua ja lainatavaroita. Vastavuoroisesti voit auttaa muita ja tarjota heille lainaksi tai vuokralle omia tavaroitasi, jotka lojuvat kaapissa suurimman osan ajasta. Palvelun kautta on kätevä myös myydä pois vanhat huonekalut, kierrättää pieneksi jääneet lastenvaatteet tai järjestää vaikka kimppakyytirinki töihin. Samalla tutustut kätevästi muihin lähialueen asukkaisiin.
  %p
    Palvelun tarjoaa Omakotiliitto ja se on tarkoitettu ainoastaan Salon Omakotiyhdistyksen jäsenille.