- content_for :javascript do
  - if session[:contact_request_sent]
    initialize_update_contact_request_form("You need to select a country.","You need to select the marketplace type.");
  - else
    initialize_contact_request_form("Oops! You forgot to give your email address.","It seems the email you gave is not valid, please double check.");

%section.lander
  .coverimage
    %figure.network-cover.fluidratio
  .wrapper
    .lander-content-container
      - if session[:contact_request_sent] || session[:contact_request_completed]
        .lander-content.lander-contact-form
          = render :partial => "contact_request_form", :locals => { :prefix => "top" }
      - else
        .lander-content.network-lander-content
          %h1 Create a marketplace.
          %p.lander-description
            Let your community sell, rent, swap and
            %br/
            share goods and services online.
          = render :partial => "contact_request_form", :locals => { :prefix => "top" }

%section.about{:id => "about"}
  .wrapper
    .about-content
      %h2
        Build your online marketplace business.
        %br/
        You don't need a developer.

      .about-columns
        .about-column.about-column-left
          .about-column-title
            .ss-compose.about-column-title-icon
            .about-column-title-text CREATE
          .about-column-content
            %p
              Pick a name and register a domain. The
              %br/
              marketplace is set up automatically.
              %br/
              You don't need to install anything.

        .about-column
          .about-column-title
            .ss-wrench.about-column-title-icon
            .about-column-title-text CUSTOMIZE
          .about-column-content
            %p
              Add your logo and branding and select
              %br/
              product types. No coding or
              %br/
              design skills needed.

        .about-column
          .about-column-title
            .ss-moneybag.about-column-title-icon
            .about-column-title-text MONETIZE
          .about-column-content
            %p
              Allow your users to pay through the
              %br/
              platfom and take a fee from
              %br/
              each transaction.

      / .view-demo
      /   = link_to "View demo", "http://demo.sharetribe.com", :class => "action-button"

%section.how-it-works{:id => "how-it-works"}
  .wrapper
    .how-it-works-content
      %h2 It's so easy. See for yourself.
      .video-container
        %iframe{:width => "853", :height => "480", :src => "//www.youtube.com/embed/mC4Cmjbxk7k", :frameborder => 0}

%section.create-now
  .wrapper
    .create-now-content
      - unless session[:contact_request_sent]
        %h2 Contact us now to create your own marketplace.
      .create-now-form
        = render :partial => "contact_request_form", :locals => { :prefix => "bottom" }

= render :partial => "layouts/google_analytics_script" unless on_dashboard?
