%section.lander
  .coverimage
    %figure.network-cover.fluidratio

%section.about{:id => "about"}
  .wrapper
    .about-content
      %h2
        Build your online marketplace business.
        %br/
        You don't need a developer.

      .about-columns
        .about-column.about-column-left
          .about-column-title
            .ss-compose.about-column-title-icon
            .about-column-title-text CREATE
          .about-column-content
            %p
              Pick a name and register a domain. The
              %br/
              marketplace is set up automatically.
              %br/
              You don't need to install anything.

        .about-column
          .about-column-title
            .ss-wrench.about-column-title-icon
            .about-column-title-text CUSTOMIZE
          .about-column-content
            %p
              Add your logo and branding and select
              %br/
              product types. No coding or
              %br/
              design skills needed.

        .about-column
          .about-column-title
            .ss-moneybag.about-column-title-icon
            .about-column-title-text MONETIZE
          .about-column-content
            %p
              Allow your users to pay through the
              %br/
              platfom and take a fee from
              %br/
              each transaction.

%section.how-it-works{:id => "how-it-works"}
  .wrapper
    .how-it-works-content
      %h2 It's so easy. See for yourself.
      .video-container
        %iframe{:width => "853", :height => "480", :src => "//www.youtube.com/embed/mC4Cmjbxk7k", :frameborder => 0}

%section.create-now

= render :partial => "layouts/google_analytics_script"
