- content_for :javascript do
  initialize_login_form();

= render :partial => "dashboard/header"

#new_tribe_form_main

  = render :partial => "dashboard/notifications"

  .container_12
    .grid_6.prefix_3.suffix_3.alpha.omega
      = render :partial => "sessions/new"

= render :partial => "dashboard/footer"
