%h4 Willkommen bei #{service_name}! 
.welcome_text 
  %p 
    #{service_name} ist ein Service wo Sie Waren teilen können und Dienste oder Mitfahrgelegenheiten in Ihrer lokalen Umgebung anbieten können.