%h4 Tervetuloa #{service_name(:illative)}!
.welcome_text
  %p
    #{service_name} on palvelu, jossa voit lainata, vuokrata, ostaa, myydä ja vaihtaa tavaroita, järjestää kimppakyytirinkkejä ja auttaa muita eri tavoin.