= t(".joined_kassi", :name => (link_to event_feed_event.person1.given_name_or_username, event_feed_event.person1), :community_name => event_feed_event.community.name, :time_ago => time_ago(event_feed_event.created_at)).html_safe
