<div class="listed_object">
  <div class="listed_object_person_image">
    <img src="/images/teemu_t.jpg" alt="<%= message.sender.name(session[:cookie]) %>" width="50" height="50">
  </div>
  <div class="listed_message_center">
    <i>
      <b><%= link_to(message.sender.name(session[:cookie]), person_path(message.sender.id)) %></b><br /> 
      <%= message.created_at.to_formatted_s(:basic_date_format_minutes) %> 
    </i>
  </div>
  <div class="listed_message_right">
    <%= message.content %>
  </div>     
</div>