/* Insert a notice between the last comment and the comment form */
$("#conversation_notice").html('<div class="flash notice">Test</div>');
 
/* Add the new comment to the bottom of the comments list */
$("#messages").append("Test");
 
/* Reset the comment form */
$("#new_message")[0].reset();