%h4 Καλωσήρθες στο Sharetribe!
.welcome_text
  %p
    Αυτή είναι η κοινότητα Sharetribe για το Πανεπιστήμιο Πατρών. Δες τη "Βοήθεια" στο πάνω μέρος της σελίδας για να μάθεις περισσότερα για το Sharetribe. 