- reply_url = person_transaction_url(@transaction.author, @url_params.merge({:id => @transaction.id.to_s}))

%tr
  %td{:align => "left", :style => "padding-top: 25px; padding-bottom: 25px;"}
    %font{body_font}
      = t("emails.transaction_preauthorized_reminder.remember_to_accept", :listing_title => @transaction.listing.title, :requester => @transaction.starter.name)

%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      - # Hard coded for one day
      = t("emails.transaction_preauthorized_reminder.one_day_left")

= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.transaction_preauthorized_reminder.click_here_to_reply"), :url => reply_url}
