
<%= t(:password_recovery_instructions) %>

<% form_tag(:action => "forgot_password") do -%>

<div class="form_container">
  <div class="form_left">
    <%= t(:email) %>:
  </div>  
  <div class="form_right">
    <%= text_field_tag :email %>
    <%= submit_tag t(:send) %>
  </div>
</div>  

<% end -%>