<div class="login_form_br"></div>
<div class="login_padding">
  <%= t(:password_recovery_instructions) %>
</div>

<% form_tag(:action => "forgot_password") do -%>
  <div class="login_padding">  
    <b><%= t(:email) %>:</b><br />
  </div>
  <div class="login_padding">
    <%= text_field_tag :email, nil, :class => :login_text  %><br />
  </div>
  <div class="login_form_br"></div>
  <div class="login_padding">  
    <%= submit_tag t(:send), :class => "home_button home_button_narrow" %> 
  </div>
<% end -%>