@import "../mixins/all";

/* ************************************************************************************ */
/* Hero section                                                                         */
/* ************************************************************************************ */

.hero__section {
  width: 100%;
  @include viewport-unit(min-height, 80vh);
  background-size: cover;
  background-position: center;
  @include prefix-val(display, flex);
  @include prefix-prop(align-items, center);
  box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.5); /* is there any cleaner way? */
}

.hero__content {
  margin: 0 auto;
  padding: $dimension-mobile-margin;
  @include viewport-unit(margin-top, -4.44vh); /* -50px, when content height is 900px, 80vh */
}

.hero__content-container {
  text-align: center;

  @media #{$tablet} {
    max-width: 561px;
  }

  @media #{$desktop} {
    max-width: 871px;
  }
}


.hero__title {
  /* Your marketplace tit: */
  font-family: ProximaNovaSoft-Regular;
  color: #FFFFFF;

  /* mobile */
  font-size: 36px;
  letter-spacing: -1.23px;
  line-height: 42px;
  margin-bottom: 24px;

  @media #{$tablet} {
    font-size: 62px;
    letter-spacing: -1.23px;
    line-height: 68px;
    margin-bottom: 28px;
  }

  @media #{$desktop} {
    font-size: 64px;
    letter-spacing: -1.5px;
    line-height: 76px;
    margin-bottom: 28px;
  }
}

.hero__subtitle {
  /* Paragraph. Etiam por: */
  font-family: ProximaNovaSoft-Medium;
  color: #FFFFFF;
  letter-spacing: 0px;

  /* mobile */
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 36px;

  @media #{$tablet} {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 48px;
  }

  @media #{$desktop} {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 48px;
  }
}

// Add small extra padding for the search bar
.hero__search-bar-padding {
  padding: 0 12px;
}

.hero__search-bar {
  @include prefix-val(display, flex);
  @include prefix-prop(flex-shrink, 1);
  margin: 0 auto;
  max-width: 532px;
}

.hero__search-input-container {
  @include prefix-val(display, flex);
  width: 100%;
  background-color: #FFF;

  border-radius: 29.5px;
  overflow: hidden; // add overflow hidden so that children's borders are also rounded

  /* mobile */
  @include prefix-prop(flex-direction, row-reverse);
  padding: 0px 0px 0px 24px;

  @media #{$tablet} {
    border-radius: 29.5px 0px 0px 29.5px;
    @include prefix-prop(flex-direction, row);
  }

  @media #{$desktop} {
    border-radius: 29.5px 0px 0px 29.5px;
    @include prefix-prop(flex-direction, row);
  }
}

.hero__search-input {
  font-family: ProximaNovaSoft-Medium;
  margin: 0;
  border: 0;
  width: 100%;
  color: #525961;

  &:focus {
    // The input element has already the blinking cursor
    // indicating that the element is selected
    outline: none;
  }

  font-size: 16px;
  letter-spacing: 0px;
  line-height: 32px;
  padding: 8px 12px 8px 0px;

  @media #{$tablet} {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 32px;

    padding: 14px 24px 14px 12px;
  }

  @media #{$desktop} {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 32px;

    padding: 14px 24px 14px 18px;
  }

}

.hero__search-button {
  border: 0;
  padding: 0;
  border-radius: 0px 29.5px 29.5px 0px;

  padding: 14px 32px 14px 28px;

  line-height: 32px;

  font-family: ProximaNovaSoft-Medium;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;

  // Hover color is used to indicate tab focus.
  // The hover color is set in the layout
  outline: none;

  @include enable-flex-shrink-fix;

  &:hover {
    @include hover-transition;
  }

  /* mobile */
  display: none;

  @media #{$tablet} {
    display: block;
  }

  @media #{$desktop} {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }
}

.hero__search-icon-svg {
  display: block;

  /* mobile */
  width: 18px;
  height: 18px;

  @media #{$tablet} {
    width: 22px;
    height: 22px;
  }

  @media #{$desktop} {
    width: 22px;
    height: 22px;
  }
}


.hero__search-icon {
  @include enable-flex-shrink-fix;

  background: #FFF;

  /* mobile */
  padding: 15px 24px 15px 0px;

  @media #{$tablet} {
    padding: 19px 0px;
  }

  @media #{$desktop} {
    padding: 19px 0px;
  }
}

.hero__signup-button {
  color: #FFFFFF;

  border-radius: 100px;
  font-family: ProximaNovaSoft-Bold;

  /* mobile */
  font-size: 18px;
  letter-spacing: 0px;

  padding: 18px 36px;

  // Hover color is used to indicate tab focus.
  // The hover color is set in the layout
  outline: none;

  &:hover {
    @include hover-transition;
  }

  @media #{$tablet} {
    font-size: 21px;
    letter-spacing: 0px;

    padding: 21px 63px;
  }

  @media #{$desktop} {
    font-size: 21px;
    letter-spacing: 0px;

    padding: 21px 63px;
  }
}
