/* ************************************************************************************ */
/* Hero section                                                                         */
/* ************************************************************************************ */
.hero__section {
  width: 100%;
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.5); /* is there any cleaner way? */
}

.hero__content-container {
  text-align: center;
}

/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__content-container {
    max-width: 561px;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__content-container {
    max-width: 871px;
  }
}

.hero__title {
  /* Your marketplace tit: */
  font-family: ProximaNovaSoft-Regular;
  color: #FFFFFF;

  /* (max-width: 767px) and (orientation: portrait) */
  font-size: 36px;
  letter-spacing: -1.23px;
  line-height: 42px;
  margin-bottom: 24px;
}

/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__title {
    font-size: 62px;
    letter-spacing: -1.23px;
    line-height: 68px;
    margin-bottom: 28px;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__title {
    font-size: 64px;
    letter-spacing: -1.5px;
    line-height: 76px;
    margin-bottom: 28px;
  }
}

.hero__subtitle {
  /* Paragraph. Etiam por: */
  font-family: ProximaNovaSoft-Medium;
  color: #FFFFFF;
  letter-spacing: 0px;

  /* mobile 375 */
  /* (max-width: 767px) and (orientation: portrait) */
  /* Paragraph. Etiam por: */
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 36px;
}

/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__subtitle {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 48px;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__subtitle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 48px;
  }
}

.hero__content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 24px;
  margin-top: -4.44vh; /* -50px, when content height is 900px, 80vh */
}

.hero__search-bar {
  max-width: 532px;
  display: flex;
  margin: 0 auto;
  padding: 0 12px;

  /* mobile 375 */
  /* (max-width: 767px) and (orientation: portrait) */
  flex-direction: row-reverse;
}

/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__search-bar {
    flex-direction: row;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__search-bar {
    flex-direction: row;
  }
}

.hero__search-input {
  font-family: ProximaNovaSoft-Medium;
  margin: 0;
  border: 0;
  width: 100%;
  color: #525961;

  /* mobile 375 */
  /* (max-width: 767px) and (orientation: portrait) */
  border-top-left-radius: 29.5px;
  border-bottom-left-radius: 29.5px;

  font-size: 16px;
  letter-spacing: 0px;
  line-height: 32px;
  padding: 8px 12px 8px 24px;
}

.hero__search-input:focus {
  outline: none;
}

/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__search-input {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    font-size: 18px;
    letter-spacing: 0px;
    line-height: 32px;

    padding: 14px 24px 14px 12px;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__search-input {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    font-size: 18px;
    letter-spacing: 0px;
    line-height: 32px;

    padding: 14px 24px 14px 18px;
  }
}

.hero__search-button {
  border: 0;
  padding: 0;

  padding: 14px 28px;

  line-height: 32px;
  border-top-right-radius: 29.5px;
  border-bottom-right-radius: 29.5px;

  background: #347F9D;

  /* Search: */
  font-family: ProximaNovaSoft-Medium;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;

  /* mobile 375 */
  /* (max-width: 767px) and (orientation: portrait) */
  display: none;
}

/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__search-button {
    display: block;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__search-button {
    display: block;
  }
}

.hero__search-icon-svg {
  display: block;
  /* mobile 375 */
  /* (max-width: 767px) and (orientation: portrait) */
  width: 18px;
  height: 18px;
}

/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__search-icon-svg {
    width: 22px;
    height: 22px;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__search-icon-svg {
    width: 22px;
    height: 22px;
  }
}

.hero__search-icon {
  background: #FFF;

  /* mobile 375 */
  /* (max-width: 767px) and (orientation: portrait) */
  border-top-right-radius: 29.5px;
  border-bottom-right-radius: 29.5px;
  padding: 15px 24px 15px 0px;
}

/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__search-icon {
    border-top-left-radius: 29.5px;
    border-bottom-left-radius: 29.5px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 19px 0px 19px 24px;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__search-icon {
    border-top-left-radius: 29.5px;
    border-bottom-left-radius: 29.5px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 19px 0px 19px 28px;
  }
}

.hero__signup-button {
  color: #FFFFFF;

  background: #347F9D;
  border-radius: 100px;
  font-family: ProximaNovaSoft-Bold;

  /* mobile 375 */
  /* (max-width: 767px) and (orientation: portrait) */
  font-size: 18px;
  letter-spacing: 0px;

  padding: 18px 36px;
}


/* tablet 768 */
@media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
  .hero__signup-button {
    font-size: 21px;
    letter-spacing: 0px;

    padding: 21px 63px;
  }
}

/* desktop 1366 */
@media (min-width: 1025px) {
  .hero__signup-button {
    font-size: 21px;
    letter-spacing: 0px;

    padding: 21px 63px;
  }
}
