@import "../mixins/all";

.info__section {
  width: 100%;
  background-size: cover;
  background-position: center;
  @include prefix-val(display, flex);
  @include prefix-prop(align-items, center);
}

.info__section--background {
  @extend .info__section;

  color: #FFFFFF;
  @include viewport-unit(min-height, 80vh);
}

.info__section--background-image {
  @extend .info__section--background;
  box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.65); /* is there any cleaner way? */
}

.info__section--background-color {
  @extend .info__section--background;
}

.info__section--blank {
  @extend .info__section;
  color: $typography__main-color;
  padding: $dimension-section-margin 0;
}

.info__content {
  text-align: center;
  @include viewport-unit(margin-top, -4.44vh); /* -50px, when content height is 900px, 80vh */

  @media #{$tablet} {
    margin: 0 auto;
  }

  @media #{$desktop} {
    margin: 0 auto;
  }
}

.info__content--single-column {
  @extend .info__content;

  // mobile
  margin: 0 $dimension-mobile-margin;

  @media #{$tablet} {
    margin: 0 auto;
    max-width: 561px;
  }

  @media #{$desktop} {
    margin: 0 auto;
    max-width: 808px;
  }
}

$content-padding: 36px;

.info__content--multi-column {
  @extend .info__content;

  // mobile
  margin: 0 $dimension-mobile-margin-big;

  @media #{$tablet} {
    margin: 0 auto;
    max-width: $content-padding + 1120px + $content-padding;
  }

  @media #{$desktop} {
    margin: 0 auto;
    max-width: $content-padding + 1120px + $content-padding;
  }
}

.info__title {
  @include typography__section-title;
}

.info__title--single-column {
  @extend .info__title;
  // mobile
  margin-bottom: 18px;

  @media #{$tablet} {
    margin-bottom: 24px;
  }

  @media #{$desktop} {
    margin-bottom: 24px;
  }
}

.info__title--multi-column {
  @extend .info__title;

  // mobile
  margin-bottom: 36px;

  @media #{$tablet} {
    margin-bottom: 36px;
  }

  @media #{$desktop} {
    margin-bottom: 48px;
  }
}

.info__paragraph {
  @include typography__section-paragraph;
}

.info__button {
  color: inherit;
  @extend .landing-page__button;
}

.info__column-button--ghost {
  color: inherit;
  @extend .landing-page__button;
  margin-top: 36px;
}

.info__button--ghost {
  @extend .info__button;
}

.info__button--inverted {
  @extend .info__button;
  background-color: #FFF;
}

.info__columns {
  @include prefix-val(display, flex);
  @include prefix-prop(flex-direction, column);

  @media #{$tablet} {
    @include prefix-prop(flex-direction, row);
  }

  @media #{$desktop} {
    @include prefix-prop(flex-direction, row);
  }
}

.info__columns {
  @extend .info__columns;

  padding: 0px 36px;
}

.info__column {
  @include prefix-val(display, flex);
  @include prefix-prop(flex-direction, column);
  @include prefix-prop(align-items, center);
  @include prefix-prop(justify-content, space-between);

  width: 100%;
  margin: 0px 0px 76px 0px;

  @media #{$tablet} {
    margin: 0px;
  }

  @media #{$desktop} {
    margin: 0px;
  }
}

.info__column--three-columns {
  @extend .info__column;

  @media #{$tablet} {
    max-width: 340px;
    margin-right: 36px;
    &:last-child {
      margin-right: 0px;
    }
  }

  @media #{$desktop} {
    max-width: 340px;
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.info__column--two-columns {
  @extend .info__column;

  @media #{$tablet} {
    max-width: 310px;
    margin-right: 28px;
    &:last-child {
      margin-right: 0px;
    }
  }

  @media #{$desktop} {
    max-width: 450px;
    margin-right: 78px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.info__column-icon {
  /* The SVG icon height may vary. This container is always 60x60 to make things aligned */

  display: inline-block;
  margin-bottom: 24px;

  // mobile
  height: 48px;
  width: 48px;

  @media #{$tablet} {
    height: 48px;
    width: 48px;
  }

  @media #{$desktop} {
    height: 60px;
    width: 60px;
  }
}

.info__column-title {
  color: #525961;
  @include typography__medium;

  // mobile
  margin: 0px 0px 14px 0px;

  @media #{$tablet} {
    font-size: 24px;
    letter-spacing: -0.46px;
    line-height: 28px;

    margin: 0px 0px 14px 0px;
  }

  @media #{$desktop} {
    font-size: 28px;
    letter-spacing: -0.54px;
    line-height: 28px;

    margin: 0px 0px 28px 0px;
  }
}

.info__column-paragraph {
  @include typography__regular;
  color: #525961;

  // mobile
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;

  @media #{$tablet} {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 22px;
  }

  @media #{$desktop} {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
  }
}
