.conversation-price.accept-price{:class => (@action.eql?("accept") ? "" : "hidden")}
  %h3.invoice-title= t("payments.form.invoice")
  = fields_for "conversation[payment_attributes]", @payment do |payment_form|
    = payment_form.hidden_field :community_id, :value => @current_community.id
    - @payment.initialize_rows(@current_community)
    - @payment.rows.each_with_index do |row, index|
      = render :partial => "payments/simple_form/payment_row", :locals => { :row => row, :index => index, :values => ((index == 0) ? {:title => @conversation.listing.title, :sum => @conversation.listing.price} : {:title => "", :sum => 0})}