.git
log
.DS_Store

db/*.sqlite3
db/sphinx
config/*.sphinx.conf
config/database.yml
config/config.yml
config/session_secret
config/gmaps_api_key.yml
config/translation.yml
tmp/
doc/api
doc/app
public/images/listing_images
index/
db/development_structure.sql
old_databases.sql
.bundle
.sass-cache/
capybara*
public/system/favicons
public/system/images
public/system/listing_images
public/system/people
public/system/cover_photos/
public/system/logos/
public/system/small_cover_photos/
public/system/wide_logos/
.loadpath
.project
cg.sh
public/assets/
app/assets/webfonts/
app/assets/stylesheets/customizations-*
app/assets/stylesheets/custom-style-*
config/mangopay.pem
log/*.log
log/*.pid
log/.DS_Store
log/*.age
log/*.db
node_modules
coverage/
.idea/
*.sock
.vagrant
.env

# React on Rails
npm-debug.log*
node_modules
client/node_modules

# Generated js bundles
/app/assets/webpack/*

# Generated i18n-js bundles
/app/assets/javascripts/i18n/*
/client/app/i18n/*
!/client/app/i18n/.keep
/client/app/routes/*
!/client/app/routes/.keep

# Generated assets
/public/webpack/*

# Mocha results
test-results.xml
