.DS_Store
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
config/database.yml
config/config.yml
config/session_secret
config/gmaps_api_key.yml
config/translation.yml
log/
tmp/**/*
tmp/autotest-flag
doc/api
doc/app
public/images/listing_images
index/
db/development_structure.sql
old_databases.sql
.bundle
.sass-cache/
capybara*
public/system/images
public/system/listing_images
public/system/people
.loadpath
.project
/Gemfile
/Gemfile.lock
/.gitignore
cg.sh
public/assets/
