.DS_Store
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
config/database.yml
config/config.yml
config/session_secret
config/deploy.rb
config/gmaps_api_key.yml
log/*.log
tmp/**/*
doc/api
doc/app
public/images/listing_images
