%p
  Voit asettaa ilmoituksellesi viimeisen voimassaolopäivän. Tämän päivän jälkeen ilmoitus sulkeutuu automaattisesti. Suljetut ilmoitukset eivät näy normaaleissa ilmoituslistauksissa. Voit muuttaa voimassaolopäivää koska tahansa muokkaa ilmoitusta -valikosta, ja myös avata ilmoituksen uudestaan sen sulkeuduttua, jos se on vielä ajankohtainen.

%p
  Jos olet tarjoamassa jotain muille #{service_name(:genetive)} käyttäjille, voit jättää tarjouksen voimaan toistaiseksi, jolloin se ei sulkeudu automaattisesti. Pyynnöllä sen sijaan tulee aina olla viimeinen voimassaolopäivä. Maksimiaika ilmoituksen voimassaololle on vuosi ilmoituksen luontihetkestä.
