%p  
  Tarjous- tai pyyntötavan avulla voit määritellä, oletko kiinnostunut esimerkiksi ainoastaan tavaran lainaamisesta, vai myös ostamisesta tai vaihtamisesta. Voit määrittää ilmoituksellesi niin monta pyyntö- tai tarjoustapaa kuin haluat. Valitsethan kuitenkin vähintään yhden tavan.