% р
   Можете да определяте колко дълго е валидна вашата обява. След изтичане на срока на валидност обявите ще се затварят автоматично. Затворените обяви няма да бъдат видими. Можете да промените датата на валидност по всяко време от менюто "Редактиране на малка обява". Можете също да отворите отново малката обява, след като тя е затворена от същото меню, ако все още е актуална.