%p
  Galite pasirinkti skelbimo galiojimo laiką. Pasibaigus galiojimo laikui, skelbimas bus deaktyvuotas automatiškai. Deaktyvuoti skelbimai nėra rodomi skelbimų sąrašuose. Galiojimo laiką galite pakeisti bet kurio metu "redaguoti skelbimą" meniu, jei tai yra aktualu.