%p
  U kunt zelf bepalen hoe lang uw advertentie actief blijft. Na de vervaldatum zal de advertentie automatisch sluiten. Gesloten advertenties zijn niet meer zichtbaar. U kunt de vervaldatum op elk moment wijzigen in het menu "bewerk advertentie". U kunt de advertentie weer actief maken via hetzelfde menu.