%p
   Du kan bestemme, hvor længe din registrering er åben. Efter udløbsdatoen notering lukker automatisk. Lukkede lister er ikke synlige i enhver normal udsigt notering. Du kan ændre udløbsdatoen helst fra "edit notering" menuen. Du kan også genåbne notering efter at den er lukket fra den samme menu, hvis det er stadig aktuel.