%p
  Puteţi stabili pe ce durată este deschisă listarea dumneavoastră.
După expirarea perioadei setate listarea se va închide automat. Listările
închise nu sunt vizibile în vizualizarile obişnuite. Puteţi schimba data de
expirare oricând din meniul “editează listări”. Din acelaşi meniu puteţi
redeschide o listare dupa ce a fost închisă, dacă listarea încă este de actualitate.