%p  
  Có nhiều cách khác nhau để chia sẻ tại #{service_name} . Ví dụ, bạn có thể hỗ trợ để cho vay, bán, hoặc trao đổi các mặt hàng tại #{service_name}. Bạn có thể chọn càng nhiều loại hỗ trợ/yêu cầu càng tốt, nhưng bạn phải chọn ít nhất một.