%p 
  Puoi definire quanto a lungo il tuo spazio starà aperto. Dopo la data di scadenza lo spazio verrà chiuso automaticamente. Gli spazi chiusi non sono visibili in nessuna lista normale. Puoi cambiare la data di scadenza in ogni momento nel menu "modifica spazio". Puoi anche riaprire uno spazio dopo che è stato chiuso, se è ancora attuale.