%p
  Вы можете задать срок действия публикации. По истечению указанного срока, предложение будет закрыто автоматически. Закрытые публикации по умолчанию не видны в режиме просмотра. Вы можете изменить срок действия публикации в любое время, воспользовавшись ссылкой «Редактировать публикацию». Кроме того, если нужно, вы можете заново открыть публикацию после его закрытия.