%p   
  Etiquetando los artículos o servicios puedes ayudar a otros a encontrar los contenidos más fácilmente. Por ejemplo, si tú necesitas un sillón, puedes marcar tu anuncio con las etiquetas "muebles" y "tapicería". En otro caso, si tú estás ofreciendo ayuda para arreglar computadores, unas adecuadas etiquetas serían "ayuda" y "computadores". 
 
%p 
  Puedes añadir cuantas etiquetas quieras a tu anuncio. Separa las etiquetas con comas.