%p 
  Můžete určit, jak dlouho bude Váš příspěvek otevřen. Po vypršení doby se příspěvek automaticky uzavře. Uzavřené příspěvky nejsou viditelné v jakémkoliv normálním zobrazení. Můžete kdykoliv změnit datum vypršení platnosti v "Upravit příspěvek". Příspěvek můžete také znovu otevřít znovu poté, co byl uzavřen ze stejného menu, pokud je stále aktuální.