%p
  Du kan selv bestemme hvor længe din annonce skal være åben. Efter udløbsdatoen lukker annoncen automatisk. Lukkede annoncer er ikke synlige for andre. Du kan til enhver tid ændre udløbsdatoen fra "ret annonce"-menuen. Du kan også genåbne en lukket annonce fra den samme menu, hvis den stadig er aktuel.