%p   
  Mit Tags helfen Sie Anderen dabei, Ihre Inhalte schneller zu finden. Zum Beispiel, falls Sie eine Armlehne brauchen, können Sie Ihren Eintrag mit "Möbel" oder "Sitz" kennzeichnen (taggen). Falls Sie Hilfe bei Computer Problemen anbieten, könnten Sie Tags verwenden wie zum Beispiel "Hilfe" und "Computer". 
 
%p 
  Sie können soviele Tags zu Einträgen hinzufügen wie Sie möchten. Trennen Sie die Tags mit Kommas.