%p
  Bạn có thể xác định độ dài của danh sách được mở. Sau khi hết hạn danh sách sẽ tự động được đóng. Các danh sách đã đóng sẽ không hiển thị ở những trường hợp thông thường. Bạn có thể thay đổi ngày hết hạn bằng cách vào menu "edit listing". Bạn cũng có thể mở lại danh sách sau khi nó bị đóng từ cùng một menu, nếu nó vẫn còn được quan tâm.

%p
  Nếu bạn đang hỗ trợ một thứ gì đó cho người khác #{service_name}, bạn có thể để lại danh sách mở. Điều này có nghĩa là nó sẽ không tự động đóng. Mặt khác, nếu bạn đang yêu cầu một thứ gì đó, danh sách của bạn phải luôn có ngày hết hạn. Ngày này không thể lớn hơn một năm từ ngày hiện hành.