Grâce aux tags vous pouvez aider les autres à trouver votre contenu plus facilement. Par exemple, si vous avez besoin d'un fauteuil, vous pouvez ajouter à votre annonce les tags "meuble" et "siège". Si vous proposez de l'aide avec des problèmes informatiques, les tags appropriés pourraient être "aide" et "ordinateurs".

A chaque annonce, vous pouvez ajouter autant de tags que vous souhaitez. Séparez les tags par des virgules.