%p 
  Môžete určiť, ako dlho bude Váš inzerát otvorený. Po vypršaní doby sa inzerát automaticky uzavrie. Uzavreté inzeráty nie sú viditeľné v bežnom zobrazení. Dátum vypršania platnosti môžete kedykoľvek zmeniť  v "upraviť inzerát". Inzerát môžete taktiež znovu otvoriť potom, čo už bol uzavretý, pokiaľ je inzerát stále aktuálny.