%p 
  Sie können selbst bestimmen wie lange Ihr Eintrag offen bleibt. Nachdem Ablaufdatum schließt sich der Eintrag automatisch. Geschlossene Einträge sind in normalen Eintragslisten nicht sichtbar. Sie können das Ablaufdatum jederzeit ändern, indem Sie auf "Eintrag ändern" drücken. Sie können den Eintrag in dem gleichen Menü auch wieder eröffnen, falls dieser sich geschlossen hat und Sie diesen wieder öffnen möchten. 
 
%p 
  Falls Sie anderen Benutzern in #{service_name} etwas anbieten, können Sie den Eintrag bis auf weiteres offen lassen. Dies bedeutet dass der Eintrag sich nicht automatisch schließt. Andererseits, wenn Sie etwas anfordern, muss Ihr Eintrag immer über ein Ablaufdatum verfügen. Das Datum kann nicht älter als ein Jahr nach dem aktuellen Datum sein.