%p
  You can determine how long your listing is open. After the expiration date the listing will close automatically. Closed listings are not visible in any normal listing views. You can change the expiration date any time from the "edit listing" menu. You can also reopen the listing after it has closed from the same menu, if it is still topical.

%p
  If you are offering something for the other #{service_name} users, you can leave the listing open for the time being. This means that it will not close automatically. On the other hand, if you are requesting something, your listing must always have an expiration date. The date cannot be more than one year from the current date.