%p 
  คุณสามารถกำหนดระยะเวลาที่รายการของคุณเปิด หลังจากวันที่หมดอายุ รายการดังกล่าวนี้จะถูกปิดโดยอัตโนมัติ รายการที่ปิดจะไม่สามารถมองเห็นได้ในมุมมองรายการ ปกติใด ๆ คุณสามารถเปลี่ยนวันหมดอายุเวลาใดก็ได้จากเมนู  "แก้ไขรายการ" นอกจากนี้ คุณยังสามารถเปิดรายการใหม่อีกครั้ง หลังจากที่รายการดังกล่าวถูกปิดจากเมนูเดียวกัน และถ้ามันยังคงเป็นรายการเกี่ยวกับหัวข้อดังกล่าว