%p
  Вы можете сами задать срок действия предложения. По истечению указанного срока, предложение будет закрыто автоматически. Закрытые предложения по умолчанию не видны в режиме просмотра. Вы можете изменить срок действия предложения в любое время, воспользовавшись ссылкой «Редактировать предложение». Кроме того, если нужно, вы можете заново открыть предложение после его закрытия.