%p 
  Puedes determinar por cuánto tiempo estará disponible tu anuncio. Pasada la fecha de vencimiento, el anuncio se desactivará automáticamente. Los anuncios desactivados no serán visibles en las vistas de anuncios disponibles. Puedes cambiar la fecha de caducidad en cualquier momento, desde el menú "editar anuncio". También puedes reactivar el anuncio desde el mismo menú cuando se haya caducado. 
 
%p 
  Si estás ofreciendo algo para los otros usuarios de tu servicio puedes dejar abierto el anuncio por el tiempo que quieras. Esto significa que no se desactivará automáticamente. Por otro lado, si tu estás solicitando algo, tu anuncio siempre deberá tener una fecha de vencimiento. La fecha de caducidad no podrá ser mayor a un año desde la fecha actual.