%p
  Elanızın nə qədər açıq olduğunu müəyyən edə bilərsiniz. İstifadə müddəti bitdikdən sonra siyahı avtomatik olaraq bağlanacaq. Qapalı siyahı hər hansı bir normal siyahı görünüşündə görünmür. Son istifadə tarixini istənilən vaxt "elana düzəliş" menüsündən dəyişə bilərsiniz. Hələ də aktual olsa, eyni menüdən bağlandığdan sonra siyahıdan yenidən aça bilərsiniz.