%p  
  With tags you can help others find your content easier. For instance, if you need an armchair, you might tag your listing "furniture" and "seating". If you're offering help in computer problems, proper tags might include "help" and "computers".

%p
  You can add as many tags to a listing as you like. Separate tags with commas.