%p 
  Du kannst selbst bestimmen, wie lange Dein Eintrag aktiv bleibt. Nach dem Ablaufdatum deaktiviert sich der Eintrag automatisch. Deaktivierte Eintr채ge sind in normalen Eintragslisten nicht sichtbar. Du kannst das Ablaufdatum jederzeit 채ndern, indem Du auf "Eintrag 채ndern" klickst. Man kann den Eintrag auch im selben Men체 reaktivieren, falls dieser sich deaktiviert hat.