%p 
  Možete odlučiti koliko dugo će vaš oglas biti otvoren. Nakon datuma isteka, vaš oglas će se automatski zatvoriti. Zatvoreni oglasi nisu vidljivi u ostalim izlistanim oglasima. Možete promijeniti datum isteka kad god želite u "uredi oglas" izborniku. Također možete ponovno otvoriti oglas u istom izborniku nakon što je bio zatvoren, ako je još aktualan.