%p
  A data de validade permite determinar quanto tempo o seu anúncio ficará aberto. Após esta data o anúncio será encerrado automaticamente. Anúncios encerrados não são visíveis em nenhum dos tipos de visualização possíveís. Pode alterar a data de validade em qualquer altura a partir do menu "editar anúncio". Pode também republicar o anúncio depois de o ter encerrado, a partir do mesmo menu.