%p
  You can determine how long your listing is valid. After this date the listing will close automatically. Closed listings are not visible in any normal listing views. You can change the valid until date any time from the "edit listing" menu. You can also reopen it after it's closed from the same menu, if it's still topical.
  
%p
  If you are offering something for the other Kassi users, you can leave the listing open for the time being. This means that it will not close automatically. On the other hand, if you are requesting something, your listing must always have a valid until date. The date cannot be more than one year from the current date.