%p
  Du kan bestemme, hvor længe din annonce skal være åben. Efter udløbsdatoen lukker annoncen automatisk. Lukkede annoncer er ikke synlige i nogen normal annonce visninger. Du kan til enhver tid ændre udløbsdatoen fra "ret annonce"-menu. Du kan også genåbne annoncen efter at den er lukket fra den samme menu, hvis den er stadig aktuel.