%p 
  Opredeli, do kdaj je tvoja objava veljavna. Po preteku navedena datuma, se bo objava zaprla avtomatsko. Zaprte objave niso vidne v nobenem od pogledov. Datum preteka objave lahko spremeniš naknadno v "uredi objavo" meniju. Objavo lahko tudi ponovno odpreš po poteku.