%p
  Můžete určit, jak dlouho bude Váš inzerát otevřen. Po vypršení doby se inzerát automaticky uzavře. Uzavřené inzeráty nejsou viditelné v běžném zobrazení. Kdykoliv můžete změnit datum vypršení platnosti v "upravit inzerát". Inzerát můžete také znovu otevřít poté, co již byl uzavřen, pokud je inzerát stále aktuální.