%p  
  Avainsanojen avulla voit auttaa muita löytämään ilmoituksesi helpommin. Jos esimerkiksi olet myymässä tuolia, sopivia avainsanoja voisivat olla "huonekalut" ja "istuimet". Jos tarjoat apua tietokoneongelmissa, ilmoituksesi löytää parhaiten, kun lisäät siihen avainsanat "apu" ja "tietokoneet".

%p
  Voit lisätä ilmoitukselle niin monta avainsanaa kuin haluat. Erota avainsanat pilkulla.