%p
  Вы можете задать срок действия объявления. По истечению указанного срока, предложение будет закрыто автоматически. Закрытые объявления по умолчанию не видны в режиме просмотра. Вы можете изменить срок действия объявления в любое время, воспользовавшись ссылкой «Редактировать объявление». Кроме того, если нужно, вы можете заново открыть объявление после его закрытия.