%p   
  Hay muchas formas para compartir en Kassi. Por ejemplo, puedes ofrecer arrendar, vender o intercambiar artículos en Kassi. Puedes seleccionar cuantas ofertas o solicitudes quieras, pero tienes que elegir al menos una.