%p   
  Με τις ετικέτες μπορείς να βοηθήσεις άλλους να βρουν την καταχώρησή σου ευκολότερα. Για παράδειγμα, αν χρειάζεσαι μια πολυθρόνα μπορείς να προσθέσεις τις ετικέτες "έπιπλα" και "καθίσματα". Αν προσφέρεις βοήθεια για ηλεκτρονικούς υπολογιστές οι κατάλληλες ετικέτες θα ήταν "βοήθεια" και "υπολογιστές".

%p 
  Σε μια καταχώρηση μπορείς να προσθέσεις όσες ετικέτες θέλεις, χωρισμένες με κόμμα.