%p  
  A data de validade permite determinar quanto tempo o seu post ficará aberto. Após esta data o post será encerrado automaticamente. Posts encerrados não são visíveis em nenhum dos tipos de visualização possíveís. Pode alterar a data de validade em qualquer altura a partir do menu "editar post". Pode também republicar o post depois de o ter encerrado, a partir do mesmo menu.