%p
يمكنك تحديد مدة فتح قائمتك. بعد تاريخ انتهاء الصلاحية ، سيتم إغلاق القائمة تلقائيًا. القوائم المغلقة غير مرئية  في طرق عرض القائمة العادية. يمكنك تغيير تاريخ انتهاء الصلاحية في أي وقت من خلال "تعديل القائمة" في القائمة. يمكنك أيضًا إعادة فتح القائمة بعد إغلاقها من نفس القائمة إذا كانت لا تزال موجودة.