%p 
  Vous pouvez choisir combien de temps votre annonce restera en ligne. Après la date d'expiration, l'annonce se clôturera automatiquement. Les annonces closes ne sont pas visibles par les autres utilisateurs. Vous pouvez, à tout moment, changer la date d'expiration en passant par le lien "Editer l'annonce". Vous pouvez également ré-ouvrir une annonce close en passant par le même menu.