%p   
  Hay muchas formas para compartir en #{service_name}. Por ejemplo, puedes ofrecer arrendar, vender o intercambiar artículos en #{service_name}. Puedes seleccionar cuantas ofertas o solicitudes quieras, pero tienes que elegir al menos una.