%p
  Je kunt zelf bepalen hoe lang je item actief blijft. Na de vervaldatum zal het item automatisch sluiten. Gesloten items zijn niet meer zichtbaar. Je kan de vervaldatum op elk moment wijzigen in het menu "bewerk item". Je kan ook het item heropenen nadat deze is gesloten via hetzelfde menu.