%p  
  С помощью меток, вы можете облегчить другим поиск ваших предложений и заявок. Например, если вам нужно кресло, вы можете добавить к листингу метки "мебель" и "сиденье". Если же вы, например, предлагаете свою помощь в решении проблем с компьютером, правильными метками будут "помощь" и "компьютеры".

%p
  Вы можете добавить любое количество меток к листингу. Просто разделяйте их запятыми.