%p 
  Možete da odredite koliko će dugo vaša ponuda biti otvorena. Podesite datum isteka. Nakon isteka lista neće biti vidljiva. Rok isteka možete promeniti u bilo kom trenutku, preko menija "izmeni listu". Nakon isteka listu možete reaktivirati preko istog menija.