%p 
  Você pode determinar quanto tempo a sua lista é aberta. Após a data de validade da lista será fechada automaticamente. Listagens fechados não são visíveis em todas as visualizações normal listagem. Você pode alterar a data de vencimento em qualquer altura a partir do menu "Editar lista". Você também pode reabrir a lista depois de ter fechado a partir do mesmo menu, se ainda é tópica.