%p
  Bạn có thể định trước thời gian bài đăng được để mở. Bài sẽ bị đóng tự động nếu quá thời hạn này. Các bài đã đóng sẽ không còn hiển thị ở những trang danh sách. Bạn có thể thay đổi ngày hết hạn bằng cách vào menu "sửa bài đăng". Bạn cũng có thể mở lại bài đã đóng từ menu đó nếu bài đăng vẫn còn được quan tâm.