%p
  Можете да одлучите колку долго листинзите ќе се прикажуваат. Откако ќе истече датата што сте ја поставиле - листинзите автоматски ќе се затворат. Затворените листинзи не се прикажуваат во нормална форма. Можете да ја смените дата на истекување на листинзите кога сакате во менито под името ''измени листинзи''. Исто така од истото мени можете да отворете листинг откако истиот е затворен.