%p
  You can determine how long your listing is open. After the expiration date the listing will close automatically. Closed listings are not visible in any normal listing views. You can change the expiration date any time from the "edit listing" menu. You can also reopen the listing after it has closed from the same menu, if it is still topical.