Te döntheted el, mennyi ideig legyen megjelenítve az adott tétel. A lejárati időpont után automatikusan lezáródik a hirdetés. 
A lejárati dátumot szabadon lehet módosítani a szerkesztés menüben. Természetesen amennyiben szükséges, akár újra lehet aktiválni az adott tételt.