%p  
  На Kassi существует множество способов обмена. Например, вы можете предложить вещь на продажу, на обмен, либо дать её напрокат. Можно выбрать сколько угодно типов предложения/запроса, но как минимум вы должны выбрать хотя бы один.