%p
  U kunt zelf bepalen hoe lang uw item actief blijft. Na de vervaldatum zal het item automatisch sluiten. Gesloten items zijn niet meer zichtbaar. U kunt de vervaldatum op elk moment wijzigen in het menu "bewerk item". U kunt het item weer actief maken via hetzelfde menu.