%p
  Puedes determinar por cuánto tiempo estará disponible tu anuncio. Pasada la fecha de vencimiento, el anuncio se cerrará automáticamente. Los anuncios cerrados no serán visibles al resto de los usuarios. Puedes cambiar la fecha de caducidad en cualquier momento desde el menú "editar anuncio". También ahí puedes reabrir el anuncio después de que haya caducado, si todavía aplica.