%p
  Je kunt zelf bepalen hoe lang je advertentie actief blijft. Na de vervaldatum zal de advertentie automatisch sluiten. Gesloten advertenties zijn niet meer zichtbaar. Je kunt de vervaldatum op elk moment wijzigen in het menu "bewerk advertentie". Je kunt de advertentie weer actief maken via hetzelfde menu.