%p 
 Saad määrata, kui kaua sinu kuulutus kehtib. Pärast aegumiskuupäeva suletakse nimekiri automaatselt. Suletud kuuluused pole üheski tavalises kirjevaates nähtavad. Aegumiskuupäeva saab igal ajal muuta menüüst "redigeeri kuulutust". Samuti saad kuulutuse uuesti avada pärast sama menüü sulgemist, kui see on endiselt aktuaalne