%p 
Saad määrata, kui kaua Sinu kuulutus kehtib. Pärast aegumiskuupäeva suletakse nimekiri automaatselt. Suletud kuulutused pole üheski tavalises vaates nähtavad. Aegumiskuupäeva saab igal ajal muuta menüüst "redigeeri kuulutust". Saad kuulutust igal ajal uuesti aktiveerida.