%p 
  Du kannst selber bestimmen, wie lange dein Eintrag aktiv bleibt. Nach dem Ablaufdatum deaktiviert sich der Eintrag automatisch. Deaktivierte Einträge sind in normalen Eintragslisten nicht sichtbar. Du kannst das Ablaufdatum jederzeit ändern, indem du auf "Eintrag ändern" klickst. Man kann den Eintrag auch im selben Menü reaktivieren, falls dieser sich deaktiviert hat.
 
%p 
  Wenn du anderen Nutzern in #{service_name} etwas anbietest, kannst du den Eintrag einstweilen aktiviert lassen. Dies bedeutet, dass der Eintrag sich nicht automatisch deaktivieren wird. Wenn du aber eine Anfrage stellst, muss dein Eintrag immer über ein Ablaufdatum verfügen. Das Datum kann nicht älter als ein Jahr nach dem aktuellen Datum sein.