%p
Je kunt zelf bepalen hoe lang je item actief blijft. Na de vervaldatum zal het item automatisch sluiten. Gesloten items zijn niet meer zichtbaar. Je kan de vervaldatum op elk moment wijzigen in het menu "bewerk item". Je kan ook het item heropenen nadat deze is gesloten via hetzelfde menu.
%p
Als je iets aanbiedt voor de andere #{service_name} gebruikers, kan je het item ook open laten staan. Dit betekent dat het niet automatisch sluit. Maar als je een vraag hebt, dan moet de vermelding altijd een vervaldatum hebben. De datum kan niet meer dan een jaar vooruit zijn, gerekend vanaf vandaag.