%p 
Puoi definire per quanto tempo la tua inserzione sarà attiva. Dopo la data di scadenza l'inserzione verrà chiusa automaticamente. Le inserzioni chiuse non sono visibili in nessuna lista visibile al pubblico. Puoi cambiare la data di scadenza in ogni momento nel menu "gestione inserzioni". Puoi anche riaprire un'inserzione dopo che è stato chiusa.