%p
  Możesz określić jak długo twoja oferta będzie dostępna. Po dacie wygaśnięcia oferta zostanie zamknięta automatycznie. Zamknięte oferty nie są widoczne podczas normalnego przeglądania ofert. Możesz zmienić datę wygaśnięcia w każdym momencie w menu "edycja oferty". Możesz także otworzyć na nowo zamknięta ofertę z tego samego menu, jeśli jest nadal aktualna.