%p 
  Puedes determinar por cuánto tiempo estará disponible tu anuncio. Pasada la fecha de vencimiento, el anuncio se cerrará automáticamente. Los anuncios cerrados no serán visibles en las vistas de anuncios disponibles. Puedes cambiar la fecha de expiración en cualquier momento, desde el menú "editar anuncio". También puedes reabrir el anuncio luego que haya cerrado desde el mismo menú. 
 
%p 
  Si tú estás ofreciendo algo para los otros usuarios de #{service_name}, puedes dejar abierto el anuncio por el tiempo que quieras. Esto significa que no se cerrara automáticamente. Por otro lado, si tu estás solicitando algo, tu anuncio siempre deberá tener una fecha de vencimiento. La fecha no podrá pasar más allá de un año desde la fecha actual.