%p   
  Es gibt viele verschiedene Möglichkeiten zu teilen in #{service_name}. Zum Beispiel können Sie in #{service_name} Gegenstände verleihen, verkaufen oder für andere Dinge tauschen. Sie können so viele Angebote/Anfragen auswählen wie Sie möchten, müssen aber mindestens eins auswählen.