%p   
  Υπάρχουν πολλοί διαφορετικοί τρόποι να μοιραστείς κάτι στο #{service_name}. Για παράδειγμα, μπορείς να δανείσεις, να πουλήσεις ή να ανταλλάξεις αντικείμενα. Μπορείς να επιλέξεις όσους τρόπους θέλεις αλλά πρέπει να επιλέξεις τουλάχιστον ένα.