%p
  Du kan bestemme hvor lenge annonsen er aktiv. Etter utløpsdatoen vil annonsen deaktiveres automatisk. Deaktiverte annonser er ikke synlig i vanlige annonselister. Du kan endre utløpsdatoen når som helst fra "redigér annonse"-menyen. Du kan også aktivere annonsen etter at den er deaktivert fra den samme menyen, hvis det fortsatt er aktuelt.