%p  
  There are many different ways to share in Kassi. For example, you can offer to lend, sell, or trade items in Kassi. You can select as many offer/request types as you want, but you must select at least one.