%p
  Elanızın nə qədər aktiv olduğunu müəyyən edə bilərsiniz. İstifadə müddəti bitdikdən sonra elan avtomatik olaraq deaktivləşdiriləcək. Deaktivləşmiş elan hər hansı bir normal elan görünüşündə görünmür. Son istifadə tarixini istənilən vaxt "Elana düzəliş et" menüsündən dəyişə bilərsiniz. Hələ də aktual olsa, eyni menüdən deaktivləşdirdikdən sonra elanı yenidən aktivləşdirməyə bilərsiniz.