%p
  Вы можете сами задать срок действия листинга. По истечению указанного срока, листинг будет закрыт автоматически. Закрытые листинги по умолчанию не видны в режиме просмотра. Вы можете установть срок действия листинга в любое время, воспользовавшись ссылкой «Редактировать предложение/запрос». Кроме того, если нужно, вы можете заново открыть листинг после его закрытия.
  
%p
  Если вы предлагаете что-либо другим пользователям #{service_name}, вы можете установить неопределённый срок активности предложения. Это значит, что предложение не будет автоматически закрыто. С другой стороны запрос всегда должен иметь дату окончания, которая не может превышать 1 год от текущей даты.