%p
  Voit asettaa ilmoituksellesi viimeisen voimassaolopäivän. Tämän päivän jälkeen ilmoitus sulkeutuu automaattisesti. Suljetut ilmoitukset eivät näy normaaleissa ilmoituslistauksissa. Voit muuttaa voimassaolopäivää koska tahansa muokkaa ilmoitusta -valikosta, ja myös avata ilmoituksen uudestaan sen sulkeuduttua, jos se on vielä ajankohtainen.