%p
   Jūs varat noteikt, cik ilgi Jūsu sludinājums ir atvērts. Pēc noteiktā beigu termiņa sludinājums tiks apturēts automātiski. Apturētie sludinājumi nav redzami nevienā sarakstā. Sludinājuma termiņu varat mainīt jebkurā laikā izvēlnē "rediģēt sludinājumu". Pēc sludinājuma apturēšanas Jūs varat atkārtoti publicēt sludinājumu izmantojot izvēlni "rediģēt sludinājumu", ja tas joprojām ir aktuāls.