%  
  Vói các thẻ bạn có thể giúp những người khác tìm thấy nội dung của bạn một cách dễ dàng hơn. Chẳng hạn, nếu bạn cần một cái ghế bành, bạn có đánh thẻ danh sách "chỗ ngồi" và "đồ đạc" của bạn. Nếu bận đang trợ giúp các vấn đề máy tính, các thẻ thích hợp có thể gồm "giúp đỡ" và "máy tính".

%p
  Bạn có thể thêm càng nhiều thẻ vào danh sách bạn thích càng tốt. Tách các thẻ bằng dấu phảy.