%p 
  Du kan bestämma hur länge din annons ska ligga öppen. Efter att utgångsdatumet för annonsen har gått ut kommer annonsen att stängas automatiskt. Stängda annonser kommer inte att visas i normalläget. Du kan ändra utgångsdatumet när som helst under "redigera annons" menyn. Du kan också öppna upp annonsen efter att den har stängts från samma meny, om den fortfarande är aktuell.