%p
   Du kan bestemme, hvor længe din annonce skal være åben. Efter udløbsdatoen lukker annoncen automatisk. Lukkede annoncer er ikke synlige i enhver normal udsigt notering. Du kan til enhver tid ændre udløbsdatoen fra "ret annonce"-menuen. Du kan også genåbne annoncen efter at den er lukket fra den samme menu, hvis det er stadig aktuelt.