%p 
  Μπορείς να καθορίσεις για πόσο καιρό θα είναι "ανοιχτή" η καταχώρησή σου. Μετά την ημερομηνία λήξης η καταχώρηση θα "κλείσει" αυτόματα. Οι κλειστές καταχωρήσεις δεν εμφανίζονται μαζί με τις υπόλοιπες καταχωρήσεις. Μπορείς οποιαδήποτε στιγμή να αλλάξεις την ημερομηνία λήξης από το μενού "επεξεργασία καταχώρησης". Μπορείς επίσης να ανοίξεις ξανά μια καταχώρηση που έχει κλείσει, από το ίδιο μενού.
 
%p 
  Αν προσφέρεις κάτι για τους άλλους χρήστες του #{service_name} μπορείς να αφήσεις την καταχώρηση ανοιχτή προς το παρόν. Αυτό σημαίνει ότι δεν θα κλείσει αυτόματα. Από την άλλη μεριά, αν χρειάζεσαι να σου προσφέρουν κάτι, η καταχώρησή σου πρέπει πάντα να έχει μια ημερομηνία λήξης. Η ημερομηνία αυτή δεν μπορεί να είναι πιο μετά από ένα χρόνο από τώρα.