%h3= t("homepage.blank_slate.examples_of_what_you_could_#{slate_type}_to_others")
- if slate_type == "request"
  %p
    %b
      Toimistokalusteet, -tarvikkeet, etc.
  %p
    %b
      Lainatavaroita:
    työkalut, harrastusvälineet, etc.
  %p
    %b
      Kyyti töihin:
    työmatkojen yhteiskyydit  
  %p
    %b
      Muut asiat
- else
  %p
    %b
      Toimistokalusteet, -tarvikkeet, etc.
  %p
    %b
      Yrityksesi palvelut
  %p
    %b
      Lainatavaroita:
    työkalut, harrastusvälineet, etc.
  %p
    %b
      Kyyti töihin:
    työmatkojen yhteiskyydit  
