#{service_name} is a service for the students of University College Dublin. Here you can sell your old course books, search for accommodation for next year, find the right grind for you or help a fellow student in need.
= link_to "Start here!", new_request_path(:type => "offer")