.transition {}  /* stylelint-disable-line block-no-empty */
.transitionVisible {} /* stylelint-disable-line block-no-empty */
.transitionOpen {} /* stylelint-disable-line block-no-empty */
.transitionEntering {} /* stylelint-disable-line block-no-empty */
.transitionLeaving {} /* stylelint-disable-line block-no-empty */

.orientationHook {} /* stylelint-disable-line block-no-empty */

.transitionVisible {
  /* Prevent scrolling and hide scrollbars */
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: right var(--SideWinder_animationDuration);
  will-change: right;
}

.root {
  position: absolute;
  top: 0;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 100%;
  background-color: rgb(44, 47, 50);
  opacity: 0;
  z-index: var(--SideWinder_overlayZIndex);
  cursor: pointer;
  transition: opacity var(--SideWinder_animationDuration);
  will-change: opacity, height;

  @nest .transitionOpen & {
    height: 100vh;
    opacity: 0.5;
  }

  @nest .transitionLeaving & {
    height: 100vh;
  }
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  z-index: var(--SideWinder_overlayZIndex);

  & svg {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 24px;
    right: 24px;

    & g {
      stroke: #fff;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    background: none;

    & svg g {
      stroke: #ddd;
    }
  }
}
