// Landing page content
$mobile-landscape: "(max-width: 767px) and (orientation: landscape)"; // same font-sizes as the mobile, but layout/grid structure from $tablet
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";

// Hero search
$hero_search-tablet: "(min-width: 480px)";

// Topbar
$topbar_tablet: "(min-width: 660px) and (max-width: 1200px)";
$topbar_desktop: "(min-width: 1201px)";
