// Landing page content
$mobile-landscape: "(max-width: 767px) and (orientation: landscape)"; // same font-sizes as the mobile, but layout/grid structure from $tablet
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";

// Topbar
$topbar_tablet: "(min-width: 580px) and (max-width: 992px)";
$topbar_desktop: "(min-width: 993px)";
