$dimension-mobile-margin: 24px;
$dimension-mobile-margin-big: 36px;

// Top/bottom margin for sections such as info, categories, listings etc.
$dimension-section-margin: 96px;

/*

Divides given total area according to golden ratio:

   numerator
  -----------  =  1.6180...
  denominator

*/

$dimension-golden-ratio: 1.61803398875;

@mixin golden-ratio-numerator($prop, $total) {
  #{$prop}: $total / $dimension-golden-ratio;
}

@mixin golden-ratio-denominator($prop, $total) {
  #{$prop}: $total - ($total / $dimension-golden-ratio);
}

$dimension-card-border-radius: 4px;

@mixin dimensions__section-title--limited-width {
  margin: 18px $dimension-mobile-margin 36px $dimension-mobile-margin;

  @media #{$tablet} {
    max-width: 75%;
    margin: 24px auto 48px auto;
  }

  @media #{$desktop} {
    max-width: 75%;
    margin: 24px auto 48px auto;
  }
}

@mixin dimensions__section-paragraph {
  margin: 18px 0 36px 0;

  @media #{$tablet} {
    margin: 24px 0 48px 0;
  }

  @media #{$desktop} {
    margin: 24px 0 48px 0;
  }
}

@mixin dimensions__section-paragraph--limited-width {
  margin: 18px $dimension-mobile-margin 36px $dimension-mobile-margin;

  @media #{$tablet} {
    max-width: 75%;
    margin: 24px auto 48px auto;
  }

  @media #{$desktop} {
    max-width: 75%;
    margin: 24px auto 48px auto;
  }
}
