$typography__main-color: #525961;

@mixin typography__section-title {
  font-family: ProximaNovaSoft-Regular;

  // mobile
  font-size: 26px;
  letter-spacing: -0.5px;

  @media #{$tablet} {
    font-size: 36px;
    letter-spacing: -0.69px;
    line-height: 56px;
  }

  @media #{$desktop} {
    font-size: 46px;
    letter-spacing: -0.88px;
  }
}

@mixin typography__section-paragraph {
  font-family: ProximaNovaSoft-Regular;

  // mobile
  margin: 18px 0 36px 0;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;

  @media #{$tablet} {
    margin: 24px 0 48px 0;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
  }

  @media #{$desktop} {
    margin: 24px 0 48px 0;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 32px;
  }
}
