= render :partial => "listings/listing_spacer" unless @listings.empty?
= render :partial => "listings/recent_listing", :collection => @listings, :as => :listing, :spacer_template => "listings/listing_spacer"
