- if @listing.closed?
  = link_to t(".reopen_listing"), edit_listing_path(@listing), :class => "edit_listing"
- else
  = link_to t(".edit_listing"), edit_listing_path(@listing), :class => "edit_listing"
  = link_to t(".close_listing"), close_person_listing_path(@current_user, @listing), :class => "close_listing", :method => :put, :remote => true
