%div{:id => "edit-profile-listing-links-#{listing.id.to_s}", :class => "edit-profile-listing-links"}
  - if listing.closed?
    .icon-with-text-container
      %a{href: edit_listing_path(listing)}
        .ss-lock.icon-part
        .text-part= t("listings.edit_links.reopen_listing")
  - else
    .icon-with-text-container
      %a{href: edit_listing_path(listing)}
        .ss-draw.icon-part
        .text-part= t("listings.edit_links.edit_listing")
    .icon-with-text-container
      %a{href: close_person_listing_path(@current_user, listing), data: { method: "put", remote: "true"}}
        .ss-lock.icon-part
        .text-part= t("listings.edit_links.close_listing")
