.googlemap
  -#%input{:id => "origin_foo", :value => @listing.origin, :type => "hidden"}
  -#%input{:id => "destination_foo", :value => @listing.destination, :type => "hidden"}
  .jsmap{:id => "map_canvas", :style => "width: 300px; height: 260px"}
  :javascript 
    $(document).ready(function() { 
      if (!#{rideshare}){
        //var prefix = "listing_origin_loc_attributes";
        googlemapMarkerInit('map_canvas',"origin_loc");
        }
      else
      {
      googlemapRouteInit('map_canvas');
      showRoute(document.getElementById("origin_loc_google_address").value, 
                document.getElementById("destination_loc_google_address").value)
                }
    });
