.googlemap
  .jsmap{:id => "map_canvas"}
  :javascript 
    $(document).ready(function() { 
      if (!#{rideshare}){
        googlemapMarkerInit('map_canvas', "origin_loc", undefined, undefined, #{tribe_latitude}, #{tribe_longitude});
      } else {
        googlemapRouteInit('map_canvas');
        showRoute(document.getElementById("origin_loc_google_address").value, document.getElementById("destination_loc_google_address").value)
      }
    });
