.new_listing_form_field_container.item.favor.rideshare.housing
  %label{:class => "input item favor rideshare housing"}
    = t('.detailed_description') + ":"
  = form.text_area(:description, :maxlength => "5000")