.feed-item.feed-request
  .feed-author-avatar
    = small_avatar_thumb(listing.author)
  .feed-content
    .author
      = link_to listing.author.name, listing.author
      %time{datetime: "#{listing.created_at}"}= time_ago(listing.created_at)
    %h2
      %a{href: '/item.html'} Renting out: Power drill
    %small.feed-excerpt
      "I have a power drill I don't really use that much. I could...
    %small.feed-listing-icons
      .feed-listing-price
        %i.ss-pricetag.icon-with-text 
        .text-with-icon 22€ / hour
      .feed-listing-comment
        %a{href: '#'}
          %i.ss-chat.icon-with-text
          .text-with-icon 13
  .feed-image
    = image_tag '/assets/new-design/item3.png'