%p  
  Kassissa on monta tapaa tarjota apua muille käyttäjille. Voit esimerkiksi myydä, lainata tai vaihtaa tavaroita. Voit valita yhdelle pyynnölle tai tarjoukselle haluamasi määrän tarjoustapoja. Muistathan kuitenkin valita vähintään yhden tavan.
