%a.share-type-link{:href => share_type_url(listing)}
  .icon-with-text-container
    .icon-part{:class => Listing::LISTING_ICONS[(listing.category.name)]}
    .text-part= listed_listing_share_type(listing)