%a.share-type-link{:href => transaction_type_url(listing, params[:view])}
  .icon-with-text-container
    = icon_tag(listing.icon_name, ["icon-part"])
    .text-part= listing.transaction_type.display_name(I18n.locale)
