<div id="listing_header">
  N채yt채: <a href="#">1 lukematon</a> | Kaikki
</div>  		
<h1><%= t(@title) %></h1>
<% if (@listings.size > 0)%>
<%= render :partial => 'listings/listing', :collection => @listings %>
<% else %>
<h3>Ei yht채채n ilmoitusta!
<% end %>