<h1>Hae ilmoituksia</h1>			
<% form_tag({ :action => "search" }, :method => "get") do %>
  <br />
  <table class="form">
    <% if params[:type].eql?("advanced") %>  
      <%= render :partial => "listings/search_advanced" %>
    <% else %>
      <%= render :partial => "listings/search_regular" %>
    <% end %>
  </table>
<% end %>

<br />

<% if @invalid %>
  <p><%= t(:invalid_char_in_search) %></p>
<% end %>

<% if params[:q]%>

<%= render :partial => "listings/search_results" %>

<% end %>