- content_for :title_header do
  %h1= t("listings.verification_required.verification_required")

.centered-section
  - if @community_customization && @community_customization.verification_to_post_listings_info_content
    = @community_customization.verification_to_post_listings_info_content.html_safe
  - else
    = t("admin.communities.edit_details.verification_to_post_listings_info_content_default", :contact_admin_link => link_to(t("admin.communities.edit_details.contact_admin_link_text"), new_user_feedback_path)).html_safe
