%p
  Kassi is a social media service that allows its users to change favors and items and communicate with each other. It has been created as a part of Aalto University’s OtaSizzle-research project. The project is conducted by Helsinki Institute for Information Technology HIIT, a joint research institute of Aalto University and University of Helsinki. The parties responsible for the administration and the usage data of the Kassi service are the OtaSizzle research project or third parties that the project lead has chosen to secure the continuity of the service (later referred to as “the service provider”). The Kassi-service may only be used in accordance with these terms of use. The service provider reserves the right to change these terms of use if required. Valid terms of use can be found from Kassi’s website.

%h3 Rights of Content

%p
  The users themselves retain the right to all text, pictures and other content that they create in the service. The users allow others to utilize the content in accordance with the nature of the service and furthermore allow the service provider to file information and data and make changes that are necessary for the service or the study, however other rights are not transferred from the users, unless specifically otherwise agreed. The responsibility of the content lies with the user, who has produced it to the service. The service provider has the right to remove any material when it deems it necessary.

%h3 Disclaimer

%p
  Kassi-service is a part of a study, therefore no guarantees of its functioning can be given. The service provider, HIIT, Aalto University and University of Helsinki can under no circumstances be liable for damage that is caused to the user. The user may not store any information or data in the service, and expect it to remain there.

%h3 The Removal of a User 

%p
  The service provider has the right to remove any users from Kassi and terminate their right of use of the service without any specific reason and without being liable for compensation.

%h3 Applicable Jurisdiction

%p
  The jurisdiction that is applicable in this service and these terms of use is that of Finland, unless something else is required by binding law.
  
%h3 Consent for study

%p
  By accepting these terms I also give my consent to a research study detailed below.

.consent
  %h3 WRITTEN CONSENT FOR RESEARCH STUDY
  %br/
  %p
    By giving my consent I confirm my voluntary participation in a study belonging to the OtaSizzle project.

  %p
    I have read and understood the appended research description below, entitled “Information for Participants in Scientific Research”, and confirm that I have received sufficient information on the study and have been given the opportunity to ask questions about the study (and if the information affects the test I have been assured I will have this opportunity after the study).

  %p
    I am willing to follow the instructions provided by the researchers before, during and after the study.

  %p
    I consent to my personal data being processed in the ways described in the research description.

  %p
    I am aware of the fact that I have the right to cancel my participation in the test at any time without providing a reason, and to refuse to answer any questions asked before, during or after the study.

  %p
    For more information on the study or in case of any questions, please contact:

  %p
    %br/
    Project manager Olli Pitkänen (olli.pitkanen (ät) hiit.fi)
    %br/
    Professor Martti Mäntylä (martti.mantyla (ät) hiit.fi)

  %p
    Aalto University / Helsinki Institute for Information Technology, HIIT 
    %br/
    Innopoli 2, 
    %br/
    Tekniikantie 14,
    %br/
    PL 19215, 
    %br/
    00076 Aalto
    %br/
    %br/
    Tel.: +358 (0)9 4511
  
.consent
  %h3 Information for Participants in a Scientific Research
  %br/
  %p
    %b This document describes the purpose, progress and other aspects of the study in question, as required by the ethical rules of research on human subjects, and as decreed by the HIIT Ethical Committee. The Ethical Committee has granted approval for human research to be carried out in the study for the purposes given in this document and for the methods listed in it.

  %h4 Invitation

  %p 
    You are invited to take part in a scientific user study led by Professor Martti Mäntylä of the Helsinki Institute for Information Technology (HIIT), a joint research institution of the Helsinki University of Technology and the University of Helsinki. The study forms a part of the OtaSizzle project in the MIDE Programme of Helsinki University of Technology. The study involves several test subjects. Participation is voluntary.

  %h4 Purpose of the Research
  %p 
    In line with the project to which it belongs, this study examines social media services and the use of those services. By collecting information on our test subjects, we hope to learn what is most important for service users. The ultimate aim of the study is to produce results that can be used in designing and creating better services.

  %h4 Risks and Discomfort
  %p 
    The methods used during the study present no greater risk to the subjects than normal use of computers and mobile phones does. In the study’s possible interviews and questionnaires you are entitled to skip any questions you are uncomfortable with. Observation of users’ actions “in the field”, in their daily lives, may also be included in the study. This kind of study would be informed in advance and the observers will introduce themselves in advance to test subjects and tell them about the research and their methods. Observation is not obligatory and you have right to refuse to participate. 

  %h4 Benefits for Participants and the Community 
  %p 
    We strive to make the tested services at least partially useful, so that participants in the study will receive some benefit from using them. There is no other particular benefit from participating in the study. Although you receive no personal gain from participating, we believe that by taking part you will help to produce information that will lead to better services being designed and offered in the future.

  %h4 Confidentiality
  %p 
    During the study, we will collect data on you and your use of services. Data is collected partly by asking you directly and observing your actions, but also by collecting some information automatically during use of service. All the data collected on you during the study is treated confidentially and is only accessible by the staff of the research project and possible third parties that are responsible for the upkeep of the service. Data related to you is only used in combination with other data. In the analysis, data will be collated using phone numbers, IMEI codes and other identifiers. If the upkeep of the service will be discontinued after the ending of this five-year project, all identifying data will be destroyed at the latest at the end of the project. Whenever the study’s outcomes are published or processed scientifically or otherwise, individual test subjects will not be mentioned, nor can they be identified from the data. There is a public data file description that determines how data is processed, stored and eventually destroyed.
  %p 
    This research complies with the Finnish Personal Data Act (523/1999), which is based on EU legislation.

  %h4 Participation and Cancellation 
  %p 
    Participation in the study is completely voluntary. If you decide to take part in the study, you have the right to cancel your participation at any time, without any consequences. You also have the right not to answer any questions you don't want to answer, and still continue participating in the study. In the unlikely event that the circumstances should require it, the Research Director has the right to cancel your participation.

  %h4 Researchers’ Contact Details
  %p 
    For more information on the study or in case of any questions, please contact:

  %p 
    Aalto University / Helsinki Institute for Information Technology

  %p 
    Research Director:
    %br/
    Professor Martti Mäntylä
    %br/
    Tel.: +358 (0)9 4511
    %br/
    Email: martti.mantyla (ät) hiit.fi

  %p 
    Practical matters:
    %br/
    Project Manager Olli Pitkänen
    %br/
    Tel.: +358 (0)9 4511
    %br/
    Email: olli.pitkanen (ät) hiit.fi