%p
  Kassi on verkkopalvelu, jonka avulla paikallisyhteisön jäsenet voivat välittää keskenään tavaroita, palveluksia ja kyytejä. Se on kehitetty osana Aalto-yliopiston OtaSizzle-tutkimusprojektia. Projektista vastaa Aalto-yliopiston ja Helsingin yliopiston yhteinen Tietotekniikan tutkimuslaitos HIIT. Kassi-palvelun ylläpidosta ja käyttäjätiedoista vastaavat OtaSizzle-tutkimusprojekti tai projektin johdon määrittämät kolmannet osapuolet, joiden tarkoituksena on vastata palvelun ylläpidosta ja jatkuvuudesta (jäljempänä “Palvelun ylläpitäjä”). Kassi-palvelua saa käyttää vain näiden käyttöehtojen mukaisesti. Palvelun ylläpitäjä voi tarvittaessa muuttaa näitä ehtoja. Voimassaolevat ehdot löytyvät Kassin www-sivuilta.

%h3 Oikeudet sisältöön

%p
  Käyttäjillä on itsellään oikeus tekstiin, kuviin ja muuhun sisältöön, jonka he tuottavat palveluun. He sallivat muiden käyttää sisältöä palvelun luonteen mukaisesti ja sallivat palvelun ylläpitäjän arkistoida tietoa ja tehdä siihen palvelun ja tutkimuksen kannalta tarpeellisia muutoksia, mutta eivät siirrä muita oikeuksia ellei erikseen toisin sovita. Vastuu sisällöstä on käyttäjällä, joka sen on palveluun tuottanut. Palvelun ylläpitäjä voi vapaasti poistaa palvelusta sisältöä.

%h3 Ei takuuta

%p
  Kassi-palvelu on osa tutkimusta eikä sen toimivuudesta voida antaa mitään takuita. Palvelun ylläpitäjä, HIIT, Aalto-yliopisto ja Helsingin yliopisto eivät missään tapauksessa ole korvausvelvollisia palvelun käyttäjille aiheutuneista vahingoista. Käyttäjä ei saa tallettaa palveluun mitään tietoa tai sisältöä olettaen sen säilyvän palvelussa.

%h3 Käyttäjän poistaminen

%p
  Palvelun ylläpitäjällä on oikeus poistaa käyttäjä Kassista ja lopettaa hänen käyttöoikeutensa palveluun ilman eritystä syytä ja ilman korvausvelvollisuutta.

%h3 Sovellettava laki

%p
  Ellei jostain pakottavasta laista muuta johdu, palveluun ja näihin käyttöehtoihin sovelletaan Suomen lakia.
  
%h3 Suostumus tutkimukseen

%p
  Kassin käytöstä kerätään tietoa tutkimusta varten. Hyväksymällä käyttöehdot hyväksyn samalla myös oheisen tutkimussuostumuksen.

.consent
  %h3 KIRJALLINEN SUOSTUMUS TUTKIMUKSEEN
  %br/
  %p
    Hyväksymällä tämän suostumuksen vahvistan, että osallistun vapaaehtoisesti OtaSizzle-projektiin liittyvään tutkimukseen.

  %p
    Olen lukenut ja ymmärtänyt alla olevan tutkimusselosteen ja vahvistan, että minulle on annettu riittävästi tietoja ja mahdollisuus esittää kysymyksiä tutkimuksesta (tai mikäli tiedot vaikuttaisivat tutkimukseen, minulle on luvattu kyseinen mahdollisuus kokeen jälkeen).

  %p
    Olen valmis seuraamaan tutkijoiden minulle antamia ohjeita ennen tutkimusta, sen aikana ja sen jälkeen. 

  %p
    Annan suostumukseni siihen, että henkilötietojani käsitellään tutkimusselosteessa kuvatulla tavalla.

  %p
    Minulle on kerrottu, että minulla on oikeus keskeyttää tutkimukseen osallistuminen missä tahansa vaiheessa tarvitsematta kertoa syytä ja olla vastaamatta mihin tahansa kysymykseen mitä tutkimuksen aikana, sitä ennen, tai sen jälkeen minulle esitetään.

  %p
    Mikäli haluat tutkimuksesta lisää tietoa tai sinulla on muuta kysyttävää, voit ottaa yhteyttä:
  %p
    Tutkimuksen vastuullinen johtaja, professori Martti Mäntylä (martti.mantyla (ät) hiit.fi)
    %br/
    Projektipäällikkö Olli Pitkänen (olli.pitkanen (ät) hiit.fi)

  %p
    Aalto yliopisto / Tietotekniikan tutkimuslaitos HIIT
    %br/
    Innopoli 2, 
    %br/
    Tekniikantie 14, 
    %br/
    PL 19215, 
    %br/
    00076 Aalto
    %br/
    %br/
    Puh: (09) 4511
  
.consent
  %h3 Tiedote osallistumisesta tieteelliseen tutkimukseen
  %br/
  %p
    %b Tässä tiedotteessa kerrotaan kokeen tarkoituksesta, kulusta ja muista puolista, kuten ihmistutkimuksen eettisissä säännöissä on säädetty ja eettinen lautakunta on päättänyt. Tutkimukselle on myönnetty eettisen lautakunnan lupa tehdä ihmistutkimusta tässä dokumentissa mainittua tarkoitusta varten ja mainittuja menetelmiä käyttäen.

  %h4 Kutsu

  %p 
    Sinut on kutsuttu osallistumaan tieteelliseen käyttäjätutkimukseen, jota johtaa professori Martti Mäntylä Teknillisen korkeakoulun ja Helsingin yliopiston yhteisestä Tietotekniikan tutkimuslaitos HIIT:stä. Tutkimus on osa Aalto-yliopiston MIDE-ohjelmaan kuuluvaa OtaSizzle–projektia. Tutkimukseen osallistuu useita koehenkilöitä. Osallistumisesi on vapaaehtoista.

  %h4 Tutkimuksen tarkoitus
  %p 
    Tässä tutkimuksessa, ja projektissa johon se kuuluu, tutkitaan yhteisömediapalveluita ja niiden käyttöä. Keräämällä sinuun liittyvää tietoa opimme lisää siitä, mitkä asiat ovat palvelun käyttäjälle tärkeitä. Tuloksistamme on tarkoitus lopulta saada tietoa, joka auttaa suunnittelemaan ja tekemään parempia palveluita.

  %h4 Riskit ja epämukavuus 
  %p 
    Kokeen aikana käytetyt menetelmät eivät sisällä sinulle sen suurempia vahingoittumisen riskejä kuin tietokoneen ja matkapuhelimen käyttö normaalistikaan. Tutkimukseen mahdollisesti liittyvien haastatteluiden ja kyselyiden kohdalla sinulla on niin halutessasi oikeus jättää vastaamatta mihin tahansa kysymyksiin. Tutkimukseen saatetaan sisällyttää myös havainnointia, jonka avulla pyritään tutkimaan käyttäjien toimintaa ”kentällä”, heidän päivittäisessä elämässään. Tästä tutkimuksesta tiedotetaan etukäteen ja tutkimuksesta on oikeus kieltäytyä.

  %h4 Hyödyt osallistujalle tai yhteisölle 
  %p 
    Pyrimme tekemään kokeiltavat palvelut hyödyllisiksi, jolloin niiden käyttämisestä tässä tutkimuksessa saattaa olla sinulle jotain hyötyä. Tutkimukseen osallistumisesta ei ole sinulle muuta erityistä hyötyä. Vaikka et saavutakaan henkilökohtaista hyötyä, uskomuksemme on, että osallistumalla kokeeseen autat tuottamaan tietoa, jonka avulla pystytään tulevaisuudessa suunnittelemaan ja tekemään parempia palveluita.

  %h4 Luottamuksellisuus 
  %p 
    Tutkimuksen aikana keräämme runsaasti tietoa sinusta ja siitä, miten käytät palveluita. Tietojen kerääminen tapahtuu osittain kyselemällä tietoja sinulta ja havainnoimalla toimintaasi, mutta osittain myös palvelun tallentaessa automaattisesti tietoa palvelua käytettäessä. Kaikki tutkimuksen kuluessa saatu sinua koskeva tieto on luottamuksellista, ja oikeus sen käyttöön on ainoastaan tutkimusprojektilla sekä mahdollisilla tutkimusprojektin johdon määrittämillä kolmansilla osapuolilla, joiden tarkoituksena on vastata palvelun ylläpidosta ja jatkuvuudesta. Osallistumisestasi saatua aineistoa käytetään ainoastaan osana suurempaa aineistoa. Analyysin aikana tietoja yhdistellään mm. puhelinnumeron, IMEI-koodin ja muiden tunnistetietojen perusteella. Jos palvelun ylläpitoa ei projektin jälkeen enää jatketa, kaikki siihen liittyvät tunnistetiedot tuhotaan projektin päättyessä.  Kun tutkimuksen tuloksia julkaistaan tai niitä käsitellään tieteellisissä tai muissa yhteyksissä, yksittäisiä koehenkilöitä ei yksilöidä eikä heitä voi aineistosta tunnistaa. OtaSizzlen alla mainituilta yhteyshenkilöiltä on saatavilla kenen tahansa nähtäväksi rekisteriseloste, joka määrittelee kuinka aineistoa käsitellään, säilytetään ja aikanaan tuhotaan.
  %p
    Tähän tutkimukseen sovelletaan henkilötietolakia (523/1999), joka perustuu EU-lainsäädäntöön.

  %h4 Osallistuminen ja keskeyttäminen 
  %p 
    Voit vapaasti päättää haluatko osallistua tutkimukseen vai et. Jos vapaaehtoisesti osallistut tutkimukseen, sinulla on silti oikeus keskeyttää osallistumisesi milloin tahansa ilman mitään seurauksia. Sinulla on myös oikeus jättää vastaamatta mihin tahansa kysymyksiin joihin et tahdo vastata ja silti pysyä tutkimuksessa. Siinä harvinaisessa tapauksessa että olosuhteet sitä vaativat, myös tutkimuksen vastuullisella johtajalla on oikeus keskeyttää tutkimus osaltasi.

  %h4 Tutkijoiden yhteystiedot 
  %p 
    Mikäli haluat tutkimuksesta lisää tietoa tai sinulla on muuta kysyttävää, voit ottaa yhteyttä:

  %p 
    Aalto-yliopisto, Tietotekniikan tutkimuslaitos HIIT

  %p 
    Tutkimuksen vastuullinen johtaja:
    %br/
    Professori Martti Mäntylä
    %br/
    Puh: (09) 4511
    %br/
    Email: martti.mantyla (ät) hiit.fi

  %p 
    Käytännön asiat:
    %br/
    Projektipäällikkö Olli Pitkänen
    %br/
    Puh: (09) 4511 
    %br/
    Email: olli.pitkanen (ät) hiit.fi