%section.content-card-section
  %h2= t('admin2.domain.sharetribe_domain')
  %p.ingress
    = t('admin2.domain.domain_adress', url: @presenter.domain_address).html_safe
    %br
    - if defined?(contact_team) && contact_team
      = t('admin2.domain.not_change_sharetribe_domain').html_safe
    - else
      = t('admin2.domain.change_sharetribe_domain')

