<%= t(:thanks) %>
<br />
<%= t(:kassi_team) %>

<div style="margin-top: 6px; border-bottom: 3px solid #e0e6d8; line-height:3px">&nbsp;</div>
<div style="margin-top: 3px; font-size: 0.9em;">
<%= t(:want_to_control_emails)%> <%= link_to t(:check_your_settings), @settings_url + "?ref=email" %>
</div>