- if @person.active?
  = link_to t(".deactivate"), deactivate_person_path(@person), :class => "deactivate_person", :method => :put, :remote => true
- else
  = link_to t(".activate"), activate_person_path(@person), :class => "activate_person", :method => :put, :remote => true
