.googlemap
  .jsmap{:id => "map_canvas"}
  :javascript 
    $(document).ready(function() { 
      googlemapMarkerInit('map_canvas',"location", undefined, undefined, #{tribe_latitude}, #{tribe_longitude});
    });