.people-fluid-thumbnail-grid-item
  %div
    -# Listing image
    = render :partial => "layouts/grid_item_listing_image", :locals => {:community => @current_community, :listing => listing, :modifier_class => "people-listings"}
