<h1 class="home">Tavaroita ja palveluksia<br /> &mdash; tutuille ja tuntemattomille!</h1>
<p class="home">
  Tarvitsetko poran lainaksi? Kaipaatko muuttoapua? Haluaisitko päästä kimppakyydillä festareille? Oletko vailla sohvaa? Tahdotko eroon vanhoista oppikirjoista? Oletko kokoamassa sählyjoukkuetta? Kassi voi auttaa!
</p>
<p class="home">
  Kassi on palvelu, joka helpottaa tavaroiden ja palvelusten vaihtoa. Profiilissasi voit listata muiden käyttöön tarjoamasi lainatavaroita sekä palveluksia, joita voisit tehdä muille. Palvelus- ja tavaralistoista saat selville, mitä Kassissa on tarjolla. Jos et löydä etsimääsi, voit jättää siitä ilmoituksen, johon muut voivat vastata. Ilmoituksilla voit myös ostaa ja myydä, etsiä kimppakyytejä tai kadonneita tavaroita sekä koota porukkaa vaikka lukupiiriin.
</p>
<p class="home">
  Myös yhdistykset voivat käyttää Kassia toiminnassaan monin tavoin, esimerkiksi hyödyntämällä Kassin varaustoiminnallisuutta tai ilmoittamalla Kassissa talkoista ja muista tapahtumista.
</p>