<h1 class="home">Items to borrow and favors <br /> &mdash; for friends and folks!</h1>
<p class="home">
Do you need to borrow a drill? Are you searching people to help you to move? Would you like to car pool to summer festivals? Are you without sofa but would like to have one? Do you want to get rid of the old school books? Are you putting together a floorball team? Kassi can help you!
</p>
<p class="home">
Kassi is a service that facilitates exchange of favors and items. In your profile you can list the things you could lend and favors you could do to others. By browsing and searching lists of items and favors that have been created this way you can find out what other Kassi users are offering. If you don't find what you are looking for, you can post a listing that can be answered by others. In listings you can also buy and sell things, search for car pools or lost property and gather people for example to a book club.
</p>
<p class="home">
Various associations can also use Kassi in many ways for example by taking advantage of reservation system or by giving information of their events, actions and bees.
</p>