.member{:class => (params[:page] && params[:page].to_i > 1) ? "paginated-member" : "" }
  .member-image
    = medium_avatar_thumb(person)
  .member-details
    %h3= link_to person.name(@current_community), person
    %small
      -# .icon-with-text-container
      -#         .ss-adduser.icon-part
      -#         .text-part= t("people.show.joined_this_community", :name => person.given_name_or_username, :time_ago => time_ago(CommunityMembership.find_by_person_id_and_community_id(person.id, @current_community.id).created_at))
      %a{href: new_person_message_path(person, :message_type => "free", :profile_message => true)}
        .icon-with-text-container
          .ss-mail.icon-part
          .text-part= t("people.show.contact", :person => person.given_name_or_username)
