<div class="profile_info_field">
  <div class="profile_info_field_title">
    <b><%= item.title %></b>
  </div>    
  <div class="profile_info_field_links">
    <%= link_to t(:edit), "#" %> | 
    <%= link_to t(:remove), item, :method => :delete %>
  </div>  
</div>