<div class="profile_info_field">
  <a name="favor_<%= favor.id.to_s %>"></a>
  <div id="favor_<%= favor.id.to_s %>">
    <%= render(:partial => 'people/profile_favor_inner', :locals => {:favor => favor})  %>
  </div>
</div>