.profile-testimonials-list
  = render :partial => "people/testimonial", :collection => received_testimonials.take(limit)
.row.load-more-link
  - if received_testimonials.size > limit
    #load-more-testimonials.load-more-testimonials
      = link_to t("people.show.show_all_reviews"), "#"
