- content_for :title do
  = t('admin2.sidebar.transactions_reviews.config_transactions')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.transactions_reviews.config_transactions')

= form_for @current_community, url: update_listing_comments_admin2_listings_listing_comments_path, html: { class: %i[content-card-section-container] }, method: :patch do |form|

  %section.content-card-section
    %h2 Transaction auto-completion
    .content-card-section-form
      .form-group
        %label{:for => "transactionCompletionDays"} Automatically mark transasctions completed after
        .input-group
          %input#transactionCompletionDays.form-control{"aria-label" => "Min. transaction size", :max => "90", :maxlength => "2", :min => "1", :style => "border-radius: 4px 0 0 4px", :type => "tel", :value => "7"}/
          .input-group-append
            %span.input-group-text Days
        %small#minimumTransactionSize-help.form-text Default 7 days, max 85 days. For transactions processed by Stripe, payments to sellers are delayed until the order is marked as completed.

  %section.content-card-section
    %h2 Transaction agreement
    .content-card-section-form
      .form-group
        %label{:for => "marketplaceName"} Agreement label
        %input#marketplaceName.form-control{"aria-describedby" => "marketplaceName", :placeholder => "By clicking this box I accept the agreement", :type => "text", :value => ""}/
        %small#marketplaceName-help.form-text This text will be shown next to a checkbox in the checkout form. The buyer needs to check the box to proceed with the transaction. An example label would be something like "By clicking this box I accept the agreement."
      .form-group
        %label{:for => "marketplaceName"} Agreement text
        %textarea#marketplaceName.form-control{"aria-describedby" => "marketplaceName", :placeholder => "", :type => "text", :value => ""}
        %small#marketplaceName-help.form-text This is the content of the actual agreement that the buyer needs to accept. The agreement content is displayed when the user clicks the "View." link next to the agreement label.
      .form-check
        %input#marketplaceSloganCheck.form-check-input{:checked => "checked", :type => "checkbox"}/
        %label.form-check-label{:for => "marketplaceSloganCheck"} Buyers are required to accept an agreement before transaction

  .content-card-terminal.without-margin
    = button_tag t('admin2.save_changes'), class: %i[btn btn-primary]
