:plain
  var dataLayer = dataLayer || [];
  (function(dl){
    var marketplaceId = #{Maybe(@current_community).id.or_else};
    if (marketplaceId) {
      dl.push({"event": "identify", "id": "mp-"+marketplaceId+"-admin" });
    }

    dl.push({
      event: 'feature flags',
      featureFlags: #{feature_flags.to_json.html_safe}
    });

  })(dataLayer);

  <!-- Google Tag Manager -->
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','#{APP_CONFIG.google_tag_manager_key}');
  <!-- End Google Tag Manager -->

  window.ST = window.ST || {};
  window.ST.gtmPush = function(data){
    window.dataLayer = window.dataLayer || [];
    if (Array.isArray(data)) {
      Array.prototype.push.apply(window.dataLayer, data);
    } else {
      window.dataLayer.push(data);
    }
  };
