-# Deprecated, use Google Tag Manager instead
- if APP_CONFIG.use_kissmetrics
  :javascript
    var _kmq = _kmq || [];
    function _kms(u){
    setTimeout(function(){
    var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
    s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');_kms('#{APP_CONFIG.kissmetrics_url}');
    $(document).on("st-analytics:setup", function(event, info) {
      if(info.user_id) {
        _kmq.push(['identify', info.user_id]);
      }
      if(info.community_ident) {
        _kmq.push(['set', {'SiteName' : info.community_ident});
      } else {
        _kmq.push(['set', {'SiteName' : 'dashboard'});
      }
    });
