-# Deprecated, use Google Tag Manager instead
- if APP_CONFIG.use_kissmetrics
  :javascript
    var _kmq = _kmq || [];
    function _kms(u){
    setTimeout(function(){
    var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
    s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');_kms('#{APP_CONFIG.kissmetrics_url}');
    onDocumentReady(function() {
      ST.analytics.initKissmetrics(_kmq);
    });

