:plain
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '#{APP_CONFIG.google_analytics_key}']);
  _gaq.push(['_setDomainName', '.#{PublicSuffix.parse(request.host).domain}']);
  _gaq.push(
  ['_addIgnoredOrganic', 'sharetribe'],
  ['_addIgnoredOrganic', 'sharetribe.com'],
  ['_addIgnoredOrganic', 'www.sharetribe.com'],
  ['_addIgnoredOrganic', 'kassi'],
  ['_addIgnoredOrganic', 'share tribe'],
  ['_addIgnoredOrganic', 'kassi.eu'],
  ['_setAllowLinker', true],
  ['_trackPageview'],
  ['_trackPageLoadTime']
  );
