<% escaped_title =  URI.escape(@title.downcase, Regexp.new("[^-_!~*()a-zA-Z\\d]")) %>
<div class="item_owners">
  <div class="selected_item_title">
    <div class="left_float">
      <b>
        <%= link_to_remote h(@title.capitalize), :url => hide_favor_path(escaped_title), :method => :get %> - 
        <%= pluralize @favors.size, t(:offerer), t(:offerer_partitive) %>
      </b>
    </div>   
  </div>  
  <div class="solid_line"></div>
  <%= render :partial => "favor_offerer", :collection => @favors, :as => :favor, :spacer_template => "layouts/dashed_line" %>
</div>