<h1><%= t(:ask_for_favor) + " " + @favor.title.downcase + " " + t(:from_user) + " " + @person.name(session[:cookie]) %></h1>

<div id="basic_content">

<%= render :partial => "messages/send_message", :locals => { :target_object => @favor } %>

</div>

