.content-card-header
  %h1.content-card-header-title User rights
.content-card-section-container
  %section.content-card-section
    %h2 Invitation rights
    %form.content-card-section-form
      .form-group
        .form-check
          %input#inviteMandatory.form-check-input{:checked => "checked", :type => "checkbox"}/
          %label.form-check-label{:for => "inviteMandatory"} Allow new users to join only with an invite from a registered user
        .form-check
          %input#allCanInvite.form-check-input{:type => "checkbox"}/
          %label.form-check-label{:for => "allCanInvite"} Allow all registered users, and not only admins, to invite new users
  %section.content-card-section
    %h2 Communication rights
    %form.content-card-section-form
      .form-group
        .form-check
          %input#directMessage.form-check-input{:checked => "checked", :type => "checkbox"}/
          %label.form-check-label{:for => "directMessage"} Allow users to message each other freely
  %section.content-card-section
    %h2 Posting rights
    %form.content-card-section-form
      .form-group
        .form-check
          %input#approvePosting.form-check-input{:type => "checkbox"}/
          %label.form-check-label{:for => "approvePosting"} Allow only users verified by admins to post new listings
        %p.ingress{:style => "opacity:0.4"} To help users understand what is required to be allowed to post listings, you can share some details below: they will be displayed on the new listing form only to users who haven't been allowed to post listings already.
        .d-flex.multiple-languages{:style => "opacity:0.4"}
          %span.language English
          %textarea#privateMarketplaceInstructionText.form-control{"aria-describedby" => "marketplaceName"} HTML content, there will be an editor top bar here in the future, in a separate task.
        .d-flex.multiple-languages{:style => "opacity:0.4"}
          %span.language French
          %textarea#privateMarketplaceInstructionText.form-control{"aria-describedby" => "marketplaceName"} HTML content, there will be an editor top bar here in the future, in a separate task.
        .d-flex.multiple-languages{:style => "opacity:0.4"}
          %span.language Spanish
          %textarea#privateMarketplaceInstructionText.form-control{"aria-describedby" => "marketplaceName"} HTML content, there will be an editor top bar here in the future, in a separate task.
.content-card-terminal
  %a.btn.btn-primary{:href => "#"} Save changes
