- value = custom_field_value ? custom_field_value.date_value : nil
= select_date(value, {:prefix => "custom_fields[#{custom_field.id}]", :field_name => "", :include_position => true, :prompt => !custom_field.required?}, {:class => (custom_field.required? ? "required" : "")})