- selected = custom_field_value ? custom_field_value.selected_options.first.id : nil
- default = [t(".select_one___"), nil]
- options = options_for_select([default] + custom_field.options.sort.collect { |opt| [opt.title(I18n.locale), opt.id] }, selected)
= select "custom_fields", "#{custom_field.id}", options, {}, :class => (custom_field.required? ? "required" : "")
