- selected = Maybe(custom_field_value).selected_options.map { |selections| selections.first }.id.or_else(nil)
- default = [t(".select_one___"), nil]
- options = options_for_select([default] + custom_field.options.sort.collect { |opt| [opt.title(I18n.locale), opt.id] }, selected)
= select "custom_fields", "#{custom_field.id}", options, {}, :class => (custom_field.required? ? "required" : "")
