= label "custom_fields", "#{custom_field.id}".to_sym, custom_field.name(I18n.locale)
- answer = custom_field.answer_for(listing)
- value = answer ? answer.text_value : ""
= number_field_tag "custom_fields[#{custom_field.id}]", value, :min => custom_field.min, :max => custom_field.max, :class => (custom_field.required? ? "required" : "")