@import "mixins/all";

.braintree-account-details {
  @include clearfix;
}
.braintree-account-key {
  float: left;
  max-width: em(250);
  width: 50%;
  clear: left;
  font-weight: bold;
}
.braintree-account-value {
  float:left;
  width: 50%;
}
