@import "mixins/all";

.expiration-lightbox {
  max-width: 675px;
  width: 95%;
}
.expiration-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: $background;
  @include border-radius(em(5));
}
.expiration-head-panel {
  width: 90%;
  margin: 0 auto 30px auto;
}
.expiration-title {
  font-size: 38px;
  line-height: 38px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  padding: 30px 0;
}

.expiration-subtitle {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
}

.expiration-plan-external {
  max-width: 300px;
  margin: 30px auto 0 auto;
  @include clearfix();
  background-color: $sharetribe-color;
  border: solid 1px $sharetribe-color;
  @include border-radius(em(5));
  color: white;
}

.expiration-plan-biannual {
  @include border-radius(em(5));
  background-color: white;
  color: black;
  padding: 30px 0;
  border: solid 1px #ccc;
  background-color: $sharetribe-color;
  border: solid 1px $sharetribe-color;
  color: white;
}
.expiration-subscribe-title, .contact-owner-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.expiration-footer {
  padding: 0 10px 30px 10px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.contact-owner {
  @include border-radius(em(5));
  max-width: 300px;
  margin: 0 auto 30px auto;
  padding: 30px 0;
  background-color: $sharetribe-color;
  border: solid 1px $sharetribe-color;
  color: white;
}

.expiration-subcontent {
  text-align: center;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
}
