/**
  Homepage thumbnail grid view
*/

@import "mixins/all";

$home-thumbnail-grid-avatar: em(48);
$home-thumbnail-grid-avatar-padding: lines(0.25);
$home-thumbnail-grid-author: $home-thumbnail-grid-avatar + ($home-thumbnail-grid-avatar-padding * 2);

@include create-fluid-thumbnail-grid(home);

.home-fluid-thumbnail-grid-image-container {
  @include border-top-radius($default-border-radius);
  position: relative;
  color: $background;

  &:hover {
    color: $link;
  }
}

.home-fluid-thumbnail-grid-title {
  position: absolute;
  bottom: 0;
  padding: $home-thumbnail-grid-avatar-padding;
  line-height: lines(0.75);
  font-size: 15px; // 16 is just a little bit too big
}

.home-fluid-thumbnail-grid-overlay {
  @include border-top-radius($default-border-radius);
  @include overlay;
  @include absolutely-all;
}

.home-fluid-thumbnail-grid-image {
  @include border-top-radius($default-border-radius);
  display: block;
  width: 100%;
}

.home-fluid-thumbnail-grid-price {
  @include listing-price;
}

.home-fluid-thumbnail-grid-author {
  background-color: $highlight;
  height: $home-thumbnail-grid-author;
  position: relative;
}

.home-fluid-thumbnail-grid-author-avatar {
  padding: $home-thumbnail-grid-avatar-padding;
  display: none;
  
  @include media(large-mobile) {
    display: block;
  }
}

.home-fluid-thumbnail-grid-author-avatar-image {
  @include border-radius($default-border-radius);
}

.home-fluid-thumbnail-grid-author-name {
  position: absolute;
  top: $home-thumbnail-grid-avatar-padding;
  left: (3 * $home-thumbnail-grid-avatar-padding) + $home-thumbnail-grid-avatar; // 3 for some extra padding
  right: $home-thumbnail-grid-avatar-padding;
  bottom: $home-thumbnail-grid-avatar-padding;

  // Vertical centering
  line-height: $home-thumbnail-grid-avatar;
  
  @include ellipsis;
}