@import "mixins/all";

/*
  Styles used in global layout
*/

.left-navi-dropdown {
  &:hover { background: $highlight; }
  color: $body;
  padding: em(10) lines(0.5);
  border-bottom: 1px dotted $border;
}

.wrapper {
  @include wrapper;
}

.undo-mobile-wrapper-margin {
  @include undo-mobile-wrapper-margin;
}

.left-navi-section {
  img, iframe {
    max-width: 100%;
  }
}

.banner {
  &--warning {
    background-color: #f5a623;
    color: white;
  }
  &--title-wrapper {
    margin: 0 auto;
    max-width: 63em;
    padding: 0 0.75em 0 0.75em;
  }
  &--title {
    line-height: 50px;
  }
}
