@import "compass/utilities/general/clearfix";
@import "mixins/all";

$listing-image-aspect-ratio: 3/2;

@mixin image-height($prop, $aspect-ratio) {
  #{$prop}: (em(320) - lines(1)) / $aspect-ratio;

  @include media(mobile) {
    #{$prop}: (em(480) - lines(1)) / $aspect-ratio;
  }

  @include media(large-mobile) {
    #{$prop}: (em(600) - lines(1)) / $aspect-ratio;
  }

  @include media(small-tablet) {
    #{$prop}: lines($left-column-2-3) / $aspect-ratio;
  }
}

.image-frame {
  background-color: $highlight;

  @include image-height("height", $listing-image-aspect-ratio);
  @include vertical-centering-container;
}

.listing-no-image,
.listing-image-processing {
  @include vertical-centering-text-content;
  @include large-type;
  color: $border;
  text-align: center;
}

.image-frame > a {
  @include vertical-centering-content;
}

.listing-main-image {
  @include image-height("max-height", $listing-image-aspect-ratio);

  display: block;
  max-width: 100%;
  margin: auto;
}

// Social buttons
.listing-social {
  @include clearfix();
}

.listing-fb-like-button,
.listing-tweet-button {
  float: left;
  margin-right: lines(1);
}

// Listing price
.listing-price-amount {
  @include huge-type;
  color: $light-body;
}

.listing-price-quantity {
  vertical-align: top;
  $hugeTypeLineHeight: lines(2);
  $hugeTypeFontSize: em(42);
  $hugeTypeMargin: ($hugeTypeLineHeight - em(42)) / 2;
  $quantityFontSize: lines(1);
  line-height: $hugeTypeMargin + $quantityFontSize + $hugeTypeMargin;
  color: $aside;
}

// Listing author
$listing-author-avatar-width: 108;
$listing-author-avatar-height: 108;

.listing-author {
  position: relative;
}

.listing-author-avatar {
  width: em($listing-author-avatar-width);
  height: em($listing-author-avatar-height);
  position: absolute;
  top: 0;
  left: 0;

  > a {
    display: block;
    width: 100%;
    height: 100%;

    > img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
 }

.listing-author-details {
  width: 100%;
  padding-left: em($listing-author-avatar-width);
  min-height: em($listing-author-avatar-height);
  padding-left: em($listing-author-avatar-width) + lines(0.5);
 }

.listing-author-name {
  @include big-type;
  height: em($listing-author-avatar-width, 22) / 2;
  line-height: em($listing-author-avatar-width, 22) / 2;
 }

.listing-author-contact-button {
  @extend .button;

  height: em($listing-author-avatar-width) / 2;
  line-height: em($listing-author-avatar-width) / 2;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Listing author activity

.listing-author-activity {
  @include clearfix();
}

.listing-author-activity-icon {
  font-size: 32px;
  line-height: (em(32, 32) * 1.5);
  display: block;
  float: left;
  width: em(32, 32);
}

.listing-author-activity-item {
  float: left;
  width: lines($right-column-1-3) - 0.75em - em(32) - lines(1); // FIXME!!!
  margin-left: lines(0.5);
}

.listing-author-activity-description {
  @include small-type;
  color: $border;
}

// Map

// FIXME: Ugly selector
.listing-aside {
  .jsmap {
    width: 100%;
    height: lines(8);
  }
}