@import "compass/css3/border-radius";
@import "mixins/all";

$profile-pic-size-mobile: lines(3);
$profile-pic-gutter-mobile: lines(0.5);

.people-image {
  display: none;
  > img {
    width: 100%;
  }
  
  @include media(tablet) {
    display: block;
  }
}

.people-header {
  padding-bottom: lines(0.25);
  border-bottom: 1px solid $border;
}
 
.people-listing-image-frame {
  &, > a, > a > img {
    display: block;
    width: 100%;
    height: 100%;
  }

  > a {
    position: relative;
  }
}

.people-listing-no-image {
  /* FIXME This is not vertically centered */
  @extend .listing-no-image;
  padding: lines(1);
}

.load-more-listings-container {
  clear: both;
  padding: lines(0) lines(0.5); // Normalize the negative margin set by the grid container
}

.people-show-closed-link {
  font-size: 13px;
  margin-left: lines(0.5);
}

.people-listing-price {
  color: $body;
  font-weight: bold;
  min-width: em(50);
  text-align: center;

  position: absolute;
  top: 0;
  right: 0;
  padding: lines(0.2);
  
  background-color: white;
  @include border-bottom-left-radius(lines(0.25));
}

.people-listing-overlay {
  @include overlay;
  @include absolutely-all;
}

.people-listing-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  color: $background;

  padding: lines(0.25);
}

.profile-action-button-desktop {
  display: none;
  
  @include media(tablet) {
    display: block;
  }
}

.profile-action-button-mobile {
  padding-left: $profile-pic-size-mobile + $profile-pic-gutter-mobile;
  padding-bottom: lines(0.75);
  margin-top: lines(0.65);
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;
  
  @include media(tablet) {
    display: none;
  }
}

.profile-edit-link, .profile-contact-link {
  @include grey-button;
  width: 100%;
}

.people-image-mobile {
  width: $profile-pic-size-mobile;
  position: absolute;
  top: 0;
  left: lines(0.5);
  
  > img {
    width: 100%;
  }
  
  @include media(tablet) {
    display: none;
  }
  
}

