.people-image {
  > img {
    width: 100%;
  }
}

.people-header {
  padding-bottom: lines(0.25);
  border-bottom: 2px solid $light-body;
}
 
.people-listing-image-frame {
  &, > a, > a > img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.people-listing-no-image {
  /* FIXME This is not vertically centered */
  @extend .listing-no-image;
  padding: lines(1);
}

.load-more-listings-container {
  clear: both;
  padding: lines(0) lines(0.5); // Normalize the negative margin set by the grid container
}

.people-show-closed-link {
  margin-left: lines(0.5);
}