.people-image {
  > img {
    width: 100%;
  }
}

.people-header {
  padding-bottom: lines(0.25);
  border-bottom: 2px solid $light-body;
}
 
.people-listing-image-frame {
  width: 100%;
  height: 100%;

  > a {
    display: block;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}