@import "mixins/all";

.preauthorize-section {
  margin-bottom: lines(1.5);
}

.preauthorize-exp {
  display: inline;
  margin-right: lines(0.5);
}

.preauthorize-details-title {
  margin-bottom: lines(0.25);
}