@import "mixins/all";

.signup-horizontal-line {
  margin: lines(1.25) 0;
  text-align: center;
  position: relative;
  font-variant: italic;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px $border;
  }
}

.signup-horizontal-line-text {
  padding-left: lines(0.25);
  padding-right: lines(0.25);
  display: inline;
  text-align: center;
  background-color: white;
  @include larger-type;
  color: $light-body;
  position: relative;
}

.signup-form, #pending_consent_form {
  .inline-label-container {
    small {
      display: inline;
    }
  }
}
