@import "mixins/all";

.signup-horizontal-line {
  margin: lines(1.25) 0;
  text-align: center;
  position: relative;
  z-index: 2;
  font-variant: italic;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px $border;
    z-index: -1;
  }
}

.signup-horizontal-line-text {
  padding-left: lines(0.25);
  padding-right: lines(0.25);
  display: inline;
  text-align: center;
  background-color: white;
  @include larger-type;
  color: $light-body;
}