.content {
  height: 100%;
  font-family: var(--ManageAvailability_fontFamily);

  /* --- OVERRIDE DEFAULT STYLES START --- */

  & tbody tr {
    /* This will reset the <table> element zebra-skin
       coloring coming from the default styles */
    background-color: initial;
  }

  & td {
    /* This will reset the default border radius for first and last
    <td> element */
    &:first-child,
    &:last-child {
      border-radius: initial;
    }
  }

  & button {
    margin: 0;

    &:hover {
      background-color: var(--colorReservedAvailability);
    }
  }

  /* --- OVERRIDE DEFAULT STYLES END --- */
}

.calendar {
  width: var(--ManageAvailabilityCalendar_width);
  margin: var(--ManageAvailability_padding) auto 0 auto;
}

.saveButton {
  position: absolute;
  bottom: -100px;
  left: var(--ManageAvailability_padding);
  right: var(--ManageAvailability_padding);
  width: calc(100% - 2 * var(--ManageAvailability_padding));
  height: var(--ManageAvailability_saveButtonHeight);
  font-size: 16px;
  color: #fff;
  background-color: var(--colorReservedAvailability);
  border: none;
  border-radius: 4px;
  transition: bottom 0.5s;
  cursor: pointer;
}

.saveButtonVisible {
  bottom: var(--ManageAvailability_padding);
}
