.form-group
  %label
    = t('admin2.topbar.post_new_listing_button')
  .multiple-languages-container
    - available_locales.each do |locale_name, locale_value|
      .multiple-languages-language
        %span.language
          = locale_name
      .multiple-languages-input
        = text_field_tag "post_new_listing_button[#{locale_value}]", t("homepage.index.post_new_listing", locale: locale_value), placeholder: t('admin2.topbar.post_new_listing', locale: locale_value), class: %i[required form-control]
