#logo_link
  - if @current_community.created_at < "25.05.2012".to_date 
    = "(#{link_to t("layouts.application.formerly_known_as_kassi"), "http://www.avoinyritys.fi/2012/05/26/kassista-sharetribeen/", :target => '_blank'})".html_safe
  