@import "compass/css3/images";

@mixin overlay {
  $overlay-start-color: rgba(0, 0, 0, 0);
  $overlay-end-color: rgba(0, 0, 0, 0.6);
  $overlay-start-color-ie: ie-hex-str($overlay-start-color);
  $overlay-end-color-ie: ie-hex-str($overlay-end-color);
  @include background-image(linear-gradient($overlay-start-color, $overlay-end-color));
  /*For IE7-8-9*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$overlay-start-color-ie}', endColorstr='#{$overlay-end-color-ie}');
}

@mixin share-type-link {
  @include source-sans-pro;
  color: $aside;
  font-size: em(10);
  font-weight: normal;
  white-space: nowrap;
  background: $highlight;
  color: $body;
  @include border-radius(em(5));
  &:hover {
    background: $aside;
    color: $background;
  }
}

/*
  Bottom border style to be used with text titles (e.g. under front-page filter titles)
*/
@mixin title-border {
  border-bottom: 1px solid $highlight;
}