@import "compass/css3/border-radius";

$listing-image-aspect-ratio: 3/2;

/**
  Give `width` and `aspect-ratio` and get back height
*/
@function image-height($width, $aspect-ratio: $listing-image-aspect-ratio) {
  @return $width / $aspect-ratio;
}

/**
  Listing top-right overlay price tag
*/
@mixin listing-price {
  color: $body;
  font-weight: 600;
  min-width: em(50);
  text-align: center;

  position: absolute;
  top: 0;
  right: 0;
  padding: lines(0.2) lines(0.5);

  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  @include border-bottom-left-radius(lines(0.25));
}
