window.ST.Testimonials.update({
id: #{@service.testimonial.id},
content: "#{j render('admin/community_testimonials/testimonial', tx: @service.testimonial.tx, participant: @service.testimonial_participant)}",
error: false
});
