%h4 Tervetuloa Kassiin!
.welcome_text
  %p
    Ankkurin alueen Kassi on osa "Kaupunginosista kyläyhteisöjä" -hanketta, jolla pyritään elävöittämään kaupunginosia ja tarjoamaan asukkaille osallistumisen mahdollisuuksia. Hanke on osa World Design Capital Helsinki 2012 -juhlavuotta. Palvelu jää Ankkurin asukkaiden käyttöön myös juhlavuoden jälkeen.
  %p
    = image_tag "/images/community_images/WDC2012_logo.png", :alt => "World Design Capital Helsinki 2012"
  %p
    %b Yhteistyökumppanit
    %br/
    = link_to "Vesijärven ystävät ry", "http://www.vesku.net"