%h4 Tervetuloa Kassiin!
.welcome_text
  %p
    Ankkurin alueen Kassi on osa "Kaupunginosista kyläyhteisöjä" -hanketta, jolla pyritään elävöittämään kaupunginosia ja tarjoamaan asukkaille osallistumisen mahdollisuuksia. Hanke on osa World Design Capital Helsinki 2012 ja Helsinki 200 vuotta pääkaupunkina -juhlavuosia. Palvelu jää Ankkurin asukkaiden käyttöön myös juhlavuoden jälkeen.
  %p
    = image_tag "/images/community_images/WDC2012_logo.png", :alt => "World Design Capital Helsinki 2012"
  %p
    = link_to image_tag("/images/community_images/Helsinki200v_logo.png", :alt => "Helsinki 200 vuotta pääkaupunkina 2012"), "http://www.helsinki200.fi/"