.button {
  position: relative;
  display: inline-block;
  font-family: var(--Topbar_fontFamily);
  font-weight: 600;
  letter-spacing: 0.35px;
  border-radius: calc(var(--AddNewListingButton_height) / 2);
  overflow: hidden;

  &:hover .backgroundContainer {
    filter: brightness(80%);
  }

  &:active .backgroundContainer {
    filter: brightness(70%);
    box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  }
}

.responsiveLayout {} /* stylelint-disable-line block-no-empty */

.backgroundContainer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: calc(var(--AddNewListingButton_height) / 2);
  transition: filter 100ms ease-in, background-color 100ms ease-in;
  will-change: filter;

  @nest .responsiveLayout & {
    @media (--medium-viewport) {
      display: block;
    }
  }
}

.mobile,
.desktop {
  position: relative;
  padding: 0 var(--AddNewListingButton_textPadding);
  max-width: var(--AddNewListingButton_maxTextWidth);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile {
  height: var(--AddNewListingButton_tabletHeight);
  line-height: var(--AddNewListingButton_tabletHeight);
  display: block;
  transition: filter 100ms ease-in;

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    filter: brightness(70%);
  }

  @nest .responsiveLayout & {
    @media (--medium-viewport) {
      display: none;
    }
  }
}

.desktop {
  display: none;
  color: var(--AddNewListingButton_textColor);
  height: var(--AddNewListingButton_tabletHeight);
  line-height: calc(var(--AddNewListingButton_tabletHeight) - 1px);

  @nest .responsiveLayout & {
    @media (--medium-viewport) {
      display: block;
    }
  }

  @media (--large-viewport) {
    height: var(--AddNewListingButton_height);
    line-height: calc(var(--AddNewListingButton_height) - 1px);
    font-size: var(--AddNewListingButton_textSize);
  }
}
