#news_items_admin_view_title.grid_12.alpha
  %h3= t(".polls")
.grid_6.omega
  #create_news_item_link
    = link_to t(".create_poll"), new_admin_poll_path(:type => "polls")
.clear

#polls_admin_view_list
  - if @polls.size > 0
    = render :partial => @polls, :spacer_template => "listings/listing_spacer"
  - else
    #no_news_found
      = t(".no_polls")
