<%= hidden_field_tag "conversation[conversation_participants][]", @receiver.id %>
<%= hidden_field_tag "receiver", params[:receiver] %>
<div class="form_header">
  <%= t(:title) %>:
</div>
<div class="form_field">  
  <%= f.text_field :title, :class => "message" %>
</div>