<% if @person_conversations.total_pages > 1 || params[:per_page] %>

<div class="links_panel">
  <div class="left_float">
    <div class="links_panel_text">
      <%= t(:show_messages_on_page) %>:
    </div>
  </div>
  <div class="left_float">    
    <%= create_footer_pagination_links(["10", "30", "50", "all"], @pagination_type) %>
  </div>
  <div class="right_float">
    <%= will_paginate @person_conversations, :previous_label => t(:previous), :next_label => t(:next) %>
  </div>    
</div>

<% end %>