<div class="form_container">
  <% fields_for "conversation[message_attributes]", Message.new do |message_form| -%>
  <div class="form_header">
    <%= t(message_content_label) %>:
  </div>
  <div class="form_field">
    <%= message_form.text_area :content, :class => "message", :value => params[:conversation] ? params[:conversation][:message_attributes][:content] : "" %>
  </div>
  <%= message_form.hidden_field :sender_id, :value => @current_user.id %>
  <% end %>
</div>
<div class="form_container">    
  <div id="form_field">
    <%= submit_tag t(:send_message), :onclick => "this.disabled=true,this.form.submit();" %>
  </div>
</div>