.notification{:class => (@unread_notifications.include?(notification) ? "unread" : "")}
  .notification_date
    = l(notification.created_at, :format => :short)
  .notification_content  
    = render :partial => "conversations/notifications/#{notification.type.downcase}", :locals => { :notification => notification }