.icon-with-text-container
  - if status_info[:info_icon_tag].present?
    = status_info[:info_icon_tag]
  - else
    .icon-part{:class => status_info[:info_icon_part_classes]}
  .text-part= status_info[:info_text_part]
