<h1><%= t(:inbox) %></h1>

<table class="listing">

<% if @person_conversations && !@person_conversations.empty? %>
  <%= render :partial => "conversations/conversation", :collection => @person_conversations %>
<% else %>  
<tr>
  <td><%= t(:no_received_messages) %></td>
</tr>
<% end %>

</table>