<%= render :partial => "inbox_header" %>

<% if @person_conversations && !@person_conversations.empty? %>
  <%= render :partial => "conversations/conversation", 
             :collection => @person_conversations,
             :spacer_template => "layouts/dashed_line" %>
<% else %>
  <div id="basic_content">  
    <%= t(:no_received_messages) %>
  </div>  
<% end %>

<%= render :partial => "inbox_footer" %>