<%= render :partial => "inbox_header" %>

<div id="conversations">
  <% if @person_conversations && !@person_conversations.empty? %>
    <%= render :partial => "conversations/sent_conversation", 
               :collection => @person_conversations,
               :spacer_template => "layouts/dashed_line" %>
  <% else %>
  <div id="basic_content">  
    <%= t(:no_sent_messages) %>
  </div>  
  <% end %>
</div>

<%= render :partial => "inbox_footer" %>