= render :partial => "conversations/conversation_header", locals: {other_party: conversation_data[:other_party]}

.centered-section-wide
  = render :partial => "conversations/messages_and_form", locals: {message_form: message_form, message_form_action: message_form_action, messages: messages}
