- align = "left" unless defined? align

%tr
  %td{:align => align || "left", :style => "padding-top: 25px; padding-bottom: 35px;"}
    %font{:size => "4", :color => "#fff", :face => "Helvetica Neue, Arial, Helvetica, sans-serif", :style => "font-size:16px;line-height:25px;"}
      %a{:href => url, :target => "_blank", :class => "email-action-button"}
        = text
