%font{:size => "4", :color => "#5a7d13", :face => "Helvetica Neue, Arial, Helvetica, sans-serif", :style => "font-size:16px;line-height:25px;"}
  %a{:href => url, :target => "_blank", :style => "padding:12px 20px 14px;border-radius:4px;text-decoration:none;background:#c2e972;border:2px solid #5a7d13;color: #5a7d13;"}
    = text
