%tr
  %td
    %table
      %tbody
        %tr
          %td{:width => "25", :align => "left", :valign => "top", :style => "padding-left: 10px;padding-top: 28px;"}
            %font{big_quotation_mark_font}
              &rdquo;
          %td{:align => "left", :valign => "top", :style => "padding-right: 25px;padding-top:15px;padding-bottom: 15px;"}
            %font{quote_font}
              - text_with_line_breaks_for_email do
                = quote
