%font{:size => "4", :color => "#a91a1a", :face => "Helvetica Neue, Arial, Helvetica, sans-serif", :style => "font-size:16px;line-height:25px;"}
  %a{:href => url, :target => "_blank", :style => "padding:12px 20px 14px;border-radius:4px;text-decoration:none;background:#f09f9f;border:2px solid #a91a1a;color: #a91a1a;"}
    = text
