%div{style: "margin-top: 6px; border-bottom: 3px solid #d1c9b4; line-height:3px"}
  &nbsp;
%div{style: "margin-top: 3px; font-size: 0.9em;"}
  = t("emails.common.want_to_control_emails")
  = link_to(t("emails.common.check_your_settings"), @settings_url)
  - if @recipient && @url_params && @url_params[:host].present? && @email_type
    = t("emails.common.or")
    = link_to(t("emails.common.unsubscribe_from_these_emails"), unsubscribe_person_settings_url(@recipient, @url_params.merge({email_type: @email_type, auth: @recipient.new_email_auth_token}))) + "."
