- conversation_url = person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))
- accept_url = accept_person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))
- reject_url = reject_person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.accept_reminder.you_have_not_yet_accepted_or_rejected_request", :date => time_ago(@conversation.created_at.to_date), :title => link_to(@conversation.listing_title, conversation_url)).html_safe

%tr
  %td{:align => "left", :style => "padding-top: 25px; padding-bottom: 25px;"}
    %table
      %tbody
        %tr
          %td{:align => "left"}
            = render :partial => "green_action_button", :locals => { :text => t("conversations.status_link.accept_request"), :url => accept_url}
          %td{:style => "padding-left: 10px;"}
            = render :partial => "red_action_button", :locals => { :text => t("conversations.status_link.reject_request"), :url => reject_url}

%tr
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = link_to t("emails.accept_reminder.show_thread"), conversation_url
