- conversation_url = person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))
- confirm_url = confirm_person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))
- cancel_url = cancel_person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.confirm_reminder.you_have_not_yet_confirmed_or_canceled_request_escrow_automatic_confirmation", :date => time_ago(@conversation.created_at.to_date), :request_link => link_to(@conversation.listing_title, conversation_url), :other_party_full_name => @conversation.offerer.name, :other_party_given_name => @conversation.offerer.given_name_or_username, :days_to_automatic_confirmation => @conversation.automatic_confirmation_after_days).html_safe

%tr
  %td{:align => "left", :style => "padding-top: 25px; padding-bottom: 25px;"}
    = render :partial => "green_action_button", :locals => { :text => t("conversations.status_link.confirm"), :url => confirm_url}

%tr
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = t("emails.confirm_reminder.if_will_not_happen_you_should_cancel_escrow_automatic_confirmation", :cancel_it_link => link_to(t("emails.confirm_reminder.cancel_it_link_text"), cancel_url), :days_to_cancel => @days_to_cancel).html_safe
