%p New contact request:

%p
  Email: #{@contact_request.email}
  %br/
  Country: #{CountrySelect.countries[@contact_request.country.downcase]}
  %br/
  Marketplace type: #{@contact_request.marketplace_type}

%p
  Cheers,
  %br/
  #{service_name} - Contact Request Handling Ropot
