- conversation_url = person_transaction_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.transaction_confirmed.has_marked_request_as_#{@conversation.status}", :other_party_full_name => @conversation.other_party(@recipient).name(@conversation.community), :other_party_given_name => @conversation.other_party(@recipient).given_name_or_username, :request => @conversation.listing.title)

%tr
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = link_to t("emails.accept_reminder.show_thread"), conversation_url
