%tr
  %td.person-name
    %h1= t("emails.common.hi", name: PersonViewUtils.person_display_name_for_type(@recipient, 'first_name_only'))

%tr
  %td.email-content
    %p
      = t("emails.listing_submited_for_review.there_is_a_new_listing_to_review",
        listing_title: @listing.title,
        author_name: @author_name)

= render "action_button-v2", text: t("emails.listing_submited_for_review.review_the_listing"), url: @listing_url

%tr
  %td.email-action
    %p.email-action-help
      = t("emails.listing_submited_for_review.this_is_automatic_message", community: @community_name)
