%tr
  %td.person-name
    %h1= t("emails.common.hi", name: PersonViewUtils.person_display_name_for_type(@recipient, 'first_name_only'))

%tr
  %td.email-content
    %p= t("emails.listing_approved.listing_has_been_approved", listing_title: @listing.title, community: @community_name)

= render "action_button-v2", text: t("emails.listing_approved.view_the_listing"), url: @listing_url

