= t("emails.new_update_to_listing.has_updated_#{@listing.listing_type}_you_follow_in_kassi", :author => @listing.author.name, :listing => @listing.title)

= t("emails.new_update_to_listing.you_can_view_the_changes_in") + " " + @url + "?ref=email"