A new member has joined #{@community.full_name(@person.locale)}.

%div{:style => "margin: 15px 0; padding: 10px; background-color: #d1c9b4;"}
  %b Name:
  = @person.name(@community)
  %br/
  %b Email:
  = @email

This is an automatic message sent from #{@community.full_name(@person.locale)}.
