- url = listing_url(@url_params.merge({:id => @comment.listing.id})) + "#comment#{@comment.id.to_s}"
%tr
  %td.person-name
    %h1= t("emails.common.hi", name: PersonViewUtils.person_display_name_for_type(@recipient, 'first_name_only'))

%tr
  %td.email-content
    %p
      = t("emails.new_comment.has_commented_your_listing_in_kassi", :author => PersonViewUtils.person_display_name(@comment.author, @community), :listing => @comment.listing.title)

= render :partial => "action_button-v2", :locals => { :text => t("emails.new_comment.view_comment"), :url => url}
