%tr
  %td
    = render :partial => "community_mailer/community_update_listing", :locals => { :listing => @listing }

%tr
  %td    
    = render :partial => "action_button", :locals => { :text => t(".view_listing", :scope => @translate_scope), :url => @listing_url}

%tr
  %td{ style: "padding-bottom: 10px; font-size: 12px" }
    = t(".you_are_receiving_this_because", :scope => @translate_scope, :author_name => @author_name)
