%tr
  %td{:align => "left", :style => "padding-top: 15px;"}
    %font{body_font}
      = t("feedback.feedback_body", author_name_and_email: author_name_and_email, service_name: community_name)

= render :partial => "quote", :locals => { :quote => content }
