= t("emails.new_comment.has_commented_your_#{@comment.listing.listing_type}_in_kassi", :author => @comment.author.name, :listing => @comment.listing.title)

***

= @comment.content

***

= t("emails.new_comment.you_can_reply_to_comment_in") + " " + @url + "?ref=email"

