:plain
  #{t(".has_posted_a_new_listing", :scope => @translate_scope, :author_name => @author_name)}

  #{@listing.title}

  #{@listing_url}

  #{t(".you_are_receiving_this_because", :scope => @translate_scope, :author_name => @author_name)}
