- url = person_message_url(@recipient, @url_params.merge({:id => @message.conversation.id.to_s})) + "#message#{@message.id.to_s}"

%tr
  %td{:align => "left"}
    %font{body_font}

      = t("emails.new_message.has_sent_you_a_message_in_kassi", :sender => @message.sender.name(@current_community))

= render :partial => "action_button", :locals => { :text => t("emails.new_message.view_message"), :url => url}
