%p
  Hello there,

%p
  Thanks for your interest in Sharetribe. Would you like to create a marketplace? Just tell me the name of your marketplace by replying to this email and I'll set it up for you. It's completely free. You can upgrade to our premium package later if you wish.

%p  
  If you'd like to know more about Sharetribe and how it works, let me know. I'm also happy to have a chat with you in Skype to talk more about your needs.

%p
  Also, don't hesitate to contact me in any other related matter.

%p  
  Best Regards,
  %br/
  = @country_manager.given_name

%p
  #{"-- "}
  %br/
  - text_with_line_breaks_for_email do 
    = @country_manager.email_signature