%p 
  %b 
   Bonjour et merci pour votre intérêt envers Kassi ! 
%p 
Kassi est un service grâce auquel les membres d'une communauté locale peuvent partager des biens, des services et des transports. Cela peut vouloir dire emprunter la perceuse électrique de son voisin, avoir de l'aide pour ses problèmes informatiques ou faire du covoiturage pour aller travailler.
%p
La première communauté Kassi est en marche sur le campus de l'université Aalto à   = link_to "http://aalto.kassi.eu", "http://aalto.kassi.eu/en?ref=dashboard_email"  
et actuellement nous proposons le même service à d'autres communautés.
%p
Connaissez-vous une communauté au sein de laquelle Kassi pourrait être utile ? Il pourrait s'agir d'une entreprise, d'un quartier, d'un campus universitaire, d'une association ou autres - tout ce que vous pouvez imaginer. Si une idée vous vient à l'esprit, veuillez nous en informer en répondant à cet email !
%p
N'hésitez pas à nous contacter pour toute question liée à la diffusion de Kassi. Nous serions ravis d'en discuter avec vous.

Meilleures salutations,
  %br 
  Juho Makkonen 
  %br 
  Co-fondateur de Kassi