%p 
  %b 
    ¡Hola y gracias por tu interés en Kassi! 
%p 
  Kassi es una herramienta en la que los miembros de comunidades locales comparten productos, servicios y viajes. Podrías pedirle prestado el taladro eléctrico a tu vecino, obtener ayuda para solucionar problemas en tu computador o compartir un viaje en auto al trabajo. 
%p 
  La primera comunidad Kassi ya está en marcha y funciona en el campus de la Universidad Aalto en  
  = link_to "http://aalto.kassi.eu", "http://aalto.kassi.eu/en?ref=dashboard_email"  
  y ahora estamos expandiendo el servicio hacia otras comunidades. 
%p 
  ¿Conoces alguna comunidad en la que Kassi podría ser útil? Podría ser una empresa, un vecindario, un campus universitario, una asociación, o lo que te imagines. Si tienes una en mente ¡por favor cuéntanos cuál es respondiendo este correo electrónico!  
%p 
  Además, no dudes en contactarnos por cualquier asunto relacionado. Estaremos encantados de conversar contigo. 
%p 
  Saludos atentos, 
  %br 
  Juho Makkonen 
  %br 
  Cofundador de Kassi