Γεια σου και ευχαριστούμε για τον ενδιαφέρον σου στο Kassi!

Το Kassi είναι μια υπηρεσία στην οποία τα μέλη τοπικών κοινοτήτων μπορούν να μοιραστούν αγαθά, υπηρεσίες και να συνταξιδέψουν. Αυτό σημαίνει για παράδειγμα να μοιραστεί κάποιος ένα δράπανο από το γείτονά του, να βρει βοήθεια σχετικά με τον υπολογιστή του ή να μοιραστεί το αυτοκίνητό του πηγαίνοντας στη δουλειά.

Η πρώτη κοινότητα Kassi λειτουργεί ήδη στο Πανεπιστήμιο Aalto στη Φινλανδία, στη διεύθυνση http://aalto.kassi.eu, και τώρα επεκτείνουμε την υπηρεσία και σε άλλες κοινότητες.

Γνωρίζεις κάποια κοινότητα στην οποία θα ήταν χρήσιμο το Kassi; Μπορεί να είναι μια εταιρία, μια γειτονιά, μια πανεπιστημιούπολη, ένας σύλλογος, οτιδήποτε! Αν έχεις κάτι κατά νου, παρακαλούμε απάντησε σε αυτό το μήνυμα και ενημέρωσέ μας!

Επίσης, μην διστάσεις να επικοινωνήσεις μαζί μας για οποιοδήποτε σχετικό θέμα. Θα χαρούμε να μιλήσουμε μαζί σου.

Χαιρετισμούς,
Juho Makkonen
Συνιδρυτής του Kassi