%p
  %b
    Hi and thanks for your interest in Kassi!
%p
  Kassi is a service where members of local communities can share goods, services and rides. This might mean borrowing a power drill from your neighbor, getting help for computer problems or sharing a ride to work.
%p
  The first Kassi community is up and running in Aalto University campus at 
  = link_to "http://aalto.kassi.eu", "http://aalto.kassi.eu/en?ref=dashboard_email" 
  and now we are expanding the service to other communities.
%p
  Do you know a community where Kassi could be useful? It might be a company, a neighborhood, a university campus, an association, you name it. If you have one in mind, please let us know by replying to this email! 
%p
  Also don't hesitate to contact us in any other related matter. We'd be happy to have a chat with you.
%p
  Best Regards,
  %br
  Juho Makkonen
  %br
  Co-Founder of Kassi