%p
  Hello there,

%p
  Thanks for your interest in Sharetribe. Would you like to create a marketplace? I'm happy to set one up for you.

%p  
  If you'd like to know more about Sharetribe and how it works, let me know by email: antti@sharetribe.com. I'm also happy to have a chat with you in Skype to talk more about your needs.

%p
  Also, don't hesitate to contact me in any other related matter. I'll be happy to have a chat with you.

%p  
  Best Regards,
  %br/
  Antti 

%p
  #{"-- "}
  %br/
  Antti Virolainen
  %br/
  Co-Founder, Sharetribe
  %br/
  antti@sharetribe.com
  %br/
  http://www.sharetribe.com