Привет и спасибо за интерес к Kassi!

Kassi — это сервис, с помощью которого местные сообщества могут обмениваться вещами, услугами и совеместно использовать транспортные средства. Вы, например, можете взять на время дрель у соседа, получить помощь с компьютером, либо подвезти кого-нибудь по дороге на работу.

Первое сообщество Kassi было создано и работает в студенческом городке Университета Аальто по адресу http://aalto.kassi.eu и теперь мы расширяем наш сервис для использования другими сообществами.

Возможно, вы знаете сообщества, которые бы с пользой могли бы работать с Kassi? Это может быть компания, поселение, студенческий городок, что-угодно-ещё. Если вы знаете о таком сообществе, сообщите о нём нам в ответном письме! 

Кроме того, вы можете связаться с нами и другими способами. Мы будем рады пообщаться с вами!

С наилучшими пожеланиями,
Олег Коптев,
Представитель Kassi в России