Hei ja kiitos kiinnostuksestasi Kassia kohtaan!

Kassi on verkkopalvelu jossa paikallisyhteisöjen jäsenet voivat jakaa keskenään tavaroita, palveluksia ja kyytejä. Tämä voi tarkoittaa poran lainaamista naapurilta, avun saamista tietokoneongelmiin tai matkustamista töihin kimppakyydillä.

Ensimmäinen Kassi-yhteisö on tällä hetkellä toiminnassa Aalto-yliopiston kampuksella osoitteessa http://aalto.kassi.eu ja kuluvana vuonna avataan useita uusia yhteisöjä.

Tiedätkö yhteisön, jonka käytössä Kassi voisi olla hyödyllinen? Se voi olla esimerkiksi yritys, kaupunginosa, yliopiston kampus tai yhdistys. Jos mielessäsi on jokin tällainen yhteisö, kerro siitä meille vastaamalla tähän viestiin!

Älä myöskään epäröi ottaa yhteyttä muissa mieleesi tulevissa asioissa. Keskustelemme kanssasi mielellämme.

Terveisin, 
Juho Makkonen 
Kassin toinen perustaja