%p
  %b
    Hei ja kiitos kiinnostuksestasi Kassia kohtaan!
%p
  Kassi on verkkopalvelu jossa paikallisyhteisöjen jäsenet voivat jakaa keskenään tavaroita, palveluksia ja kyytejä. Tämä voi tarkoittaa poran lainaamista naapurilta, avun saamista tietokoneongelmiin tai matkustamista töihin kimppakyydillä.
%p
  Ensimmäinen Kassi-yhteisö on tällä hetkellä toiminnassa Aalto-yliopiston kampuksella osoitteessa
  = link_to "http://aalto.kassi.eu", "http://aalto.kassi.eu?ref=dashboard_email" 
  ja kuluvana vuonna avataan useita uusia yhteisöjä.
%p
  Tiedätkö yhteisön, jonka käytössä Kassi voisi olla hyödyllinen? Se voi olla esimerkiksi yritys, kaupunginosa, yliopiston kampus tai yhdistys. Jos mielessäsi on jokin tällainen yhteisö, kerro siitä meille vastaamalla tähän viestiin! 
%p
  Älä myöskään epäröi ottaa yhteyttä muissa mieleesi tulevissa asioissa. Keskustelemme kanssasi mielellämme.
%p
  Terveisin,
  %br
  Juho Makkonen
  %br
  Kassin toinen perustaja