%p
  %b
    Привет и спасибо за интерес к Kassi!
%p
  Kassi — это сервис, с помощью которого местные сообщества могут обмениваться вещами, услугами и совеместно использовать транспортные средства. Вы, например, можете взять на время дрель у соседа, получить помощь с компьютером, либо подвезти кого-нибудь по дороге на работу.
%p
  Первое сообщество Kassi было создано и работает в студенческом городке Университета Аальто по адресу:  
  = link_to "http://aalto.kassi.eu", "http://aalto.kassi.eu/en?ref=dashboard_email" 
  и теперь мы расширяем наш сервис для использования другими сообществами.
%p
  Возможно, вы знаете сообщества, которые бы с пользой могли бы работать с Kassi? Это может быть компания, поселение, студенческий городок, что-угодно-ещё. Если вы знаете о таком сообществе, сообщите о нём нам в ответном письме! 
%p
  Кроме того, вы можете связаться с нами и другими способами. Мы будем рады пообщаться с вами!
%p
  С наилучшими пожеланиями,
  %br
  Олег Коптев,
  %br
  Представитель Kassi в России