%p
  = t("emails.common.hey", :name => PersonViewUtils.person_display_name_for_type(@person, "first_name_only"))
%p
  = t("emails.reset_password_instructions.reset_password_instructions", {:username => @person.username, :password_reset_link => link_to(t('emails.reset_password_instructions.change_my_password'), edit_password_url(@person, :reset_password_token => reset_token, :locale => I18n.locale, host: host))}).html_safe

%p
  = t("emails.common.thanks")
  %br/
  = t("emails.common.kassi_team")
