- conversation_url = person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))
- give_url = new_person_message_feedback_url(@recipient, @url_params.merge({:message_id => @conversation.id}))

%tr
  %td.person-name
    %h1
      = t("emails.common.hi", name: PersonViewUtils.person_display_name_for_type(@recipient, 'first_name_only'))
      = t("emails.testimonial_reminder_v2.headline", other_name: PersonViewUtils.person_display_name_for_type(@other_party, 'first_name_only'))

%tr
  %td.email-content
    %p
      = t("emails.testimonial_reminder_v2.you_have_not_given_feedback_yet", :name => PersonViewUtils.person_display_name(@other_party, @conversation.community), :event => link_to(@conversation.listing_title, conversation_url), :given_name => PersonViewUtils.person_display_name_for_type(@other_party, "first_name_only")).html_safe

= render :partial => "action_button-v2", :locals => { :text => t("emails.testimonial_reminder_v2.leave_feedback", :other_party_name => PersonViewUtils.person_display_name_for_type(@other_party, "first_name_only")), :url => give_url }
