= t("emails.testimonial_reminder.you_have_not_given_feedback_yet", :name => @other_party.name, :event => @participation.conversation.title, :given_name => @other_party.given_name_or_username)

%br/
%br/

= t("emails.new_testimonial.you_can_give_feedback_to", :name => @other_party.given_name_or_username)
= link_to(@url, @url + "?ref=email")

%br/
%br/

= t("emails.testimonial_reminder.feedback_is_public_and_is_shown", :name => @other_party.name)