%p
  Welcome to Kallio Sharetribe! Here are some tips to get you started.

%p
  %b
    1) Update your profile. 
  Adding your real name and profile picture and telling something about yourself will make you appear more trustworthy. Adding your contact details will make things easier for you, since you don't have to add them separately each time you create a new listing. 
  = link_to("Update your information here", "#", :style => "color: #d96e21;text-decoration:none;") + "."

%p
  %b
    2) Add something you could offer to others to Sharetribe. 
  Could you lend your power drill, your tennis racket or your fondue pot? Do you like to sew, assemble furniture or fiddle with computers? Is there some things in your closet you want to get rid off? Add them all to Sharetribe!

%p
  %b
    3) Is there something you need right now? 
  Perhaps you would like to share a ride? Or borrow some tools? Or need someone to walk your dog? The first thing to do is to search Sharetribe: maybe someone is already offering what you need. If you don't find what you're looking for, you can post a new request.

%p
  %b
    4) Invite your friends. 
  The more people there are in Kallio Sharetribe, the more helpful the community is for everyone.  Do you know people who might be interested in joining? Tell them about Sharetribe by using our easy invite form or sending them this link: http://kallio.sharetribe.com

%p
  %b
    5) Get our mobile app. 
  Did you know that you can use Sharetribe on the go? Now it's easier than ever to add listings by simply taking photos of things you own, and seeing what others are doing near you. If you have an iPhone, you can download the app from the App Store. For Android and Windows Phone, try our responsive mobile web app.

%p
  %b
    6) Go explore! 
  See what others are already offering and requesting in Sharetribe. Maybe you'll find something you need. Maybe you could help someone else out. Have fun!

%p
  Love,
  %br/
  %i
    The Sharetribe Crew

%p
  P.S. Did you know you can create a Sharetribe marketplace for any community you belong to, for free? Click here to find out more!