= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) }

.left-navi-section.settings-section
  #payment-help-checkout-exists
    %p
      =t("organizations.form.merhcant_registration_done", locale: :fi)
    %p
      =t("organizations.form.merhcant_registration_done_instructions", locale: :fi).html_safe
