%p
  By joining the Kassi community of Otaniemi International Network (OIN) you are automatically added to the 
  = link_to "OIN Newsletter", "http://www.otaniemi.fi/portal/otaniemi_international_network/"
  subscribers. You can unsubscirbe from the newsletter anytime by contacting info [at] otaniemi.fi.