%h3= t("homepage.blank_slate.examples_of_what_you_could_#{slate_type}_to_others")
- if slate_type == "request"
  %p
    Struggling before an exam? Check our grind listings!
  %p
    Need a place to stay? Leave a request for an apartment!
  %p
    Do you have a long drive to class? Maybe someone wants to share a ride?
- else
  %p
    Don’t want to sell your old course books? Try renting them! 
  %p
    Do you play an instrument? See if someone wants a lesson!
  %p
    Want to get rid of old furniture? Put them up for sale!