#statistics
  %h1
    Statistics

  - if @current_community
    %h2
      Community:
      = @current_community.name(I18n.locale)

    - if @community_stats
      = render :partial => "statistics",  :locals => { :stats => @community_stats }
    - else
      %p
        Community statistics are not available.
