%p 
  Sharetribe ist ein social media Service der es seinen Benutzern erlaubt Gefallen und Gegenstände zu tauschen und miteinander zu kommunizieren.  Die Sharetribe-Dienst kann nur in Übereinstimmung mit diesen Nutzungsbedingungen verwendet werden.Der Dienstanbieter behält sich das Recht vor, diese Nutzungsbedingungen zu ändern, falls erforderlich. Geltenden Nutzungsbedingungen können auf der Sharetribe Webseite gefunden werden.
 
%h3 Inhaltsrechte
 
%p 
  Die Nutzer selbst behalten das Recht auf den gesamten Text, Bilder und andere Inhalte, die sie in diesem Dienst erstellen. Die Benutzer erlauben die Verwendung durch andere in Übereinstimmung mit den Nutzungsbedingungen und erlauben desweiteren dem Dienstanbieter Informationen und Daten zu speichern und Änderungen Vorzunehmen die benötigt werden für den Dienst oder für die Studie, jedoch werden andere Rechte des Nutzers nicht transferiert, sofern dies nicht ausdrücklich vereinbart wurde. Die Verantwortung des Inhalts behält der Benutzer, der diesen Inhalt in diesem Dienst produziert hat. Der Dienst behält sich das Recht jegliche Inhalte zu entfernen, sofern benötigt.
 
%h3 Haftungsausschluss
 
%p 
  Es wird keine Garantie gegeben dass der Sharetribe Dienst funktioniert. Die Benutzer sind selbst verantwortlich für ihre Handlungen in diesem Dienst und sollten sollten die Zuverlässigkeit anderer Benutzer selbst einschätzen bevor sie mit diesen zusammenarbeiten. Der Dienstleister kann unter keinen Umständen haftbar gemacht werden für Schäden, die der Benutzer verursacht hat. Der Benutzer kann keine Informationen in diesem Dienst speichern und erwarten dass diese dort bleiben.
 
%h3 Die Entfernung eines Benutzers 
 
%p 
  Der Dienstanbieter behält das Recht jegliche Benutzer aus Sharetribe und jegliche Rechte zur Nutzung des Dienstes zu entfernen, ohne einen bestimmten Grund zu nennen und ohne Schadenersatzpflicht.
 
%h3 Geltende Jurisdiktion
 
%p 
  Die geltende Rechtssprechung dieses Dienstes und der Nutzungsbestimmungen gehören dem finnischen Recht, es sei denn etwas anderes wird durch das verbundene Gesetzt benötigt.
   
%h3 Zustimmung zur Studie 
 
%p 
  Daten werden durch die Nutzung von Sharetribe gesammelt und die Service-Provider können die Daten zu den Forschern für wissenschaftliche Studien Zwecke weitergeben. Wenn die Ergebnisse der Studien veröffentlicht werden, werden die Daten in anonymisierter Form vorgelegt , so dass einzelne Benutzer nicht erkannt werden können. Durch das akzeptieren dieser Bestimmungen gibt der Benutzer seine Zustimmung zur Forschungsstudie die unten erläutert wird. 
 
.consent 
  %h3 SCHRIFTLICHE ZUSTIMMUNG ZUR STUDIE
  %br/ 
  %p 
    Durch meine Zustimmung bestätige ich meine freiwillige Teilnahme an einer Studie, die zum OtaSizzle Projekt gehört. 
 
  %p 
    Ich habe die nachfolgende Beschreibung der angehängten Forschung mit dem Titel "Informationen für Teilnehmer einer wissenschaftlichen Forschung" verstanden, und bestätige dass ich ausreichende Informationen über die Studie erhalten habe und habe ausserdem die Möglichkeit, Fragen zu der Studie zu stellen (und ob die Informationen den Test betreffen der mir versichert wurde nachdem ich die Studie beendet habe).
 
  %p 
    Ich bin bereit, den Anweisungen der Forschern vor, während und nach der Studie zu befolgen.
 
  %p 
    Ich bin damit einverstanden, dass meine persönlichen Daten in der Art und Weise, wie es in der Forschungs-Beschreibung beschrieben wurde, verarbeitet werden.
 
  %p 
    Mir ist bewusst dass ich das Recht habe meine Teilnahme an der Prüfung jederzeit zurückzuziehen, ohne einen Grund angeben zu müssen,und ohne irgendwelche Fragen während oder nach der Studie beantworten zu müssen.
 
  %p 
    Für weitere Informationen zur Studie oder bei Fragen kontaktieren Sie bitte: 
 
  %p 
    %br/ 
    Projektipäällikkö Olli Pitkänen (olli.pitkanen (ät) hiit.fi) 
    %br/ 
    Professori Martti Mäntylä (martti.mantyla (ät) hiit.fi) 
 
  %p 
    Aalto University / Helsinki Institute for Information Technology, HIIT  
    %br/ 
    Innopoli 2,  
    %br/ 
    Tekniikantie 14, 
    %br/ 
    PL 19215,  
    %br/ 
    00076 Aalto 
    %br/ 
    %br/ 
    Tel.: +358 (0)9 4511 
   
.consent 
  %h3 Informationen für Teilnehmer einer wissenschaftlichen Forschung
  %br/ 
  %p 
    %b Dieses Dokument beschreibt den Zweck, den Fortschritt und andere Aspekte der Studie, wie sie von den ethischen Regeln der Forschung an menschlichen Probanden erforderlich ist, und wie sie in der HIIT Ethikkommission verordnet ist. Die Ethikkommission gewährt die menschliche Forschung zur Durchführung dieser Studie so wie sie in diesem Dokument angegeben wurde und mit den aufgelisteten Methoden.  
 
  %h4 EInladung
 
  %p  
    Sie sind eingeladen Teil einer wissenschafltichen Studie zu sein, geführt von Professor  Martti Mäntylä der Helsinki Institute for Information Technology (HIIT), eine gemeinsame Forschungseinrichtung der Helsinki University of Technology und der University of Helsinki. Die Studie bildet einen Teil des OtaSizzle Projekt im MIDE Programm der Helsinki University of Technology. Die Studie umfasst mehrere Probanden.
 
  %h4 Zweck der Forschung 
  %p  
    Im Einklang mit dem Projekt zu dem es gehört, untersucht diese Studie Social Media Dienste und die Nutzung dieser Dienste. Durch das Sammeln von Informationen unserer Probanden, hoffen wir zu erfahren was für die Nutzer am wichtigsten ist. Das ultimative Ziel dieser Studie ist es Ergebnisse zu produzieren die genutzt werden können um bessere Dienste zu erstellen.
 
  %h4 Risiken und Beschwerden 
  %p  
    Die Methoden die in dieser Studie verwendet werden stellen kein größeres Risiko für die Probanden dar, als den normalen Gebrauch von Computern und Handys. Die Interviews und Befragungen dieser Studie können Sie überspringen falls diese Ihnen unbequem sind. Beobachtungen der Handlungen des Nutzers "in ihrem Bereich", in ihrem täglichen Leben, können auch in die Studie einbezogen werden. Über diese Art von Studie wird im Vorraus informiert und die Beobachter stellen sich den Probanden vor und erklären ihnen die Forschund und die Methoden. Die Beobachtung ist nicht obligatorisch und Sie können die Teilnahme ablehnen.
 
  %h4 Vorteile für Teilnehmer und die Community
  %p  
    Neben dem Nutzen der tatsächlichen Dienste, gibt es keine anderen besonderen Nutzen aus der Teilnahme an der Studie. Obwohl Sie keinen persönlichen Vorteil aus der Teilnahme erhalten, glauben wir dass Dank Ihrer Teilnahme an dieser Studie, es in Zukunft möglich ist noch bessere Dienste zu entwickeln und zu erstellen.
 
  %h4 Vertraulichkeit
  %p  
    Während der Studie, werden wir Daten über Sie und Ihrer Nutzung der Dienste sammeln. Die Daten werden zum Teil durch direkte Fragen an Sie und durch Beobachten Ihrer Handlungen gesammelt, und ausserdem  sammeln wir einige Informationen automatisch während der Benutzung des Dienstes. Alle Daten über Sie, die während der Studie gesammelten werden, werden vertraulich behandelt und sind nur von MItarbeitern des Forschungsprojekts und mögliche Dritte die für die Wartung des Dienstes verantwortlich sind zugänglich. Daten in Bezug auf Sie wird nur in Kombination mit anderen Daten verwendet. In der Analyse werden Daten mit Hilfe von Telefonnummern, IMEI Codes und anderen Identifikatoren zusammengetragen. Falls die Unterhaltung des Dienstes nach der 5-jährigen Forschungsphase beendet wird, so werden alle identifizierbaren Forschungsdaten am Ende des Projekts gelöscht. Wann immer die Forschungsergebnisse veröffentlicht oder verarbeitet werden, so werden individuelle Testobjekte nicht genannt und können durch die Daten auch nicht identifiziert werden. Es gibt eine öffentlichen Daten Beschreibung die erklärt wie die Daten verarbeitet, gespeichert und schließlich zerstört werden. 
  %p  
    Diese Forschung steht im Einklang mit dem finnischen Gesetz über personenbezogene Daten (523/1999), die auf EU-Gesetzgebung basiert.
 
  %h4 Teilnahme und Annulierung 
  %p  
    Wenn Sie an der Studie teilnehmen möchten, haben Sie das Recht Ihre Teilnahme jederzeit ohne Folgen zu kündigen. Ausserdem haben Sie das Recht Fragen die Ihnen gestellt werden können nicht zu beantworten, und können trotzdem an der Studie weiter teilnehmen. In dem unwahrscheinlichen Fall, und sollten es die Umstände  erfordern, hat die Forschungs-Direktor das Recht, Ihre Teilnahme kurzfristig absagen. 
  %h4 Kontaktdaten des Forschers 
  %p  
  Für weitere Informationen zur Studie oder bei Fragen kontaktieren Sie bitte:
  
  %p  
    Aalto University / Helsinki Institute for Information Technology 
 
  %p  
    Forschungs-Direktor: 
    %br/ 
    Professor Martti Mäntylä 
    %br/ 
    Tel.: +358 (0)9 4511 
    %br/ 
    Email: martti.mantyla (ät) hiit.fi 
 
  %p  
    Praktische Angelegenheiten: 
    %br/ 
    Projekt Manager Olli Pitkänen 
    %br/ 
    Tel.: +358 (0)9 4511 
    %br/ 
    Email: olli.pitkanen (ät) hiit.fi