%p
  The terms of use laid hereunder have for purpose to set the rules regarding the access and use of Boulevard-21’s services, hereafter referred to as « the Site » and terms of use applicable to its users.
%p
  Access and use of the Site entails a full agreement and respect of those terms without reserves. They represent a contract between the Site and the User. 
%p
  In case the User should refuse to agree in full or in part to those terms, the User is kindly asked to renounce to using the Site. Boulevard-21 holds the right to exclude any User that would not comply with those terms.
%p
  Boulevard-21 holds the possibility to modify those terms at any time and without notice in order to keep them in line with the evolution of the Site and the services operated.

%h2 1. Définitions
%p
  Site: stands for www.boulevard-21.com 
%p
  Visitor: stands for a person reaching the Site that doesn’t have an account or isn’t identified as such while browsing the Site
%p
  User: stands for a person that accepts the present terms of use and who has created an account in order to use the services offered by the Site 
%p
  Ad: stands for any post published by a User with the aim to rent or sublet a flat, or to find a flatmate

%h2 2. National Committee for Liberties ("CNIL")
%p
  Boulevard-21 shall not sell any data communicated by the User to any third party without the prior consent from the User, even under anonymous form, and shall use this data with the sole purpose to produce statistics directly related to the services operated by the Site.
%p
  In compliance with the French Act (law n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés), the User is granted a right to access his data, and to demand the modification or deletion. For the User to apply this right, he simply send an email to contact@boulevard-21.com. The data stored and processed by Boulevard-21 (name and contact details of the User, academic or professional situation, rent and information about the rental situation of the User) are collected with the aim to create a database of potential prospects and to produce statistics about the rental market in the cities covered by Boulevard-21. 
%p 
  Boulevard-21 resorts to cookies to produce statistics related to its audience and the activity of its Users on the Site. A cookie can’t be used to identify a User and is deleted after each deletion of the temporary files by the User. The User can refuse the use of these cookies by clicking the tab « tools » or the browsing preferences of its browser in order to configure it so as to disable cookies.

%h2 3. Access to the Site
%p
  The access to the Site is granted for free and is open to any Visitor with an Internet access. All the costs incurred to have access to the Site, such as hardware, softwares, Internet connection are fully borne by the User. He is the only one responsible for the proper operations of his computer and Internet access.
%p
  Boulevard-21 thrives to offer access to its services 24/7. However despite its diligence, Boulevard-21 shall not guarantee any level of availability, nor any level of performance performance in terms of response or quality of the services offered. There is no plan to offer assistance to its Users by any means. As a consequence, Boulevard-21 responsibility shall not be called for in case of unavailability of its services.
%p
  Boulevard-21 holds the right to shutdown the access to its Site at any time, partly or totally, without notice, and without right to indemnification from its Users. The User acknowledges and agrees that Boulevard-21 is not responsible for the downtimes, and is not responsible for the consequences borne by the User or any third party due to those downtimes.

%h2 4. Access to the Service
%p
  Registration is free of charge, as well as the possibility to post or comment an ad, and to contact another user. The registration shall be confirmed as soon as the User provides Boulevard-21 with the email address granted by the User’s College. Email domains accepted evolve depending on the partnerships struck by Boulevard-21. Boulevard-21 holds the right to accept or deny college domains on a discretionary basis.
%p
 Boulevard-21 holds the right to offer complementary services to its users for a fee, on a freemium model.
%p
  In exchange for the access to the Site’s services, the User commits to respond to Boulevard-21 surveys aimed at producing statistics about the rental situation of its Users, via electronic forms or any other tools deemed suitable by Boulevard-21. 
%p
  However, Boulevard-21 holds the right to deny the access to its services to any person, in case but not limited to, where the User doesn’t comply with the present Terms.

%h2 5. Posting an ad
%p
  The User willing to post an ad commits to:
%p
  Promote a place that is decent and in compliance with the housing regulation
%p
  Engage in no form of discrimination in the choice of the tenant, flatmate, or subtenant
%p
  Publish sincere and reliable information (including the pictures) about the place offered
%p
  Keep from publishing offensive, pornographic, racist, sexist, homophobic material, or more broadly any content that is not compliant with the French Law

%h2 6. Limitations to liability
%p
  Boulevard-21 shall not be held responsible for the content published by the User, should it be in the Ads posted or withing the messages sent via its messaging system, nor should it be concerned by any litigation that might occur between its Users. In particular:
%p
  It is recalled that the Landlord remains the sole decision-maker when it comes to contracting with a candidate. Hence, the User shall not consider the user of the Site’s services as guarantee to see his application accepted by another User, the latter being either a tenant, a flatmate, a subtenant, or the landlord. Reciprocally, a User that has published an ad and contracted with another User, shall not consider Boulevard-21 responsible for any conflict occuring before, during, or after the contract life.
%p
  For that matter, it is especially recalled that the Users are supposed to comply with the housing regulation applicable in the country of the ad promoted. In France, in the case of a subletting of a non-furnished place, the main tenant is bound to have a written consent from the landlord before subletting his place. Should he fail to meet this obligation, the landlord is entitled to renege the lease and ask for compensation. In case where he succeeds to have the consent from the landlord, the amount of the subrent, expressed in euros per square meter, shall not exceed the main rent.
%p
  Boulevard-21 thrives to produce, publish, or curate reliable, accurate, and relevant content. However, Boulevard-21 shall not be held responsible for any error and the consequences that might arise from this error, should it be in its own pieces of content or in the pieces of content from third parties shared by Boulevard-21. Information are shared on an indicative basis, hence Boulevard-21 shall not be held accountable in case of omission or error in the elements transmitted to its Users, regardless of the channel used, of which but not limited to, the Site, the newsletters, the Facebook page and group, the Twitter account.

%h2 7. Intellectual Property
%p
  The general structure of the Site, along with the content, including but not limited to the texts, graphs, images, audio and video, are the property of Boulevard-21. Any representation and/or reproduction and/or use of the contents and services offered by the Site, in part or in full, by any mean, without Boulevard-21’s and/ or Boulevard-21’s partners’ prior written consent, is striclty prohibited and constitutes an infrigiment as considered per the French law (art. L335-2 and further of the « Code de la propriété intellectuelle »).
%p
  "Boulevard-21 » is a registered trademark. Any representation and/or reproduction and/or use of this trademark, in part or in full, by any mean, without Boulevard-21 written consent is striclty prohibited.

%h2 8. Privacy and data protection
%p
  Data is collected and stored in order to enable direct communication between Boulevard-21 and its members, as well as to enable Boulevard-21 to operated its different services. Personal data is displayed on the User profile page, but this data is filled on a volontary basis (except for the first name).
%p
  The processing of this data and personnal detail is not outsourced, but the data communicated upon the registration are stored on a server hosted by a third party.
%p
  The information collected and stored is:
%p
  The User’s personal details: name, email address, phone number, postal address
%p
  The User’s account details : username, password (protected) 
%p
  All the information shared by the User on a volontary basis
%p
  The ads posted by the User
%p
  The feedback and comments sent and received by the User
%p
  The statistics regarding the use of the Site by the User, eg., the number of connections
%p
  The data regading the rental situation of the User, collected via electronic forms 

%h3 Filling out of personnal information
%p
  Personnal details are communicted by the User upon his registration or later during the use of the Site. The User can modify those details at any time.

%h3 Transfer of information beyond the European Union and EEC
%p
  The information might be stored on server located inside or outside the EU or EEC.

%h3 Host’s guidelines with regards to data protection
%p
  Information is stored on computers. The access to this information is protected by password, and the physical access to those computers is strictly limited to the host.

%h2 9. Headquarter
%p
  Boulevard-21
%p
  12 rue Vivienne - Lot 3
%p
  75002 Paris

%h2 10. Contact
%p
  contact@boulevard-21.com

%h2 11. Legal representative et director of publication
%p
  Thomas Laforet

%h2 12. Incorporation
%p
  Company incorporated at the « Registre du commerce et des sociétés de Paris » under the numer : 794 243 436 
%p
  « Société par actions simplifiée » with an equity of : 10.000 euros
%p 
  N° SIRET : 794 243 436 00019

%h2 14. Hosting
%p
  1&1 Internet SARL
%p
  7, place de la Gare BP 70109
%p
  57201 Sarreguemines Cedex
%p
  0970 808 911

%h2 15. CNIL
%p
  This Site has been declared and registred with the « Commission Nationale Informatiques et Liberté » in France on July 15th, 2013 under the licence 1687593

%h2 16. Terms of use related to the Sharetribe platform
%p
  #{service_name} is an online service based on the Sharetribe platform. The terms of use of Sharetribe, laid hereunder, are applicable while using  #{service_name} services.
%p
  Sharetribe is a social media enabling its Users to exchange services and goods while communicating with one another. The Sharetribe service can only be used in accordance with those terms. The service provider holds the right to change those terms if need be. The up to date terms can be found on Sharetribe website at any time.

%h3 Rights over the content
%p
  The Users own all the rights on the texts, images, and other content they published while using the service. Thu Users allow other Users to use this content in accordance with the purpose of the service, and they allow the service provider to sort this information and data, and to carry out modifiations for the sake of its operations or studies.

%h3 Disclaimer and limitation of liability
%p
  No guarantee is given by Sharetribe with regard to the proper functionning ang availability of its service. The Users remains responsible for their actions withing the service and shall assess the reliability of other Users before engaging with them. The service provider shall not be held accountable for any damage caused to the User. The User shall not store any information or data based on the assumption that this data will be kept. 

%h3 Ban of a User
%p
  Sharetribe and Boulevard-21 hold the right to ban a User and delete his account, and to decide of the extent of the rights of use granted to any User without specific reason and without opening any right to any form of compensation.  

%h3 Applicable Jurisdiction 
%p
  The jurisdiction applicable while using the Site is that of France