%p
  Касси — это социальный медиасервис, позволяющий пользователям обмениваться товарами и услугами и общаться между собой. Сервис Kassi может использоваться только в соответствии с данными правилами. Владелец сервиса оставляет за собой право изменять данные правила, если это будет необходимо. Действующие правила использования доступны на вебсайте Kassi.

%h3 Права на содержимое

%p
  За пользователями удерживаются авторские права на всю текстовую информацию, изображения и прочее содержимое, созданное при использовании этого сервиса. Пользователи позволяют использовать данное содержимое другим, в рамках, обусловленных самим характером работы сервиса, и далее, позволяют владельцам сервиса сохранять информацию и данные, а также вносить необходимые для работы сервиса или проведения исследования изменения, при этом прочие права не передаются от пользователей, за исключением специально оговорённых случаев. Ответственность за содержимое лежит на пользователе, размещающем его на сервисе. Владелец сервиса имеет право удалить любое содержимое, если посчитает это необходимым.

%h3 Отказ от ответственности

%p
  Не даётся никаких гарантий по функционированию сервиса Kassi. Пользователи сами ответственны за свои действия на сервисе и должны сами оценивать степень доверия других пользователей перед совершением с ними каких-либо сделок. Владелец сервиса ни при каких обстоятельствах не несёт ответственности за ущерб, причинённый пользователю во время использования им данного сервиса. Пользователь не должен рассчитывать на то, что любая информация, хранимая им на сервисе будет располагаться там постоянно.

%h3 Удаление пользователя 

%p
  Владелец сервиса имеет право удалить учётную запись любого пользователя Kassi и прекратить их право пользования сервисом без объяснения причин и не неся ответственности за компенсацию ущерба, вследствие этого факта.

%h3 Юрисдикция

%p
  Юрисдикцией данного сервиса и правил его использования является территория Финляндии, за исключением случаев, оговариваемых в соответствующих законах.
  
%h3 Методы исследования

%p
  Данные, получаемые от использования Kassi и от провайдера службы, могут служить источником научной информации для исследователей. При публикации результатов исследований, все данные будут обезличены таким образом, чтобы исключить идентификацию какого-либо частного пользователя. Соглашаясь с данными условиями, пользователь также подтверждает своё ознакомление с деталями проведения исследования, представленными далее.

.consent
  %h3 ПИСЬМЕННОЕ СОГЛАСИЕ НА УЧАСТИЕ В ИССЛЕДОВАНИИ
  %br/
  %p
    Соглашаясь с данным документом, я подтверждаю своё добровольное участие в исследовании в рамках проекта OtaSizzle.

  %p
    Я прочёл и понял прилагаемое описание исследвания, озаглавленное «Информация для участников научного исследования», и подтверждаю, что я получил достаточное количество информации об исследовании и имел возможность задать все интересующие меня вопросы касательно исследования (а также, если какая-либо информация повлияет на исследование, я осведомлён, что смогу иметь такую возможность после проведения исследования).

  %p
    Я согласен следовать инструкциям, касаемых проведения исследования и предоставляемым исследователями до, во время и по окончании исследования.

  %p
    Я согласен с тем, что данные обо мне могут обрабатываться способами, указанными в описании проекта.

  %p
    Я предупреждён о том, что могу прекратить своё участие в проекте в любой момент времени без объяснения причин, и могу отказаться отвечать на любые вопросы, заданные до, во время и после исследования.

  %p
    Для получения дополнительной информации об исследовании, либо в случае возникновения дополнительных вопросов, обращайтесь:

  %p
    %br/
    Руководитель проекта Olli Pitkänen (olli.pitkanen (на) hiit.fi)
    %br/
    Профессор Martti Mäntylä (martti.mantyla (на) hiit.fi)

  %p
    Aalto University / Helsinki Institute for Information Technology, HIIT 
    %br/
    Innopoli 2, 
    %br/
    Tekniikantie 14,
    %br/
    PL 19215, 
    %br/
    00076 Aalto
    %br/
    %br/
    Тел.: +358 (0)9 4511
  
.consent
  %h3 Информация для участников научного исследования
  %br/
  %p
    %b Этот документ содержит данные о цели, методах и других аспектах исследования, как того требуют этические нормы проведения исследований с привлечением людей, и как это регулируется Комитетом этики Института информационных технологий г. Хельсинки (HIIT). Комитет этики одобрил проведение подобного исследования в рамках и для достижения целей, ограниченных данным документом и с помощью методов, также изложенных в нём.

  %h4 Приглашение

  %p 
    Вы приглашаетесь принять участие в научном исследовании, возглавляемом профессором Института информационных технологий г. Хельсинки (HIIT) Мартти Мантила (Martti Mäntylä), и проводимым совместно Технологическим университетом г. Хельсинки и Университетом г. Хельсинки. Это исследование является частью научного проекта OtaSizzle в рамках программы MIDE, Технологического университета г. Хельсинки. Исследование включает в себя несколько предметов исследования.

  %h4 Цель исследования
  %p 
    Также, как и проект, в который оно входит, это научное исследование посвящено изучению социальных медиасервисов и их использования. Собирая информацию об объектах исследования, мы надеемся определить главные приоритеты пользователей этого сервиса. Главной целью исследования является получение результатов, которые могут быть впоследствии использованы при разработке и создании ещё более лучших сервисов.

  %h4 Риски и неудобства
  %p 
    Методы, используемые для проведения исследования представляют для пользователя не больше риска, чем повседневное использование компьютера и мобильных устройств. Во время проведения возможных опросов и интервью вы можете опускать любые вопросы, при ответе на которые вы будете чувствовать себя некомфортно. В исследование также может быть включено наблюдение за действиями пользователей в реальной жизни. Об этом будет заранее сообщено и исследователи представятся лично наблюдаемым для того, чтобы рассказать им об исследовании и способах его проведения. Таковое наблюдение не является обязательным и вы будете иметь право прекратить участие в нём в любой момент времени. 

  %h4 Выгода для участников и сообщества 
  %p 
    Нет никаких выгод от участия в данном исследовании, кроме возможной выгоды от использования данного сервиса. Хотя лично вы не будете получать никакой материальной отдачи от участия, мы верим, что будучи частью проекта, вы способствуете получению информации, которая сможет быть полезной при создании и разработке подобных сервисов в будущем.

  %h4 Конфиденциальность
  %p 
    В период проведения исследования мы будем собирать данные о вас и использовании вами сервиса. Данные будут собираться частично по прямому запросу и наблюдению за вашими действиями, но также и путём автоматического получения информации об использовании сервиса. Все собранные во время исследования данные рассматриваются как сугубо конфиденциальные и будут доступны только членам исследовательской группы, а также, возможно, третьим лицам, ответственным за обеспечение нормального функционирования сервиса. Данные, имеющие отношение лично к вам используются только в сочетании с другими данными. При проведении анализа, данные будут сопоставляться по номерам телефонов, кодам IMEI, либо другим идентификаторам. Если работа сервиса будет прекращена по прошествии пяти лет, отведённых на этот исследовательский проект, вся идентифицируемые исследовательские данные будут уничтожены, по крайней мере со стороны проекта. В не зависимости от способа открытия результатов проекта (публикация, использование в других научных проектах, либо каким-либо другим способом), персональные данные не будут разглашены, и не смогут быть идентифицированы в этих результатах. В общем доступе размещены данные, в которых описан процесс обработки, хранения и уничтожения данных.
  %p 
    Этот исследовательский проект соответствует Закону о защите личной информации Финляндии (523/1999), который основан на законах Европейского Союза.

  %h4 Участие и прекращение участия 
  %p 
    Если вы решите принять участие в проекте, вы имеете право прекратить своё участие в любой момент времени, без всяких исключений. Кроме того, вы имеете право не отвечать на любые вопросы, на какие посчитаете нужными не отвечать, при этом оставаясь в проекте. В крайних случаях, если этого потребуют обстоятельства, руководитель исследования имеет право прекратить ваше участие в исследовательском проекте.
  %h4 Контактная информация
  %p 
    Для получения дополнительной информации об исследовании, либо по любым другим вопросам, обращайтесь:

  %p 
    Университет Aalto / Институт информационных технологий, Хельсинки

  %p 
    Руководитель исследования:
    %br/
    Профессор Martti Mäntylä (Мартти Мантила)
    %br/
    Тел.: +358 (0)9 4511
    %br/
    Email: martti.mantyla (at) hiit.fi

  %p 
    Исполнители:
    %br/
    Управляющий проекта Olli Pitkänen (Олли Питканен)
    %br/
    Тел.: +358 (0)9 4511
    %br/
    Email: olli.pitkanen (at) hiit.fi