%p
  Sharetribe là một dịch vụ xã hội đa phương tiện cho phép người dùng thay đổi sự trợ giúp, khoản mục và giao tiếp với nhau. Dịch vụ Sharetribe chỉ có thể được sử dụng thích hợp với những điều khoản người dùng. Nhà cung cấp dịch vụ giữ quyền thay đổi những điều khoản người dùng này nếu được yêu cầu. Các điều khoản người dùng hợp lệ có thể tìm thấy từ website của Sharetribe.

%h3 Quyền nội dung

%p
  Người dùng giữ lại toàn bộ văn bản,hình ảnh và nội dung khác mà họ tạo tại dịch vụ. Người dùng cho phép sử dụng nội dung thích hợp với tự nhiên của dịch vụ và hơn nữa cho phép nhà cung cấp dịch vụ sắp xếp thông tin và dữ liệu và thay đổi những thứ cần thiết với dịch vụ hoặc nghiên cứu, tuy nhiên các quyền khác không chuyển giao từ các người dùng, trừ khi được đồng ý riêng nào đó. Trách nhiệm về nội dung được xem là hợp lệ với người dùng, người đã tạo ra nó tại dịch vụ. Nhà cung cấp dịch vụ có quyền xóa bỏ bất kỳ tài liệu nào khi cần thiết.

%h3 Việc từ bỏ

%p
  Không có sự đảm bảo về chức năng của dịch vụ Sharetribe được đề ra. Người dùng tự có trách nhiệm đối với các hành động của mình tại dịch vụ và họ nên ước lượng sự tin cậy đối với người dụng khác trước khi giao du với họ. Dùn trong hoàn cảnh nào nhà cung cấp dịch vụ có thể có khả năng xảy ra việc thiệt hại gây ra đối với người dùng. Người dùng không thể lưu bất kỳ thông tin hoặc dữ liệu nào tại dịch vụ.

%h3 Xóa bỏ một người dùng 

%p
  Nhà cung cấp dịch vụ có quyền xóa bỏ bất kỳ người dùng nào từ Sharetribe và chấp dứt quyền sử dụng của họ mà không cần đưa ra lý du cụ thể nào và không chịu trách nhiệm cho việc bồi thường.

%h3 Quyền thực thi pháp lý thích hợp

%p
  Quyền thực thi pháp lý thích hợp tai dịch vụ này và những điều khoản sử dụng tại Phần lan, trừ khi một thư gì đó được yêu cầu bởi luật bắt buộc.
  
%h3 Nội dung nghiên cứu

%p
  Dữ liệu được thu thập từ người dùng Sharetribe và nhà cung cấp dịch vụ có thể cho các nhà nghiên cứu dùng cho các mục đích nghiên cứu khoa học. Khi kết quả các nghiên cứu được công bố dữ sẽ được trình bày dưới hình thức ẩn danh do đó những người dùng đơn không thể bị phát hiện. Bằng cách chấp nhận những điều khoản này người dùng cũng đưa ra đồng ý vơi nghiên cứu chi tiết dưới đây.

.consent
  %h3 VIẾT ĐỒNG Ý CHO NGHIÊN CỨU
  %br/
  %p
    Bằng cách đưa ra chấp thuận của tôi tôi xác nhận sự tham gia tự nguyện vào nghiên cứu tùy thuộc vào dự án OtaSizzle.

  %p
    Tôi đã đọc và hiểu mô tả nghiên cứu thêm vào dưới đây, đầu đề "Information for Participants in Scientific Research (Thông tin người tham trong nghiên cứu khoa học)", và xác nhận rằng đôi đã nhận đầy đủ thông tin tại nghiên cứu và tạo điều kiện để hỏi những câu hỏi về nghiên cứu ( và nếu thông tin ảnh hưởng kiểm tra tôi cam đoan tôi sẽ có cơ hội này sau nghiên cứu).

  %p
    Tôi sẵn lòng theo các chỉ dẫn cung cấp bới các nhà nghiên cứu trước, trong khi và sau khi nghiên cứu.

  %p
    Tôi đồng ý dữ liệu cá nhân của tôi được sử lý theo cách đã mô tả trong mô tả của nghiên cứu.

  %p
    Tôi nhận thức về sự thật tôi có quyền hủy bỏ việc tham gia của tôi trong bài kiểm tra bất cứ lúc nào mà không đưa ra lý do, và từ chối trả lời bất kỳ câu hỏi nào hỏi trước, trong khi hoặc sau khi nghiên cứu.

  %p
    Thêm thông tin về nghiên cứu hoặc có thắc mắc, xin liên hện:

  %p
    %br/
    Projektipäällikkö Olli Pitkänen (olli.pitkanen (ät) hiit.fi)
    %br/
    Giáo sư MarttiMäntylä (martti.mantyla (ät) hiit.fi)

  %p
    Aalto University / Helsinki Institute for Information Technology, HIIT 
    %br/
    Innopoli 2, 
    %br/
    Tekniikantie 14,
    %br/
    PL 19215, 
    %br/
    00076 Aalto
    %br/
    %br/
    Điện thoại: +358 (0)9 4511
  
.consent
  %h3 Thông tin về người tham dự nghiên cứu khoa học
  %br/
  %p
    %b Tài liệu này mô tả mục đích, tiến độ và các khía cạch khác của nghiên cứu trong câu hỏi, bởi vị yêu cầu bởi các quy ước đạo đức của nghiên cứu về các chủ đề con người, và vè quy định bằng sắc lệnh bởi Hội đồng đạo đức HIIT. Hội đồng đạo đức đã đồng ý cho phép nghiên cứu con người được thực hiện trong nghiên cứu cho mục đích đã đưa ra trong tài liệu này và các phương pháp đã liệt kê tại đó.

  %h4 Lời mời

  %p 
    Bạn được mời tham dự vào một nghiên cứu khoa học người dùng đứng đầu bởi giáo sư Martti Mäntylä  tại Viện công nghệ thông tin Helsinki (HIIT - Helsinki Institute for Information Technology), việc tham nghiên cứu của tổ chức của đại học thông tin Helsinki và đại học Helsinki. Nghiên cứu hình thành một phần dự án OtaSizzle tại chương trình MIDE của đại học công nghệ Helsinki. Nghiên cứu gồm có nhiều chủ đề khảo sát.

  %h4 Mục đích nghiên cứu
  %p 
    Trong dự án này, nghiên cứu xem xét các dịch vụ xã hội đa phương tiện và việc sử dụng những dịch vụ này. Bằng cách thu thập thông tin tại các chủ đề khảo sát, chúng tôi hy vọng tìm được những gì quan trọng nhất đối với người dùng dịch vụ. Mục đích cuối cùng của nghiên cứu là đưa ra các kết quả có thể được sử dụng trong việc thiết kế và tạo nên những dịch vụ tốt hơn.

  %h4 Những rủi ro và lo lắng
  %p 
    Các phương pháp sử dụng trong khi nghiên cứu thể hiện rủ ro không lớn hơn các chủ đề thông thường việc sử dụng máy tính và điện thoại di động thực hiện. Trong các phỏng vấn và bảng hỏi có thể của nghiên cứu bạn cho tiêu đề để bỏ qua bất kỳ câu hỏi nào bạn không thấy thoải mái. Việc quan sát các hành động người dùng "tại thực địa (in the field)", trong cuộc sống hằng ngày của họ, cũng có thể có trong nghiên cứu. Loại nghiên cứu này sẽ được thông báo trước và người quan sát sẽ giới thiệu họ trước các chủ đề khảo sát và giới thiệu họ về việc nghiên cứu và các phương pháp của họ. Việc quan sát không được phép và bạn có quyền từ chối tham gia. 

  %h4 Các lợi ích của người tham gia và công đồng 
  %p 
    Bên cạnh sự hữu dụng của các dịch vụ hiện tại, không có lợi ích khác từ việc tham gia nghiên cứu này. Mặc dù bạn không nhận lợi ích cá nhân từ việc tham gia, chúng tôi tin rằng bằng cách tham gia bạn sẽ giúp đỡ để tạo ra thông tin sẽ làm cho các dịch vụ tốt hơn được thiết kế và hỗ trợ trong tương lai.

  %h4 Vấn đề bảo mật
  %p 
    Trong quá trình nghiên cứu, chúng tôi thu thập dữ liệu về bạn và việc sử dụng dịch vụ của bạn. Dữ liệu được thu thập từng phần bằng việc hỏi bạn trực tiếp và quan sát các hành động của bạn, nhưng cũng bằng cách thu thập một số thông tinh một cách tự động trong quá trình sử dụng dịch vụ. Tất cả dữ liệu được thu thập về bạn trong quá trình nghiên cứu được xử lý một cách tin cẩn và cũng được sử dụng bởi nhóm nghiên cứu dự án và có thể thành viên thứ ba những người có trách nhiệm bảo quản dịch vụ. Dữ liệu liên quan đến bạn chỉ được sử dụng trong việc kết hợp với những dữ liêu của người khác. Trong phân tích này, dữ liệu sẽ được đối chiếu bằng cách sử dụng điện thoại, các mã IMEI và các định danh khác. Nếu việc bảo trì dịch vụ không được tiếp tụ sau năm năm khi kết thúc dự án, tất cả dữ liệu nghiên cứu xác định sẽ được hủy tại giai đọa cuối của dự án. Bất cứ lúc nào các kết quả của nghiên cứu được công bố hoặc xử lý khoa học hoặc cách khác, các chủ đề khảo sát cá nhân se không được đề cập, hoặc không thể xác định được từ dữ liệu. Có một tập tin dữ liệu mô tả chung xác định dữ liệu được xử lý, được lưu trữ và cuối cùng được hủy như thế nào.
  %p 
    Nghiên cứu này kế hợp với hoạt động dữ liệu các nhân Phần lan (523/1999), được dựa trên luật của EU.

  %h4 Việc tham dự và hủy
  %p 
    Nếu bạn quyết định tham dự vào nghiên cứu, bạn có quyền hủy bỏ nghiên cứu của bạn bất kỳ lúc nào, không có bất cứ hậu quả gì. Bạn cũng có quyền không trả lời bất kỳ câu hỏi nào bạn không muốn trả lời, và vẫn tiếp tục tham dự nghiên cứu này. Trong sự kiện không chắc chắn những trường hợp nên yêu cầu nó, Giám đốc Nghiên cứu có quyền hủy bỏ việc tham gia của bạn.
  %h4 Các thông tin chi tiết của người nghiên cứu
  %p 
    Thông tin về nghiên cứu hoặc câu hỏi, xin liên hệ:

  %p 
    Đại học Aalto / Viện Công Nghệ Thông Tin Helsinki

  %p 
    Giám đốc Nghiên cứu:
    %br/
    Giáo sư Martti Mäntylä
    %br/
    Điện thoại: +358 (0)9 4511
    %br/
    Email: martti.mantyla@hiit.fi

  %p 
    Các vấn đề thực tế:
    %br/
    Giám đốc Dự án Olli Pitkänen
    %br/
    Điện thoại: + 359 (0) 9 4511
    %br/
    Email: olli.pitkanen@hiit.fi