%p
Les présentes Conditions Générales ont pour objet de définir les modalités de mise à disposition des services du site Boulevard-21.com, ci-après nommé « le Site » et les conditions d'utilisation du Site par l'Utilisateur. 
%p
Tout accès et/ou Utilisation du Site suppose l'acceptation et le respect de l'ensemble des termes des présentes Conditions et leur acceptation inconditionnelle. Elles constituent donc un contrat entre le Site et l'Utilisateur. 
Dans le cas où l'Utilisateur ne souhaite pas accepter tout ou partie des présentes conditions générales, il lui est demandé de renoncer à tout usage du Site. Boulevard-21 se réserve le droit d'exclure tout Utilisateur qui ne se conformerait pas à ses CGU.
%p
Boulevard-21 se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.

%p
%h2 1. Définitions
%p
Site : désigne le site www.boulevard-21.com
%p
Visiteur : désigne toute personne se rendant sur le site mais ne disposant pas de compte ou ne s’étant pas identifié
%p
Utilisateur : désigne toute personne acceptant les présentes CGU et possédant un compte en vue d'utiliser les services mis à disposition par le Site
%p
Annonce : désigne toute publication diffusée par un Utilisateur visant à trouver un Locataire, Sous-locataire, ou Co-locataire

%p
%h2 2. CNIL
%p
Boulevard-21 s’engage à ne céder à aucun tiers, sans le consentement explicite de l’Utilisateur, les informations communiquées par ses soins, même sous forme anonyme, ni à les utiliser à des fins statistiques autres que dans le cadre de l'exécution de ses Services.
%p
Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, l’Utilisateur bénéficie d’un droit d’accès à ces informations et le cas échéant d’un droit de rectification, d’opposition et de suppression. Pour l'exercer, il suffit d’écrire à contact@boulevard-21.com.
La conservation et le traitement des données (nom, prénom, adresse email, école, loyer, description du logement) répondent à une finalité de gestion d'un fichier prospect client et à l’établissement de statistiques sur la situation locative dans les villes couvertes par Boulevard-21.
%p 
Boulevard-21 utilise les cookies pour élaborer des statistiques relatives à l'audience de son site et à l'activité des internautes sur son site. Un cookie ne permet en aucun cas d’identifier l’Utilisateur et disparaît à chaque nettoyage des fichiers temporaires. L’Utilisateur peut refuser les cookies en utilisant l'onglet « outil » de votre navigateur et en utilisant ensuite l'onglet permettant de gérer la confidentialité ou les préférences de navigation.

%p
%h2 3. Accès au Site
%p
L'accès au Site est gratuit et ouvert à tout visiteur disposant d'un accès à Internet. Tous les coûts afférents à l'accès au Service, que ce soit les frais matériels, logiciels ou d'accès à internet sont exclusivement à la charge de l'Utilisateur. Il est seul responsable du bon fonctionnement de son équipement informatique ainsi que de son accès à internet.
%p
Boulevard-21 s’efforce de permettre l’accès au Site 24 heures sur 24, 7 jours sur 7, sans toutefois pouvoir le garantir. Par conséquent, Boulevard-21 ne peut garantir une disponibilité du Site et/ou des Services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique. La responsabilité de Boulevard-21 ne saurait être engagée en cas d’impossibilité d’accès à ce Site et/ou d’utilisation des Services. 
%p
Par ailleurs, Boulevard-21 peut être amené à interrompre le Site ou une partie des Services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que Boulevard-21 ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.

%p
%h2 4. Accès aux Services
%p
Les Services du Site sont accessibles gratuitement après inscription, elle aussi gratuite. Cette inscription sera validée dès lors que l’Utilisateur aura communiqué et confirmé l’adresse email attribuée par son école. Les adresses acceptées évoluent en fonction des partenariats conclus entre Boulevard-21 et les Grandes Ecoles cibles. Boulevard-21 se réserve le droit d'autoriser ou interdire les domaines de son choix de façon unilatéralle.
%p
En contrepartie de l’accès aux Services, l’Utilisateur s’engage à répondre aux sollicitations de Boulevard-21 visant à établir des statistiques précises sur la situation locative de ses membres, par le biais de formulaires et de quittances dématérialisées. Ces outils sont gratuits pour l’Utilisateur.
%p
Toutefois Boulevard-21 se réserve le droit d'accepter ou de refuser toute personne, notamment mais sans s'y limiter, en cas de non conformité avec les présentes CGU. L'accès aux Services est strictement interdit aux agents immobiliers et autres professionnels de l'immobilier ou services d'annonces immobilières.

%p
%h2 5. Dépôt d'annonce
%p
L’Utilisateur voulant déposer une Annonce s’engage à :
%p
Proposer un logement décent et en conformité avec la réglementation en vigueur
%p
Ne pratiquer aucune discrimination dans le choix du Locataire, Co-locataire, ou Sous-locataire
%p
Transmettre des informations véridiques, à décrire de façon sincère l'appartement et à publier des photos fidèles à la réalité
%p
Ne diffuser aucun propos ou matériel injurieux, pornographique, diffamatoire, raciste, sexiste, ou homophobe, ou plus généralement contraire à la loi française

%p
%h2 6. Limites de responsabilité
%p
Boulevard-21 ne saurait être tenu responsable du contenu publié par l’Utilisateur, que ce soit dans les annonces publiées ou dans les messages échangés via la messagerie interne, ni ne saurait être impliqué dans aucun litige survenant entre les Utilisateurs. En particulier :
%p
Il est rappelé que le propriétaire reste seul décideur en matière de contractualisation avec un candidat. Ainsi, l’Utilisateur ne saurait considérer l’utilisation des Services du Site comme un gage d’acceptation de son dossier par un autre Utilisateur, que ce dernier soit lui-même locataire, colocataire, ou propriétaire du bien proposé. Réciproquement, pour l’Utilisateur ayant publié une annonce, celui-ci ne saurait tenir Boulevard-21 responsable de tout éventuel manquement d’un autre Utilisateur à ses obligations, que ce soit avant ou après la conclusion d’un bail locatif ;
%p
L'Utilisateur est tenu de respecter la loi en vigueur dans le pays concerné par l'annonce qu'il a déposée ou à laquelle il souhaite répondre. Il est tout particulièrement rappelé que la sous-location en France d'un appartement loué vide n'est possible qu'à condition que le locataire obtienne l'accord express écrit de son bailleur. Ce dernier est libre d'accepter ou de refuser sans avoir à justifier sa décision. Dans le cas où le locataire outrepasserait ses droits en concluant un contrat de sous-location en l'absence d'un tel accord, celui-ci s'expose au risque de voir le bail résilié de plein droit, de verser des dommages et intérêts, ou d'encourir des sanctions pénales. Dans le cas où le locataire obtiendrait l'autorisation du propriétaire, le sous-loyer pratiqué ne saurait être supérieur au loyer principal (mesuré en euros par mètre carré) ;
%p
Boulevard-21 s’efforce de produire ou relayer des contenus pertinents et véridiques. Toutefois, Boulevard-21 ne saurait être tenu responsable en cas d’erreur, que ce soit dans ses propres contenus, rédigés par Boulevard-21, ou dans ceux rédigés par des sources tierces. Les informations communiquées le sont uniquement à titre indicatif, la responsabilité de Boulevard-21 ne saurait être engagée en cas d'omission, erreur, prescription des éléments communiqués à ses Utilisateurs, par tout moyen que ce soit, notamment mais sans s'y limiter, le Site, la Newsletter, les groupes et pages Facebook, compte Twitter.

%p
%h2 7. Propriété intellectuelle
%p
La structure générale du Site, ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la propriété de Boulevard-21.
Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le Site, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de Boulevard-21  et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.
%p
La marque "Boulevard-21" est une marque déposée. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces marques, de quelque nature que ce soit, est totalement prohibée.

%p
%h2 8. Confidentialité et utilisation de vos données
%p
Les données sont collectées afin de permettre la communication, directement entre Utilisateurs, ou entre Boulevard-21 et ses Utilisateurs, ainsi que pour permettre à Boulevard-21 d’opérer ses différents services. Des données personnelles sont visibles sur le profil de l’Utilisateur mais ces données sont renseignées sur une base volontaire (exception faite du nom).
%p
Le traitement des données et détails personnels n’est pas externalisé, mais les données d’inscription sont stockées sur un serveur hébergé par une compagnie tierce.
%p
Les informations pouvant être collectées et stockées sont :
%p
Les détails personnels : Nom, adresse email, numéro de téléphone, adresse postale
%p
Les détails du compte : nom d’utilisateur, mot de passe (crypté)
%p
La description de lui-même fournie par l’Utilisateur dans son profil
%p
Les annonces publiées par l’Utilisateur
%p
Les retours et commentaires envoyés et reçus par l’utilisateur
%p
Les statistiques concernant l’utilisation du service, par exemple le nombre de fois où l’Utilisateur s’est connecté au Site 
%p
Les informations relatives aux loyers et à la situation locative des Utilisateurs, collectées par biais de formulaire et/ ou de quittance dématérialisée

%p
%h3 Renseignement des détails personnels
Les détails personnels sont communiqués par l’Utilisateur lors de son inscription ou plus tard lors de l’utilisation du Site. L’Utilisateur peut modifier ces détails à tout moment.

%p
%h3 Transfert des informations en dehors de l’Union Européenne et de la CEE
%p
Les informations peuvent être amenées à être stockées sur un serveur pouvant être situé à l’intérieur ou à l’extérieur de l’U.E et de la CEE
%p
Les principes de protection de l’hébergeur
Les informations sont stockées sur des ordinateurs. L’accès à ces informations est contrôlé par mot de passe, et l’accès physique aux ordinateurs est réservé par la société d’hébergement

%p
%h2 9. Siège social
%p
Boulevard-21
%p
12 rue Vivienne - Lot 3
%p
75002 Paris

%p
%h2 10. Contact
%p
contact@boulevard-21.com

%p
%h2 11. Représentant légal et Directeur de la publication
%p
Thomas Laforet

%p
%h2 12. Immatriculation
%p
Immatriculée au Registre du commerce et des sociétés de Paris sous le numéro : 794 243 436
%p
Société par actions simplifiée au capital de : 10.000 euros
%p
N° SIRET : 794 243 436 00019

%p
%h2 14. Hébergement
%p
1&1 Internet SARL
%p
7, place de la Gare BP 70109
%p
57201 Sarreguemines Cedex
%p
0970 808 911

%p
%h2 15. CNIL
%p
Ce site a fait l'objet d'un enregistrement auprès de la CNIL le 15/07/2013 sous le numéro 1687593

%p
%h2 16. Conditions liées à l’utilisation de Sharetribe 
%p
#{service_name} est un service en ligne utilisant la plate-forme Sharetribe. Les conditions d'utilisation de Sharetribe, ci-dessous, s'appliquent également pour l'utilisation de #{service_name}
%p
Sharetribe est un média social permettant à ses utilisateurs d'échanger des services et des objets tout en communiquant les uns avec les autres. Le service Sharetribe peut uniquement être utilisé en accord avec ces conditions d'utilisation. Le fournisseur du service se réserve le droit de changer ces conditions si nécessaire. Les conditions valides peuvent être trouvées sur le site de Sharetribe.

%h3 Droits du contenu
%p
Les utilisateurs possèdent les droits sur tous les textes, images et autres contenus qu'ils créent dans le service. Les utilisateurs permettent aux autres d'utiliser le contenu en accord avec la nature du service et permettent en outre au fournisseur de service de classer les informations et les données et d'effectuer des modifications nécessaires pour le service ou l'étude. Les autres droits appartiennent néanmoins à l'utilisateur à moins d'un accord contraire spécifique. La responsabilité du contenu appartient à l'utilisateur l'ayant produit dans le service. Boulevard-21 et Sharetribe se réservent le droit d'enlever tout contenu lorsque cela est jugé nécessaire.

%h3 Décharge, avis de non responsabilité
%p
Aucune garantie du fonctionnement du service Sharetribe n'est donnée. Les utilisateurs sont eux-mêmes responsables de leurs actions dans le service et devraient évaluer la fiabilité des autres utilisateurs avant d'engager des démarches avec eux. Le fournisseur de service ne peut en aucun cas être tenu responsable pour les préjudices subis par l'utilisateur. L'utilisateur ne peut y stocker aucune information ou donnée en supposant qu'elle y restera.

%h3 Suppression d'un utilisateur
%p
Sharetribe et Boulevard-21 se réservent le droit de supprimer des utilisateurs et de décider de leur droit à l'utilisation du service sans aucune raison spécifique et sans être redevable d'une quelconque indemnité.

%h3 Juridiction compétente
%p
La compétence applicable dans ce service et dans ces conditions d'utilisation est celle de France