- if service_name != "Sharetribe"
  %p
    #{service_name} est un service en ligne utilisant la plate-forme Sharetribe. Les conditions d'utilisation de Sharetribe, ci-dessous, s'appliquent également pour l'utilisation de #{service_name}
%p
  Sharetribe est un média social permettant à ses utilisateurs d'échanger des services et des objets tout en communiquant les uns avec les autres. Le service Sharetribe peut uniquement être utilisé en accord avec ces conditions d'utilisation. Le fournisseur du service se réserve le droit de changer ces conditions si nécessaire. Les conditions valides peuvent être trouvées sur le site de Sharetribe.

%h3 Droits du contenu

%p
  Les utilisateurs possèdent les droits sur tous les textes, images et autres contenus qu'ils créent dans le service. Les utilisateurs permettent aux autres d'utiliser le contenu en accord avec la nature du service et permettent en outre au fournisseur de service de classer les informations et les données et d'effectuer des modifications nécessaires pour le service ou l'étude. Les autres droits appartiennent néanmoins à l'utilisateur à moins d'un accord contraire spécifique. La responsabilité du contenu appartient à l'utilisateur l'ayant produit dans le service. Le fournisseur de service a le droit d'enlever tout matériel lorsque cela est jugé nécessaire.

%h3 Décharge, avis de non responsabilité

%p
  Aucune garantie du fonctionnement du service Sharetribe n'est donnée. Les utilisateurs sont eux-mêmes responsables de leurs actions dans le service et devraient évaluer la fiabilité des autres utilisateurs avant d'engager des démarches avec eux. Le fournisseur de service ne peut en aucun cas être tenu responsable pour les préjudices subis par l'utilisateur. L'utilisateur ne peut y stocker aucune information ou donnée en supposant qu'elle y restera.

%h3 Suppression d'un utilisateur

%p
  Le fournisseur de service a le droit de supprimer des utilisateurs de Sharetribe et de décider de leur droit à l'utilisation du service sans aucune raison spécifique et sans être redevable d'une quelconque indemnité.

%h3 Juridiction compétente

%p
  La compétence applicable dans ce service et dans ces conditions d'utilisation est celle de Finlande, sauf si autre chose est requis par loi contraignante.

%h3 Consentement à l'étude

%p
  Des données d'utilisation de Sharetribe seront récoltées et le fournisseur de service pourra céder ces données à des chercheurs à des fins d'études scientifiques. Lorsque les résultats d'études seront publiés, les données seront présentées sous une forme anonyme ne permettant pas que les utilisateurs puissent être identifiés. En acceptant les conditions d'utilisation, l'utilisateur donne son consentement à l'étude de recherche détaillé dessous.

.consentement
  %h3 CONSENTEMENT ECRIT A ETUDE DE RECHERCHE
  %br/
  %p
    En donnant mon consentement j'affirme ma participation volontaire à une étude appartenant au projet OtaSizzle.

  %p
    J'ai lu et compris la description de la recherche annexée dessous, intitulée "Information aux participants à la recherche scientifique", et je confirme avoir reçu suffisamment d'informations sur l'étude et avoir eu la possibilité de poser des questions sur l'étude (et si ces informations affectaient le test, on m'a assuré que j'aurai cette possibilité après l'étude).

  %p
    Je suis disposé à suivre les instructions fournies par les chercheurs avant, pendant et après l'étude.

  %p
    Je donne mon consentement pour que des informations personnelles soient traitées des manières décrites dans la description de l'étude.

  %p
    Je suis conscient du fait que j'ai le droit d'annuler ma participation à l'étude à tout moment sans donner de raison, et de refuser de répondre aux questions posées avant, pendant et après l'étude.

  %p
    Pour plus d'informations sur l'étude et pour poser vos questions, veuillez contacter :

  %p 
    %br/ 
    Chef de projet Olli Pitkänen (olli.pitkanen (aet) hiit.fi) 
    %br/ 
    Professeur Martti Mäntylä (martti.mantyla (aet) hiit.fi) 
 
  %p 
    Université Aalto / Helsinki Institute for Information Technology, HIIT  
    %br/ 
    Innopoli 2,  
    %br/ 
    Tekniikantie 14, 
    %br/ 
    PL 19215,  
    %br/ 
    00076 Aalto 
    %br/ 
    %br/ 
    Tél. : +358 (0)9 4511 
   
.consentement 
  %h3 Information aux participants à la recherche scientifique
  %br/ 
  %p 
    %b Ce document décrit les objectifs, la progression et les autres aspects de l'étude en question, comme exigé dans les règles éthiques de la recherche avec des êtres humains et comme convenu par la Comité éthique de HIIT. Le Comité éthique a donné son approbation pour que la recherche sur êtres humains soit conduite dans le cadre de cette étude à des fins décrites dans ce document et pour les méthodes citées.

  %h4 Invitation

  %p
    Vous êtes invité à participer à une étude scientifique sur les utilisateurs, dirigée par Professeur Martti Mäntylä de l'Institut pour la  technologie de l'information de Helsinki (HIIT), une institution de recherche commune à l'université technologique de Helsinki et à l'université de Helsinki. L'étude fait partie du projet OtaSizzle dans le cadre du programme MIDE de l'université technologique de Helsinki. L'étude comprend plusieurs sujets d'expérience.

  %h4 L'objectif de la recherche
  %p
    Conformément au projet dont elle fait partie, cette étude examine des services de media social et l'utilisation de ces services. En récoltant des informations sur nos sujets d'expérience, nous espérons apprendre ce qui est le plus important pour les utilisateurs du service. L'objectif final de l'étude est de procurer des résultats qui pourront être utilisés dans la conception et la création de meilleurs services.

  %h4 Risques et inconvénients
  %p
    Les méthodes utilisées au cours de l'étude ne présentent pas de risque plus important aux participants que l'utilisation normale d'ordinateurs et de téléphones portables. Dans les éventuels entretiens et questionnaires, vous avez le droit de ne pas répondre aux questions que vous considérez gênantes. Des observations des activités des utilisateurs "sur le terrain", dans leur vie quotidienne, pourront être incluses dans l'étude. Les utilisateurs seront tenus au courant par avance pour ce type d'étude et les observateurs se feront connaître par avance en se présentant aux participants et en leur expliquant leur recherche et méthodes. L'observation n'est pas obligatoire et vous détenez le droit de refuser d'y participer.

  %h4 Bénéfices pour participants et communauté
  %p
    En plus de l'utilité du service, la participation à l'étude n'apporte aux participants aucun bénéfice en particulier. Malgré le fait que vous ne recevrez aucun profit personnel pour votre participation, nous croyons qu'en participant, vous aiderez à produire des informations qui conduiront à ce que, dans l'avenir, de meilleurs services seront conçus et offerts.

  %h4 Confidentialité 
  %p
    Au cours de l'étude, nous collecterons des informations sur vous et sur l'utilisation que vous faites des services. D'une part, les informations seront collectées en vous posant des questions directement et en observant vos actions, d'autre part les informations seront collectées automatiquement lorsque vous utilisez le service. Toute donnée vous concernant, collectée au cours de l'étude sera traitée confidentiellement et sera seulement accessible à l'équipe du projet de recherche et aux éventuels tiers responsables de l'entretien du service. Les données vous concernant seront uniquement utilisées combinées à d'autres données. Lors de l'analyse, les données seront rassemblées en utilisant numéros de téléphone, codes IMEI et autres identifiants. L'entretien du service sera interrompu à la fin de ce projet de recherche de cinq ans et toutes les données de recherche avec identifiants seront détruites au plus tard à la fin du projet de recherche. Que les résultats de la recherche soient publiés ou traités dans un contexte scientifique ou autre, les participants individuels ne seront pas mentionnés. Ils ne pourront  non plus être identifiés depuis les données. Il existe une description de fichiers de données publique qui établit ce comment les sonnées seront traitées, stockées et éventuellement détruites.
  %p
    Cette recherche est conforme à la loi finlandaise sur les données personnelles (523/1999), basée sur la législation européenne.

  %h4 Participation et annulation
  %p
    Si vous décidez de participer à l'étude, vous avez le droit d'annuler votre participation à tout moment sans aucune conséquence. Vous possédez également le droit de ne pas répondre aux questions auxquelles vous ne souhaitez pas répondre, tout en poursuivant votre participation à l'étude. Dans l'éventualité peu probable où les circonstances l'exigeraient, le directeur de recherche a le droit d'annuler votre participation.
  %h4 Coordonnées de contact des chercheurs
  %p
    Pour plus d'information sur l'étude et pour poser vos questions, veuillez contacter :

  %p  
    Aalto University / Helsinki Institute for Information Technology 
 
  %p  
    Directeur de recherche: 
    %br/ 
    Professeur Martti Mäntylä 
    %br/ 
    Tél. : +358 (0)9 4511 
    %br/ 
    Email: martti.mantyla (aet) hiit.fi 
 
  %p  
    Pour des questions pratiques : 
    %br/ 
    Chef de projet Olli Pitkänen 
    %br/ 
    Tél. : +358 (0)9 4511 
    %br/ 
    Email: olli.pitkanen (aet) hiit.fi