%p 
  Sharetribe es un servicio de medios sociales que permite a sus usuarios intercambiar artículos, favores y comunicarlos entre sí. El servicio Sharetribe sólo se puede utilizar de acuerdo con estos términos de uso. El proveedor del servicio se reserva el derecho de cambiar estos términos de uso si es requerido. Los términos de uso válidos pueden ser encontrados en el sitio web de Sharetribe. 
 
%h3 Derechos de los Contenidos 
 
%p 
  Los usuarios por sí mismos conservan el derecho de todos los textos, imágenes u otros contenidos que ellos creen en el servicio. Los usuarios permiten a otros utilizar los contenidos de acuerdo a la naturaleza del servicio, y aún más, permiten al proveedor del servicio el presentar los datos y la información y hacer los cambios que sean necesarios para el servicio o el estudio; no obstante, otros derechos no son transferidos a los usuarios, a menos que de otra manera se especifique un acuerdo. La responsabilidad de los contenidos se encuentra en el usuario, quien los ha proporcionado al servicio. El proveedor del servicio tiene el derecho de eliminar cualquier material cuando lo considere necesario. 
 
%h3 Descargo de Responsabilidad 
 
%p 
  No hay garantías del funcionamiento del servicio Sharetribe que sean dadas. Los usuarios son por sí mismos responsables de sus acciones en el servicio y deben estimar la confiabilidad de los otros usuarios antes de hacer tratos con ellos. El proveedor del servicio no puede en ninguna circunstancia ser responsable por el daño que sea causado al usuario. El usuario no debe almacenar ninguna información o dato en el servicio y esperar que se mantenga ahí. 
 
%h3 La eliminación de un Usuario  
 
%p 
  El proveedor del servicio tiene el derecho de eliminar a cualquier usuario de Sharetribe y terminar su derecho al uso del servicio sin ninguna razón en específico y sin ser responsable de una compensación económica. 
 
%h3 Jurisdicción Aplicable 
 
%p 
  La jurisdicción que es aplicable a este servicio junto con los términos de uso es la de Finlandia, a menos que sea requerido algo más por medio de una ley vinculante. 
   
%h3 Consentimiento para el estudio 
 
%p 
  Los datos serán recolectados a partir del uso de Sharetribe, y el proveedor del servicio puede entregar los datos a investigadores para propósitos de estudios científicos. Cuando los resultados de los estudios sean publicados, los datos serán presentados de forma anónima, de este modo los usuarios individuales no podrán ser detectados. Aceptando estos términos el usuario también da consentimiento a los estudios de investigación detallados más abajo. 
 
.consent 
  %h3 CONSENTIMIENTO ESCRITO PARA EL TRABAJO DE INVESTIGACIÓN 
  %br/ 
  %p 
    Dando mi consentimiento, yo confirmo mi voluntaria participación en el estudio perteneciente al proyecto OtaSizzle. 
 
  %p 
    He leído y comprendido la descripción de la investigación anexada más abajo, titulada como "Información para los Participantes en la Investigación Científica", y confirmo que he recibido suficiente información sobre el estudio y se me ha dado la oportunidad para hacer preguntas con respecto al estudio (y si la información afecta la prueba que se me ha asegurado yo tendré esta oportunidad después del estudio. 
 
  %p 
    Estoy dispuesto a seguir las instrucciones proporcionadas por los investigadores, antes, durante y después del estudio. 
 
  %p 
    Doy mi consentimiento para que mis datos personales sean procesados del modo descrito en la descripción de la investigación. 
 
  %p 
    Soy consciente del hecho de que tengo el derecho a cancelar mi participación en la prueba en cualquier momento sin necesidad de dar una razón, y de rehusarme a responder cualquier pregunta formulada antes, durante y después del estudio. 
 
  %p 
    Para más información sobre el estudio o en el caso de cualquier pregunta, por favor contactar a: 
 
  %p 
    %br/ 
    Director del proyecto Olli Pitkänen (olli.pitkanen (ät) hiit.fi) 
    %br/ 
    Profesor Martti Mäntylä (martti.mantyla (ät) hiit.fi) 
 
  %p 
    Universidad Aalto / Instituto de Helsinki de Tecnologías de la Información, HIIT  
    %br/ 
    Innopoli 2,  
    %br/ 
    Tekniikantie 14, 
    %br/ 
    PL 19215,  
    %br/ 
    00076 Aalto 
    %br/ 
    %br/ 
    Tel.: +358 (0)9 4511 
   
.consent 
  %h3 Información para los participantes de la Investigación Científica 
  %br/ 
  %p 
    %b Este documento describe el propósito, progreso y otros aspectos del estudio en cuestión, como lo requieren las reglas de ética para las investigaciones de asuntos humanos, y como lo decretó el Comité de Ética HIIT. El Comité de Ética ha concedido la aprobación para la investigación humana que se llevó a cabo en el estudio de los efectos indicados en este documento y de los métodos que figuran en él. 
 
  %h4 Invitación 
 
  %p  
    Tú estás invitado a participar en un estudio de usuarios científicos dirigido por el Profesor Martti Mäntylä del Instituto de Helsinki de Tecnologías de la Información (HIIT), una institución de investigación conjunta de la Universidad Tecnológica de Helsinki y la Universidad de Helsinki. El estudio forma parte del proyecto OtaSizzle en el programa MIDE de la Universidad Tecnológica de Helsinki. El estudio involucra a varios sujetos de prueba. 
 
  %h4 Propósito de la Investigación 
  %p  
    En línea con el proyecto al que pertenece, este estudio examina los servicios de medios sociales y el uso de esos servicios. Al recoger información de nuestros sujetos de prueba, esperamos aprender qué es lo más importante para los usuarios del servicio. El último objetivo del estudio es el de producir resultados que puedan ser usados en la creación y diseño de mejores servicios. 
 
  %h4 Riesgos e Incomodidades 
  %p  
    Los métodos utilizados durante el estudio no presentan mayor riesgo para los sujetos que el uso normal de computadores y de teléfonos móviles tiene. En las posibles entrevistas y cuestionarios del estudio, tienes el derecho a saltarte cualquier pregunta que te haga sentir incómodo. Las observaciones de las acciones de los usuarios "en el campo", en sus actividades cotidianas, también pueden ser incluidas en el estudio. Este tipo de estudio se informará previamente a los sujetos de prueba y los observadores se presentarán con anticipación y explicarán la investigación y sus respectivos métodos. La observación no es obligatoria y tienes el derecho a rehusarte a participar.  
 
  %h4 Beneficios para los Participantes y la Comunidad  
  %p  
    Además de la utilidad del actual servicio, no hay un beneficio particular por participar en el estudio. Aunque no recibes ninguna ganancia personal por participar, creemos que al hacerte partícipe, ayudarás a producir información que dará lugar a mejores servicios que serán diseñados y ofrecidos en el futuro. 
 
  %h4 Confidencialidad 
  %p  
    Durante el estudio, acumularemos datos tuyos y del uso del servicio que hagas. Los datos son reunidos por una parte pidiéndotelos directamente a ti y por medio de la observación de tus acciones, o también mediante la recopilación automática de información mientras usas el servicio. Todos tus datos recopilados durante el estudio se tratarán de forma confidencial y sólo tienen acceso a ellos el personal del proyecto de investigación y los posibles terceros que son responsables del mantenimiento del servicio. Los datos relativos a ti sólo se utilizan en combinación con otros datos. En los análisis, los datos serán cotejados con los números de teléfono, códigos de IMEI y otros identificadores. Si el mantenimiento del servicio fuera interrumpido después de la finalización de este proyecto de investigación de cinco años, todos los datos de identificación de la investigación serán destruidos, a más tardar al final del proyecto de investigación. Siempre que los resultados del estudio se publiquen o sean procesados ​​científicamente o de otra manera, los sujetos de las pruebas individuales no se mencionarán, ni podrán ser identificados a partir de los datos. Hay un archivo con la descripción de los datos públicos que determina cómo se procesan, se almacenan y finalmente se destruyen estos datos.
 
  %p  
    Esta investigación cumple con el Acta de Datos Personales Finlandés (523/1999), el cual está basado en la legislación de la Unión Europea. 
 
  %h4 Participación y Cancelación  
  %p  
    Si decides participar en el estudio, tienes el derecho a cancelar tu participación en cualquier momento, sin ninguna consecuencia. También tienes el derecho a no responder ninguna pregunta que no quieras contestar, y todavía continuar participando del estudio. En el poco probable evento de que las circunstancias lo requieran, el Director de Investigación tiene el derecho a cancelar tu participación. 
  %h4 Detalles de Contacto de los Investigadores 
  %p  
    Para más información sobre el estudio o en el caso de cualquier pregunta, por favor contactar a: 
 
  %p  
    Universidad Aalto / Instituto de Helsinki de Tecnologías de la Información, HIIT 
 
  %p  
    Director de Investigación: 
    %br/ 
    Professor Martti Mäntylä 
    %br/ 
    Tel.: +358 (0)9 4511 
    %br/ 
    Email: martti.mantyla (ät) hiit.fi 
 
  %p  
    Asuntos Prácticos: 
    %br/ 
    Project Manager Olli Pitkänen 
    %br/ 
    Tel.: +358 (0)9 4511 
    %br/ 
    Email: olli.pitkanen (ät) hiit.fi