#listingFieldsEditModal.modal{'data-backdrop' => 'static', 'aria-hidden' => true, 'aria-labelledby' => 'listingFieldsEditModalLabel', role: :dialog, tabindex: '-1'}
  .modal-dialog.modal-lg{role: :document}
    .modal-content
      .content-card-section-form
        .modal-header
          %h2#listingFieldsEditModalLabel.modal-title
            = t('admin2.listing_fields.edit_field_type', name: custom_field.name(I18n.locale), field_type: field_type_translation(custom_field.type).downcase)
          %button.close{'aria-label' => 'Close', 'data-dismiss' => :modal, type: :button}
            %span{'aria-hidden' => true} ×
        .modal-body
          = render 'admin2/listings/listing_fields/form', custom_field: custom_field, id: :submit_edit_listing_field
        .modal-footer
          = link_to t('admin2.cancel'), '#', class: %i[cancel-modal], 'data-dismiss': :modal
          = button_tag t('admin2.save_changes'), class: %i[btn btn-primary submit-listing-field-form]
