.locale-selection
  - all_locales.each do |locale|
    .locale-selection__language
      %label
        = check_box_tag "enabled_locales[]", locale[:locale_key], locale[:enabled]
        = t("admin.communities.available_languages.#{locale[:locale_key]}")
