.locale-selection
  - all_locales.each do |locale|
    .locale-selection__language
      %label
        = check_box_tag "enabled_locales[]", locale[:locale_key], locale[:enabled]
        = locale[:locale_name]