- content_for :javascript do
  $('#locale-selection').selectize({plugins: ['remove_button'], items: ['en']});
%div.locale-selection
  .input-header
    Enabled languages
  .info-text-container
    .info-text-icon
      %i.icon-info-sign
    .info-text-content
      %p
        Languages to be used nönönö
  .row.col-10
    %select.locale-selection__input-widget{multiple: true, name: "enabled_locales[]", id: "locale-selection"}
      - all_locales.each do |locale|
        %option{value: locale[:locale_key]}
          = t("admin.communities.available_languages.#{locale[:locale_key]}")
.clearfix{style: "width: 100%;"}