@import url('../reset.css');
@import url('../text.css');
@import url('../960.css');
@import url('../uniform.kassi.css');
/* Main colors */
/* Other colors */
/* Used to fix form padding problem in FF */
input[type="submit"]::-moz-focus-inner {
  border: 0; }

/* Used for divs with rounded corners */
/* Draws a thin line */
/* Flash notification */
#notifications {
  margin-top: 15px; }
  #notifications .notice {
    margin: 0 5px;
    color: #264409;
    border: 2px solid #c6d880;
    background: #e6efc2 url("/assets/icons/notification_icon_notice.png") 5px 0 no-repeat;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 5px;
    overflow: hidden;
    width: 927px; }
  #notifications .error {
    margin: 0 5px;
    color: #8a1f11;
    border: 2px solid #fbc2c4;
    background: #fbe3e4 url("/assets/icons/notification_icon_error.png") 5px 0 no-repeat;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 5px;
    overflow: hidden;
    width: 927px; }
  #notifications .warning {
    margin: 0 5px;
    color: #514721;
    border: 2px solid #ffd324;
    background: #fff6bf url("/assets/icons/notification_icon_warning.png") 5px 0 no-repeat;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 5px;
    overflow: hidden;
    width: 927px; }
  #notifications .info_message {
    margin: 0 5px;
    color: #264409;
    border: 2px solid #c6d880;
    background: #e6efc2 url("/assets/icons/notification_icon_info.png") 5px 0 no-repeat;
    font-weight: normal;
    font-size: 14px;
    padding: 5px 5px;
    overflow: hidden;
    width: 927px;
    line-height: 18px; }

.notifications {
  margin-top: 20px; }
  .notifications .notice {
    margin: 0 5px;
    color: #264409;
    border: 2px solid #c6d880;
    background: #e6efc2 url("/assets/icons/notification_icon_notice.png") 5px 0 no-repeat;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 5px;
    overflow: hidden;
    width: 927px; }
  .notifications .error {
    margin: 0 5px;
    color: #8a1f11;
    border: 2px solid #fbc2c4;
    background: #fbe3e4 url("/assets/icons/notification_icon_error.png") 5px 0 no-repeat;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 5px;
    overflow: hidden;
    width: 927px; }

/* Hidden div stuff */
/* Basic form */
/* Used for divs with rounded top or bottom */
body {
  background: #f7f5e6;
  color: #464646; }

h1 {
  font-size: 40px;
  font-weight: 500; }

h2.orange_wide {
  color: #d45207;
  width: 460px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  border-bottom: 6px solid #d45207;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden; }

h2.brown_wide {
  color: #765d3a;
  width: 460px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  border-bottom: 6px solid #765d3a;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden; }
  h2.brown_wide a {
    color: #765d3a; }
    h2.brown_wide a:hover {
      color: #4d3d26; }
    h2.brown_wide a:focus {
      color: #4d3d26; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: white; }
  a:active {
    color: white; }

a.form {
  color: #d45207;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500; }
  a.form:hover {
    color: #f8792f; }
  a.form:active {
    color: #f8792f; }

a.form_small {
  color: #d45207;
  font-size: 11px;
  text-decoration: none;
  font-weight: 400;
  padding-top: 3px; }
  a.form_small:hover {
    color: #f8792f; }
  a.form_small:active {
    color: #f8792f; }

p {
  font-size: 18px; }

#logo {
  margin-top: 27px; }

#select_language_form {
  margin-top: 29px;
  float: right; }

#slogan, #language_label {
  color: #d45207;
  margin-top: 30px; }

#language_switch {
  overflow: hidden; }

#language_label {
  float: right;
  margin-right: 10px; }

#header {
  overflow: hidden; }

#image_header {
  margin-top: 20px; }

#main {
  margin-top: 20px;
  overflow: hidden; }
  #main h1 {
    line-height: 45px; }

#main_text a {
  color: #d45207;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500; }
  #main_text a:hover {
    color: #f8792f; }
  #main_text a:active {
    color: #f8792f; }

.form_field_container {
  margin-bottom: 15px; }

#login_form {
  overflow: hidden;
  background: #d1c9b4;
  padding: 30px;
  margin: 10px 0 0 30px; }
  #login_form h2 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px; }
  #login_form input.text_field {
    font-weight: bold;
    color: #464646;
    background: #f7f5e6;
    width: 273px;
    font-size: 14px;
    height: 24px;
    padding: 9px;
    border: 0; }
    #login_form input.text_field:focus {
      background: white; }
  #login_form input.send_button {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 200px;
    height: 42px;
    padding: 0;
    border: 0;
    color: white; }
    #login_form input.send_button:active {
      background-color: #4d3d26;
      padding-top: 1px; }
    #login_form input.send_button:hover {
      background-color: #9f7d4e; }
    #login_form input.send_button:focus {
      background-color: #9f7d4e; }
  #login_form .text {
    margin: 10px 0;
    line-height: 16px; }

#password_forgotten {
  display: none; }

#recent_listings {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 50px; }

.recent_listing {
  overflow: hidden;
  width: 450px; }
  .recent_listing h5 {
    float: left;
    width: 350px; }
  .recent_listing span {
    float: right; }

.request_spacer_wide {
  border-top: 1px solid #d45207;
  width: 100%;
  margin: 10px 0;
  padding: 0;
  height: 0;
  width: 460px; }

.offer_spacer_wide {
  border-top: 1px solid #765d3a;
  width: 100%;
  margin: 10px 0;
  padding: 0;
  height: 0;
  width: 460px; }

.recent_listing {
  overflow: hidden; }
  .recent_listing h3 {
    font-size: 16px;
    width: 350px;
    float: left;
    margin: 0;
    padding: 0; }
  .recent_listing span {
    float: right;
    padding-top: 4px; }

#signup_form {
  background: #d1c9b4;
  overflow: hidden;
  padding: 20px 25px 25px 25px;
  line-height: 25px; }
  #signup_form h2 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px; }
  #signup_form input.text_field {
    font-weight: bold;
    color: #464646;
    background: #f7f5e6;
    width: 375px;
    font-size: 14px;
    height: 18px;
    padding: 9px;
    margin-left: 10px;
    border: 0; }
    #signup_form input.text_field:focus {
      background: white; }
  #signup_form input.send_button {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 200px;
    height: 42px;
    padding: 0;
    border: 0;
    color: white;
    margin: 15px 0 0 10px; }
    #signup_form input.send_button:active {
      background-color: #4d3d26;
      padding-top: 1px; }
    #signup_form input.send_button:hover {
      background-color: #9f7d4e; }
    #signup_form input.send_button:focus {
      background-color: #9f7d4e; }
  #signup_form input.send_button_terms {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 200px;
    height: 42px;
    padding: 0;
    border: 0;
    color: white;
    width: 250px; }
    #signup_form input.send_button_terms:active {
      background-color: #4d3d26;
      padding-top: 1px; }
    #signup_form input.send_button_terms:hover {
      background-color: #9f7d4e; }
    #signup_form input.send_button_terms:focus {
      background-color: #9f7d4e; }
  #signup_form label {
    margin: 10px;
    font-size: 14px;
    font-weight: bold; }
  #signup_form label.checkbox {
    margin: 0;
    padding-top: 5px;
    width: 200px;
    font-size: 12px;
    font-weight: bold; }
  #signup_form label.before_description {
    margin: 0 10px;
    float: left; }
  #signup_form .links {
    margin: 10px 0 0 10px; }
  #signup_form .text {
    margin: 0 10px 10px 10px;
    line-height: 16px; }
  #signup_form span.big {
    margin: 5px;
    color: #d45207;
    font-weight: bold;
    font-size: 16px; }
  #signup_form span.small {
    font-size: 11px; }
  #signup_form span.tiny_description {
    float: left;
    font-size: 11px;
    padding-top: 2px; }
  #signup_form textarea {
    margin-left: 10px;
    width: 300px;
    color: #464646;
    background: #f7f5e6;
    font-size: 12px;
    height: 50px;
    padding: 9px 9px;
    border: 0; }
    #signup_form textarea:focus {
      background: white; }
  #signup_form .default_textarea_text {
    background: #f7f5e6;
    color: #939393; }
  #signup_form div.title_label {
    margin-left: 10px;
    width: 300px;
    font-size: 14px;
    font-weight: bold; }
  #signup_form div.title_content {
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px; }
  #signup_form label.error {
    font-size: 13px;
    font-weight: bold;
    clear: both;
    float: left;
    margin: 5px 0 0 170px;
    padding: 14px 10px 5px 10px;
    background: red url("/assets/error_arrow.png") no-repeat top left;
    color: white;
    width: 373px;
    margin-left: 10px; }

.hidden_description {
  width: 300px;
  padding: 10px 10px 15px 10px;
  background: #f7f5e6;
  display: none;
  overflow: hidden; }
  .hidden_description h3 {
    font-size: 14px;
    margin: 0;
    padding: 0; }

.hidden_description_terms {
  width: 500px;
  padding: 10px 10px 15px 10px;
  background: #f7f5e6;
  display: none;
  overflow: hidden; }
  .hidden_description_terms h3 {
    font-size: 14px;
    margin: 0;
    padding: 0; }

.hidden_description_feedback {
  width: 600px;
  padding: 10px 10px 15px 10px;
  background: #f7f5e6;
  display: none;
  overflow: hidden; }
  .hidden_description_feedback h3 {
    font-size: 14px;
    margin: 0;
    padding: 0; }

.hidden_title {
  float: left;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0 0 20px; }

.hidden_title_wide {
  float: left;
  width: 300px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0 0 20px; }

.close_link {
  float: right;
  width: 18px;
  height: 18px; }
  .close_link a {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block; }

.hidden_content {
  clear: both;
  padding: 12px 20px 0 20px; }

.signup_checkbox_container {
  margin-left: 10px;
  overflow: hidden; }

.signup_checkbox_input_container {
  margin-right: 10px;
  float: left; }

.signup_checkbox_label_container {
  margin-top: 4px;
  float: left; }

.notification_text {
  width: 850px;
  float: left;
  padding: 5px 0 5px 55px; }

.close_notification_link {
  padding-top: 2px;
  width: 20px;
  float: right;
  font-size: 18px;
  font-weight: bold; }

.feedback_div {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  padding: 20px 20px 35px 20px;
  width: 250px;
  background: #2f5707;
  color: white; }
  .feedback_div h3 {
    color: #f7f5e6;
    font-size: 16px;
    margin-bottom: 5px; }

a.handle:hover {
  background-position: -40px 0; }

#new_feedback_form {
  overflow: hidden; }
  #new_feedback_form input.send_button {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 200px;
    height: 42px;
    padding: 0;
    border: 0;
    color: white;
    font-size: 13px;
    margin: 10px 35px 10px 0; }
    #new_feedback_form input.send_button:active {
      background-color: #4d3d26;
      padding-top: 1px; }
    #new_feedback_form input.send_button:hover {
      background-color: #9f7d4e; }
    #new_feedback_form input.send_button:focus {
      background-color: #9f7d4e; }
  #new_feedback_form label {
    float: left;
    width: 235px;
    margin-top: 10px; }
  #new_feedback_form .default_textarea_text {
    background: #f7f5e6;
    color: #939393; }
  #new_feedback_form input.text_field {
    float: left;
    color: #464646;
    background: #f7f5e6;
    width: 235px;
    border: 0;
    font-size: 14px;
    height: 18px;
    padding: 9px 9px;
    font-weight: bold;
    margin: 5px 0 0 0; }
    #new_feedback_form input.text_field:focus {
      background: white; }
  #new_feedback_form textarea {
    float: left;
    margin: 5px 0 0 0;
    width: 235px;
    color: #464646;
    background: #f7f5e6;
    font-size: 12px;
    height: 80px;
    padding: 9px 9px;
    border: 0; }
    #new_feedback_form textarea:focus {
      background: white; }
  #new_feedback_form span {
    float: left;
    width: 235px; }
  #new_feedback_form a {
    color: #f8792f; }
    #new_feedback_form a:hover {
      color: #fa9961; }
  #new_feedback_form label.error {
    font-size: 13px;
    font-weight: bold;
    width: 325px;
    margin: 5px 60px 0 0;
    padding: 14px 10px 7px 10px;
    background: red url("/assets/error_arrow3.png") no-repeat top left;
    color: white; }

.unwanted_text_field {
  display: none; }

div.container_12, div.feedback_div {
  display: none; }

.js_enabled div.container_12, .js_enabled div.feedback_div {
  display: block; }

#error {
  margin-top: 120px; }
  #error h2 {
    margin-bottom: 5px; }

#error_content {
  margin-top: 70px; }
  #error_content h2 {
    line-height: 30px;
    margin-bottom: 20px; }

#error_kaapo {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px; }

#error_page_feedback_form {
  background: #d1c9b4;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 20px;
  overflow: hidden; }
  #error_page_feedback_form input.send_button {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 200px;
    height: 42px;
    padding: 0;
    border: 0;
    color: white;
    font-size: 13px;
    margin: 20px 35px 10px 0; }
    #error_page_feedback_form input.send_button:active {
      background-color: #4d3d26;
      padding-top: 1px; }
    #error_page_feedback_form input.send_button:hover {
      background-color: #9f7d4e; }
    #error_page_feedback_form input.send_button:focus {
      background-color: #9f7d4e; }
  #error_page_feedback_form label {
    float: left;
    width: 405px; }
  #error_page_feedback_form input.text_field {
    float: left;
    color: #464646;
    background: #f7f5e6;
    width: 405px;
    border: 0;
    font-size: 14px;
    height: 18px;
    padding: 9px 9px;
    font-weight: bold;
    margin: 5px 0 10px 0; }
    #error_page_feedback_form input.text_field:focus {
      background: white; }
  #error_page_feedback_form textarea {
    float: left;
    margin: 5px 0 0 0;
    width: 405px;
    color: #464646;
    background: #f7f5e6;
    font-size: 12px;
    height: 80px;
    padding: 9px 9px;
    border: 0; }
    #error_page_feedback_form textarea:focus {
      background: white; }

.hidden {
  display: none; }

#additional_info p {
  font-size: 14px; }
  #additional_info p a {
    font-size: 14px; }

#read_more_link_container {
  margin-bottom: 10px; }
  #read_more_link_container a {
    font-size: 14px; }
