%h1 Let's face it, the rental market is broken
%p
On what ground are we saying this? Simply because having to line up for 2 hours in a staircase for a visit, or paying a realtor isn't a proper choice.
%p
How come is it so bad? Because people don't know each other, hence they don't trust each other

%p
%h1 It's time to replace the market with our community 
%p
A community is based on one simple principle: gathering people that share common values and needs, hence creating ground for trust.
%p
Boulevard-21's overarching goal is no different: bringing back trust at the center of housing search process.

%p
%h1 The community of college students and alumni
%p
Students and alumni from colleges boast the ingredients necessary to building such community, and solve the housing search.
%p
They share common needs, evolving around mobility and needs to find a place to settle wherever their projects, academic, professional, or personnal, may drive them.
%p
Common values too, of internationally-minded people, with a sense of belonging and willingness to help each other
