%h3 
  Registraire 
%p  
  ReCambio using the social platform from : Sharetribe Ltd
  %br
  www.recambio.cc
  %br
  info (at) recambio.cc
  %br
 
%h3 
  Contact
%p 
  Germany: Matias Puga
  %br
  +49 8951555945
  %br
  maty (at) recambio.cc
  %br
  %br
  Argentina: Alejandro Güerri
  %br
  +54 1148960140
  %br
  ale (at) recambio.cc

%h3 
  Nom du registraire 
%p 
  Registraire des utilisateurs du service #{service_name}  
%h3 
  Utilisation de données personnelles (pour le registraire)
%p  
  Les données personnelles sont collectées afin de rendre possible la communication et l'utilisation du service. Les données pourront être utilisées pour la communication entre les fournisseurs et les utilisateurs du service mais aussi pour la communication directe entre utilisateurs. Certaines données personnelles seront visibles sur la page du profil de l'utilisateur, mais ces données sont facultatives (sauf le nom). 
%p 
  Le traitement des données personnelles n'est pas externalisé mais les données sont stockées sur un serveur loué auprès d'une entreprise tierce. 
%h3 
  Contenu du registraire
%p
  Les informations suivantes pourront être sauvegardées chez le registraire : 
  %ul 
    %li 
      Données personnelles : nom, adresse email, numéro de téléphone, adresse postale
    %li 
      Détails du compte : nom d'utilisateur, mot de passe (enregistré sous un format crypté)
    %li 
      Le texte descriptif écrit par l'utilisateur pour se présenter
    %li 
      Les offres et demandes postées par l'utilisateur sur le service
    %li 
      Les évaluations, commentaires et badges donnés et reçus
    %li 
      Les statistiques concernant l'utilisation du service, par exemple le nombre de connexions de l'utilisateur
%h3 
  Sources des données
%p
  Les données personnelles sont fournies par l'utilisateur lors de l'inscription ou lors de son utilisation du service. 
%h3
  Transferts des données
%p
  Les données pourront être transmises à des fins de recherche comme décrit dans les
  = link_to t('layouts.infos.terms'), terms_infos_path 
  que l'utilisateur accepte avant de commencer à utiliser le service. Les chercheurs n'ont pas le droit de publier de résultats de recherche dévoilant les données d'identification ou permettant l'identification d'un utilisateur spécifique.
%p
  Les informations concernant les utilisateurs d'une tribu #{service_name} spécifique pourront être transmises au client ayant créé la tribu ou aux administrateurs de la tribu nommés par le client.
%h3
  Transfert des données à l'extérieur de l'UE ou de l'Espace économique européen
%p
  Les données pourront être sauvegardées sur un serveur se trouvant à l'extérieur de l'UE et de l'Espace économique européen
%h3
  Protection des données du registraire
%p 
  Les informations sont sauvegardées sur des ordinateurs. L'accès à l'information est restreint avec des mots de passe et l'accès physique aux ordinateurs est contrôlé par l'entreprise d'hébergement de serveurs.