%h3  
  Registrar 
%p  
  #{service_name}
  %br 
  = link_to "www.boulderfloodrelief.org", "http://www.boulderfloodrelief.org" 
  %br 
  info (at) boudlerfloodrelief.org 
 
%h3 
Protecting your privacy
%p 
We don't share your information with third parties for marketing purposes. We don't engage in cross-marketing or link-referral programs with other sites.
We don't employ tracking devices for marketing purposes ("cookies", "web beacons," single-pixel gifs). 
We don't send you unsolicited communications for marketing purposes. 
Boulder Flood Relief does not knowingly collect any information from persons under the age of 13. If Boulder Flood Relief learns that a posting is by a person under the age of 13, Boulder Flood Relief will remove that post. 
Boulder Flood Relief or people who post on Boulder Flood Relief, may provide links to third party websites, which may have different privacy practices. We are not responsible for, nor have any control over, the privacy policies of those third party websites, and encourage all users to read the privacy policies of each and every website visited.