%h3 Le marché locatif ne fonctionne pas !
%p
Pourquoi un tel constat ? Car devoir choisir entre attendre deux heures dans l'escalier pour une visite, ou payer un agent n’est pas un choix.
%p
Pourquoi en est-on arrivé là ? Car les gens ne se font plus confiance et cela grippe tout le sytème.

%p
%h3 Place à la communauté Boulevard-21
%p
Le principe de la communauté est simple : réunir des personnes partageant des valeurs et besoins semblables, pour créer les conditions de la confiance.
%p
Boulevard-21 n'a pas d'autre objectif : remettre la confiance au centre de la recherche de logement et au service de la mobilité de ses membres.

%p
%h3 La communauté des étudiants et diplômés des grandes écoles
%p
Les étudiants et diplômés des grandes écoles ont les ingrédients pour créer pareille communauté, au service de leur propre mobilité.
%p
Ils partagent des besoins communs, de mobilité et de recherche de logement là où leurs projets académiques, professionnels, ou personnels les mènent.
%p
Des valeurs communes aussi, d’ouverture à l’international, d’appartenance, et d’entraide entre étudiants et diplômés.