%h3 
  Registreer
%p 
  Kassi service:
  = link_to "www.kassi.eu", "http://www.kassi.eu/en"
  &
  = link_to "www.avoinyritys.fi", "http://avoinyritys.fi/english"
  %br
  info (aet) kassi.eu
  %h3
  Contactpersoon 
%p
  Antti Virolainen
  %br 

  Kirjurinkuja 3 F 46 02600 Espoo
  %br 
  +358-50-5311793
  %br
  antti.virolainen (aet) kassi.eu
  
%h3 
  Naam van het register
%p 
  Gebruikersregister van de Kassi service
%h3
  Gebruik van persoonlijke details (doel van het register)
%p 
  Persoonlijke details zijn verzameld om communicatie en gebruik van de service mogelijk te maken. De details kunnen gebruik worden voor de communicatie tussen service verschaffers en gebruikers en ook voor directe communicatie tussen gebruikers. Sommige persoonlijke details zijn zichtbaar op de profielpagina van de gebruiker echter zijn deze details vrijwillig (m.u.v. de naam ). 
%p
  De omgang met persoonlijke details is niet uitbesteed. De register informatie is opgeslagen op een server dat gehuurd is van derden. 
%h3 
  Informatie inhoud van het register
%p 
  De volgende informatie mag worden opgeslagen in het register: 
%ul
  %li 
    Persoonlijke details: Naam, e-mailadres, telefoonnummer, straatadres
  %li
    Account details: gebruikersnaam, wachtwoord (opgeslagen in gecodeerd formaat)
  %li
    De beschrijvingstekst dat de gebruikers mogelijk schrijf over zichzelf 
  %li
    De aanbiedingen en verzoeken die de gebruiker heeft gestuurd naar de 
  %li
    De gegeven en ontvangen feedback en badges
  %li
    Statistische informatie over het service gebruik bijv. aantal keer ingelogd
%h3
  Gebruikelijke bronnen van de informatie
%p 
  Persoonlijke details zijn gegeven door de gebruiker bij registratie naar de service of wanneer het later wordt gebruikt. 
%h3 
  Gebruikelijke overdracht van de informatie
%p 
  De informatie mag overhandigt voor onderzoekdoeleinden zoals beschreven in de 
  = link_to t('layouts.infos.terms'), terms_infos_path
  dat de gebruiker accepteert voor het gebruik van de service. De onderzoekers mogen geen onderzoeksresultaten publiceren zodat identificerende informatie niet wordt vrijgegeven of dat een specifieke gebruiker kan worden gedentificeerd. 
%p
  Informatie betreffende gebruikers van een Kassi gemeenschap mag worden overhandigt naar de clint die de gemeenschap heeft gesticht of naar de gemeenschap administratoren aangewezen door de clint. 
%h3 
  Overdrachten van de informatie buiten de EU en het Europese Economische Gemeenschap. 
%p
  Informatie mag worden opgeslagen naar een server dat zich mogelijk binnen of buiten de EU of Europese Economische Gemeenschap bevindt. 
%h3 
  Informatie protectie principes 
%p 
  De informatie is opgeslagen op computers. De toegang naar de informatie is beperkt m.b.v. wachtwoorden en fysieke toegang tot de computers is beperkt door het bedrijf van de server.