%h3 
  Регистратор
%p 
  Служба Kassi:
  = link_to "www.kassi.eu", "http://www.kassi.eu/en"
  &
  = link_to "www.avoinyritys.fi", "http://avoinyritys.fi/english"
  %br
  info (на) kassi.eu
  
%h3
  Контакты:
%p
  Antti Virolainen
  %br 
  Kirjurinkuja 3 F 46 02600 Espoo
  %br 
  +358-50-5311793
  %br
  antti.virolainen (на) kassi.eu
  
%h3 
  Название регистра
%p 
  Пользовательский регистр сервиса Kassi
%h3
  Использование личных данных (цель регистра)
%p 
  Личные данные собираются для возможности функционирования сервиса. Данные могут быть использованы для коммуникации между владельцами сервиса и пользователями, а также для прямой коммуникации между пользователями. Некоторые личные данные могут быть видимы для всех пользователей на страницы его профиля, но эти данные являются добровольно размещаемыми (кроме имени). 
%p
  Обработка данных не ведётся третьими лицами, однако данные регистра хранятся на сервере, арендуемом у третьих лиц.
%h3 
  Информационное содержимое регистра
%p 
  Следующая информация может храниться в регистре:
  %ul
    %li 
      Личные данные: Имя, адрес email, телефонный номер, почтовый адрес
    %li
      Информация учётной записи: имя пользователя, пароль (хранится в зашифрованном виде)
    %li
      Текст описания, предоставленный о себе самим пользователем
    %li
      Запросы и предложения, размещённые пользователем на сервисе
    %li
      Полученные и отправленные отзывы и информация о значках
    %li
      Статистические данные об использовании сервиса, например количество входов на сервис
%h3
  Официальные источники информации
%p 
  Личная информация сообщается пользователем при регистрации и при последующем использовании сервиса. 
%h3 
  Официальная обработка информации
%p 
  Информация может обрабатываться в исследовательских целях, как описано в
  = link_to t('layouts.infos.terms'), terms_infos_path
  которые пользователь соглашается выполнять перед использованием сервиса. Исследователи не могут публиковать какие-либо результаты, которые могут содержать однозначно идентифициирующую какого-либо пользователя информацию.
%p
  Информация о пользователях конкретного сообщества Kassi может передаваться клиенту, основавшему это сообщество, либо администратору этого сообщества, как указано этим клиентом.
%h3 
  Передача информации за пределы Европейского союза и Европейской экономической зоны
%p
  Информация может храниться на сервере, расположенном как внутри, так и вне Европейского союза и Европейской экономической зоны
%h3 
  Принципы защиты регистра
%p 
  Информация хранится на компьютерах. Доступ к информации ограничен паролированием, а физический доступ ограничен персоналом компании, предоставляющей хостинг сервера.