%h3 The rental market is just not working!
%p
On what ground are we saying this? Simply put, because having to line up for 2 hours in a staircase for a visit, or paying a realtor isn't a proper choice.
%p
How come is it so bad? Because people don't know each other, hence they don't trust each other

%p
%h3 It's time to replace the market with our community 
%p
A community is based on one simple principle: gathering people that share common values and needs, hence creating ground for trust.
%p
Boulevard-21's overarching goal is no different: bringing back trust at the center of the housing search process.

%p
%h3 The community of college students and alumni
%p
Students and alumni from colleges boast the ingredients required to building such community, for the sake of their own mobility needs.
%p
They share common needs, for mobility and for a place to live wherever their projects, academic, professional, or personnal, may drive them.
%p
Common values too, with internationally-minded people, and a sense of belonging and willingness to help each other deeply ingrained
