%h1 Admettons-le, le marché locatif ne fonctionne pas
%p
Pourquoi un tel constat ? Tout simplement parce que devoir choisir entre attendre deux heures dans l'escalier pour une visite, ou payer un agent n’est pas un choix.
%p
Pourquoi en est-on arrivé là ? Car les gens ne se connaissent pas, et donc, ne se font pas confiance.

%p
%h1 Après le marché, place à la communauté Boulevard-21
%p
Le principe d'une communauté est simple : réunir des personnes partageant des valeurs et besoins semblables, pour créer les conditions de la confiance.
Boulevard-21 n'a pas d'autre objectif : remettre la confiance au centre de la recherche de logement.

%p
%h1 La communauté des étudiants et diplômés des grandes écoles
%p
Les étudiants et diplômés des écoles ont les ingrédients pour créer pareille communauté, au service du logement.
%p
Ils partagent des besoins communs, de mobilité et de trouver un logement partout où leurs projets académiques, professionnels, ou personnels les mènent.
%p
Des valeurs communes aussi, d’ouverture à l’international, d’appartenance, et d’entraide entre étudiants et diplômés.
