%h3 
  Registrar 
%p  
  ReCambio using the social platform from : Sharetribe Ltd
  %br
  www.recambio.cc
  %br
  info (at) recambio.cc
  %br
 
%h3 
  Contact person 
%p 
  Germany: Matias Puga
  %br
  +49 8951555945
  %br
  maty (at) recambio.cc
  %br
  %br
  Argentina: Alejandro Güerri
  %br
  +54 1148960140
  %br
  ale (at) recambio.cc

%h3  
  Registername
%p  
  Benutzerregister des  #{service_name} Service 
%h3 
  Verwendung persönlicher Daten (Registrierungszweck) 
%p  
  Persönliche Daten werden gesammelt um die Kommunikation und die Nutzung des Service zu ermöglichen. Die Daten können genutzt werden für die Kommunikation zwischen den Service Anbieter und den Benutzern und ausserdem für die Kommunikation zwischen Benutzern. Einige persönliche Daten können auf der Profilseite des Benutzers gefunden werden, aber diese Daten sind freiwillig (ausser dem Namen).
%p 
  Persönliche Daten werden nicht an Dritte weitergegeben, aber die Register werden auf einem gemieteten Server eines Drittunternehmens gespeichert.
%h3  
Informationsinhalt des Registers
%p  
  Die folgenden Informationen können im Register gespeichert werden: 
  %ul 
    %li  
      Persönliche Daten: Name, Email-Adresse, Telefonnummer, Adresse 
    %li 
      Kontodaten: Benutzername, Passwort (gespeichert in verschlüsseltem Format) 
    %li 
      Die Beschreibung die der Benutzer über sich selbst schreiben kann
    %li 
      Die Angebote und Anfragen die der Benutzer in den Service geschrieben hat
    %li 
      Die vergebenen und erhaltenen Feedbacks und Abzeichen
    %li 
      Statistische Daten über die Nutzung des Service, z.b die Anzahl der Anmeldungen des Benutzers
%h3 
  Regelmäßige Quellen von Informationen
%p  
  Persönliche Daten werden vom Benutzer bei der Registrierung des Service oder später bei der Nutzung angegeben.
%h3  
Regelmäßige Übergaben der Informationen
%p  
  Die Information kann für Forschungszwecke weitergegeben werden, so wie es beschrieben wurde in
  = link_to t('layouts.infos.terms'), terms_infos_path 
  die der Benutzer akzeptiert bevor er anfängt den Service zu nutzen.  Die Forscher können Forschungsergebnisse nicht veröffentlichen, so dass identifizierende Informationen offenbart werden oder dass ein spezifischer Benutzer erkannt werden kann. 
%p 
  Informationen zu Benutzern einer einzigen #{service_name} Community können an den Geschäftskunden der die Community gegründet hat oder die durch den Geschäftskunden ernannten Community Administratoren weitergegeben werden.  
%h3  
  Transfers von Informationen außerhalb der EU und des Europäischen Wirtschaftsraums
%p 
  Informationen können auf einem Server gespeichert werden der sich inerhalb oder ausserhalb der EU und des Europäischen Wirtschaftsraum befinden. 
%h3  
  Schutzprinzipien der Register 
%p  
  Die Information wird auf Computern gespeichert. Der Zugang zu den Informationen wird mit Passwörtern und per physischen Zugang zu den Computern durch das Server-Hosting-Unternehmen beschränkt.