- if stripe_balance
  .row
    %h4 Balance
    %table
      %tr
        %th Type
        %th Currency
        %th Amount
      - %w(available pending).each do |type|
        - if stripe_balance[type]
          - stripe_balance[type].each do |row|
            %tr 
              %td= type
              %td= row.currency.upcase
              %td= humanized_money_with_symbol(Money.new(row.amount, row.currency))

