- content_for :extra_javascript do
  :javascript
    $("#no_stripe").click(function(){
      $.ajax({
        type: "POST", 
        url: "#{toggle_payment_person_settings_path(@current_user)}", 
        data: {
          no_stripe: this.checked
        },
        success: function() {
          window.location.href = window.location.href;
        }
      })
    });
%label
  = check_box_tag :no_stripe, 1, @current_user.preferences[:no_stripe]
  = t("stripe_accounts.not_now")
