/*
 * COLORS
 * Link => #406704;
 * 
 * 
 *
 */ 

html { 
	min-width: 600px; 
	height: 100%;
}

body, div, td, th, h2, h3, h4 { /* redundant rules for bad browsers  */ 
  font-family: "lucida grande", arial, verdana, sans-serif;
	font-size: 14px;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: 12px;
	color: #333;
}  

/*Clears Box Model Hack in IE5*/
.clearhack { 
	display: inline; 
} 

body {
	text-align: center; 
	background: #f4f6d0;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
}

p {
	margin: 10px;
}

a {
	border: 0;
	color: #497506;
	text-decoration: none;   
}

a:hover {
	color: #6fb107;
	text-decoration: underline;  
}

a:active { 
	color: #7ac307;
	text-decoration: underline;
}

a.listing {
	color: #609a08;
}

a.listing:visited {
	color: #406606;
}

p { 
	line-height: 140%;
}

h1,h2 {
	font-weight: bold;
	color: #333;
	text-align: left;
}

h1 {
	font-size: 18px;
	padding-bottom: 4px;
	border-bottom: 1px solid #000;
	margin: 0;
}

h1.no_border {
	border: 0;
}

h2 {
	font-size: 16px;
	padding-bottom: 3px;
	margin: 0;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 14px;
	padding-bottom: 4px;
	border-bottom: 1px solid #000;
	margin: 0;
}

h5 {
	text-align: center;
	font-size: 16px;
}

h6 {
	margin: 3px 0 3px 0;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}

p.center {
	text-align: center;
}

input {
	font-size: 12px;
	size: 25;
}

textarea {
	font-size: 12px;
	padding: 5px;
}

img {
	border: 0;
}

input.button {
	width: 75px;
}

span.page_entries_info {
	font-size: 10px;
}

ul.profile_info {
	margin: 0;
	padding: 0px 23px 15px 23px;
}

ul.profile_info li {
	padding: 2px;
	border-bottom: 1px dotted #000;
}

form {
	margin: 0px;
	padding: 0px;
}

/* Hack to get IE to display fieldset/legend correctly */ 
html fieldset { 
  position: relative; 
} 

html legend { 
  position: absolute; 
  top: -1em; 
  left: .5em; 
} 

html fieldset { 
  position: relative; 
  margin-top: 2em;
  padding-top: 1.5em; 
  padding-bottom: 1.5em;
	padding-left: 1em;
}

/* Form Styles */ 
fieldset { 
  background: #dbf5b1;
} 

legend { 
  color: white; 
  background: #72776c; 
  padding: .4em 1em; 
}


