/*
 * COLORS
 * Greenish light yellow (background): #f4f6d0;
 * Grey (unselected item in top navi and hover): #72776c;
 * Lighter grey (hovered uselected item in top navi):
 * Lightest grey (listing author box, new message): #e0e6d8;
 * Light green (left links, category box, notification box) => #c0e783;
 * Lighter green (hovered left links, hovered category box) => #dbf5b1;
 * Orange (warning) => #fea04c;
 * Red (error) => #fe5c58;
 *
 */

/* Rulers */

div.extra_padding {
	padding: 5px;
	padding-bottom: 3px;
}

div.left_float {
	float: left;
}

div.right_float {
	float: right;
}

div.solid_line {
	border-top: 1px solid #000;
	width: 100%;
}

div.dashed_line {
	border-top: 1px dashed #000;
	width: 100%;
}


/* Error messages */

div.announcement {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

div.notification {
	background: #c0e783;
}

div.warning {
	background: #fea04c;
}

div.error {
	background: #fe5c58;
}

#form_error_messages {
	padding: 5px;
}

div.fieldWithErrors {
	border: 3px solid #f66;
}

/* General layout */

/* 
 *	Wraps everything except footer to make sure footer 
 *	stays in the bottom of the page.
 */
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}

#main {
	background: #f4f6d0 url(../images/background_gradient2.png) repeat-x top left;
	height: 100%;
	margin: 0;
}

/* Keeps the content centered */
#centering {
	margin: 0 auto;
	width: 1000px;
	text-align: left;
}

#top_links {
	clear: both;
	width: 1000px;
	margin: 0px;
}

#top_links_left {
	float: left;
	font-size: 12px;
	margin-top: 3px;
	margin-left: 5px;
	padding: 0px;
	color: #ffffff;
	height: 15px;
}

#top_links_right {
	float: right;
	font-size: 12px;
	margin-top: 3px;
	padding: 0px;
	color: #ffffff;
	height: 15px;
}

#top_links_left a, #top_links_right a {
	font-size: 13px;
	color: #f4f6d0;
}

#top_links_left a:hover, #top_links_right a:hover {
	font-size: 13px;
	color: #f4f6d0;
}

#logo_and_top_navi {
	clear: both;
	width: 1000px;
	margin: 0px;
}

#logo {
	position: absolute;
	top: 35px;
	margin: 0px;
}

#search_and_navi_container {
	position: relative;
	height: 125px;
}

#searchbar {
	position: absolute;
	right: 0px;
	height: 30px;
	margin-top: 15px;
	float: right;
}

#search_and_navi_container ul#primary {
	position: absolute;
	bottom: 1px;
	margin: 0;
	margin-left: 256px;
	padding: 0;
	width: 65	em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#search_and_navi_container ul#primary li  {
	display: inline;
	list-style: none;
}

#search_and_navi_container ul#primary a {
	width: 8em;
	display: block;
	float: left;
	padding: 5px 0;
	margin: 0px 8px 0 0;
	text-align: center;
	font-family: "lucida grande", helvetica, verdana, sans-serif;
	font-size: 105%;
	text-decoration: none;
	color: #ffffff;
}

#search_and_navi_container ul#primary li.selected a {
	color: #000000;
	background: #f4f6d0;
	padding-bottom: 5px;
	margin-top: 0;
}

#search_and_navi_container ul#primary li.selected a:hover {
	background: #f4f6d0;
}

#search_and_navi_container ul#primary a {
	background: #72776c;
	font-family: "lucida grande", helvetica, verdana, sans-serif;
}

#search_and_navi_container ul#primary a:hover {
	background: #9aa092;
}


/* Left navigation */

#left_navi {
	float: left;
	margin-top: 30px;
	border-right: 1px solid #666;
	width: 229px;
	height: 100%;
}

#links {
	margin-left: 5px;
}

div.link {
	border: 1px solid #666;
	background: #c0e783;
	width: 223px;
}

div.link_selected {
	border: 1px solid #666;
	border-right: 0px;
	background: #f4f6d0;
	width: 224px;
} 

#links a {
	display: block;
	width: 213px;
	height: 100%;
	color: #304c03;
	padding: 5px 0px 5px 10px;
	text-decoration: none;
}

#links a:hover {
	background: #dbf5b1;
	width: 213px;
}

#links ul {
	margin-top: 7px;
	margin-left: 0px;
	padding-left: 30px;
}

#links ul.secondary {
	margin-top: 2px;
	margin-left: -5px;
}

#links li a {
	font-weight: normal;
	text-decoration: underline;
	display: inline;
	color: #406704; 
}

#links li a:hover {
	color: #64a006; 
	text-decoration: none;
	background: none; 
}

#links li a:active { 
	color: #7ac307;
	text-decoration: none; 
}

#sublinks ul {
	margin-left: 15px;
	padding: 0;
	list-style: none;
}

#sublinks ul.subsub {
	margin-top: 0px;
}

#sublinks li {
	padding: 0;
}

#sublinks li.active {	
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: -1px 10px;
}

#sublinks li a {
	border: 0;
	color: #497506;
	text-decoration: none;
	margin-left: 5px;
	display: block;
	width: 200px;
	height: 13px;
}

#sublinks li a:hover {
	color: #000000;
	width: 194px;
	background: #c0e783;
}

#sublinks ul.subsub {
	margin-left: 18px;
}

#sublinks ul.subsub li a:hover {
	width: 176px;
}


/* General content part layouting */

/* Used if left navigation is present */
#contents {
	float: left;
	margin-top: 30px;
	text-align: left;
	width: 730px;
	padding-left: 30px;
}

/* Used when no left navigation is present */
#contents_full {
	margin-top: 30px;
	margin-left: 20px;
	width: 960px;
}

/* Padding for a typical content page */
#basic_content {
  padding: 15px 10px;
}

div.arrow_left {
	width: 30px;
	padding-top: 5px;
	float: left;
}

div.arrow_right {
	padding-top: 5px;
	float: left;
}

/* Content page -specific link panel */
div.links_panel {
	background: #e0e6d8;
	margin-top: 10px;
	padding: 7px 8px;
	overflow: hidden;
	border: 1px solid #000;
}

/* Pagination links */
div.pagination {
	margin-top: 0px;
	float: right;
}

div.form_container {
	overflow: hidden;
	width: 700px;
}

div.form_left {
	font-weight: bold;
	float: left;
	width: 150px;
	margin-top: 5px;
	margin-bottom: 10px;
}

div.form_right {
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* Listed objects */

div.listed_object {
	width: 731px;
	overflow: hidden;
}

div.listed_object_person_image {
	float: left;
	padding: 10px;
	width: 50px;
}

div.listed_object_title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 13px;
}

div.listed_object_title a {
	font-size: 16px;
	font-weight: bold;
}

div.listed_object_right {
	width: 292px;
	float: left;
	padding: 10px;
}

div.listed_object_right_line {
	overflow: hidden;
	width: 270px;
	margin-bottom: 3px;
}

div.listed_object_right_line_title {
	font-weight: bold;
	float: left;
	width: 150px;
}

div.listed_object_right_line_content {
	float: left;
	width: 120px;
}

div.pagination_padding {
	padding-top: 6px;
}


/* Page-specific content part layouting */

/* Browse listings view */

#listings_header {
	width: 100%;
	margin-bottom: 20px;
}

#listings_header_links_left {
	float: left;
	margin-bottom: 20px;
}

#listings_header_links_right {
	float: right;
	margin-bottom: 20px;
}

div.browse_objects_header {
	height: 26px;
	border-bottom: 1px solid #000;
}

div.browse_objects_header_right {
	margin-top: 6px;
	float: right;
}

div.browse_objects_title {
	font-weight: bold;
	font-size: 18px;
	float: left;
}

#browse_objects_footer_left {
	margin-top: 6px;
	float: left;
}



/* Single listing in a list. */

div.listed_listing_center {
	padding: 10px;
	float: left;
	width: 440px;
}

div.listed_listing_center_narrow {
	padding: 10px;
	float: left;
	width: 320px;	
}

div.listed_listing_image {
	padding: 10px;
	float: left;
	width: 100px;
}

div.listed_listing_right_titles {
	font-weight: bold;
	padding: 10px;
	float: left;
	width: 60px;
}	

div.listed_listing_right_texts {
	padding: 10px;
	float: left;
	width: 90px;
}

div.listed_listing_right_item {
	margin-bottom: 3px;
}


/* View a single listing view */

#listing_contents {
	float: left;
	width: 390px;
}

#listing_author_box {
	background: #e0e6d8;
	width: 100%;
	overflow: hidden;
}

#listing_author_box_image {
	float: left;
	padding: 10px;
	width: 50px;
}

#listing_author_box_titles {
	font-weight: bold;
	padding: 12px 5px;
	float: left;
	width: 70px;
}	

#listing_author_box_texts {
	padding: 12px 5px;
	float: left;
	width: 200px;
}

div.listing_author_box_item {
	margin-bottom: 3px;
}

#listing_image {
	float: right;
	width: 300px;
}

#listing_comments {
	clear: both;
}

#title_with_border {
	border-bottom: 1px solid #000;
	width: 100%;
	overflow: hidden;
}

#title_with_border_taller {
	border-bottom: 1px solid #000;
	height: 50px;
	width: 100%;
}

#title_div {
	width: 687px;
	float: left;
}


/* Add a listing view */

#add_listing_form {
	margin-top: 10px;
}

div.category {
	width: 715px;
	height: 40px;
	border: 2px solid #64a006;
	background: #dbf5b1;
	margin: 10px 5px;
}

div.category a {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 20px;
	background: #c0e783;
	padding: 10px;
}

div.category a:hover {
	background: #dbf5b1;
}

div.category a span {
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

#breadcrumb {
	margin: 20px 5px;
}


/* Profile view */

#profile_picture {
	width: 200px;
	border: 10px solid #72776c;
	margin-bottom: 10px;
}

#profile_left {
	float: left;
	width: 220px;
	margin: 10px;
}

div.profile_left_link {
	margin-bottom: 2px;
}

#profile_right {
	margin-top: 10px;
	float: right;
	width: 475px;
}

div.profile_small_header {
	font-size: 12px;
	background: #c0e783;
	padding: 5px 7px;
	margin-bottom: 5px;
	margin-right: 10px;
	height: 14px;
}

div.profile_info {
	padding: 1px 10px 7px 10px;
}

div.profile_info_field {
	overflow: hidden;
	width: 100%;
	margin: 3px 0px;
}

div.profile_info_field_title {
	float: left;
	width: 250px;
}

div.profile_info_field_links {
	float: right;
	margin-right: 10px;
}

div.profile_add_form {
	margin: 0 10px 14px 22px;
}


/* Kassi events view */

div.listed_kassi_event_left {
	padding: 10px;
	float: left;
	width: 395px;
}

div.listed_kassi_event_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

div.listed_kassi_event_title a {
	font-size: 14px;
	font-weight: bold;
}


/* Items and favors view */

#item_content {
	margin: 10px 5px;
}

div.letter_header {
	font-size: 14px;
	font-weight: bold;
	background: #c0e783;
	padding: 5px 7px;
	width: 705px;
}

div.item_title {
	margin: 5px 7px;
}

div.selected_item_title {
	margin-bottom: 3px;
	overflow: hidden;
}

div.item_owners {
	background: #dbf5b1;
	margin: 5px 0;
	padding: 7px;
	overflow: hidden;
}

div.listed_item_owner_center {
	padding: 10px;
	float: left;
	width: 350px;
}

div.listed_item_owner_right {
	width: 250px;
	padding: 10px;
	margin-right: 20px;
	float: right;
	text-align: right;
}	

div.listed_item_owner_right_link {
	margin-bottom: 5px;
}


/* Message views  */

#send_message_to_existing_conversation {
	padding: 0px 10px;
}

div.browse_conversations_header {
	height: 26px;
	border-bottom: 1px solid #000;
}

div.browse_conversations_header_right {
	margin-top: 6px;
	float: right;
}

div.browse_conversations_title {
	font-weight: bold;
	font-size: 18px;
	float: left;
}

span.unread_messages {
	font-size: 14px;
}

div.listed_message_center {
	width: 160px;
	float: left;
	padding: 18px 10px 10px 10px;
}

div.listed_message_right {
	width: 450px;
	float: left;
	padding: 18px 10px 10px 10px;
}

div.unread_conversation {
	background: #dbf5b1;
}


/* Comments */

#comments {
	clear: both;
}

div.listed_comment_center {
	width: 160px;
	float: left;
	padding: 10px;
}

div.listed_comment_right {
	width: 450px;
	float: left;
	padding: 10px;
}

div.listed_comment_paragraph {
	margin-bottom: 6px;
}


/* Search */

div.search_title {
	font-weight: bold;
	font-size: 16px;
	float: left;
}

div.search_header {
	font-size: 14px;
	font-weight: bold;
	background: #c0e783;
	padding: 5px 7px;
	width: 945px;
	overflow: hidden;
}


/* Home */

div.home_header {
	font-size: 14px;
	font-weight: bold;
	background: #c0e783;
	padding: 5px 7px;
	width: 715px;
	overflow: hidden;
}


/* Feedback */

#feedback {
	width: 1000px;
	text-align: center;
	clear: both;
}

.feedback_item {
	margin: 3px;
	border: 1px solid #000;
}


/* Footer */

/* 
 * A push of same height than the footer is needed in 
 * order to keep the footer in the bottom of the page.
 */
#footer, #push {
	height: 25px; 
}

#footer {
	margin: 0;
	padding: 0;
	clear: both;
	background: #72776c;
	width: 100%;
}

#footer_text {
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}

#footer_text_left {
	color: #ffffff;
	margin-top: 4px;
	float: left;
	text-align: left;
}

#footer_text_right {
	color: #ffffff;
	margin-top: 4px;
	float: right;
	text-align: left;
}

#footer_text a {
	font-size: 13px;
	color: #f4f6d0;
}

#footer_text a:hover {
	font-size: 13px;
	color: #f4f6d0;
}