/*
 * COLORS
 * Grey (unselected item in top navi and hover): #72776c;
 * Lighter grey (hovered uselected item in top navi): 
 * Light green (left links, category box, notification box) => #c0e783;
 * Lighter green (hovered left links, hovered category box) => #dbf5b1;
 * Orange (warning) => #fea04c;
 * Red (error) => #fe5c58;
 */

/* 
 *	Wraps everything except footer to make sure footer 
 *	stays in the bottom of the page.
 */
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}

#main {
	background: #f4f6d0 url(../images/background_gradient2.png) repeat-x top left;
	height: 100%;
	margin: 0;
}

/* Keeps the content centered */
#centering {
	margin: 0 auto;
	width: 1000px;
	text-align: left;
}

#top_links {
	clear: both;
	width: 1000px;
	margin: 0px;
}

#top_links_left {
	float: left;
	font-size: 12px;
	margin-top: 3px;
	margin-left: 5px;
	padding: 0px;
	color: #ffffff;
	height: 15px;
}

#top_links_right {
	float: right;
	font-size: 12px;
	margin-top: 3px;
	padding: 0px;
	color: #ffffff;
	height: 15px;
}

#top_links_left a, #top_links_right a {
	font-size: 13px;
	color: #f4f6d0;
}

#top_links_left a:hover, #top_links_right a:hover {
	font-size: 13px;
	color: #f4f6d0;
}

#logo_and_top_navi {
	clear: both;
	width: 1000px;
	margin: 0px;
}

#logo {
	position: absolute;
	top: 35px;
	margin: 0px;
}

#search_and_navi_container {
	position: relative;
	height: 125px;
}

#searchbar {
	position: absolute;
	right: 0px;
	height: 30px;
	margin-top: 15px;
	float: right;
}

#top_navi {
	position: absolute;
	left: 0px;
	margin: 0px;
	margin-left: 6px;
	height: 124px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#top_navi ul#primary {
	position: absolute;
	bottom: 0;
	margin: 0;
	margin-left: 250px;
	padding: 0;
	width: 55em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#top_navi ul#primary li  {
	display: inline;
	list-style: none;
}

#top_navi ul#primary a {
	width: 8em;
	display: block;
	float: left;
	padding: 5px 0;
	margin: 0px 8px 0 0;
	text-align: center;
	font-family: "lucida grande", helvetica, verdana, sans-serif;
	font-size: 105%;
	text-decoration: none;
	color: #ffffff;
}

#top_navi ul#primary li.selected a {
	color: #000000;
	background: #f4f6d0;
	padding-bottom: 5px;
	margin-top: 0;
}

#top_navi ul#primary li.selected a:hover {
	background: #dbf5b1;
}

#top_navi ul#primary a {
	background: #72776c;
	font-family: "lucida grande", helvetica, verdana, sans-serif;
}

#top_navi ul#primary a:hover {
	background: #9aa092;
}

#middle {
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 1000px;
}

#left_navi {
	float: left;
	margin-top: 30px;
	border-right: 1px solid #666;
	width: 229px;
	height: 100%;
}

#links {
	margin-left: 5px;
}

div.link {
	border: 1px solid #666;
	background: #c0e783;
	width: 223px;
}

div.link_selected {
	border: 1px solid #666;
	border-right: 0px;
	background: #f4f6d0;
	width: 224px;
} 

#links a {
	display: block;
	width: 213px;
	height: 100%;
	color: #304c03;
	padding: 5px 0px 5px 10px;
	text-decoration: none;
}

#links a:hover {
	background: #dbf5b1;
	width: 213px;
}

#links ul {
	margin-top: 7px;
	margin-left: 0px;
	padding-left: 30px;
}

#links ul.secondary {
	margin-top: 2px;
	margin-left: -5px;
}

#links li a {
	font-weight: normal;
	text-decoration: underline;
	display: inline;
	color: #406704; 
}

#links li a:hover {
	color: #64a006; 
	text-decoration: none;
	background: none; 
}

#links li a:active { 
	color: #7ac307;
	text-decoration: none; 
}

#sublinks ul {
	margin-left: 15px;
	padding: 0;
	list-style: none;
}

#sublinks ul.subsub {
	margin-top: 0px;
}

#sublinks li {
	padding: 0;
}

#sublinks li.active {	
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 1px 10px;
}

#sublinks li a {
	margin-left: 5px;
	display: block;
	width: 200px;
	height: 13px;
}

#sublinks li a:hover {
	color: #000000;
	width: 194px;
	background: #dbf5b1;
}

#sublinks ul.subsub li a:hover {
	width: 179px;
}

#contents {
	float: left;
	margin-top: 30px;
	text-align: left;
	width: 730px;
	padding-left: 30px;
}

#contents_full {
	margin-top: 30px;
	margin-left: 20px;
	width: 960px;
}

#container {
	clear: both;
}

#listings_header {
	width: 100%;
	margin-bottom: 20px;
}

#listings_header_links_left {
	float: left;
	margin-bottom: 20px;
}

#listings_header_links_right {
	float: right;
	margin-bottom: 20px;
}

div.listing_image {
	float: left;
	margin-left: 6px;
	width: 50px;
	height: 50px;
}

#listing_contents {
	float: left;
	width: 375px;
}

#listing_image {
	float: right;
	width: 300px;
}

#listing_comments {
	clear: both;
}

#title_with_border {
	border-bottom: 1px solid #000;
	height: 25px;
	width: 100%;
}

div.arrow_left {
	width: 30px;
	padding-top: 5px;
	float: left;
}

div.arrow_right {
	padding-top: 6px;
	float: left;
}

#title_div {
	width: 687px;
	float: left;
}

#add_listing_form {
	margin-top: 10px;
}

div.fieldWithErrors {
	border: 3px solid #f66;
}

div.category {
	width: 715px;
	height: 40px;
	border: 2px solid #64a006;
	background: #dbf5b1;
	margin: 10px 5px;
}

div.category a {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 20px;
	background: #c0e783;
	padding: 10px;
}

div.category a:hover {
	background: #dbf5b1;
}

div.category a span {
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

#breadcrumb {
	margin: 20px 5px;
}

div.announcement {
	padding: 10px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

div.notification {
	background: #c0e783;
}

div.warning {
	background: #fea04c;
}

div.error {
	background: #fe5c58;
}

#form_error_messages {
	padding: 5px;
}

#basic_content {
  padding: 15px 10px;
}

.search_results_header {
	height: 22px;
	border-bottom: 1px solid #000;
}

.search_results_title {
	font-weight: bold;
	font-size: 14px;
	float: left;
}

.search_results_header_right {
	margin-top: 2px;
	float: right;
}

div.pagination {
	margin-top: 2px;
	float: right;
}

#search_footer_left {
	margin-top: 2px;
	float: left;
}

/* 
 * A push of same height than the footer is needed in 
 * order to keep the footer in the bottom of the page.
 */
#footer, #push {
	height: 25px; 
}

#footer {
	margin: 0;
	padding: 0;
	clear: both;
	background: #72776c;
	width: 100%;
}

#footer_text {
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}

#footer_text_left {
	color: #ffffff;
	margin-top: 4px;
	float: left;
	text-align: left;
}

#footer_text_right {
	color: #ffffff;
	margin-top: 4px;
	float: right;
	text-align: left;
}

#footer_text a {
	font-size: 13px;
	color: #f4f6d0;
}

#footer_text a:hover {
	font-size: 13px;
	color: #f4f6d0;
}