%h4 Welcome to HTC Kassi!
.welcome_text

  %p
    This is the notice board of HTC Keilaniemi. It helps the HTC companies to collaborate and is place to seek and offer help and additional services to the companies and employees.
  %p
    Check what others already offer and need, and think what you would need or would like to offer as an individual or as a company.
  %p
    %b
      Links:
    %br
    = link_to "Intranet", "http://intra.htckeilaniemi.com/"
    %br
    = link_to "HTC Keilaniemi", "http://htckeilaniemi.com/"