%h4 News
.welcome_text
  
  %p
    %b
      HTC Keilaniemi recycling contest
    %br
    9.11.2011
  
  %p
    Get rid of useless sfuff! There's a recycling competition going on in HTC Keilaniemi Kassi web marketplace. Sell, lend or give away your unused stuff to other HTC folks and win great prizes!
  %p
    The rules are as follows: each item offer added to Kassi between November 9th and November 22th counts. The three people with most item offers (but at least three) will get a free lunch in Sodexo Keilaniemi. In addition, everyone who has added at least three item offers participates in a raffle where three people get 25% off from a haircut in our local hairdresser Snazzy.
  %p
    So go ahead and 
    = link_to "add your stuff.", new_listing_path(:listing_type => :offer)
    
  .event_spacer
  
  %p
    This is the notice board of HTC Keilaniemi. It helps the HTC companies to collaborate and is place to seek and offer help and additional services to the companies and employees.
  %p
    Check what others already offer and need, and think what you would need or would like to offer as an individual or as a company.
  %p
    %b
      Links:
    %br
    = link_to "Intranet", "http://intra.htckeilaniemi.com/"
    %br
    = link_to "HTC Keilaniemi", "http://htckeilaniemi.com/"