%h4 Tervetuloa HTC-Kassiin!
.welcome_text

  %p
    Tämä on HTC Keilaniemen sähköinen ilmoitustaulu, jonka avulla parannetaan HTC Keilaniemen yritysten välistä yhteistoimintaa, tarjotaan lisäpalveluja ja apua yrityksille ja työntekijöille.
  %p
    Katso mitä muut tarjoavat ja tarvitsevat ja mieti mitä itse tarvitset tai voisit tarjota, joko yksityishenkilönä tai yrityksenä.
  %p
    %b
      Linkit:
    %br
    = link_to "Intranet", "http://intra.htckeilaniemi.com/"
    %br
    = link_to "HTC Keilaniemi", "http://htckeilaniemi.com/"

