%p
  This #{service_name} community is meant for Metropolia's students and personnel. You need a 
  %strong
    metropolia.fi email address 
  to join. If you have trouble registering, please send feedback from the left.
  