%p
  Tämä #{service_name}-yhteisö on tarkoitettu Metropolian opiskelijoille ja työntekijöille. Tarvitset liittyäksesi
  %strong
    metropolia.fi sähköpostiosoitteen.
  Jos rekisteröitymisessä on ongelmia, lähetä palautetta vasemmalta.
  
