%p.ingress
  = t('admin2.country_currency.support', paypal_url: 'https://docs.google.com/document/d/1AdGRFAxQkc_g9UP-IUtwAwo5eOAvGGOw2md-LjybR60/#heading=h.hs1gnz6oyd75', stripe_url: 'https://docs.google.com/document/d/1AdGRFAxQkc_g9UP-IUtwAwo5eOAvGGOw2md-LjybR60/#heading=h.xlid86mmbiux').html_safe

%span#payments_in_countries
  = render 'country_payments', stripe_allowed: stripe_allowed, paypal_allowed: paypal_allowed, country_name: country_name, currency: currency
