<div class="listed_object">
  <div class="listed_item_owner_center">
    <div class="listed_object_title">
      <%= link_to h(group.title(session[:cookie])), group_path(group) %>
    </div>
    <div class="listed_object_date">
      <%= truncate(h(group.description(session[:cookie])), :length => 150, :omission => "...") %>
    </div>   
  </div>
  <div class="listed_item_owner_right">
    <div class="listed_item_owner_right_link">
      <%= get_join_or_leave_group_link(group) %>
    </div>
  </div>
</div>