<div class="listed_object">
  <div class="listed_object_person_image">

  </div>
  <div class="listed_item_owner_center">
    <div class="listed_object_title">
      <%= link_to h(group.title(session[:cookie])), group_path(group) %>
    </div>
    <div class="listed_object_date">
      <%= text_with_line_breaks(group.description(session[:cookie])) %>
    </div>   
  </div>
  <div class="listed_item_owner_right">
    <% if @current_user && !group.is_member?(@current_user, session[:cookie]) %>
      <div class="listed_item_owner_right_link">
        <%= link_to t(:join_group), join_person_group_path(@current_user, group), :method => :post %>
      </div>
    <% end %>
  </div>
</div>