<div class="listed_object">
  <div class="listed_object_person_image">

  </div>
  <div class="listed_item_owner_center">
    <div class="listed_object_title">
      <%= group.title(session[:cookie]) %>
    </div>
    <div class="listed_object_date">
      <%= group.description(session[:cookie]) %>
    </div>   
  </div>
  <div class="listed_item_owner_right">
    
  </div>
</div>