%p
  Kassi es un servicio para la comunidad Edificio Parque Providencia. Aquí podrás prestar, arrendar, regalar y vender cosas, dar y hacer favores o compartir trayectos de traslado. ¿Puedes prestarle algo a alguien o ayudarlo con algo? Ingreso en el mostrador de la administración en el primer piso!