%p
  #{service_name} es un servicio para la comunidad Edificio Parque Providencia. Aquí podrás prestar, arrendar, regalar y vender cosas, dar y hacer favores o compartir trayectos de traslado. ¿Puedes prestarle algo a alguien o ayudarlo con algo? Pregunta en el mostrador de la administración (primer piso) por #{service_name}!