<div class="feedback_item">
  <div class="listed_object">
    <div class="listed_feedback_field">
      <b>
      <% if feedback.author_id == "Anonymous"%>
        Anonymous
      <% else %>  
        <%= link_to feedback.author.name(session[:cookie]), person_path(feedback.author) %>
      <% end %>
      </b>
    </div>
    <div class="listed_feedback_field">  
      <%= feedback.created_at.to_formatted_s(:basic_date_format_minutes) %>  
    </div>
    <div class="listed_feedback_field">
      <%= feedback.url %>
    </div>    
    <div class="listed_feedback_content">
      <%= feedback.content %>
    </div>
  </div>     
</div>