%h4 HY:n Testi-#{service_name}
.welcome_text
  %p
    Tämä on #{service_name}-testiyhteisö Helsingin yliopiston käyttöön. Kaikkia toimintoja voi kokeilla vapaasti. 
  %p
    Ideoita, toiveita ja palautetta voi lähettää sähköpostilla tai vasemman laidan 
    = link_to("palaute", "#", :id => "give_feedback_link") + "-napilla."