%h4 Test #{service_name}
.welcome_text
  %p
    This is a #{service_name} community for testing purposes for the University of Helsinki. You can try all the features freely.
  %p
    Ideas, suggestions and feedback are welcome! You can use email or the 
    = link_to("Feedback", "#", :id => "give_feedback_link")
    on the left.