@import url('../reset.css');
@import url('../text.css');
@import url('../960_24_col.css');
@import url('../uniform.kassi.css');

/* Colors */
$bg_color: #f7f5e6;
$text_color: #464646;
$form_bg: #d1c9b4;
$light_green_bg: #ececdb;
$orange: #d45207;
$medium_brown: #765d3a;
$dark_orange: darken($orange, 10%);
$darker_orange: darken($orange, 20%);
$light_orange: lighten($orange, 15%);
$lighter_orange: lighten($orange, 25%);
$dark_brown: darken($medium_brown, 12%);
$light_brown: lighten($medium_brown, 12%);
$light_grey: lighten($text_color, 20%);
$yellow: #fdf4bc;

body {
  background: $form_bg url("/images/dashboard/background.png") repeat-x;
  color: $text_color; 
}

@mixin rounded($radius: 15px) {
	border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow {
	box-shadow: 2px 2px 5px black;
	-webkit-box-shadow: 2px 2px 5px black;
	-moz-box-shadow: 2px 2px 5px black;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=black, offX=2, offY=2, positive=true);
}

input[type=text] {
	height: 34px;
	width: 238px;
	float: left;
	border: 0;
	padding: 3px 10px;
	font-size: 15px;
	background: $bg_color;
}

label.dashboard {
	margin: 8px 20px 0 15px;
	color: $yellow;
	font-size: 14px;
	float: left;
}

a, a:visited {
	color: $orange;
	text-decoration: none;
}

a:hover {
	color: $light_orange
}

a:active {
	color: $dark_orange
}

input[type=text]:focus { 
	background: white; 
}

input[type=submit] { 
	background: $orange;
	color: white;
	font-size: 15px;
	width: 124px;
	height: 40px;
	border: 0; 
	margin-left: 12px;
	cursor: pointer;
}

input[type=submit]:active { background-color: $dark_orange; padding-top: 1px; }
input[type=submit]:hover { background-color: $light_orange; }
input[type=submit]:focus { background-color: $light_orange; }

#logo {
  color: $bg_color;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
	margin-top: 20px;
}

#slogan {
	@include shadow;
	margin: 29px 0 0 10px;
	background: $orange;
	color: white;
	padding: 10px 25px 10px 25px;
	font-size: 17px;
	width: 335px;
}

#bubble_container {
	margin-top: 30px;
	overflow: hidden;
}

#bubble {
	@include rounded;
	color: $text_color;
	background: white;
	font-size: 55px;
	font-weight: bold;
	padding: 15px 30px 20px 25px;
	line-height: 65px;
	width: 375px;
	min-height: 135px;
	float: left;
}

#bubble_arrow {
	margin-top: 100px;
	width: 40px;
	height: 50px;
	background: transparent url("/images/dashboard/speech_bubble_arrow.png") 0 0 no-repeat;
	float: left;
}

#main_text {
	width: 420px;
	min-height: 105px;
	margin: 30px 0 0 15px;
	color: $yellow;
	font-size: 18px;
	line-height: 22px;
}

#email_container {
	overflow: hidden;
	margin-top: 12px;
}

#contact_by_email {
	margin: 5px 0 0 316px;
	color: white;
}

span.contact {
	color: lighten($light_orange, 10%);
}

#links {
	margin: 55px 0 0 60px;
	font-size: 16px;
	font-weight: bold;
}

#social_links {
	margin-top: 55px;
	text-align: center;
}

span.social_link {
	margin-right: 30px;
}

#locale_select {
	margin: 30px 0 0 40px;
}

#no_email_spacer {
	height: 80px;
}