@import url('../reset.css');
@import url('../text.css');
@import url('../960.css');
@import url('../uniform.kassi.css');

/* Colors */
$bg_color: #f7f5e6;
$text_color: #464646;
$form_bg: #d1c9b4;
$light_green_bg: #ececdb;
$orange: #d45207;
$medium_brown: #765d3a;
$darker_brown: #5d492e;
$dark_orange: darken($orange, 10%);
$darker_orange: darken($orange, 20%);
$light_orange: lighten($orange, 15%);
$lighter_orange: lighten($orange, 25%);
$dark_brown: darken($medium_brown, 12%);
$light_brown: lighten($medium_brown, 12%);
$light_grey: lighten($text_color, 20%);
$lighter_grey: lighten($text_color, 30%);
$yellow: #fdf4bc;
$dark_green: #223f05;
$lighter_green: #3e6714;

/* Mixins */

@mixin rounded($radius: 15px) {
	border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin connect_icon($icon_type) {
	display: block;
	float: left;
	background: $darker_brown url("/images/dashboard/connect_icons/" + $icon_type + ".png") no-repeat;
	width: 49px;
	height: 49px;
	color: transparent;
	&:hover { background: $darker_brown url("/images/dashboard/connect_icons/" + $icon_type + "_lighter.png") no-repeat };
}

@mixin spacer($color: $text_color, $type: solid) {
	border-top: 1px $type $color;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 0;
}


/* Actual stuff */

body {
  background: $medium_brown;
  color: $text_color; 
}

h1 {
  font-size: 50px;
  margin-top: 40px;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 3px $text_color;
  line-height: 56px;
  span.indentation { margin-left: 30px; }
}

h2 {
  margin: 30px 0 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: $lighter_green;
  letter-spacing: 1px;
}

h2.campaign_page {
  margin: 18px 0 5px 0;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

h3 {
  margin: 20px 0 0 0;
  font-size: 22px;
  letter-spacing: 5px;
  color: white;
  font-weight: 200;
}

a, a:visited {
	color: $yellow;
	font-size: 14px;
	text-decoration: none;
	font-weight: 300;
}

a:hover {
	color: white;
}

a:active {
	color: $light_orange;
}

a.green_part_link { 
  color: $light_orange;
  font-size: 16px;
  font-weight: 400;
  &:hover { color: $lighter_orange; }
  &:focus { color: $lighter_orange; }
  &:active { color: $light_orange; }
}

#header {
  height: 64px;
	background: $bg_color;
}

#logo {
  margin-top: 17px;
}

#select_language_form {
  margin-top: 20px;
  float: right;
}

#slogan, #language_label {
  color: $orange;
  margin-top: 22px;
}

#language_switch { overflow: hidden; }

#language_label { 
  float: right;
  margin-right: 10px;
}

@mixin main($height: 421px) {
  height: $height;
  background-color: #3e6e14;
  background-image: -webkit-gradient(radial, 50% 100%,100,50% -50%,100, from(rgb(34, 63, 5)), to(rgb(62, 110, 20)));
  background-image: -webkit-radial-gradient(50% 0%, rgb(62, 110, 20), rgb(34, 63, 5));
  background-image: -moz-radial-gradient(50% 0%, rgb(62, 110, 20), rgb(34, 63, 5));
  background-image: -ms-radial-gradient(50% 0%, rgb(62, 110, 20), rgb(34, 63, 5));
  background-image: radial-gradient(50% 0%, rgb(62, 110, 20), rgb(34, 63, 5));
  box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.5);
  -khtml-box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.5);
  p {
    margin: 58px 0 55px 0;
    font-size: 18px;
    color: white;
  }
}

#home_main {
  @include main;
}

#campaign_main {
  @include main(833px);
  p { 
    font-size: 16px;
    margin: 10px 0;
  }
  p.top { margin: 45px 0 20px 0; }
}

#home_main_title {
  height: 158px;
}

#home_main_screenshot {
  height: 223px;
}

.home_main_screenshot_longer {
  height: 326px;
  margin-bottom: 20px;
}

#home_main_screenshot_bottom {
  height: 289px;
}

.form_field_container {
  overflow: hidden;
  margin-bottom: 10px;
  span.email {
    float: left; 
    color: white; 
    font-size: 16px;
    font-weight: 200;
  }
  img.email {
    float: left;
    margin-left: 5px;
    padding-top: 4px;
  }
}

label.dashboard {
	color: white;
	font-size: 22px;
}

input[type=text] {
	height: 34px;
	width: 224px;
	float: left;
	border: 0;
	padding: 3px 10px;
	font-size: 15px;
	background: $bg_color;
}

input[type=text]:focus { 
	background: white; 
}

input[type=submit] {
	background-color: #dc7438;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(220, 116, 56)), to(rgb(212, 82, 7)));
  background-image: -webkit-linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  background-image: -moz-linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  background-image: -o-linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  background-image: -ms-linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  background-image: linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dc7438', EndColorStr='#d45207');
	color: white;
	font-size: 16px;
	width: 124px;
	height: 40px;
	border: 0px;
	margin-left: 12px;
	cursor: pointer;
	@include rounded(7px);
}

input[type=submit]:active { 
  padding-top: 1px;
  background-color: #ed9374;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 147, 116)), to(rgb(231, 113, 72)));
  background-image: -webkit-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -moz-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -o-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -ms-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ed9374', EndColorStr='#e77148');
  
}

input[type=submit]:focus { 
  padding-top: 1px;
  background-color: #ed9374;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 147, 116)), to(rgb(231, 113, 72)));
  background-image: -webkit-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -moz-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -o-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -ms-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ed9374', EndColorStr='#e77148');
  
}

input[type=submit]:hover { 
  background-color: #ed9374;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 147, 116)), to(rgb(231, 113, 72)));
  background-image: -webkit-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -moz-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -o-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: -ms-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  background-image: linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ed9374', EndColorStr='#e77148');
  
}

#thanks {
  padding-top: 10px;
  color: white;
  font-size: 14px;
}

#home_more_info {
  overflow: hidden;
  background: $bg_color;
  padding-bottom: 25px;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
  -khtml-box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
  a { 
    color: $orange;
    font-weight: bold;
    &:hover { color: $light_orange; }
    &:focus { color: $light_orange; }
    &:active { color: $dark_orange; }
  }
  p {
    font-size: 14px;
    line-height: 24px;
    margin-right: 20px;
  }
}

#footer {
  overflow: hidden;
}

.white_corner {
  height: 75px;
  width: 59px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin: 5px 0 20px 0;
}

.footer_links {
  line-height: 28px;
}

#connect_icons {
  @include rounded(7px);
  background-color: $darker_brown;
  padding: 15px;
  width: 177px;
  height: 47px;
  margin-top: 5px;
  a.left_icon { margin-right: 15px; }
  a.facebook { @include connect_icon("facebook");}
  a.twitter { @include connect_icon("twitter");}
  a.google_plus { @include connect_icon("google_plus");}
}

#product {
  margin-top: 24px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  a { 
    font-size: 14px;
    font-weight: 400;
  }
}

#select_community_form {
  overflow: hidden;
  margin-bottom: 23px;
}

#logos {
  overflow: hidden;
  margin-top: 30px;
  img { 
    float: left;
    margin-right: 30px;
  }
}

#new_stuff {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 25px;
}

#new_box {
  @include rounded(7px);
  background-color: $dark_green;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  overflow: hidden;
  float: left;
}

#new_text {
  overflow: hidden;
  font-size: 16px;
  float: left;
  padding-top: 7px;
  margin-left: 20px;
  a { 
    font-size: 16px;
    font-weight: 400; 
  }
}

.dashboard_spacer {
  @include spacer($lighter_grey);
}

.hidden { display: none; }