@import url('../reset.css');
@import url('../text.css');
@import url('../960_24_col.css');

$bg_color: #f7f5e6;
$text_color: #464646;

body {
	background: $bg_color url("/images/background_gradient.png") repeat-x;
}

#navi {
	height: 92px;
}

#main {
	margin-top: 20px;
}

#logo {
	margin-top: 5px;
	color: $bg_color;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
}