@import url('../reset.css');
@import url('../text.css');
@import url('../960_24_col.css');
@import url('../uniform.default.css');

/* Colors */
$bg_color: #f7f5e6;
$text_color: #464646;
$form_bg: #d1c9b4;
$orange: #d45207;
$medium_brown: #765d3a;
$dark_orange: darken($orange, 20%);
$light_orange: lighten($orange, 15%);
$dark_brown: darken($medium_brown, 12%);
$light_grey: lighten($text_color, 20%);

/* Used to fix form padding problem in FF */
input[type="submit"]::-moz-focus-inner {border:0;}
input[type="submit"]:focus {background: $light_orange url("/images/icons/magnifier_white.png") 15px 5px no-repeat;}

/* Used for divs with rounded corners */
@mixin rounded($radius: 7px) {
	border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/* Used for divs with rounded top or bottom */
@mixin half_rounded($side, $radius: 7px) {
  border-#{$side}-left-radius: $radius;
	border-#{$side}-right-radius: $radius;
  -moz-border-radius-#{$side}right: $radius;
	-moz-border-radius-#{$side}left: $radius;
  -webkit-border-#{$side}-right-radius: $radius;
	-webkit-border-#{$side}-left-radius: $radius;
}

@mixin spacer($color: $medium_brown, $type: solid) {
	border-top: 1px $type $color;
	width: 100%;
	margin: 10px 0;
	padding: 0;
	height: 0;
}

.align_right {
	text-align: right;
}

.float_container {
	overflow: hidden;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

input[type="submit"] {
	cursor: pointer;
}

body {
	background: $bg_color url("/images/background_gradient.png") repeat-x;
	color: $text_color;
}

@mixin colored_title($color: $orange) {
	color: $color;
	width: 340px;
	display: block;
	border-bottom: 6px solid $color;
	margin-bottom: 10px;
}

h3 {
	@include colored_title;
}

h3.brown {
	@include colored_title($medium_brown);
}

h4 {
	color: $medium_brown;
	text-align: center;
	margin: 5px 0 15px 0;
}

h5 {
	margin: 0;
	a {
		color: $text_color;
		&:hover { 
			color: $light_grey;
			text-decoration: underline; 
		}
	}	
}

a {
	text-decoration: none;
	color: $orange;
	font-weight: bold;
	&:active { color: $light_orange; }
	&:hover { color: $dark_orange; }
}

form, input {
	margin: 0;
	display: block;
	position: relative;
	float: left;
}

#header {
	height: 56px;
}

#main {
	margin-top: 20px;
}

#logo {
	margin-top: 8px;
}

#logo_image {
	height: 48px;
	a {
		color: $bg_color;
		font-size: 28px;
		font-weight: bold;
		text-shadow: 1px 1px 1px #000;
	}	
}

#search {
	margin: 14px 0 0 0;
	input.search_field {
		margin-left: 5px;
		background: $bg_color;
		width: 172px;
		height: 20px;
		padding: 5px 7px;
		border: 0;
	}
	input.search_button {
		background: $orange url("/images/icons/magnifier_white.png") 12px 6px no-repeat;
		width: 44px;
		height: 30px;
		padding: 0;
		border: 0;
		color: transparent;
		&:active { background-color: $dark_orange; }
		&:hover { background-color: $light_orange; }
	}
}

#top_navi {
	select {
		background: $bg_color;
		font-size: 11px;
	}
}

.top_navi_link {
	margin-top:10px;
	a {
		color: white;
		font-weight: bold;
		&:hover { color: $light_orange; }
		font-size: 11px;
	}
}

@mixin tab {
	a {
		width: 110px;
		height: 26px;
		padding-top: 10px;
		text-align: center;
		display: block;
		font-weight: bold;
		@include half_rounded(top);
	}
}

.tab_unselected {
	@include tab;
	a {
		color: $bg_color;
		background: $dark_brown;
		&:hover {
			color: white;
			background: $orange;
		}
	}	
}

.tab_selected {
	@include tab;
	a {
		color: $text_color;
		background: $bg_color;
	}	
}

.login_tab {
	a {
		font-size: 11px;
		width: 90px;
		height: 23px;
		padding-top: 4px;
		text-align: center;
		display: block;
		font-weight: bold;
		background: $orange;
		color: white;
		margin-left: 10px;
		@include half_rounded(bottom);
		&:hover { background: $light_orange; }
	}
}


/* Home page */

.recent_events {
	background: $form_bg;
	font-size: 11px;
	width: 219px;
	p {
		margin: 0;
		padding: 0;
	}
	span {
		color: $light_grey;
		font-style: italic;
		font-size: 10px;
		float: right;
	}	
}

.staple {
	@include rounded(5px);
	background: $medium_brown;
	width: 10px;
	height: 10px;
}

.staples {
	padding: 0 10px 0 10px;
}

.staples_top {
	padding: 10px 0 0 0;
}

.staples_bottom {
	padding: 0 0 10px 0;
}

.staple_margin_left {
	margin-left: 10px;
}

.staple_margin_right, .navi_link_margin_right {
	margin-right: 10px;
}

.event_padding {
	padding: 0 25px;
}

.event_spacer {
	@include spacer($medium_brown, dashed);
}

.more_events_link {
	padding: 20px 0;
}

@mixin home_button($background: $orange) {
	a {
		display: block;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		padding: 10px 0;
		color: white;
		background: $background;
		@include rounded;
		&:hover { background: lighten($background, 15%); }
		&:active { background: darken($background, 10%); }
	}
}

#request_something_button {
	@include home_button($orange);
}

#offer_something_button {
	@include home_button($medium_brown);
}

@mixin button_description($color: $orange) {
	a {
		color: $color;
		&:hover { color: darken($color, 15%); }
		&:active { color: lighten($color, 10%); }
	}	
	font-size: 11px;
	text-align: center;
	margin-top: 5px;
}

/* Aligns button descriptions to buttons */
.button_description_fix {
	width: 260px;
}

#request_button_description {
	@include button_description;
}

#offer_button_description {
	@include button_description($medium_brown);
}

.recent_listings {
	padding: 20px 0 0 0;
	width: 340px;
}

.request_spacer {
	@include spacer($orange);
}

.offer_spacer {
	@include spacer;
}

.recent_listing {
	overflow: hidden;
}

.recent_listing_text {
	font-size: 11px;
	width: 253px;
	margin-left: 10px;
	p {
		margin: 5px 0 4px 0;
	}
	span {
		a {
			font-weight: normal;
		}	
		color: $light_grey;
		font-style: italic;
		font-size: 10px;
		float: right;
	}
}


/* New listing page */

#new_listing_form_tabs {
	margin-left: 25px;
	overflow: hidden;
}

@mixin new_listing_form_tab {
	float: left;
	margin-right: 10px;
	a {
		padding-top: 11px;
		width: 190px;
		height: 30px;
		text-align: center;
		display: block;
		font-size: 15px;
		font-weight: bold;
		@include half_rounded(top);
	}
}

.new_listing_form_tab_selected {
	@include new_listing_form_tab;
	a {
		color: $text_color;
		background: $form_bg;
	}
}

.new_listing_form_tab_unselected {
	@include new_listing_form_tab;
	a {
		color: white;
		background: $medium_brown;
		&:hover {
			color: white;
			background: $orange;
		}
	}	
}

#new_listing_form {
	background: $form_bg;
	@include rounded;
	padding: 20px 25px;
}

#listing_type_select_icons {
	overflow: hidden;
	height: 100px;
}

@mixin listing_type_select_icon {
	float: left;
	width: 283px;
	height: 50px;
	font-size: 16px;
	a {
		text-align: center;
		display: block;
		padding: 15px;
		@include rounded;
	}
}

.listing_type_select_icon_selected {
	margin-right: 14px;
	@include listing_type_select_icon;
	a {
		color: $orange;
		background: $bg_color;
		border: 3px solid $orange;
	}	
}

.listing_type_select_icon_unselected {
	@include listing_type_select_icon;
	a {
		color: $light_grey;
		background: lighten($text_color, 60%);
		border: 3px solid $light_grey;
		&:hover {
			color: $light_orange;
			border-color: $light_orange;
		}
	}	
}

.listing_form_field_container {
	overflow: hidden;
}