@import url('../reset.css');
@import url('../text.css');
@import url('../960_24_col.css');
@import url('../uniform.kassi.css');

/* Colors */
$bg_color: #f7f5e6;
$text_color: #464646;
$form_bg: #d1c9b4;
$orange: #d45207;
$medium_brown: #765d3a;
$dark_orange: darken($orange, 10%);
$darker_orange: darken($orange, 20%);
$light_orange: lighten($orange, 15%);
$dark_brown: darken($medium_brown, 12%);
$light_brown: lighten($medium_brown, 12%);
$light_grey: lighten($text_color, 20%);
$bg_color_dark: darken($bg_color, 10%);

/* Used to fix form padding problem in FF */
input[type="submit"]::-moz-focus-inner {border:0;}

/* Used for divs with rounded corners */
@mixin rounded($radius: 7px) {
	border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/* Used for divs with rounded top or bottom */
@mixin half_rounded($side, $radius: 7px) {
  border-#{$side}-left-radius: $radius;
	border-#{$side}-right-radius: $radius;
  -moz-border-radius-#{$side}right: $radius;
	-moz-border-radius-#{$side}left: $radius;
  -webkit-border-#{$side}-right-radius: $radius;
	-webkit-border-#{$side}-left-radius: $radius;
}

@mixin spacer($color: $medium_brown, $type: solid) {
	border-top: 1px $type $color;
	width: 100%;
	margin: 10px 0;
	padding: 0;
	height: 0;
}

/* Basic form */
@mixin form {
	background: $form_bg;
	@include rounded;
	overflow: hidden;
}

.align_right {
	text-align: right;
}

.float_container {
	overflow: hidden;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.form_field_container {
	overflow: hidden;
	margin-bottom: 10px;
}

input[type="submit"] {
	cursor: pointer;
}

input.send_button {
	font-size: 14px;
	font-weight: bold;
	background: $medium_brown;
	width: 200px;
	height: 40px;
	padding: 0;
	border: 0;
	color: white;
	&:active { background-color: $dark_brown; }
	&:hover { background-color: $light_brown; }
	&:focus { background-color: $light_brown; }
}

body {
	background: $bg_color url("/images/background_gradient.png") repeat-x;
	color: $text_color;
}

@mixin colored_title($color: $orange) {
	color: $color;
	width: 340px;
	display: block;
	border-bottom: 6px solid $color;
	margin-bottom: 10px;
}

h3 {
	@include colored_title;
}

h3.brown {
	@include colored_title($medium_brown);
}

h4 {
	color: $medium_brown;
	text-align: center;
	margin: 5px 0 15px 0;
}

h5 {
	margin: 0;
	a {
		color: $text_color;
		&:hover { 
			color: $light_grey;
			text-decoration: underline; 
		}
		&:active { 
			color: black;
			text-decoration: underline;  
		}
	}	
}

a {
	text-decoration: none;
	color: $orange;
	font-weight: bold;
	&:active { color: $light_orange; }
	&:hover { color: $darker_orange; }
}

form, input {
	margin: 0;
	display: block;
	position: relative;
	float: left;
}

#header {
	height: 56px;
}

#main {
	margin-top: 25px;
}

#logo {
	margin-top: 8px;
}

#logo_image {
	height: 48px;
	a {
		color: $bg_color;
		font-size: 28px;
		font-weight: bold;
		text-shadow: 1px 1px 1px #000;
	}	
}

#search {
	margin: 15px 0 0 0;
	input.search_field {
		margin-left: 5px;
		background: $bg_color;
		width: 211px;
		height: 18px;
		padding: 5px 7px;
		border: 0;
		&:focus { background: white; }
	}
	input.search_button {
		background: $orange url("/images/icons/magnifier_white.png") 12px 5px no-repeat;
		width: 41px;
		height: 28px;
		padding: 0;
		border: 0;
		color: transparent;
		&:active { background-color: $dark_orange; }
		&:hover { background-color: $light_orange; }
		&:focus { background: $light_orange url("/images/icons/magnifier_white.png") 12px 5px no-repeat; }
	}
}

#top_navi {
	select {
		background: $bg_color;
		font-size: 11px;
	}
}

.top_navi_link {
	margin-top:10px;
	a {
		color: white;
		font-weight: bold;
		&:hover { color: $light_orange; }
		&:focus { color: $light_orange; }
		&:active { color: $orange; }
		font-size: 11px;
	}
}

@mixin tab {
	a {
		width: 110px;
		height: 26px;
		padding-top: 10px;
		text-align: center;
		display: block;
		font-weight: bold;
		@include half_rounded(top);
	}
}

.tab_unselected {
	@include tab;
	a {
		color: $bg_color;
		background: $dark_brown;
		&:hover {
			color: white;
			background: $orange;
		}
		&:focus {
			color: white;
			background: $orange;
		}
		&:active { 
			color: white;
			background: $light_orange; 
		}
	}	
}

.tab_selected {
	@include tab;
	a {
		color: $text_color;
		background: $bg_color;
	}	
}

.login_tab {
	a {
		font-size: 11px;
		width: 90px;
		height: 23px;
		padding-top: 4px;
		text-align: center;
		display: block;
		font-weight: bold;
		background: $orange;
		color: white;
		margin-left: 10px;
		@include half_rounded(bottom);
		&:hover { background: $light_orange; }
		&:focus { background: $light_orange; }
		&:active { background: $dark_orange; }
	}
}

#top_spacer {
	height: 5px;
}

@mixin notification($text, $border, $bg, $bg_position: 0) {
	margin: 0 5px;
	color: $text;
	border: 2px solid $border;
	background: $bg url("/images/icons/notification_icons.png") 5px $bg_position no-repeat;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 5px;
	overflow: hidden;
	width: 927px;
}

.notification_text {
	width: 850px;
	float: left;
	padding: 5px 0 5px 55px;
}

.close_notification_link {
	width: 15px;
	float: right;
}

#notifications {
	margin-top: 20px;
	.notice {
		@include notification(#264409, #c6d880, #e6efc2);
	}
	.error {
		@include notification(#8a1f11, #fbc2c4, #fbe3e4, -40px);
	}
	.warning {
		@include notification(#514721, #ffd324, #fff6bf, -80px);
	}	
}

.field_with_errors {
	float: left;
}

/* Home page */

.recent_events {
	background: $form_bg;
	font-size: 11px;
	width: 219px;
	p {
		margin: 0;
		padding: 0;
	}
	span {
		color: $light_grey;
		font-style: italic;
		font-size: 10px;
		float: right;
	}	
}

.staple {
	@include rounded(5px);
	background: $medium_brown;
	width: 10px;
	height: 10px;
}

.staples {
	padding: 0 10px 0 10px;
}

.staples_top {
	padding: 10px 0 0 0;
}

.staples_bottom {
	padding: 0 0 10px 0;
}

.staple_margin_left {
	margin-left: 10px;
}

.staple_margin_right, .navi_link_margin_right {
	margin-right: 10px;
}

.event_padding {
	padding: 0 25px;
}

.event_spacer {
	@include spacer($medium_brown, dashed);
}

.more_events_link {
	padding: 20px 0;
}

@mixin home_button($background: $orange) {
	a {
		display: block;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		padding: 10px 0;
		color: white;
		background: $background;
		@include rounded;
		&:hover { background: lighten($background, 15%); }
		&:active { background: darken($background, 10%); }
	}
}

#request_something_button {
	@include home_button($orange);
}

#offer_something_button {
	@include home_button($medium_brown);
}

@mixin button_description($color: $orange) {
	a {
		color: $color;
		&:hover { color: darken($color, 15%); }
		&:active { color: lighten($color, 10%); }
	}	
	font-size: 11px;
	text-align: center;
	margin-top: 5px;
}

/* Aligns button descriptions to buttons */
.button_description_fix {
	width: 270px;
}

#request_button_description {
	@include button_description;
}

#offer_button_description {
	@include button_description($medium_brown);
}

.recent_listings {
	padding: 20px 0 0 0;
	width: 340px;
}

.request_spacer {
	@include spacer($orange);
}

.offer_spacer {
	@include spacer;
}

.recent_listing {
	overflow: hidden;
}

.recent_listing_text {
	font-size: 11px;
	width: 253px;
	margin-left: 10px;
	p {
		margin: 5px 0 4px 0;
	}
	span {
		a {
			font-weight: normal;
		}	
		color: $light_grey;
		font-style: italic;
		font-size: 10px;
		float: right;
	}
}


/* New listing page */

#new_listing_form_tabs {
	margin-left: 25px;
	overflow: hidden;
}

@mixin new_listing_form_tab {
	float: left;
	margin-right: 10px;
	a {
		padding-top: 11px;
		width: 190px;
		height: 30px;
		text-align: center;
		display: block;
		font-size: 15px;
		font-weight: bold;
		@include half_rounded(top);
	}
}

.new_listing_form_tab_selected {
	@include new_listing_form_tab;
	a {
		color: $text_color;
		background: $form_bg;
	}
}

.new_listing_form_tab_unselected {
	@include new_listing_form_tab;
	a {
		color: white;
		background: $medium_brown;
		&:hover { background: $light_brown; }
		&:focus { background: $light_brown; }
		&:active { background: $dark_brown; }
	}	
}

#new_listing_form {
	@include form;
	padding: 20px 15px;
}

#listing_type_select_icons {
	overflow: hidden;
}

@mixin listing_type_select_icon {
	float: left;
	width: 130px;
	font-size: 14px;
	margin: 5px 10px;
	a {
		text-align: center;
		display: block;
		padding: 71px 15px 15px 15px;
		@include rounded;
	}
}

@mixin listing_type_select_icon_selected($image_position) {
	@include listing_type_select_icon;
	a {
		background: $bg_color url("/images/icons/new_listing_type_select_icons.png") 27px $image_position no-repeat;
		color: $orange;
		border: 3px solid $orange;
	}	
}

@mixin listing_type_select_icon_unselected($image_position) {
	@include listing_type_select_icon;
	a {
		color: $light_grey;
		background: lighten($text_color, 60%) url("/images/icons/new_listing_type_select_icons.png") 27px ($image_position) no-repeat;
		border: 3px solid $light_grey;
		&:hover {
			color: $light_orange;
			border-color: $light_orange;
			background: lighten($text_color, 60%) url("/images/icons/new_listing_type_select_icons.png") 27px ($image_position + 100px) no-repeat;
		}
		&:focus {
			color: $light_orange;
			border-color: $light_orange;
			background: lighten($text_color, 60%) url("/images/icons/new_listing_type_select_icons.png") 27px ($image_position + 100px) no-repeat;
		}
	}	
}

.listing_type_select_icon_selected_item {
	@include listing_type_select_icon_selected(-285px);
}

.listing_type_select_icon_unselected_item {
	@include listing_type_select_icon_unselected(-485px);
}

.listing_type_select_icon_selected_favor {
	@include listing_type_select_icon_selected(-585px);
}

.listing_type_select_icon_unselected_favor {
	@include listing_type_select_icon_unselected(-785px);
}

.listing_type_select_icon_selected_rideshare {
	@include listing_type_select_icon_selected(15px);
}

.listing_type_select_icon_unselected_rideshare {
	@include listing_type_select_icon_unselected(-185px);
}

.listing_type_select_icon_selected_housing {
	@include listing_type_select_icon_selected(-885px);
}

.listing_type_select_icon_unselected_housing {
	@include listing_type_select_icon_unselected(-1085px);
}

@mixin new_listing_form_field {
	font-weight: bold;
	color: $light_grey;
	background: $bg_color;
	width: 380px;
	border: 0;
	&:focus { background: white; }
}

.new_listing_form_main {
	margin: 20px 12px;
	label.input {
		padding: 8px 3px 0 3px;
		margin: 0;
		font-size: 14px;
		font-weight: bold;
		display: block;
		float: left;
		width: 164px;
		line-height: 110%;
	}
	label.checkbox {
		float: left;
		width: 90px;
		padding-top: 4px;
		font-size: 12px;
		font-weight: bold;
	}
	span.smaller {
		font-size: 11px;
	}
	span.bigger {
		font-size: 14px;
	}
	input.text_field {
		@include new_listing_form_field;
		font-size: 14px;
		height: 18px;
		padding: 9px 9px;
	}
	input.send_button {
		margin: 10px 0 0 170px;
	}
	textarea {
		@include new_listing_form_field;
		font-size: 12px;
		height: 100px;
		padding: 9px 9px;
	}
}

.new_listing_form_field_container {
	overflow: hidden;
	margin-bottom: 20px;
}

.new_listing_form_left {
	float: left;
	width: 150px;
}

.new_listing_form_center {
	float: left;
	width: 300px;
}

.hidden {
	@include rounded;
	width: 300px;
	padding: 10px 10px 15px 10px;
	background: $bg_color;
	display: none;
	overflow: hidden;
}

.hidden_title {
	float: left;
	width: 200px;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0 0 20px;
}

.close_link {
	float: right;
	width: 18px;
	height: 18px;
	a {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		display: block;
	}	
}

.hidden_content {
	clear:both;
	padding: 12px 20px 0 20px;
}

div.checkbox_container {
	width: 380px;
	overflow: hidden;
	line-height: 200%;
}

div.checkbox_float {
	width: 35px;
	float: left;
}

#login_form {
	@include form;
	padding: 20px 25px 25px 25px;
	line-height: 25px;
	h2 {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 15px;
	}
	input.text_field {
		font-weight: bold;
		color: $light_grey;
		background: $bg_color;
		width: 300px;
		font-size: 14px;
		height: 26px;
		padding: 5px 9px;
		margin-left: 10px;
		border: 0;
		&:focus { background: white; }
	}
	input.send_button {
		margin: 15px 0 0 10px;
	}
	label {
		margin: 10px;
		width: 340px;
		font-size: 14px;
		font-weight: bold;
	}
	.links {
		margin: 10px 0 0 10px;
	}
	.text {
		margin: 0 10px 10px 10px;
		line-height: 16px;
	}
	span {
		margin: 5px;
		color: $orange;
		font-weight: bold;
		font-size: 16px;
	}
}

#password_forgotten {
	display: none;
}

#logged_in_icons {
	margin: 17px 0 0 11px;
	color: white;
	overflow: hidden;
}

@mixin logged_in_icon($image_position, $margin_right: 8px) {
	width: 27px;
	height: 20px;
	float: left;
	margin-right: $margin_right;
	a {
		color: transparent;
		display: block;
		background: transparent url("/images/icons/header_icons.png") 0px $image_position no-repeat;
		&:hover {
			background: transparent url("/images/icons/header_icons.png") 0px ($image_position - 20px) no-repeat;
		}
		&:active {
			background: transparent url("/images/icons/header_icons.png") 0px ($image_position - 20px) no-repeat;
		}	
	}
}

.logged_in_icon_inbox {
	@include logged_in_icon(0px, 9px);
}

.logged_in_icon_requests {
	@include logged_in_icon(-40px);
}

.logged_in_icon_notifications {
	@include logged_in_icon(-80px, 3px);
}

.logged_in_icon_settings {
	@include logged_in_icon(-120px);
}

#logged_in_links {
	text-align: right;
	margin-top: 19px;
	color: white;
	font-size: 13px;
	a {
		font-size: 13px;
		font-weight: bold;
		color: white;
		&:hover { color: $light_orange; }
		&:focus { color: $light_orange; }
		&:active { color: $orange; }
	}
	a.left {
		margin-right: 15px;
	}	
}