// CSS for the Forms, inputs, radios and checkboxes

// Forms

.form-group {
	margin-bottom: 25px;

	@include media-breakpoint-up(md) {
    margin-bottom: 35px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 30px;
  }
}

.form-control {
	border-radius: 0px;
	border-top: 1px solid #d8dce6;
	border-bottom: 1px solid #d8dce6;
	border-right: none;
	border-left: none;
	padding-left: 20px;
	font-size: 16px;

	@include media-breakpoint-up(md) {
		border-radius: 4px;
		border: 1px solid #d8dce6;
	}

	&:focus {
	  box-shadow: 0 0 0 0.2rem rgba(74,144,226,.25)!important;
	}
}

textarea.form-control {
	min-height: 48px;
	height: 144px;
  padding-top: 11px;
	box-shadow: $box-shadow-sm;

	+ small {
		margin-top: 11px;
	}
}

.form-check {
	margin-bottom: 0;// Baseline adjustment
	padding-bottom: 1px; // Baseline adjustment
	position: relative;
	display: flex;
  align-items: baseline;

  @include media-breakpoint-up(md) {
  	padding-bottom: 0; // Baseline adjustment
  }

  + .form-check {
	  margin-top: 5px;
  }

  + small {
	  margin-top: 8px;
	  margin-left: 28px;
  }
}

.form-check-multiple-languages {
  margin-bottom: 0;// Baseline adjustment
	padding-bottom: 1px; // Baseline adjustment
	position: relative;
	display: flex;
  align-items: baseline;

  @include media-breakpoint-up(md) {
  	padding-bottom: 0; // Baseline adjustment
  	margin-left: 160px;
  }

  + .form-check {
	  margin-top: 5px;
  }

  + small {
	  margin-top: 8px;
	  margin-left: 28px;
  }
}

.form-text {
	color: $grey;
	font-size: $small-font-size-mobile;
	line-height: 18px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;

	@include media-breakpoint-up(md) {
		font-size: $small-font-size;
		line-height: 16px;
		margin-top: 12px;
		margin-left: 0;
		margin-right: 0;
	}
}

.form-text-above {
  display: block;
	color: $grey;
	font-size: $small-font-size-mobile;
	line-height: 18px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 11px;

	@include media-breakpoint-up(md) {
		font-size: $small-font-size;
		line-height: 16px;
		margin-top: -5px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 21px;
	}
}

.form-check-input {
  margin-top: 4px;
}

.form-check-inline {
	width: inherit;
	align-items: baseline;
	margin-right: 0;

	@include media-breakpoint-up(md) {
		width: 30%;
	}

	.form-check-input {
		width: 16px;
		height: 16px;
		position: relative;
	}
}

.form-radiobutton-wrapper {
  margin-top: 2px; // Baseline adjustment
  display: flex;
  flex-wrap: wrap;
  min-height: 20px;

  @include media-breakpoint-up(md) {
	  margin-top: 0;
  }

  label {
	  font-size: 15px;

	  @include media-breakpoint-up(md) {
		  font-size: 16px;
		}
  }
}

label {
	font-size: 14px;
	font-weight: 500;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 6px;

	@include media-breakpoint-up(md) {
		margin-left: 0;
		margin-right: 0;
		font-size: 16px;
		margin-bottom: 9px;
	}

	+ .form-check {
		margin-top: -1px;
	}
}

small + .form-check {
	margin-top: 8px;
	margin-bottom: -1px;

	@include media-breakpoint-up(md) {
		margin-top: 12px;
		margin-bottom: 0;
	}
}

.form-radiobutton-wrapper + small {
	margin-top: 5px;

	@include media-breakpoint-up(md) {
		margin-top: 8px;
	}
}

.form-check-label {
	font-weight: 400;
	line-height: 18px;
}

.input-group-text {
	background: #FAFAFA;
	box-shadow: $box-shadow-sm;
}

// Inputs

input {
	box-shadow: $box-shadow-sm;
}

input.search-header {
	outline: none;
	border: none;
	box-shadow: none;
	width: 100%;
	background-image: url(image_path('svg/search.svg'));
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	font-size: 16px;
	color: $body-color;
	transition: all .2s ease-out;

	@include media-breakpoint-up(md) {
		font-size: 20px;
	}

	&::placeholder {
		color: $grey;
	}

	&:focus {
		background-image: url(image_path('svg/search-active.svg'));
	}
}


// Checkboxes and radiobuttons

select {
	position: relative;
	-webkit-appearance: none;
	box-shadow: $box-shadow-sm;
	background-image: url(image_path('svg/select-background.svg'));
	background-repeat: no-repeat;
	background-position: right center;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	position: relative;
	margin-right: 8px;
	flex-shrink: 0;
	top: 5px;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-image: linear-gradient(0deg, #F6F7F9 0%, $white 100%);
	border: 1px solid $lightpurple;
	box-shadow: 0 1px 1px 0 rgba(22,29,37,0.05), inset 0 2px 0 0 rgba(255,255,255,0.05);
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	left: 20px;

	@include media-breakpoint-up(md) {
		left: 0;
		top: 4px;
	}

	&:focus {
		outline: 0;
		-webkit-box-shadow: 0 0 0 0.2rem rgba(74,144,226,.25);
		box-shadow: 0 0 0 0.2rem rgba(74,144,226,.25);
	}

	&:checked {
		background-image: url(image_path('svg/checkmark.svg'));
		background-position: center center;
		background-repeat: no-repeat;
		background-color: $primary;
		border: 1px solid $primary;
	}
}

input[type='radio'] {
	-webkit-appearance: none;
	position: relative;
	margin-right: 8px;
  flex-shrink: 0;
	top: 2px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-image: linear-gradient(0deg, #F6F7F9 0%, $white 100%);
	border: 1px solid $lightpurple;
	box-shadow: 0 1px 1px 0 rgba(22,29,37,0.05), inset 0 2px 0 0 rgba(255,255,255,0.05);
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	left: 20px;

	@include media-breakpoint-up(md) {
		left: 0;
	}

	&:focus {
		outline: 0;
		-webkit-box-shadow: 0 0 0 0.2rem rgba(74,144,226,.25);
		box-shadow: 0 0 0 0.2rem rgba(74,144,226,.25);
	}

	&:checked {
		background-image: url(image_path('svg/radio.svg'));
		background-position: center center;
		background-repeat: no-repeat;
		background-color: $primary;
		border: 1px solid $primary;
	}
}

.tiny-select {
	height: 36px;
	font-size: 14px;
	padding-left: 16px;
	padding-right: 32px;
	background: linear-gradient(#F6F7F9 0%, #FFFFFF 100%);
	background-image: url(image_path('svg/arrow-down.svg'));
	background-repeat: no-repeat;
	background-position: right 14px top 13px;
	background-size: 9px 9px;
	border: 1px solid $lightpurple;
	color: $body-color;
	width: auto;
	box-shadow: 0 1px 0px rgba(0,0,0,0.1);
}

.custom-file {
	height: auto;

	input {
		width: 100%;
		border: 1px solid $lightpurple;
		border-radius: 4px;
		padding-left: 20px;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

		&:focus {
			outline: 0;
			-webkit-box-shadow: 0 0 0 0.2rem rgba(74,144,226,.25);
			box-shadow: 0 0 0 0.2rem rgba(74,144,226,.25);
		}
	}

	::-webkit-file-upload-button {
		padding: 10px 20px 10px;
		left: -20px;
		position: relative;
		background-color: $primary;
		border: 1px solid $primary;
		color: $white;
	}
}

// Multiple languages support

.multiple-languages {
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;

  @include media-breakpoint-up(md) {
    margin-left: 0;
  }

  &:last-child {
    margin-bottom: 38px;
  }

  input {
    max-width: 100%;
    margin-right: 0;
    margin-left: 24px;
  }

  textarea {
    max-width: 100%;
    margin-right: 0;
    margin-left: 24px;
  }
}

// Multiple languages build with CSS Grid

.multiple-languages-container {
  @include media-breakpoint-up(md) {
    margin-left: 24px;
    display: grid;
    grid-row-gap: 16px;
    grid-template-columns: auto 1fr;
  }

  small {
    margin-top: 10px;

    @include media-breakpoint-up(md) {
      grid-column-start: 2;
      margin-top: 0;
    }

  }

  .form-check {
    margin-top: 12px;

    @include media-breakpoint-up(md) {
      grid-column-start: 2;
      margin-top: 0;
    }
  }

  .sp-replacer {
    margin-left: 0!important;
    border-radius: 0px!important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    justify-content: space-between;

    @include media-breakpoint-up(md) {
      border-radius: 4px!important;
    }
  }

  span.color {
    top: 0;
  }
}

.multiple-languages-language {
  margin-top: 18px;
  margin-left: 20px;
  font-size: 14px;
  margin-bottom: 6px;

  &:first-of-type {
    margin-top: 6px;
  }

  @include media-breakpoint-up(md) {
    font-size: 16px;
    margin-top: 12px;
    margin-right: 24px;
    margin-left: 0;
    justify-self: end;
    align-self: start;
    max-width: 100px;
    text-align: right;

    &:first-of-type {
      margin-top: 12px;
    }
  }
}

span.color {
  position: relative;
  top: -5px;
}


// Custom links

.custom-links-container {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid $lightblue;

  @include media-breakpoint-up(lg) {
    margin-bottom: 32px;
    padding-bottom: 32px;
    margin-left: 24px;
    display: grid;
    grid-row-gap: 16px;
    grid-template-columns: auto 1fr 2fr auto;
  }

  .multiple-languages-language {
    text-align: left;

    @include media-breakpoint-up(lg) {
      text-align: right;
      grid-column-start: 1;
      grid-column-end: 1;
    }
  }

  .custom-links-title {
    width: 33%;
    float: left;

    @include media-breakpoint-up(lg) {
      width: 100%;
      grid-column-start: 2;
      grid-column-end: 2;
    }
  }

  .custom-links-url {
    width: 67%;
    float: right;

    @include media-breakpoint-up(lg) {
      width: 100%;
      grid-column-start: 3;
      grid-column-end: 3;
    }
  }

  .custom-links-actions {

    @include media-breakpoint-up(lg) {
      grid-column-start: 4;
      grid-column-end: 4;
    }
  }

  span.remove {
    background-position: 28px center;
    top: -120px;

    @include media-breakpoint-up(lg) {
      top: 0;
    }
  }

  span.handle-move {
    top: -120px;

    @include media-breakpoint-up(lg) {
      top: 0;
    }
  }

  .custom-links-title input {
    border-radius: 0;
    margin-bottom: 24px;

    @include media-breakpoint-up(lg) {
      border-radius: 4px 0 0 4px;
      margin-bottom: 0;
    }
  }

  .custom-links-url input {
    border-radius: 0;
    margin-bottom: 24px;

    @include media-breakpoint-up(lg) {
      border-radius: 0 4px 4px 0;
      margin-bottom: 0;
    }
  }

  small {
    margin-top: 10px;

    @include media-breakpoint-up(lg) {
      grid-column-start: 2;
      margin-top: 0;
    }
  }

  .form-check {
    margin-top: 12px;

    @include media-breakpoint-up(lg) {
      grid-column-start: 2;
      margin-top: 0;
    }
  }

  .sp-replacer {
    margin-left: 0!important;
    border-radius: 0px!important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    justify-content: space-between;

    @include media-breakpoint-up(md) {
      border-radius: 4px!important;
    }
  }

  span.color {
    top: 0;
  }
}


