// CSS for the Mobilemenu

.mobilemenu-button {
	display: flex;
	position: relative;
	cursor: pointer;
	padding: 20px;
	left: -20px;
	top: 2px;

	@include media-breakpoint-up(md) { // Hide the hamburger menu icon on desktop
		display: none;
	}

	&:hover {
		opacity: 0.9;
	}

	img {
    margin-right: 6px;
	}
}

// Mobile menu header styles for the logo and mobile language selector

.mobilemenu-top {
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;

	border-bottom: 1px solid $lightblue;
	margin: -24px -24px 17px;
	padding: 9px 24px 0;
	height: 56px;

	.language-selector {
		font-size: $small-font-size-mobile;
	}

	.mobilemenu-top-logo {
		padding-top: 4px;

		&:hover img {
			opacity: 0.85;
		}
	}
}

// Mobile menu styles

#mobilemenu {
	-webkit-overflow-scrolling: touch;
  width: calc(100vw - 48px);
  max-width: 327px;
  position: fixed;
  top: 0;
  left: -327px;
  height: 100%;
  z-index: 999;
  background: $white;
  padding: 24px;
  color: $body-color;
  transition: all 0.2s ease-out;
  overflow-y: scroll;

  &.active {
  	left: 0;
    overflow-y: scroll;
	}

	.sidenav-container li, .sidenav-container ul { // Make the mobile menu items bigger for fingers
		font-size: 16px;
		line-height: 36px;
	}

	.sidenav-container .sidenav-bottomLinks a { // Make the mobile menu items bigger for fingers
		font-size: 15px;
	}
}

.mobilemenu-overlay { // Overlay style for the content when the mobile menu is active
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;

  &.active {
    display: block;
  	opacity: 1;
	}
}

#root { // Overlay style for the content when the mobile menu is active
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;

  &.active {
    display: block;
  	opacity: 1;
  	overflow: hidden;
  	height: 100%;
	}
}
