// CSS for the Topnav

.topnav-shadow {
	box-shadow: 0 4px 32px rgba(0,0,0,0.15);
	transition: all 0.5s ease-out;

	@include media-breakpoint-up(md) {
		box-shadow: none;
	}
}

.topnav {
	display: flex;
	align-items: center;
  justify-content: space-between;

  position: sticky;
	top: 0;
	z-index: 997;

	font-size: $small-font-size-mobile;
	letter-spacing: 0.2px;
	font-weight: 500;

	height: 60px;
	padding: 0 20px;

	background-color: $white;
	border-bottom: 1px solid $lightblue;

	@include media-breakpoint-up(md) { // Make the nav bar taller and increase font-size in desktop
		font-size: $small-font-size;
		height: 80px;
		padding: 0 36px;
		position: relative;
	}

	.logo, .language-selector { // Hide the language selector and logo on nav bar in mobile
		display: none;

		@include media-breakpoint-up(md) { // Show the language selector and logo on nav bar in desktop
			display: block;
		}
	}

	.logo:hover {
		opacity: 0.9;
	}

	.nav-link {
		padding: 12px;
		top: 3px; // Baseline adjustment
		position: relative;

		span.hide-mobile {
			display: none;

			@include media-breakpoint-up(md) {
				display: inline-block;
			}
		}
	}

	.avatar-menu .nav-link {
		padding: 12px 0 12px 12px;
		top: 0px; // Counter baseline adjustment for .nav-link { top: 3px }

		&:hover {
			opacity: 0.9;
		}
	}

	.topnav-list {
		display: flex;
		align-items: baseline;

	}

	a {
		color: $body-color;

		&:hover {
			color: $darkblue;
		}
	}

	img.user-avatar {
		width: 36px;
		border-radius: 50%;

		@include media-breakpoint-up(md) {
			width: 45px;
		}
	}
}
