//= require jquery.fonticonpicker.scss
//= require jquery.fonticonpicker.bootstrap.scss
//= require admin2/mytheme
//= require admin2/spectrum
//= require select2
//= require select2-bootstrap
//= require admin2/custom
@import 'font-awesome.min';
