.opacity_04 {
  opacity: 0.4
}

.opacity_03 {
  opacity: 0.3
}

.opacity_035 {
  opacity: 0.35
}

input#colorpicker-color {
  border: 0;
  width: 0;
  display: none !important;
}

.select-language-admin {
  .select2-selection {
    box-shadow: none !important;
    min-height: 48px !important;
    font-size: 16px !important;
    font-family: 'CircularStd', 'Arial' !important;
  }

  .select2-container {
    height: 48px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
  }

  .select2-selection__choice {
    margin: 11px 0 5px 6px !important;
  }

  .select2-search.select2-search--inline {
    margin: 11px 0 5px 6px !important;
    height: 25px !important;
  }

  .select2-search__field {
    box-shadow: none !important;
    height: 25px !important;
  }
}

input#colorpicker-description.multi-language-color,
input#colorpicker-slogan.multi-language-color,
input#colorpicker-color.multi-language-color{
  position: absolute !important;
  margin: 12px 0 0 200px !important;
  box-shadow: none !important;
  display: inline-block !important;
  width: 100px !important;
  cursor: pointer;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
}

input#colorpicker-color.multi-language-color {
  margin: 12px 0 0 90px !important;
}

.choose-filename {
  position: absolute;
  margin-left: 150px;
  margin-top: 11px;
  background-color: white;
  width: 400px;
}

label.error {
  border-radius: 5px;
  padding: 0.3125em 0.625em 0.625em 0.625em;
  background: red;
  color: white;
  display: block;
  width: 100%;
  margin: 0.75em 0 0.75em 0;
  position: relative;
  &:before {
    content: "";
    border: 0.5em solid transparent;
    border-bottom-color: red;
    position: absolute;
    left: 1.125em;
    top: -1em;
  }
}

.margin-form.content-card-section-form {
  margin-top: 32px;
}

a.remove {
  width: 48px;
  height: 48px;
  float: right;
  top: 0;
  left: 10px;
  margin-bottom: -24px;
  position: relative;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter x='-5.5%25' y='-2.7%25' width='110.9%25' height='107.6%25' filterUnits='objectBoundingBox' id='a'%3E%3CfeMorphology radius='.5' operator='dilate' in='SourceAlpha' result='shadowSpreadOuter1'/%3E%3CfeOffset dy='16' in='shadowSpreadOuter1' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='16' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeComposite in='shadowBlurOuter1' in2='SourceAlpha' operator='out' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Crect id='b' x='280' y='112' width='1036' height='1488' rx='4'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='matrix(-1 0 0 1 506 -1002)'%3E%3Cuse fill='%23000' filter='url(%23a)' xlink:href='%23b'/%3E%3Cuse stroke='%23EAEDF3' fill='%23FFF' xlink:href='%23b'/%3E%3C/g%3E%3Cg fill='%23FF4E36'%3E%3Crect transform='rotate(45 6 6)' x='-1' y='5' width='14' height='2' rx='1'/%3E%3Crect transform='rotate(-45 6 6)' x='-1' y='5' width='14' height='2' rx='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  cursor: pointer; }
a.remove:hover {
  opacity: 1; }

.is-disabled {
  cursor: not-allowed;
  opacity: 0.4;
  pointer-events: none;
  a, button {
    color: currentColor;
    display: inline-block;
    text-decoration: none;
    &.button {
      background-color: #c3c3c3;
    }
  }
}

.tooltip { pointer-events: none; }

a.js-listing-shape-add-custom-unit-link.listing-shape-add-custom-unit-link.opacity_035,
.js-unit-label.remove.opacity_035{
  pointer-events: none;
}

.add-new-unit-content, .edit-category-content, .remove-category-content {
  display: none;
}

.empty-sortable {
  margin-top: 2px !important;
}

.category-group .list-group .field-data:last-of-type {
  border-bottom: 1px solid #EAEDF3;
}

.add-new-unit-content,
.remove-unit-content,
.edit-unit-content{
  display: none
}

@media (min-width: 1023px) {
  .modal-footer a.btn {
    margin-right: 24px;
  }
}

.hidden {
  display: none;
}

.message-container .message p:last-child {
  margin-bottom: 0;
}

.delivery_method {
  margin-top: 37px;
  margin-left: 20px;
}

.modal-footer a.btn {
  margin-left: 24px;
}

@media (min-width: 1023px) {
  .modal-footer a.btn {
    margin-right: 24px;
  }
}

.hidden {
  display: none;
}

.message-container .message p:last-child {
  margin-bottom: 0;
}

.delivery_method {
  margin-top: 37px;
  margin-left: 20px;
}

.minimum-listing-price-holder {
  .input-group-append {
    order: 1;
  }

  label.error {
    order: 2;
  }

  .form-text {
    order: 3;
  }
}

.loaderLargeRevert {
  width: 24px;
  height: 24px;
  stroke: #fff;
  stroke-width: 3.5;
  margin: 0 auto;
}

.loaderLargeRevert {
  stroke: black;
}

.expired_email, .sent_notice, .unverified_email,
.remove-footerLink-content {
  display: none;
}

textarea.attention {
  border: 1px solid #FF4E36; }

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.35; }

// Custom Mercury styles
div[data-mercury='full'] {
  border-radius: 4px;
  border: 1px solid #d8dce6;
  padding: 6px 16px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  img {
    max-width: 100%;
  }
}

.opacity_04{
  #edit_link {
    pointer-events: none;
  }
}

.loaderLarge,
.loaderLargeRevert,
.loaderLargeSecondary {
  width: 24px;
  height: 24px;
  stroke: #fff;
  stroke-width: 3.5;
  margin: 0 auto;
}

.loaderLargeRevert,
.loaderLargeSecondary {
  stroke: black;
}

.loaderCompleteLarge,
.loaderCompleteLargeSecondary {
  fill: none;
  stroke: #FFF;
  stroke-width: 2.5;
  margin: 0 auto;
  transform: scale(0.85);
}

.loaderLargeSecondary,
.loaderCompleteLargeSecondary {
  stroke: #2275d3;
}

#btn_waiting, #btn_completed, #error_save,
#btn_waiting_send_email, #btn_completed_send_email {
  display: none;
}

@media (min-width: 1023px) {
  a.btn#button_stripe + a.btn#button_paypal {
    margin-left: 20px;
  }
}

.small-margin {
  position: absolute !important;
  margin-top: 0 !important;
}
