.opacity_04 {
  opacity: 0.4
}

input#colorpicker-color {
  border: 0;
  width: 0;
  display: none !important;
}

.select-language-admin {
  .select2-selection {
    box-shadow: none !important;
    min-height: 48px !important;
    font-size: 16px !important;
    font-family: 'CircularStd', 'Arial' !important;
  }

  .select2-container {
    height: 48px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
  }

  .select2-selection__choice {
    margin: 11px 0 5px 6px !important;
  }

  .select2-search.select2-search--inline {
    margin: 11px 0 5px 6px !important;
    height: 25px !important;
  }

  .select2-search__field {
    box-shadow: none !important;
    height: 25px !important;
  }
}

input#colorpicker-description.multi-language-color,
input#colorpicker-slogan.multi-language-color,
input#colorpicker-color.multi-language-color{
  position: absolute !important;
  margin: 12px 0 0 200px !important;
  box-shadow: none !important;
  display: inline-block !important;
  width: 100px !important;
  cursor: pointer;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
}

input#colorpicker-color.multi-language-color {
  margin: 12px 0 0 90px !important;
}

.choose-filename {
  position: absolute;
  margin-left: 150px;
  margin-top: 11px;
  background-color: white;
  width: 400px;
}

label.error {
  border-radius: 5px;
  padding: 0.3125em 0.625em 0.625em 0.625em;
  background: red;
  color: white;
  display: block;
  width: 100%;
  margin: 0.75em 0 0.75em 0;
  position: relative;
  &:before {
    content: "";
    border: 0.5em solid transparent;
    border-bottom-color: red;
    position: absolute;
    left: 1.125em;
    top: -1em;
  }
}

.margin-form.content-card-section-form {
  margin-top: 32px;
}
//
//a.remove {
//  background-position: 28px center;
//  top: -120px;
//}

a.remove {
  width: 48px;
  height: 48px;
  float: right;
  top: 0;
  left: 10px;
  margin-bottom: -24px;
  position: relative;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter x='-5.5%25' y='-2.7%25' width='110.9%25' height='107.6%25' filterUnits='objectBoundingBox' id='a'%3E%3CfeMorphology radius='.5' operator='dilate' in='SourceAlpha' result='shadowSpreadOuter1'/%3E%3CfeOffset dy='16' in='shadowSpreadOuter1' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='16' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeComposite in='shadowBlurOuter1' in2='SourceAlpha' operator='out' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Crect id='b' x='280' y='112' width='1036' height='1488' rx='4'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='matrix(-1 0 0 1 506 -1002)'%3E%3Cuse fill='%23000' filter='url(%23a)' xlink:href='%23b'/%3E%3Cuse stroke='%23EAEDF3' fill='%23FFF' xlink:href='%23b'/%3E%3C/g%3E%3Cg fill='%23FF4E36'%3E%3Crect transform='rotate(45 6 6)' x='-1' y='5' width='14' height='2' rx='1'/%3E%3Crect transform='rotate(-45 6 6)' x='-1' y='5' width='14' height='2' rx='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  cursor: pointer; }
a.remove:hover {
  opacity: 1; }

.is-disabled {
  cursor: not-allowed;
  opacity: 0.4;
  pointer-events: none;
  a, button {
    color: currentColor;
    display: inline-block;
    text-decoration: none;
    &.button {
      background-color: #c3c3c3;
    }
  }
}

.tooltip { pointer-events: none; }

.empty-sortable {
  margin-top: 2px !important;
}

.category-group .list-group .field-data:last-of-type {
  border-bottom: 1px solid #EAEDF3;
}
