.checkbox-container
  = radio_button_tag("person[min_days_between_community_updates]", options[1], target_user.min_days_between_community_updates == options[1], :id => options[0])
  = label_tag options[0], t("settings.notifications.#{options[0]}").html_safe, :class => "radio"
