%style
  \.footer__container--dark .footer__social-media-link > svg {
  fill: #FFFFFF;
  }
  \.footer__container--dark .footer__social-media-link:hover > svg {
  fill: #D9D9D9;
  }
  \.footer__container--dark .footer__social-media-link > svg .icon-with-stroke {
  stroke: #FFFFFF;
  }
  \.footer__container--dark .footer__social-media-link:hover > svg .icon-with-stroke {
  stroke: #D9D9D9;
  }
  \.footer__container--light .footer__social-media-link > svg {
  fill: ##{@custom_footer.social_media_icon_color};
  }
  \.footer__container--light .footer__social-media-link:hover > svg {
  fill: rgb(#{@custom_footer.social_media_icon_color_hover}, 0.5);
  }
  \.footer__container--light .footer__social-media-link > svg .icon-with-stroke {
  stroke: ##{@custom_footer.social_media_icon_color};
  }
  \.footer__container--light .footer__social-media-link:hover > svg .icon-with-stroke {
  stroke: rgb(#{@custom_footer.social_media_icon_color_hover}, 0.5);
  }

