%h4 Uutiset
.welcome_text

  
  %p
    %b
      Aalto Kassi jatkaa kasvuaan 
    %br
    27.3.2012

  %p
    Aalon Kassissa on jo noin 4400 käyttäjää, ja lisää liittyy päivittäin. Sisäänkirjautuneet käyttäjät näkevät tämän uutislaatikon yläpuolella uuden kutsuboksin, jonka avulla voit helposti kutsua #{service_name(:illative)} myös ne Aalto-kaverit, jotka eivät vielä ole liittyneet. Yhteisön kasvaessa tulee koko ajan helpommaksi löytää apua tai esim. tavaroita lainaan tarvittaessa.
  %p 
    Muista myös miettiä omalta osaltasi, voisitko lisätä jotain kotona lojuvia tavaroita lainattavaksi tai vuokrattavaksi #{service_name(:illative)}. Lainaaminen on yksi helpoimmista tavoista auttaa muita, ja auttaminen on yksi parhaista tavoista saada uusia tuttuja kampuksella.
  %p
    Ja jos mielessäsi on ajatuksia siitä, miten #{service_name(:partitive)} voisi kehittää entistä paremmaksi, lähetä tekijöille 
    = link_to("palautetta", "#", :id => "give_feedback_link") + "!"