%h4 Uutiset
.welcome_text

  %p
    %b
      KirppOTAri launtaina Alvarin aukiolla
    %br
    10.9.2011

  %p
    Tulee myymään tai tekemään löytöjä Alvarin aukiolle lauantaina 10.9. klo 14-17. Lisätiedot tapahtumasta
    = link_to "Facebookissa", "http://www.facebook.com/event.php?eid=170125373062324"
    
  
  .event_spacer
  
  %p
    %b
      Karttatoimintoja ja 3000 käyttäjää
    %br
    4.8.2011
  
  %p
    Uusia toimintoja Kassissa! Nyt voit määrittää pyynnöille ja tarjouksille sijainnin ja nähdä, millaisia tavaroita ja palveluksia ympärilläsi tarjotaan. 
    = link_to "Tästä linkistä näet kartalla Kassissa olevat tarjoukset", offers_on_map_path
    ja 
    = link_to "tästä linkistä pyynnöt.", requests_on_map_path
    Nopealla vilkaisulla voi todeta, että Otaniemi on ykkösalue, ja useampi kuin joka toinen ilmoituksista on keskittynyt sinne, mutta muuallakin on tarjontaa varsin kiitettävästi!
    
  %p
    Karttatoiminnallisuus on vielä kokeiluasteella, joten jälleen kehotamme antamaan 
    = link_to "palautetta,", "#", :id => "give_feedback_link"
    jos huomaatte toiminnoissa ongelmia tai kehitettävää.
  
  %p
    Todettakoon vielä, että Kassilla on jo yli 3000 rekisteröitynyttä käyttäjää Aalto-yliopistossa, hienoa! Lisäksi paljon uusia käyttäjiä on varmasti odotettavissa pian, kun koulut taas alkavat ja uudet fuksit saapuvat.
  
  
  

