%h4 News
.welcome_text

  
  %p
    %b
      Flea market in Otaniemi on saturday!
    %br
    10.9.2011

  %p
    Come to sell your old stuff or find nice things to buy! The flea market is held at Alvarin aukio in Otaniemi on saturday 10th of September from 2pm to 5pm.
    For more information check the event on
    = link_to "Facebook", "http://www.facebook.com/event.php?eid=170125373062324"
    
  
  .event_spacer
  
  %p
    %b
      Map functionality and 3000 users
    %br
    4.8.2011
  
  %p
    New features in Kassi! Now you can add a location to offers and requests and easily see, what kind of items and services are offered nearby.
    = link_to "This link shows all the offers on a map", offers_on_map_path
    and
    = link_to "this link all the requests.", requests_on_map_path
    By a quick look it seems clear that Otaniemi is the number one zone with more than half of all offers and requests located there. However, there's also quite a bit of activity elsewhere!
    
  %p
    The map functionality is still in an experimentational stage, so again we encourage you to give us
    = link_to "feedback", "#", :id => "give_feedback_link"
    if you have development suggestions or notice bugs in the map.
  
  %p
    In other news, our Aalto community just passed 3000 registered members, awesome! Moreover, the school starts soon so we'll be expecting a ton of new users as the new freshmen arrive.
  


  