%h4 Uutiset
.welcome_text
  
  %p
    %b
      Nopeampi palvelin Kassille
    %br
    3.5..2011
  
  %p
    Kassi siirtyi 3.5. uudelle palvelimelle. Tästä aiheutui muutaman tunnin katkos palvelun käyttöön, ja pieniä omituisuuksia saattaa ilmetä vielä tämän päivä aikana esim. profiilikuvien näkymisessä. Uuden palvelimen myötä Kassin pitäisi pystyä palvelemaan käyttäjiään aiempaa nopeammin ja menneisyydessä vaivanneiden jumituksien pitäisi olla historiaa. Pistäkää
    = link_to "palautetta,", "#", :id => "give_feedback_link"
    jos huomaatte jotain jonkin toiminnon rikkoutuneen siirron jälkeen. 
  
  .event_spacer
  
  %p
    %b
      Aarremarkkinat tulevat 7.5. - Kassi jälleen mukana
    %br
    17.4.2011

  %p
    = link_to "Art goes Aalto", "http://www.facebook.com/pages/Art-Goes-Aalto/140191219366073"
    järjestää AYY:n Aarremarkkinat KY:n alakertsillä 7.5. Tapahtuman 
    = link_to "FB-sivulta", "http://www.facebook.com/event.php?eid=185279331517794"
    löydät tarkemmat tiedot ja ohjeet myyntipöydän varaamiseen.
  %p
    Viime kerran tapaan Kassi on jälleen mukana ja tarjoaa mahdollisuuden saada tavaraa myyntiin myös, vaikka ei itse pääsisi paikalle myymään. Käyttämällä Kassissa myynti-, vaihto- tai antamistarjouksessa
    %b
      Aarremarkkinat
    avainsanaa (eli tagia) voit saada tavarasi tarjolle Kassin myyntipöytään. Tavaroiden keräys järjestetään 6.5. kaikilla pääkampuksilla ja ajasta tiedotetaan Aarremarkkinat-tagia käyttäneille myöhemmin.
  %p
    Myymättä jääneet tavarat voi noutaa vastaavasti kampukselta markkinoiden jälkeen, tai vaihtoehtoisesti voit lahjoittaa ne hyväntekeväisyyteen AYY-Kehyn kautta.
  %p 
    Nyt on hyvä tilaisuus tehdä pientä kevätsiivousta varastoissa ja laittaa käyttökelpoinen tavara vaivattomasti eteenpäin. 
    = link_to "Kutsu mukaan", "http://www.facebook.com/event.php?eid=185279331517794"
    myös kaverisi ja tule itsekin tekemään Aarrelöytöjä!

