%h4 News
.welcome_text

  
  %p
    %b
      Aalto Kassi keeps growing
    %br
    27.3.2012

  %p
    There are now about 4400 members in the Aalto University's Kassi and more keep joining every day. There is a new invite box above the news (when you have logged in) where you can invite your Aalto friends to Kassi if they have not joined yet. As the community grows, it gets easier and easier to find help or borrow items when needed.
  %p 
    Also remember to think if you could offer some items to lend or rent for fellow students. Lending is one of the easiest ways to help others, and helping is maybe the greatest way to meet new people on the campus. 
    
  %p
    And if you have any ideas how we could make the service better, send us some
    = link_to("feedback", "#", :id => "give_feedback_link") + "!"
   

  


  