- content_for :extra_javascript do
  :javascript
    ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-order-permission");

.paypal-wizard-content
  - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
  = render partial: "layouts/paypal_account_connected", locals: {paypal_account_email: paypal_account[:email],
      paypal_redirect_link: paypal_redirect_link}
.paypal-wizard-divider
