Kassi is a service for the HTC Keilaniemi community. Here you can sell, lend, rent and give away stuff, give and get help or share rides. Could you lend something to others or help them?
= link_to t("homepage.index.tell_it_here"), new_request_path(:type => "offer")