Kassi on HTC Keilaniemen palvelu, jossa voit myydä, lainata, vuokrata ja antaa tavaroita, auttaa ja pyytää apua tai järjestää kimppakyytejä. Voisitko lainata muille tavaroita tai auttaa heitä?
= link_to t("homepage.index.tell_it_here"), new_request_path(:type => "offer")