Kassi is a service for OSPN members and their local communities. Here you can lend, rent, give away and sell stuff, give and get help or share rides. Could you lend something to others or help them? 
= link_to t("homepage.index.tell_it_here"), new_request_path(:type => "offer")