:javascript
  $(document).ready(function() {
    $('#read_more_link').click(function() {
      $('#additional_info').slideToggle('fast');
      var $self = $(this);
      if ($self.text() == "Read more") {
        $self.text("Read less");
      } else {
        $self.text("Read more");
      }
    });
  });

%p
  Are you a San Francisco Bay Area single parent? The 
  = link_to "Oakland Single Parents' Network", "http://www.oaklandsingleparents.com/"  
  welcomes you to OSPN #{service_name} - the place where our growing community comes together online. To request an invitation to join, please email kadiekelly@yahoo.com.

#read_more_link_container
  = link_to "Read more", "#", :id => "read_more_link"

#additional_info.hidden
  %p
    We all have challenges in our daily lives from child care to time management. However, we all also have resources that we may want to share. The idea of this site is to empower our community by making helping each other easier: Could you lend something to others or help them? Is there something you or your children need? Or would you like to be part of an 
    = link_to("OSPN Group", "https://sites.google.com/site/oaklandsingleparentsnetwork/groups-1") + "?"   
    We aim to develop the site further with you. So, please sign up, leave a notice, be patient, and give feedback!