#info1ColBackgroundColorWrapper.form-group
  = form.label :background_color_string, 'Section background color'
  .d-flex.single-field
    = form.text_field :background_color_string, class: 'required'
