#info1ColBackgroundColorWrapper.form-group
  = form.label :background_color_string, t('admin2.landing_page.sections.background_color')
  .d-flex.single-field
    = form.text_field :background_color_string, class: :required
