<h1>KIRJALLINEN SUOSTUMUS TUTKIMUKSEEN</h1>

<div class="terms">

<p>
  Hyväksymällä tämän suostumuksen vahvistan, että osallistun vapaaehtoisesti OtaSizzle-projektiin liittyvään tutkimukseen nimeltä Kassieksperimentti.
</p>
<p>
  Olen lukenut ja ymmärtänyt alla olevan tutkimusselosteen ja vahvistan, että minulle on annettu riittävästi tietoja ja mahdollisuus esittää kysymyksiä tutkimuksesta (tai mikäli tiedot vaikuttaisivat tutkimukseen, minulle on luvattu kyseinen mahdollisuus kokeen jälkeen). 
</p>
<p>
  Olen valmis seuraamaan tutkijoiden minulle antamia ohjeita ennen tutkimusta, sen aikana ja sen jälkeen. 
</p>
<p>
  Annan suostumukseni siihen, että henkilötietojani käsitellään tutkimusselosteessa kuvatulla tavalla. 
</p>
<p>
  Minulle on kerrottu, että minulla on oikeus keskeyttää tutkimukseen osallistuminen missä tahansa vaiheessa tarvitsematta kertoa syytä ja olla vastaamatta mihin tahansa kysymykseen mitä tutkimuksen aikana, sitä ennen, tai sen jälkeen minulle  esitetään.
</p>
<p>
  Tutkimuksessa käytettäviä palveluita (Kassi yms.) saa käyttää vain niiden käyttöehtojen mukaisesti. Hyväksyn alla olevat käyttöehdot ennen kuin käytän palveluita.
</p>

<ul>
  <li>
    <%= link_to_function "Tiedote osallistumisesta tieteelliseen tutkimukseen", "new Effect.toggle('research_info', 'blind')" %>
    <br /><br />
    <div id="research_info" class="consent_inner" style="display:none;">
      <%= render :partial => "consents/research_information"%>
    </div>
  </li>
  <li>
    <%= link_to_function "Käyttöehdot", "new Effect.toggle('terms', 'blind')" %>
    <br /><br />
    <div id="terms" class="consent_inner" style="display:none;">
      <%= render :partial => "consents/terms"%>
    </div>
  </li>
</ul>

<p>
  Mikäli haluat tutkimuksesta lisää tietoa tai sinulla on muuta kysyttävää, voit ottaa yhteyttä:
</p>
<p>
  Tutkimusapulainen Antti Virolainen (antti.virolainen (ät) tkk.fi)<br />
  Tutkimusapulainen Juho Makkonen (juho.makkonen (ät) tkk.fi)<br />
  Tutkimusapulainen Emmi Suhonen (emmi.suhonen (ät) tkk.fi)<br />
  Projektipäällikkö Olli Pitkänen (olli.pitkanen (ät) hiit.fi)<br /> 
  Professori Martti Mäntylä (martti.mantyla (ät) hiit.fi)
</p>
<p>
  Tietotekniikan tutkimuslaitos HIIT<br />
  Spektri Pilotti<br />
  Metsänneidonkuja 4<br />
  02130  Espoo<br />
  <br />
  Puh: (09) 4511
</p>

</div>