<h1>WRITTEN CONSENT FOR RESEARCH STUDY</h1>

<div class="terms">

<p>
  By giving my consent I confirm my voluntary participation in a study entitled Kassieksperimentti, belonging to the OtaSizzle project.
</p>
<p>
I have read and understood the appended research description (link to research description), entitled “Information for Participants in Scientific Research”, and confirm that I have received sufficient information on the study and have been given the opportunity to ask questions about the study (and if the information affects the test I have been assured I will have this opportunity after the study).
</p>
<p>
 I am willing to follow the instructions provided by the researchers before, during and after the study.
</p>
<p>
  I consent to my personal data being processed in the ways described in the research description.
</p>
<p>
 I am aware of the fact that I have the right to cancel my participation in the test at any time without providing a reason, and to refuse to answer any questions asked before, during or after the study.
</p>
<p>
 The services in the study (Kassi, etc.) may only be used in accordance with their terms of use. I accept the terms of use before I use the services.
</p>

<ul>
  <li>
    <%= link_to_function "Information for Participants in a Scientific Research", "new Effect.toggle('research_info', 'blind')" %>
    <br /><br />
    <div id="research_info" class="consent_inner" style="display:none;">
      <%= render :partial => "consents/research_information"%>
    </div>
  </li>
  <li>
    <%= link_to_function "Terms of use", "new Effect.toggle('terms', 'blind')" %>
    <br /><br />
    <div id="terms" class="consent_inner" style="display:none;">
      <%= render :partial => "consents/terms"%>
    </div>
  </li>
</ul>

<p>
  For more information on the study or in case of any questions, please contact:
</p>
<p>
  Research Assistant Antti Virolainen (antti.virolainen (at) tkk.fi)<br />
  Research Assistant Juho Makkonen (juho.makkonen (at) tkk.fi)<br />
  Project Manager Olli Pitkänen (olli.pitkanen (at) hiit.fi)<br /> 
  Professor Martti Mäntylä (martti.mantyla (at) hiit.fi)
</p>
<p>
  Helsinki Institute for Information Technology, HIIT<br />
  Spektri Pilotti<br />
  Metsänneidonkuja 4<br />
  02130  Espoo<br />
  <br />
  Tel.: +358 (0)9 4511
</p>

</div>