<p>The english translation of the consent is not finished yet. Please use the <%= link_to "finnish version", :action => "show", :params => {:locale => "fi"} %> or send feedback using the box at the bottom of the page.</p>
