<%= link_to "&larr;Takaisin sitoumukseen", :action => "show" %>
<br/>
<br/>


<h1>TIEDOTE OSALLISTUMISESTA TIETEELLISEEN TUTKIMUKSEEN</h1>

<p><b>Tässä tiedotteessa kerrotaan kokeen tarkoituksesta, kulusta ja muista puolista, kuten ihmistutkimuksen eettisissä säännöissä on säädetty ja eettinen lautakunta on päättänyt. Tutkimukselle on myönnetty eettisen lautakunnan lupa tehdä ihmistutkimusta tässä dokumentissa mainittua tarkoitusta varten ja mainittuja menetelmiä käyttäen.</b></p>

<h3>Kutsu</h3>
<p>Sinut on kutsuttu osallistumaan tieteelliseen käyttäjätutkimukseen, jota johtaa professori Martti Mäntylä Teknillisen korkeakoulun ja Helsingin yliopiston yhteisestä Tietotekniikan tutkimuslaitos HIIT:stä. Tutkimus on osa Teknillisen korkeakoulun MIDE-ohjelmaan kuuluvaa OtaSizzle–projektia. Tutkimukseen osallistuu useita koehenkilöitä. Osallistumisesi on vapaaehtoista.
</p>
<h3>Tutkimuksen tarkoitus</h3>
<p>Tässä tutkimuksessa, ja projektissa johon se kuuluu, tutkitaan yhteisömediapalveluita ja niiden käyttöä. Keräämällä sinuun liittyvää tietoa opimme lisää siitä, mitkä asiat ovat palvelun käyttäjälle tärkeitä. Tuloksistamme on tarkoitus lopulta saada tietoa, joka auttaa suunnittelemaan ja tekemään parempia palveluita.
</p>
<h3>Riskit ja epämukavuus</h3>
<p>Kokeen aikana käytetyt menetelmät eivät sisällä sinulle sen suurempia vahingoittumisen riskejä kuin tietokoneen ja matkapuhelimen käyttö normaalistikaan. Tutkimukseen mahdollisesti liittyvien haastatteluiden ja kyselyiden kohdalla sinulla on niin halutessasi oikeus jättää vastaamatta mihin tahansa kysymyksiin. Tutkimukseen saatetaan sisällyttää myös havainnointia, jonka avulla pyritään tutkimaan käyttäjien toimintaa ”kentällä”, heidän päivittäisessä elämässään. Tästä tutkimuksesta tiedotetaan etukäteen ja tutkimuksesta on oikeus kieltäytyä. 
</p>
<h3>Hyödyt osallistujalle tai yhteisölle</h3>
<p>Pyrimme tekemään kokeiltavat palvelut hyödyllisiksi, jolloin niiden käyttämisestä tässä tutkimuksessa saattaa olla sinulle jotain hyötyä. Tutkimukseen osallistumisesta ei ole sinulle muuta erityistä hyötyä. Vaikka et saavutakaan henkilökohtaista hyötyä, uskomuksemme on, että osallistumalla kokeeseen autat tuottamaan tietoa, jonka avulla pystytään tulevaisuudessa suunnittelemaan ja tekemään parempia palveluita.
</p>
<h3>Luottamuksellisuus</h3>
<p>Tutkimuksen aikana keräämme runsaasti tietoa sinusta ja siitä, miten käytät palveluita. Tietojen kerääminen tapahtuu osittain kyselemällä tietoja sinulta ja havainnoimalla toimintaasi, mutta osittain myös palvelun tallentaessa automaattisesti tietoa palvelua käytettäessä. Kaikki tutkimuksen kuluessa saatu sinua koskeva tieto on luottamuksellista, eikä sitä luovuteta kolmansille tahoille muuten kuin erikseen tätä varten hankitulla suostumuksellasi tai lain niin vaatiessa. Palvelun mobiilikäyttäjiltä tietoja voidaan kerätä myös SP360-tiedonkeruuohjelmistolla, joka tällöin pyydetään käyttäjiä asentamaan puhelimeensa. SP360-ohjelmiston keräämään tietoon Nokialla on pääsy SP360-sitoumuksessa kuvatulla tavalla. Osallistumisestasi saatua aineistoa käytetään ainoastaan osana suurempaa aineistoa. Analyysin aikana tietoja yhdistellään mm. puhelinnumeron, IMEI-koodin ja muiden tunnistetietojen perusteella. Kaikki tunnistetiedot tuhotaan viimeistään tämän viiden vuoden projektin lopuksi, tai jo aikaisemmin, jos se käytännön syistä on mahdollista. Kun tutkimuksen tuloksia julkaistaan tai niitä käsitellään tieteellisissä tai muissa yhteyksissä, yksittäisiä koehenkilöitä ei yksilöidä eikä heitä voi aineistosta tunnistaa. OtaSizzlen alla mainituilta yhteyshenkilöiltä on saatavilla kenen tahansa nähtäväksi rekisteriseloste, joka määrittelee kuinka aineistoa käsitellään, säilytetään ja aikanaan tuhotaan.
</p>
<p>Tähän tutkimukseen sovelletaan henkilötietolakia (523/1999), joka perustuu EU-lainsäädäntöön.</p>

<h3>Osallistuminen ja keskeyttäminen</h3>
<p>Voit vapaasti päättää haluatko osallistua tutkimukseen vai et. Jos vapaaehtoisesti osallistut tutkimukseen, sinulla on silti oikeus keskeyttää osallistumisesi milloin tahansa ilman mitään seurauksia. Sinulla on myös oikeus jättää vastaamatta mihin tahansa kysymyksiin joihin et tahdo vastata ja silti pysyä tutkimuksessa. Siinä harvinaisessa tapauksessa että olosuhteet sitä vaativat, myös tutkimuksen vastuullisella johtajalla on oikeus keskeyttää tutkimus osaltasi.
</p>
<h3>Tutkijoiden yhteystiedot</h3>
<p>Mikäli haluat tutkimuksesta lisää tietoa tai sinulla on muuta kysyttävää, voit ottaa yhteyttä:
</p>
<p>Teknillinen korkeakoulu, Tietotekniikan tutkimuslaitos HIIT
</p>

<p>Tutkimuksen vastuullinen johtaja:<br/>
Professori Martti Mäntylä<br/>
Puh: (09) 4511<br/>
Email: martti.mantyla (ät) hiit.fi</p>

<p>Käytännön asiat:<br/>
Projektipäällikkö Olli Pitkänen<br/>
Puh: (09) 4511 <br/>
Email: olli.pitkanen (ät) hiit.fi</p>

<%= link_to "&larr;Takaisin sitoumukseen", :action => "show" %>