Käyttöehdot
Kassi on yhteisöllinen palvelustenvaihtopalvelu, jonka avulla käyttäjät voivat vaihtaa palveluksia ja kommunikoida keskenään. Se on osa Teknillisen korkeakoulun (TKK) OtaSizzle-tutkimusprojektia, jossa palvelua kehitetään ja kokeillaan. Projektista vastaa TKK:n ja Helsingin yliopiston yhteinen Tietotekniikan tutkimuslaitos HIIT. Kassi-palvelua saa käyttää vain näiden käyttöehtojen mukaisesti. TKK voi tarvittaessa muuttaa näitä ehtoja. Voimassaolevat ehdot löytyvät Kassin www-sivuilta.
Oikeudet sisältöön
Käyttäjillä on itsellään oikeus tekstiin, kuviin ja muuhun sisältöön, jonka he tuottavat palveluun. He sallivat muiden käyttää sisältöä palvelun luonteen mukaisesti ja sallivat TKK:n arkistoida tietoa ja tehdä siihen palvelun ja tutkimuksen kannalta tarpeellisia muutoksia, mutta eivät siirrä muita oikeuksia ellei erikseen toisin sovita. Vastuu sisällöstä on käyttäjällä, joka sen on palveluun tuottanut. TKK voi vapaasti poistaa palvelusta sisältöä.
Ei takuuta
Kassi-palvelu on kokeellinen ja osa tutkimusta eikä sen toimivuudesta voida antaa mitään takuita. HIIT, Teknillinen korkeakoulu ja Helsingin yliopisto eivät missään tapauksessa ole korvausvelvollisia palvelun käyttäjille aiheutuneista vahingoista. Käyttäjä ei saa tallettaa palveluun mitään tietoa tai sisältöä olettaen sen säilyvän palvelussa.
Käyttäjän poistaminen
TKK:lla on oikeus poistaa käyttäjä Kassista ja lopettaa hänen käyttöoikeutensa palveluun ilman eritystä syytä ja ilman korvausvelvollisuutta.
Sovellettava laki
Ellei jostain pakottavasta laista muuta johdu, palveluun ja näihin käyttöehtoihin sovelletaan Suomen lakia.

<p><%= link_to "Takaisin sitoumukseen", :action => "show" %></p>