.card-top
  %h2= t('admin2.home.block_2.c_title')
  %p= t('admin2.home.block_2.c_body')
.card-bottom
  %ul
    %li
      = link_to t('admin2.home.block_2.c_link'), 'https://www.sharetribe.com/from-go-to-the-new-sharetribe/?utm_source=marketplaceadminpanel&utm_medium=referral&utm_campaign=home', target: :_blank, rel: :noopener, class: %i[external-link]
