- content_for :title do
  = t('admin2.sidebar.dashboard')

.content-card-header
  %h1.content-card-header-title
    Dashboard
  -#%a.content-card-header-link{:href => "#"} FIXME
.content-card-section-container
  %section.content-card-section
    %h2 Dashboard
