#orderTypesDeleteModalSimple.modal{'data-backdrop' => 'static', "aria-hidden" => "true", "aria-labelledby" => "orderTypesDeleteModalSimpleLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-md{:role => "document"}
    .modal-content
      = form_tag '#', method: :delete, class: %i[content-card-section-form], id: 'delete-simple-order-form' do
        .modal-header
          %h2#orderTypesDeleteModalSimpleLabel.modal-title
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body#delete-simple-order-type-body
        .modal-footer
          = link_to t('admin2.manage_listings.cancel'), '#', class: %i[cancel-modal], 'data-dismiss': :modal
          = button_tag t('admin2.order_types.delete'), class: %i[btn btn-primary]
