%ul.page-resources
  %li
    = link_to t('admin2.order_types.get_started'), 'https://docs.google.com/document/d/1AdGRFAxQkc_g9UP-IUtwAwo5eOAvGGOw2md-LjybR60/#heading=h.2w43aop80w2e', target: :_blank, class: %i[external-link link-help-center]
  %li
    = link_to t('admin2.order_types.watch_video'), 'https://www.youtube-nocookie.com/watch?v=r-VHbSkXjh0', class: %i[link-video], 'data-target': '#video', 'data-toggle': :modal
  %li
    = link_to t('admin2.order_types.take_tour'), "#", onclick: "Intercom('startTour', 216058); return false;",  class: %i[link-tour]

- content_for :popup_layout do
  #video.modal{"aria-hidden" => true, 'aria-labelledby' => 'categoriesAddModalLabel', 'data-backdrop' => 'static', role: :dialog, tabindex: '-1'}
    .modal-dialog.modal-lg{role: :document}
      .modal-content.modal-content-video
        .modal-header-video
          %button.close{'aria-label' => 'Close', 'data-dismiss' => :modal, type: :button}
            %span{'aria-hidden' => true} ×
        .modal-body-video
          .embed-responsive.embed-responsive-16by9
            %iframe#categoriesVideo.embed-responsive-item{allowfullscreen: '', height: 315, src: 'https://www.youtube-nocookie.com/embed/r-VHbSkXjh0', width: 560}
