%h4 Welcome to #{service_name}!
.welcome_text
  %p
    Kallio #{service_name} is a part of the "From Neighborhoods to Village Communities" project which aims to make neighborhoods more lively and offer residents a chance to participate in developing the environment they live in. The project is a part of World Design Capital Helsinki 2012 and Helsinki 200 years as capital -projects. The project is executed by Sharetibe Ltd and it is funded by Helsinki Communications Office, Helsinki 200 years as capital -project and Forum Virium Helsinki. The service will remain in residents' use also after year 2012.
  %p
    = image_tag "/assets/community_images/WDC2012_logo.png", :alt => "World Design Capital Helsinki 2012"
  %p
    = link_to image_tag("community_images/Helsinki200v_logo.png", :alt => "Helsinki 200 years as capital 2012"), "http://www.helsinki200.fi/"