- content_for :title_header do
  %h1= t("sessions.confirmation_pending.confirm_your_email")

#new-message-form.centered-section
  = render partial: "community_memberships/confirmation_form", locals: {support_email: support_email}
