%h4 Welcome to Kassi!
.welcome_text
  %p
    Pitskun Kassi is a part of the "From Neighborhoods to Village Communities" project which aims to make neighborhoods more lively and offer residents a chance to participate in developing the environment they live in. The project is a part of World Design Capital Helsinki 2012 and Helsinki 200 years as capital -projects. The project is run by Aalto-yliopisto and practical matters related to it and the development of Kassi service handled by Avoin Interactive Oy. The service will remain in residents' use also after year 2012.
  %p
    = image_tag "/images/community_images/WDC2012_logo.png", :alt => "World Design Capital Helsinki 2012"
  %p
    = link_to image_tag("/images/community_images/Helsinki200v_logo.png", :alt => "Helsinki 200 years as capital 2012"), "http://www.helsinki200.fi/"
    %p
      Pitskun Kassi is meant for all the people living in the Pitäjänmäki discrict: Reimarlan, Marttilan, Strömbergin, Taimiston and Pitäjänmäki industrial district / Piimäki. Add your info to Kassi and tell what you need and how you could help others out by, for example, lending or renting your goods.
    %p
      After you contact a person in Kassi, it's usually good to agree on a place to meet. Good public places for this purpose in Pitäjänmäki include the premises of Valintatalo, Church, Library or S-market. The users of the service should always assess the trustworthiness of the other party before meeting, and having the first meeting in a public place can be the most care-free option for everyone. Also remember to give feedback to each other after helping each other out, so you can build your reputation as a trustworthy person in the Kassi community.