%h4 Tervetuloa Kassiin!
.welcome_text
  %p
    Pitäjänmäen Kassi on osa "Kaupunginosista kyläyhteisöjä" -hanketta, jolla pyritään elävöittämään kaupunginosia ja tarjoamaan asukkaille osallistumisen mahdollisuuksia. Hanke on osa World Design Capital Helsinki 2012 ja Helsinki 200 vuotta pääkaupunkina -juhlavuosia. Palvelu jää Pitäjänmäen asukkaiden käyttöön myös juhlavuoden jälkeen.
  %p
    = image_tag "/images/community_images/WDC2012_logo.png", :alt => "World Design Capital Helsinki 2012"
  %p
    = link_to image_tag("/images/community_images/Helsinki200v_logo.png", :alt => "Helsinki 200 vuotta pääkaupunkina 2012"), "http://www.helsinki200.fi/"
  %p
    Pitskun Kassi on tarkoitettu kaikille Pitäjänmäen alueella asuville: Reimarlan kerrostaloalueen, Marttilan omakotialueen, Strömbergin alueen, Taimiston alueen ja Pitäjänmäen teollisuusaluen Piimäen ihmisille. Rekisteröidy Kassiin ja kerro mitä tarvitset sekä miten voisit auttaa muita esimerkiksi lainaamalla tai vuokraamalla tavaroitasi.
  %p
    Kun Kassista löytyy yhteys tarvitsijan ja auttajan välille, on useimmiten tarpeen sopia tapaaminen esimerkiksi tavaran lainaamista varten. Hyviä julkisia paikkoja tähän on mm. Valintatalon, Kirkon, Kirjaston tai  S -marketin edustalla. Käyttäjien tulee aina arvioida vastapuolen luotettavuus ennen tapaamista, ja entuudestaan tuntemattoman kanssa taaminen julisella paikalla voi olla molempien kannalta huoleton vaihtoehto. Muistakaa myös antaa tapaamisen jälkeen palautetta toisillenne, niin erotutte Kassissa eduksenne luotettuina henkilöinä.
  