%p
  Terms of Service for #{service_name}.
%p
  If you are the owner of #{service_name}, visit
  = link_to "https://docs.google.com/document/d/1AdGRFAxQkc_g9UP-IUtwAwo5eOAvGGOw2md-LjybR60/#heading=h.rrxdy2at52mk", "https://docs.google.com/document/d/1AdGRFAxQkc_g9UP-IUtwAwo5eOAvGGOw2md-LjybR60/#heading=h.rrxdy2at52mk", :rel => "nofollow", target: :_blank
  to get started with creating your Terms of Service.
