!!! 5
!!! xml
%html{html_attrs(I18n.locale).merge({"xmlns:og"=>"http://ogp.me/ns#"})}
  %head
    %title 
      Kassi - 404 Page not found
    =# stylesheet_link_tag 'compiled/style.css'
    
  %body
    .wrapper
      .js_enabled
        #error.container_24
          .grid_16.prefix_4.suffix_4
            .grid_8.alpha
              #error_content
                %h2 Javascript ei ole päällä selaimessasi
                %p
                  Kassi ei valitettavasti tällä hetkellä toimi ilman javascriptiä. Kokeile asettaa javascript-tuki päälle selaimesi asetuksista ja kokeile ladata tämä sivu uudestaan. Jos ehdottomasti haluaisit käyttää Kassia ilman javascriptiä, voit lähettää meille palautetta alla olevalla lomakkeella.
                %h2 Javascript is disabled in your browser
                %p
                  Unfortunately Kassi does not currently work without javascript. Try to enable javascript from your browser's preferences and then reload this page again. If you'd like to use Kassi without javascript, please send us feedback using the form below.
            .grid_8.omega
              #error_kaapo
                =# image_tag "/images/kaapo/sad_kaapo_big.png", :alt => "Kaapo"

          .grid_12.prefix_6.suffix_6
            #error_page_feedback_form
              
            
            
              

