%h2= t('error_pages.error_410.page_removed')
%p
  = t('error_pages.error_410.page_you_requested_has_been_removed')

  %br/
  %br/

  = t('error_pages.error_410.page_removed_reason')

  %br/
  %br/

  %a{href: '/'}
    = t('error_pages.back_to_kassi_front_page')
