%h2= t('error_pages.error_404.page_can_not_be_found')
%p
  = t('error_pages.error_404.page_you_requested_can_not_be_found')

  %br/
  %br/

  %a{href: '/'}
    = t('error_pages.back_to_kassi_front_page')
