.row
  %h3= t("admin.communities.integrations.google_analytics_key")
.row
  .col-6
    = render :partial => "layouts/info_text", :locals => { :text => t("admin.communities.integrations.google_analytics_key_info_text") }
  .col-6
    =form.text_field :google_analytics_key, :maxlength => "15", :class => "text_field", :placeholder => "UA-12345-12"
