- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render partial: "layouts/left_hand_navigation", locals: { links: admin_links_for(@community) }

.left-navi-section
  %h2= t("admin.communities.transactions.transactions", community_name: @community.name(I18n.locale))

  %table#admin_transactions
    %thead
      %tr
        %th.arrow-up=sort_link("conversation")
        %th.arrow-up=sort_link("listing")
        %th.arrow-up=sort_link("status")
        %th.arrow-up=sort_link("sum")
        %th.arrow-up=sort_link("started")
        %th.arrow-up=sort_link("last_activity")
        %th.arrow-up=sort_link("initiated_by")
        %th.arrow-up=sort_link("other_party")

    %tbody
      - @conversations.each do |conversation|
        %tr
          -truncated_message = truncate(conversation.first_message.content, length: 15)
          -path_to_conversation = single_conversation_path(conversation.starter.id, conversation.listing.transaction_type.id, conversation.id)
          %td=link_to(truncated_message, path_to_conversation)
          %td=link_to(conversation.listing.title, conversation.listing)
          %td=conversation.status
          %td=price_as_text(conversation.listing)
          %td=l(conversation.created_at, format: :short)
          %td=l(conversation.last_message_at, format: :short)
          %td=link_to(conversation.starter.full_name, conversation.starter)

          -other_party=conversation.other_party(conversation.starter)
          %td=link_to(other_party.full_name, other_party)

