- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render partial: "layouts/left_hand_navigation", locals: { links: admin_links_for(@community) }

.left-navi-section
  %h2= t("admin.communities.transactions.transactions", community_name: @community.name(I18n.locale))

  %table#admin_transactions
    %thead
      %tr
        %th=t("admin.communities.transactions.conversation")
        %th=t("admin.communities.transactions.listing")
        %th=t("admin.communities.transactions.status")
        %th=t("admin.communities.transactions.sum")
        %th=t("admin.communities.transactions.started")
        %th=t("admin.communities.transactions.last_activity")
        %th=t("admin.communities.transactions.initiated_by")
        %th=t("admin.communities.transactions.other_party")

    %tbody
      - @conversations.each do |conversation|
        %tr
          %td=truncate(conversation.title, length: 15)
          %td=conversation.respond_to?(:listing) ? link_to(conversation.listing.title, conversation.listing) : ""
          %td=conversation.status
          %td=conversation.respond_to?(:payment) && conversation.payment ? humanized_money_with_symbol(conversation.payment.total_sum) : ""
          %td=l(conversation.created_at, format: :short)
          %td=l(conversation.last_message_at, format: :short)
          %td=link_to(conversation.starter.full_name, conversation.starter)

          -other_party=conversation.other_party(conversation.starter)
          %td=link_to(other_party.full_name, other_party)

