.row
  .col-12
    %h3= t('.title')
= render partial: 'background_style', locals: {form: form, presenter: presenter}
= render partial: 'background_image_overlay', locals: {form: form, presenter: presenter}
= render partial: 'background_color', locals: {form: form, presenter: presenter}
