.row.bg-style-color
  .col-12
    %h4= t(".background_color")

.row.bg-style-color
  .col-12
    - link = link_to 'WebFx', "https://www.webfx.com/web-design/color-picker/", target: '_blank'
    = render partial: 'layouts/info_text', locals: {text: t(".background_color_info", link: link).html_safe}

.row.bg-style-color
  .col-12
    = form.label :background_color_string, class: 'after-info-text'
    = form.text_field :background_color_string, required: true
