%h4 Start-Up Chile #{service_name}
.welcome_text
  %p
    Welcome to #{service_name}! This is a place where Start-Up Chile participants can share their resources with each other. Those who are leaving can sell or give away their old stuff and post offers of their apartments, and the newcomers can make their arrival a bit easier by getting needed items and advice from here.
  %p
    Please also list what items you have that you could lend to other SUPers and also what help you could offer. Feel free to offer also the services of your company in #{service_name}!
  %p
    This community is dedicated to Start-Up Chile participants and we can set the rules as we like. If you have ideas, suggestions or feedback, please use the feedback button on the left or talk to Antti.
    