.new_listing_form_field_container
  = form.label :description, t('.googlemap_description') + ":", :class => "input"
  .jsmap{:id => "map_canvas", :style => "width: 398px; height: 260px"}
  :javascript 
    $(document).ready(function() { 
      if (!#{rideshare}){
        var source = "listing_origin";
        //var prefix = "listing_origin_loc_attributes";
        googlemapMarkerInit('map_canvas',"listing_origin_loc_attributes","listing_origin",true);
        }
      else
      {
      googlemapRouteInit('map_canvas');
      }
    });
