.new_listing_form_field_container
  = form.label :description, t('.googlemap_description') + ":", :class => "input"
  .jsmap{:id => "map_canvas", :style => "width: 398px; height: 260px"}
  :javascript 
    $(document).ready(function() { 
      googlemapInit('map_canvas');
      startRoute();
    });
