
- if @current_person.organizations.count > 1
  - org_array = @current_person.organizations_array(@community_category.price?)
  = form.label :organization, t(".organization") + "*", :class => "input"
  - if org_array.size < @current_person.organizations.count
    %p.label-info= t(".only_seller_organizations_listed_here")
  = select(:listing, :organization_id, org_array, { :class => "full-width" })

      
- else
  = form.hidden_field :organization_id, :value => @current_person.organizations.first.id