= form.hidden_field(:category, :value => @listing.category.id)
= form.hidden_field(:transaction_type, :value => @listing.transaction_type.id)
= form.button t(".save_listing"), :class => "send_button"
  