= form.hidden_field(:category_id, :value => @listing.category.id)
= form.hidden_field(:listing_shape_id, :value => @listing.listing_shape.id)
= form.button t(".save_listing"), :class => "send_button"
