= form.hidden_field(:category_id, :value => @listing.category.id)
= form.hidden_field(:transaction_type_id, :value => @listing.transaction_type.id)
= form.button t(".save_listing"), :class => "send_button"
