= form.hidden_field(:category_id, :value => @listing.category_id)
= form.hidden_field(:listing_shape_id, :value => @listing.listing_shape_id)
- key = @listing_presenter.approval_in_use? ? t(".submit_for_review") : t(".save_listing")
= form.button key, :class => "send_button"

- if @listing_presenter.approval_in_use?
  = render partial: "layouts/info_text", locals: { text: t('.will_be_reviewed') }

