= form.label :title, t(".#{@listing.category.name}_you_#{@listing.listing_type}", :default => t(".listing_title")) + "*", :class => "input"
= form.text_field(:title, :class => "title_text_field", :maxlength => "90")