@import "./mixins/all";

/* ************************************************************************************ */
/* Own resets                                                                           */
/* ************************************************************************************ */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Turn off iOS border radius */
input {
  border-radius: 0;
}

[type="search"] {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
}
