
%p
  Materiaalipankki (myöhemmin Mpankki) on verkkopalvelu, jonka avulla yritykset voivat myydä, ostaa, antaa ja etsiä ylijäämämateriaalia. Mpankki-palvelua saa käyttää vain näiden käyttöehtojen mukaisesti. Palvelun ylläpitäjä voi tarvittaessa muuttaa näitä ehtoja. Voimassaolevat ehdot löytyvät Mpankin www-sivuilta.

%h3 Oikeudet sisältöön

%p
  Käyttäjillä on itsellään oikeus tekstiin, kuviin ja muuhun sisältöön, jonka he tuottavat palveluun. He sallivat muiden käyttää sisältöä palvelun luonteen mukaisesti ja sallivat palvelun ylläpitäjän arkistoida tietoa ja tehdä siihen palvelun ja tutkimuksen kannalta tarpeellisia muutoksia, mutta eivät siirrä muita oikeuksia ellei erikseen toisin sovita. Vastuu sisällöstä on käyttäjällä, joka sen on palveluun tuottanut. Palvelun ylläpitäjä voi vapaasti poistaa palvelusta sisältöä.

%h3 Ei takuuta

%p
  Mpankki-palvelun toimivuudesta ei anneta takuita. Käyttäjän tulee itse arvioida palvelussa tekemiensä toimien järkevyys ja turvallisuus sekä muiden käyttäjien luotettavuus. Palvelun ylläpitäjä ei missään tapauksessa ole korvausvelvollinen palvelun käyttäjille aiheutuneista vahingoista. Käyttäjä ei saa tallettaa palveluun mitään tietoa tai sisältöä olettaen sen varmasti säilyvän palvelussa.

%h3 Käyttäjän poistaminen

%p
  Palvelun ylläpitäjällä on oikeus poistaa käyttäjä Mpankista ja lopettaa hänen käyttöoikeutensa palveluun ilman erityistä syytä ja ilman korvausvelvollisuutta.

%h3 Sovellettava laki

%p
  Ellei jostain pakottavasta laista muuta johdu, palveluun ja näihin käyttöehtoihin sovelletaan Suomen lakia.

%h3 Muut ehdot

%p
  Mpankki-palvelu on tarkoitettu yritysten väliseen kaupankäyntiin. Palveluun voivat rekisteröityä vain yritykset ja yrityksiä edustavat henkilöt. 
%p
  Mpankki-palvelu ei ole kaupan osapuoli, vaan toimii vain maksun ja tiedon välittäjänä. Käyttäjät vastaavat itse ilmoitusten tietosisällön oikeellisuudesta ja kaupan yksityiskohdista, kuten palautusoikeudesta ja siihen liittyvistä kuluista.