.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  font-family: 'Proxima Nova Soft', Helvetica, sans;

  &::after {
    content: '';
    flex: auto;
  }
}

.listing {
  margin: 10px;
  min-width: 264px;
  max-width: 408px;
  flex-basis: calc(100% - 2 * 20px);

  @media screen and (min-width: 588px) {
    flex-basis: calc(50% - 24px);
  }

  @media screen and (min-width: 872px) {
    flex-basis: calc(33.33% - 24px);
  }

  @media screen and (min-width: 1156px) {
    flex-basis: calc(25% - 24px);
  }

  @media screen and (min-width: 1440px) {
    flex-basis: calc(20% - 24px);
  }

  @media screen and (min-width: 1724px) {
    flex-basis: calc(100% / 6 - 24px);
  }
}
