%h4 Welcome to Savonia #{service_name}!
.welcome_text
  %p
    This is Savonia's own #{service_name} community, where students and staff members can recycle their unnecessary items by selling, lending, renting or giving away. You can also ask and offer small favors, organize ridesharing or rent a student flat.

  %p
    You can help to make #{service_name} a better service by sharing your thoughts and suggestions with the 
    = link_to("feedback", "#", :id => "give_feedback_link")
    button.