%h3 Sharetribe

%p
  #{@current_community.full_name} on yksi monista Sharetribe-verkkoyhteisöistä. Sharetribe on alusta, jonka avulla kuka tahansa voi perustaa omalle paikalliselle yhteisölleen (esimerkiksi yliopiston kampukselle, naapurustolle, yhdistykselle tai yritykselle) oman verkkotorin. Sharetriben avulla yhteisön jäsenet voivat muun muassa lainata, vuokrata, ostaa ja myydä tavaroitaan toisilleen, vaihtaa palveluita sekä järjestää kimppakyytejä.
  
%p
  Haluaisitko perustaa Sharetriben omalle yhteisöllesi? Se on ilmaista ja vie vain muutaman minuutin! Jos haluat tietää lisää,
  = link_to("klikkaa tästä", "http://www.sharetribe.com/?ref=about") + "."

%p
  Sharetribe on avointa lähdekoodia, joten voit halutessasi myös asentaa palvelun omalle palvelimellesi ja osallistua sen kehitykseen. Voit ladata koodin itsellesi
  = link_to("täältä", "https://github.com/sharetribe/sharetribe") + "." 

%h3 Kuka on Sharetriben takana?

%p
  #{service_name(:partitive)} ylläpitää ja kehittää Sharetribe Oy, vuonna 2011 perustettu suomalainen yritys. Yrityksen perustajajäsenet ovat Juho Makkonen, Antti Virolainen ja Niklas Begley. Jos sinulla on lisäkysymyksiä, voit ottaa meihin yhteyttä sähköpostilla: info@sharetribe.com tai etunimi.sukunimi@sharetribe.com.