%h3 Qu'est-ce que Kassi ?

%p 
  Kassi est un service qui permet de prêter, emprunter, acheter et vendre des biens, proposer des services, organiser des covoiturages et échanger des ressources à l'intérieur d'une communauté locale plus facilement. Les utilisateurs de Kassi peuvent se proposer et se demander des objets, des services, des transports et des logements.

%p   
  L'objectif de Kassi est de créer un annuaire communautaire de biens et de services, et de diminuer ainsi le besoin d'acheter de nouveaux objets et des services extérieurs à la communauté. L'utilisation de Kassi permet donc de faire des économies de temps, d'argent et de ressources naturelles. C'est aussi un très bon moyen pour faire la connaissance de nouvelles personnes.

%h3 A qui s'adresse Kassi ?

%p 
  Kassi est un service en ligne pour des communautés locales telles que les campus, les communes, les entreprises et les associations. Vous êtes actuellement en train de visiter la communauté Kassi de #{@current_community.name.capitalize} .

%p 
  Voudriez-vous utiliser Kassi au sein de votre école, commune, entreprise ou association ? Pour en savoir plus, allez à
  = link_to "http://www.kassi.eu", "http://www.kassi.eu"
  et communiquez-nous votre adresse email à l'aide du formulaire de contact pour obtenir plus d'informations sur le service.

%h3 Les créateurs de Kassi

%p 
  Kassi a été développé comme une part de
  = link_to("OtaSizzle research project", "http://sizl.org")
  de l'université Aalto. Les chercheurs Antti Virolainen et Juho Makkonen sont responsables du développement du service. Si vous avez des questions ou des commentaires concernant le service, veuillez les adresser à info (aet) kassi.eu ou directement à l'adresse personnelle d'Antti ou Juho (prénom.nom@kassi.eu).