%h3 Что такое Kassi?

%p
  Kassi позволяет с лёгкостью продавать, покупать или одалживать на время вещи, оказывать услуги, организовывать совместное использование автомобилей и, в общем, совместно использовать ресурсы внутри местного сообщества. Пользователи Kassi могут предлагать друг другу вещи, услуги, совершать совместные поездки и предоставлять другим временное жилище.
  
%p  
  Целью Kassi является создание местного каталога вещей и услуг для каждого сообщества, и, таким образом, снижение потребности в покупке товаров и услуг вне этого сообщества. Поэтому, использование этого сервиса позволяет сохранить вам время и деньги, и, вместе с этим, сохранить нашу планету. Кроме того, Kassi - отличный способ познакомиться с другими людьми, живущими по соседству.

%h3 Для кого предназначена Kassi?

%p
  Kassi - это общественный сервис для школ, городов, компаний и ассоциаций. Сейчас вы находитесь в сообществе Kassi #{@current_community.name.capitalize}.

%p
  Хотите использовать Kassi вместе с другими людьми в вашей школе, городе, компании или ассоциации? Узнайте больше на
  = link_to "http://www.kassi.eu", "http://www.kassi.eu"
  и оставьте нам сообщение, используя форму на нашем сайте, если вы желаете получить больше информации о системе.

%h3 Кто стоит позади Kassi?

%p
  Система Kassi была разработана как часть 
  = link_to("Исследовательского проекта OtaSizzle", "http://sizl.org") + "," 
  проводимого университетом города Аальто, Финляндия. Исследователи Antti Virolainen (Антти Виролайнен) и Juho Makkonen (Юхо Макконен) ответственны за дальнейшее развитие системы. Если у вас имеются дополнительные вопросы, комментарии или отзывы относительно сервиса, направьте их на адрес info (собака) kassi.eu или на личные ящики Antti или Juho (имя.фамилия@kassi.eu).