.centered-section-wide.payment-form
  = render :partial => "layouts/payment_header", :locals => { :payment_receiver => @conversation.other_party(@current_user) }

  = render :partial => @current_community.payment_gateway.form_template_dir + "/show"

  - if @current_community.mangopay_in_use?
    %br
    %br
    = image_tag("/assets/payments/Mango-Frise1.png")

    