= form.label :option_attributes, t("admin.custom_fields.index.dropdown_options")
.row
  .col-12
    #options.custom-field-options
      - @custom_field.options.sort.each_with_index do |option, index|
        = render :partial => "new_option", :locals => { :option => option, :index => (index + 1) }
    = link_to t("admin.custom_fields.index.add_option"), add_option_admin_custom_fields_path, :remote => true, :id => "custom-fields-add-option"