<% if enough_available %>
  <div class="reservation_item_rightest reservation_item_rightest_green">
    <%= t(:certain_amount_of_items_available, :count => available_amount.to_s)%> 
  </div>
<% else %>
  <% if available_amount > 0 %>
    <div class="reservation_item_rightest reservation_item_rightest_red">
      <%= t(:only_certain_amount_of_items_available, :count => available_amount.to_s)%> 
    </div>
  <% else %>
    <div class="reservation_item_rightest reservation_item_rightest_red">
      <%= t(:no_items_available) %> 
    </div>
  <% end %>  
<% end %>