<% escaped_title =  URI.escape(@title.downcase, Regexp.new("[^-_!~*()a-zA-Z\\d]")) %>
<div class="item_owners">
  <div class="selected_item_title">
    <div class="left_float">
      <b>
        <%= link_to_remote h(@title.capitalize), :url => hide_item_path(escaped_title), :method => :get %> - 
        <%= pluralize @items.size, t(:owner), t(:owner_partitive) %>
      </b>
    </div>   
  </div>  
  <div class="solid_line"></div>
  <%= render :partial => "item_owner", :collection => @items, :as => :item, :spacer_template => "layouts/dashed_line" %>
</div>