<div class="listed_object">
  <div class="listed_object_person_image">
    <img src="/images/teemu_t.jpg" alt="<%= item.owner.name(session[:cookie]) %>" width="50" height="50">
  </div>
  <div class="listed_item_owner_center">
    <div class="listed_object_title">
      <%= link_to item.owner.name(session[:cookie]), item.owner %>
    </div>   
  </div>
  <div class="listed_item_owner_right">
    <div class="listed_item_owner_right_link">
      <% unless is_current_user?(item.owner) %>
        <%= link_to t(:borrow) + " " + item.title.downcase, borrow_person_item_path(item.owner, item) %>
        <br />
        <%= link_to t(:i_have_borrowed_this_item), thank_for_person_item_path(item.owner, item) %>
      <% end %>
    </div>
  </div>
</div>