<% letter_items = [] %>

<%if letter.eql?("Ä") || letter.eql?("Ö") || letter.eql?("Å")%>
	<% @item_titles.each do |title| %> 
  	<% if title && title.upcase[0,2].eql?(letter) %>
    	<% letter_items << title %>
  	<% end %>
	<% end %>
	
<%else%>
	<% @item_titles.each do |title| %> 
  	<% if title && title.upcase[0,1].eql?(letter) %>
    	<% letter_items << title %>
  	<% end %>
	<% end %>

<%end%>

<% if letter_items.size > 0 %>
	<div class="letter_header">
	  <a name = "<%=letter%>"></a>
	  <%= letter.upcase %>
	</div>  
	<%= render :partial => 'item_title', :collection => letter_items, :as => "item_title" %>
<% end %>	


