<b><%= link_to_remote h(item.title.capitalize), :url => hide_description_person_item_path(@person, item), :method => :get %></b><br />
<p>
  <% if item.description && !item.description.eql?("") %>
    <%= text_with_line_breaks(item.description) %>
  <% else %>
    <%=  t(:no_description) %>
  <% end %>
</p>  
