<% remote_form_for @item, :url => person_item_path(@person, @item), :method => :put do |f| %>
  <div class="profile_info_field_title">
    <%= f.text_field :title, :size => 37 %>
  </div>
  <div class="profile_info_field_links">
    <div class="right_float">
    <%= submit_tag t(:save), {
                              :id => "save_button", 
                              :name => "save",
                              :onclick => "$('cancel_button').disabled = true;"
                             } %>
    <%= submit_tag t(:cancel), {
                                :id => "cancel_button", 
                                :name => "cancel",
                                :onclick => "$('save_button').disabled = true;"
                               } %>
    </div>
  </div>
<% end %>