.row
  .col-10
    .row{:id => "top-level-category-#{category.display_name(I18n.locale).squish.downcase.tr(" ","_")}"}
      .col-12
        = category.display_name(I18n.locale)
    - unless category.children.empty?
      = render :partial => "listed_subcategory", :collection => category.children, :as => :subcategory
  .col-2
