@import "mixins/all";
@import "compass/css3/user-interface";

.admin-sort-button {
  outline: none;
}

.admin-left-navi-link-group-title {
  color: $aside;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

.admin-left-navi-link-group {
  padding-bottom: 10px;
}

.admin-left-navi-link-group-last {
  margin-bottom: 50px; // To make space to the bottom of the page
}