@import "mixins/all";
@import "compass/css3/user-interface";

.admin-sort-button {
  outline: none;
}

.admin-left-navi-link-group-title {
  color: $aside;
  text-transform: uppercase;
  padding: lines(0.5) 0 lines(0.25) 0;
}
