/**
  Contains styles for listing grid's image part
*/

@import "mixins/all";

.fluid-thumbnail-grid-image-image-container {
  position: relative;
  color: $background;

  &:hover {
    color: $highlight;
  }
}

.fluid-thumbnail-grid-image-title {
  position: absolute;
  bottom: 0;
  padding: lines(0.5);
  line-height: 1.2em;
}

.fluid-thumbnail-grid-image-overlay {
  @include border-top-radius($default-border-radius);
  @include overlay;
  @include absolutely-all;
}

.fluid-thumbnail-grid-image-image {
  @include border-top-radius($default-border-radius);
  display: block;
  width: 100%;
}

.fluid-thumbnail-grid-image-price {
  @include listing-price;
  font-size: 18px;
}

.fluid-thumbnail-grid-image-type {
  @include listing-price;
  font-size: 16px;
}
