@import "mixins/all";

/*
  ------------
  Toggle menus
  ------------
*/

.toggle-menu-feed-filters {
  
  &.hidden {
    // Added and removed via JS, to toggle visibility
    display: none;
  }
  
  @include media(tablet) {
    // Makes sure they're never obscured by other elements
    z-index: 9999;
    &.hidden {
      // Added and removed via JS, to toggle visibility
      display: block;
    }
  }
}

.toggle-menu {
  background: $light-body;
  border-color: $light-body !important;
  position: relative;
  z-index: 99999;
  text-align: left;

  $arrow-width: 1em;
  
  a, .feedback {
    display: block;
    position: relative;
    color: $background;
    padding: lines(0.5);
    padding-right: lines(0.5) + $arrow-width + lines(0.5);
  }

  a:after {
    content: "→"; // Could be replaced by a font icon
    display: block;
    position: absolute;
    right: lines(0.5); top: lines(0.5);
    color: $background;
    width: $arrow-width;
    text-align: right;
  }

  a:hover {
    background: $link;
    color: $background;
    
    &:after {
      color: $background;
    }
  }
  
  a.login-form {
    padding: 0;
    &:hover {
      color: lighten($link, 20%);
      background: none;
    }
    &:after {
      content: "";
    }
  }
  
  p.login-form {
    color: $background;
    margin: lines(0.25) 0 lines(0.5) 0;
  }
  
  .feedback {
    textarea {
      @include small-type;
      display: block;
      width: 100%;
      height: lines(3, 13);
      padding: lines(0.25, 13);
    }
  }
  
  &.hidden {
    // Added and removed via JS, to toggle visibility
    display: none;
  }
  
  .badge {
    position: absolute;
    right: em(9, 13); top: em(14, 13); bottom: auto;
    z-index: 900;
    
    &.huge-badge {
      top: em(10, 13); right: em(9, 13); bottom: auto;
    }
  }
  
  @include media(tablet) {
    position: absolute;
  }
  
}

.toggle {
  display: inline-block;
  cursor: pointer;
  
  &.toggled {
    background: $light-body;
    color: $background !important;
    border-color: $light-body;
    
    @include media(tablet) {
      border-bottom-color: $light-body !important;
    }
  }

  &.with-borders {
    border: 2px solid $border;
    @include border-radius(em(5));

    &.toggled {
      border-width: 0;
      @include border-radius(0);
    }

  }
}

.toggle-header {
  display: inline-block;
  vertical-align: top;
  padding: em(5) 0 0 0;
}

.icon-dropdown {
  display: inline-block;
  vertical-align: top;
  padding: em(8) 0 0 em(3);
}

.toggle-menu-subitem, a.toggle-menu-subitem {
  padding-left: lines(1);
}