@import "mixins/all";
@import "compass/css3/border-radius";

input[type=text],
input[type=password],
input[type=number],
textarea {
  @include border-radius(em(5));
  border: 2px solid $border;
  min-height: 42px;
  width: 100%;
  padding: em(4) em(8);

  @include media(tablet) {
    margin: 0;
    padding: em(8) em(11);
  }
}

input.auto_width {
  width:auto;
}

// Select tag in the middle of text. Add some spacing
.inline-select {
  margin-left: lines(0.25);
  margin-right: lines(0.25);
}

// IE8 placeholder polyfill adds .placeholder class which can be
// used to style the element, which by default has black text.
// #aaa is the default placeholder color in most browsers.
.placeholder { color: #aaa; }

.checkbox-container {
  & > .light {
    font-weight: 500;
  }
}