@import "compass/utilities/general/clearfix";
@import "mixins/all";

.grid-container {
  margin: 0;
}

/* 3 column grid that is 3/4 of total width */
.grid-container-3-4 {
  @include clearfix();
  margin-left: lines(10.25);
  margin-right: lines(-0.5);
}

/* Grid column that is 2/9 of total width */
.grid-column-2-9 {
  $room-for-scroll-bar: em(18); // There may or may not be scroll bars. Leave some room.
  @include inline-block-grid(em(600) - $room-for-scroll-bar);

  @include media(small-tablet) {
    @include inline-block-grid(lines(3 * 9.5));
  }
}

.grid-column-content-2-9 {
  width: 100%;
  height: 100%;
  background: $highlight;
}

/* Left side bar that is 1/4 of total width */
.left-column-1-4 {
  @include media(tablet) {
    position: absolute;
    top: 0;
    left: 0;
    width: lines(9.75);
  }
}

.left-column-content-1-4 {
  @include media(tablet) {
    width: 100%;
    height: lines(20);
  }
}

/* Left hand side bar that is 2/3 of total width */
.left-column-2-3 {

  @include media(tablet) {
    padding-right: lines(0.5);
    margin-bottom: lines(1);
    padding: 0 lines(13.5) 0 0;
  }
}

.left-column-grid-container-2-3 {
  @extend .left-column-2-3;
  @include clearfix();
  margin: 0 lines(-0.5) lines(1) 0;
}

.left-column-content-2-3 {
  width: 100%;
  height: lines(20);
  background: $highlight;
}

.right-column-3-4 {
  @include media(tablet) {
    margin-left: lines(10.25);
  }
}

/* Right hand side bar that is 1/3 of total width */
.right-column-1-3 {
  @include media(tablet) {
    padding-left: lines(0.5);
    width: lines($right-column-1-3);

    position: absolute;
    top: 0;
    right: 0;
  }
}

.right-column-content-1-3 {
  width: 100%;
  height: lines(30);
  background: $highlight;
}

.wrapper {
  @include wrapper;
}

.global-header-wrapper {
  @extend .wrapper;
  padding-left: 0;
  padding-right: 0;
  @include media(mid-desktop) {
    padding-left: lines(0.5);
    padding-right: lines(0.5);
  }
}
