@import "compass/css3";

.bubble-image-container {
  $width: 200px;
  $height: 110px;

  width: $width;
  height: $height;

  // Hide, if picture height or width is bigger than 250/150
  overflow: hidden;

  > img {
    width: $width;
    min-width: $width;
    min-height: $height;
    @include border-radius(5px);
  }
}

.bubble-loader-gif {
  position: absolute;
  top: (150px / 2) - (42px / 2);
  left: (200px / 2) - (42px / 2);
}

.bubble-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: white;
  color: white;
}

.bubble-avatar {
  position: absolute;
  left: 5px;
  top: 5px;

  > a {
    $imageHeight: 30px;
    display: block;

    &, > img {
      height: $imageHeight;
    }
  }
}

.bubble-details {
  float: left;
  color: $body;

  position: absolute;
  left: 40px;
  bottom: 5px;
  right: 5px;
  top: 5px;
  line-height: 1em;
}

.bubble-description {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 30px;
}

.bubble-author {
  position: absolute;
  left: 0;
  top: 0;

  > a {
    line-height: 30px;
  }
}

.bubble-overlay {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  height: 80px;

  // Default, with image
  @include background-image(linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)));

  // No image
  &.bubble-no-image {
    height: 150px - 40px - 5px;
    top: 5px;
    @include background-image(none);
  }
}

a.bubble-title-link {
  position: absolute;
  bottom: 5px;
  left: 10px;
  right: 10px;
  color: white;
  font-size: 14px;
  vertical-align: bottom;

  .bubble-no-image & {
    top: 5px;
    color: #666;
  }
}