@import "mixins/all";

.paypal-button-wrapper {

  .checkout-with-paypal-button {
    width: 100%;
    max-width: 170px; // That's the width of the button
    float: left;
    outline: 0;
  }
  & .paypal-button-loading-img {
    float: left;
    width: em(30);
    height: em(30);
    margin-top: em(1);
    margin-left: lines(0.75);
  }
}

