@import "mixins/all";
@import "compass/utilities/general/clearfix";

.relative {
  position: relative;
}

/**
  Use icon-fix to correctly vertical align SS-pika icons
*/
.icon-fix {
  @include icon-fix;
}

.hidden {
  display: none;
}

.clearfix {
  @include clearfix;
}

/**
  Use disabled link or icon
*/
.disabled {
  &, &:hover {
    color: $border;
    cursor: default;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
