- how_paypal_works_link = PaypalCountryHelper.popup_link(country_code)

= image_tag "https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png", style: "max-width: 100%"

%br/
%a#how-paypal-works-popup-link{title: t("listings.listing_actions.how_paypal_works"), href: how_paypal_works_link}
  %span.listings-how-paypal-works-link
    = t("listings.listing_actions.payment_help")

- content_for :extra_javascript do
  :javascript
    $("#how-paypal-works-popup-link").click(function() {
      window.open(
        '#{how_paypal_works_link}',
        'WIPaypal',
        'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'
      );
      return false;
    });
