.add-custom-field-buttons
  .inline-button-container
    = form.button t("admin.person_custom_fields.index.save")
  .inline-button-container
    %a{:href => admin_person_custom_fields_path, :class => "cancel-button"}
      .content
        = t("admin.person_custom_fields.index.cancel")
