@custom-media --Topbar_medium (min-width: 40rem);

.topbar {
  display: flex;
  flex-direction: row;
  height: var(--Topbar_mobileHeight);
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: var(--colorBackground);
  border-bottom: 1px solid rgba(0, 0, 50, 0.1);

  @media (--Topbar_medium) {
    height: var(--Topbar_height);
  }

  /* Base styles */
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }

  & input[type='search'] {
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  & form,
  & input,
  & button,
  & svg {
    font-family: var(--Topbar_fontFamily);
  }
  & input {
    font-size: var(--Topbar_inputFontSizeMobile);

    @media (--Topbar_medium) {
      font-size: var(--Topbar_fontSize);
    }
  }
}

.topbarLogo {
  height: var(--Topbar_logoHeight);
}
