%p
  Thank you for agreeing to take part in this research study of the online service Kassi, which enables you to borrow, loan and exchange favors and items with your “neighbors” in the network. We hope that you will enjoy using the Kassi service, and that if you like it, you will tell your friends about it. This agreement governs your use of the service, and also provides your consent to participate in a research study about the service.

%h3 I. Program Description

%p
  Kassi is one of the social networking and social media services being developed by the Otasizzle and Possi research projects. These projects study the use of social media in local communities around the world. Kassi is a service that facilitates exchange of favors and items among members of a community. Offers and requests for favors and items will be publicly viewable; however, only registered participants in the service will be able to exchange posted items or services.
%p
  Researchers and students in four continents are developing new services and testing them in real conditions. This Kassi test program in California is also being accompanied by test programs in Finland, Kenya and China.	For the California test program, the community targeted will be the Oakland Single Parents’ Network. Kassi will not conduct eligibility-verification testing for membership in this community or participation in the service; rather, participants are able to self-identify as members of the community.
%p
  The OtaSizzle consortium (including Otasizzle and Possi) is coordinated by Aalto University / Helsinki Institute for Information Technology HIIT. The Helsinki Institute for Information Technology HIIT is a joint research institute of Aalto University and the University of Helsinki. Possi is funded by Tekes – the Finnish Funding Agency for Technology and Innovation - and Aalto University.

%h3 II. Privacy Rights

%p
  Otasizzle / Possi will gather information relating to your use of the Kassi service. The information OtaSizzle / Possi gathers from your participation in this study will enable us to make the services even better. This includes information you provide when registering for the service, and also information gathered during your usage of the Kassi service.
%p
  By accepting this agreement and by participating in the study, 
  %b
    %u
      you consent to us gathering these types of information from you.
%p
  During the registration process, we may collect the following information from you. We require that you provide first and last name and email address. Additionally, in order to improve your user experience with the service, we request (but do not require) your phone number, home address, picture and a profile description.
%p
  During your use of the Kassi service, the system will log data about your usage of the service, including any information that you choose to post or provide on the service.
%p
  Once you have signed up for the Kassi service, you will be able to review and change any information in your account profile. You will also be able to add, review, edit and delete information you post on the service. You will not, however, be able to access or modify the data about your usage that is logged by the system.
%p
  Except as specifically explained below, we will not sell, lease, give away, disclose or otherwise distribute the information we collect during the study to third parties, except as required by law. Further, except as specifically explained below, the information we collect will be used exclusively by the HIIT research projects and only for the purpose of research and of analyzing, evaluating and improving Kassi and other OtaSizzle services.
%p
  We will take all reasonable steps to protect the security and integrity of this information. If we become aware of any breach of security in which it is reasonably believed that an unauthorized person may have acquired your personal information, we will notify you as required by California law.
%p
  At the end of Otasizzle / Possi research projects December 31st 2012, we will destroy all personally identifying data collected during the study and in the possession of Aalto University / Helsinki Institute for Information Technology HIIT. However, we will keep anonymized versions of the data for research purposes for five years from the end of the study. This paragraph does not apply to information that may have been transferred, prior to the end of the research project, to one or more of the parties or purposes listed below.
%p
  In connection with the service, Otasizzle /Possi may make the following transfers of information. You specifically consent to each of these.
  %ul
    %li
      Oakland Single Parents’ Network. Otasizzle / Possi will provide your name and email address to Kadie Kelly, organizer of the Oakland Single Parents’ Network (OSPN). Ms. Kelly has informed us that her intention is to use this information only for the purposes of keeping you informed about the OSPN and its activities, and has contractually promised not to sell, give away or otherwise transfer your name and email address.
    %li
      Publications. We may publish and/or make presentations concerning the results of our study. If we do so, no personally identifiable information will be published or presented.
    %li
      University of California, Berkeley (UCB). We may collaborate with researchers (including students and faculty) at UCB to study and analyze the information gathered during this study. Any information provided to UCB researchers will be anonymized (i.e., stripped of personally identifying information).
    %li
      Possible Spin-off Company. At the end of the study, if there appears to be a sufficient market to continue the service, we may transfer user information to a third party private company for the purpose of continuing the service. It is anticipated that any such spin-off company will assume our obligations under this agreement. You will be given an opportunity to opt out at the time of any such transfer. If you do not opt-out of such a transfer, you specifically consent to the assignment of this agreement to any such spin-off company.
    %li  
      Possible Continuation Research Project. At the end of the study, if there appears to be sufficient scientific interest, Aalto University / Helsinki Institute for Information Technology HIIT may continue to maintain the user information in the context of a continuation research project for the purpose of continuing the research and the service. You will be given an opportunity to opt out at the time of any such event. If you do not opt-out at that time, you specifically consent to the assignment of this agreement to any such continuation research project.

%h3 III. Intellectual Property Rights to User-Generated Content

%p
  Users are not authorized to post any copyrighted content on the service without permission from the copyright owner; posting of any offensive material and text is also prohibited. Violators of this rule may have their accounts suspended or terminated. Determinations of whether content is offensive will be solely within the discretion of Aalto University/ Helsinki Institute for Information Technology HIIT.
%p
  As between users and Aalto University/ Helsinki Institute for Information Technology HIIT, users retain all rights, including intellectual property rights to all text, pictures and other content that they create in, or post to, the service. For all such content, users grant Aalto University / Helsinki Institute for Information Technology HIIT a non-exclusive, worldwide, sub-licenseable, transferable, royalty-free license to use any such material in connection with operation of the service and in publications or presentations about the service and the tests conducted.
%p
  Aalto University / Helsinki Institute for Information Technology HIIT reserves the right to remove any material from the service when it deems necessary.
  
%h3 IV. Voluntary Participation

%p
  Participation in the study is completely voluntary. You can withdraw from the study at any time, and we can terminate the study, or your participation in it, at any time.

%h3 V. Limitation on Liability – Disclaimer

%p
  The services offered as part of this test are experimental and are part of a study. Therefore, Aalto University / Helsinki Institute for Information Technology HIIT provide no guarantees that the services will function as described.
%p
  Under no circumstances will Aalto University / Helsinki Institute for Information Technology HIIT be liable for damage caused to users. Any information or data stored by users in the service is subject to loss or deletion without notice.
  
%h3 VI. Applicable Law

%p
  This agreement is subject to, and governed by, the laws of the State of California.
  
%h3 VI. Acceptance

%p
  By clicking the box next to the statement of consent on the registration page, I am indicating my agreement to each of the following:
  %ul
    %li
      I agree to follow the terms of use described above.
    %li
      I consent to the collection and use of my personal information as described in this document.
    %li
      I grant a non-exclusive, worldwide, sub-licenseable, transferable, royalty-free license to Aalto University / Helsinki Institute for Information Technology HIIT for any intellectual property rights (such as copyright) in any user-generated content I post on the services.

%p
  For more information on the study or in case of any questions, please contact:

%p
  Responsible Project Leader:
  %br/
  Professor Martti Mäntylä
  %br/
  Email: martti.mantyla@hiit.fi
  %br/
  Tel.: +358 (0)9 47001

%p
  Practical Matters:
  %br/
  Project Manager Olli Pitkänen 
  %br/
  Email: olli.pitkanen@hiit.fi
  %br/ 
  Tel.:+358 (0)9 47001
  
%p
  Aalto University
  %br/ 
  Helsinki Institute for Information Technology HIIT
  %br/ 
  Innopoli 2
  %br/ 
  Tekniikantie 14
  %br/ 
  Otaniemi
  %br/ 
  Espoo, Finland