%h3= t("homepage.blank_slate.examples_of_what_you_could_#{slate_type}_to_others")
- if slate_type == "request"
  %p
    %b
      Office furniture and equipment, etc.
  %p
    %b
      Items to borrow:
    tools, sports equipment, etc.
  %p
    %b
      Ride to work:
    find carpooling company  
  %p
    %b
      Other ideas
- else
  %p
    %b
      Office furniture and equipment, etc.
  %p
    %b
      Your company's services
  %p
    %b
      Items to borrow:
    tools, sports equipment, etc.
  %p
    %b
      Ride to work:
    find carpooling company  