- if slate_type == "request"
  %h3 
    Ideas de lo que puedes solicitar a los demás
  %p
    %b      
      Cosas para prestar: 
    Herramientas, equipo deportivo, disfraces, equipo de camping
  %p
    %b
      Ayuda: 
    babysitter, clases particulares, pasear perros, datos de maestros e imprentas
  %p
    %b
      Un traslado a la UDD u otro lugar
- else
  %h3 
    Ideas de lo que puedes ofrecer a los demás  
  %p
    %b
      Bienes para regalar: 
    Herramientas, equipo deportivo, materiales de diseño, equipo de camping
  %p
    %b
      Ayuda:
    Asistencia en computación, arreglo de ropa, repostería, reparación de bicicletas
