
:javascript
  $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
      var re = new RegExp(regexp);
      return this.optional(element) || re.test(value);
    }
  );
  $("#new_stripe_api_keys_form").validate();
