%p
  Bạn có thể kiếm được nhiều huy hiệu khác nhau tại {service_name} như là sự công nhận đối với các hành động bạn tại dịch vụ này. Bạn sở hữu các huy hiệu bằng việc muốn thêm các hỗ trợ và các yêu cầu mới, nhận xét nội dùng của người dùng khác, từ tất cả các loại trao đổi tài nguyên (các mặt hàng bán và mượn, là từ thiện, tổ chức nhóm xe và những việc khác) và nói chung chỉ là một người dùng năng động của dịch vụ. Chú ý rằng bạn chỉ có được các huy hiệu từ các trao đối đó nơi bạn đã nhận được các phản hồi tích cực.

%p
  Bạn có thể xem các huy hiệu của những người khác kiếm được trong trang hồ sơ của họ. Một người có nhiều huy hiệu là người năng động, đáng tin cậy và được các người dùng khác thích. Năng động tại #{service_name}: mua, bán, cho mượn, mượn các mặt hàng, ủng hộ những người khác, chia sẻ các cuốc xe và xem kho huy hiệu tăng lên!
