%p
  En #{service_name} puedes ganar varias medallas diferentes como un reconocimiento a tus acciones en el servicio. Ganas medallas por acciones como agregar nuevas ofertas o solicitudes, al comentar los contenidos de otros usuarios, al realizar intercambios satisfactorios de todo tipo (vendiendo o prestando artículos, haciendo favores, compartiendo viajes en automóvil, y así muchos más) y en general, por ser un usuario activo del servicio. Ten en cuenta que sólo recibirás medallas por efectuar intercambios si es que obtuviste "feedbacks" positivos.

%p
  Puedes ver las medallas que la gente ha ganado en sus páginas de perfil. Una persona con muchas medallas sugiere que es un usuario activo, de confianza y que es apreciado por los demás usuarios. Por eso, participa activamente en #{service_name}: compra, vende, presta, pide prestado, comparte, realiza favores y luego mira cómo tu arsenal de medallas crece!
