%p
  You can earn several different badges in Kassi as a recognition of your actions in the service. You earn badges from actions like adding new offers and requests, commenting on others' content, from all types of resource exchange that takes place (selling and borrowing items, doing favors, organizing car pooling and so on) and just generally being an active user of the service. Note that you only get badges from those exchanges where you have received positive feedback.

%p  
  You can view the badges the people have earned in their profile page. A person with lots of badges is most likely active, reliable and liked by other users. So be active in Kassi: buy, sell, lend and borrow items, do others favors, share rides and watch your badge arsenal grow!