%p 
  Μπορείς να κερδίσεις διάφορες κονκάρδες στο #{service_name} σαν αναγνώριση της συμμετοχής σου στην υπηρεσία. Κερδίζεις κονκάρδες προσθέτοντας νέες προσφορές και αιτήματα, σχολιάζοντας τις καταχωρήσεις άλλων, από κάθε τύπο συναλλαγής στον οποίο συμμετέχεις (αγορές, πωλήσεις, ανταλλαγές, προσφέροντας βοήθεια, κάνοντας οτοστόπ κλπ.) και γενικά με το να είσαι ενεργός χρήστης της κοινότητας. Βέβαια, παίρνεις κονκάρδες μόνο για αυτές τις συναλλαγές για τις οποίες έχεις λάβει θετική κριτική.
 
%p   
  Στο προφίλ του κάθε χρήστη μπορείς να δεις τις κονκάρδες που έχει κερδίσει. Ένα άτομο με πολλές κονκάρδες είναι πιθανότατα πολύ ενεργός, αξιόπιστος και αρεστός σε άλλους χρήστες. Γι' αυτό να είσαι ενεργός στο #{service_name}: να αγοράζεις, να πουλάς, να δανείζεις και να δανείζεσαι αντικείμενα, να προσφέρεις βοήθεια και να συνταξιδεύεις με άλλους και θα δεις τη συλλογή με τις κονκάρδες σου να μεγαλώνει!