%p 
  Du kannst in #{service_name} verschiedene Abzeichen zur Anerkennung deiner Tätigkeiten verdienen. Du erhältst Abzeichen durch das Hinzufügen von neuen Angeboten und Anfragen, wenn du Inhalte anderer aus allen Bereichen kommentierst (Verkauf und Verleih von Dingen, anderen einen Gefallen tun, Mitfahrgelegenheiten organisieren und so weiter) und allgemein, wenn du ein aktiver Benutzer unseres Dienstes bist. Bitte beachte, dass Abzeichen nur durch Transaktionen mit positivem Feedback bekommst. 
 
%p   
  Du kannst dir die Abzeichen, die andere Leute sich verdient haben, auf deren Profilseite anschauen. Eine Person mit vielen Abzeichen ist höchstwahrscheinlich eine aktive, zuverlässige und von anderen Mitgliedern geschätzte Person. Sei deshalb aktiv in #{service_name}: kaufe, verkaufe und verleihe Dinge, tue anderen Leuten einen Gefallen, biete Mitfahrgelegenheiten an, und du wirst sehen, wie deine Abzeichensammlung immer größer wird.