%p 
  Sie können in  #{service_name} verschiedene Abzeichen als Anerkennung Ihrer Dienste verdienen. Sie erhalten Abzeichen durch das hinzufügen von neuen Angeboten und Anfragen, wenn Sie Inhalte anderer kommentieren, aus allen Ressource-Bereichen die stattfinden (Verkauf und Verleih von Gegenständen, einen Gefallen tun, Mitfahrgelegenheiten organisieren und so weiter) und allgemein wenn Sie ein aktiver Benutzer unseres Dienstes sind. Bitte beachten Sie dass Sie Abzeichen nur durch Austausche bekommen mit positivem Feedback. 
 
%p   
  Sie können sich die Abzeichen die andere Leute sich verdient haben, in deren Profilseite anschauen. Eine Person mit vielen Abzeichen ist höchstwahrscheinlich eine aktive, zuverlässige und gemochte Person.  Seien Sie desshalb aktiv in #{service_name}: kaufen, verkaufen und verleihen Sie Gegenstände, tun Sie anderen Leuten einen Gefallen, bieten Sie Mitfahrgelegenheiten an und Sie werden sehen wie Ihre Abzeichensammlung immer größer wird.