%p
  Вы можете получить много разных значков, свидетельствующие о вашей активности в #{service_name}. Значки даются за такие действия, как добавление новых запросов и предложений, за комментарии к записям других пользователей, за все типы событий (продажа, покупка, оказание услуг, совместное использование транспортных средств и т.д.) и просто за активное использование сервиса. Обратите внимание, что учитываются лишь те события, за которые вы получили положительный отзыв.
  
%p  
  Вы можете видеть заработанные другими пользователями значки на странице их профиля. Пользователь, имеющий много значков как правило очень активен, надёжен и симпатичен другим пользователям. Так что наш совет: будьте активнее, покупайте, продавайте, отдавайте вещи напрокат, помогайте другим, и будьте уверены, ваш наградной список будет быстро пополняться новыми значками!!