%p
Si possono guadagnare numerosi badge differenti in #{service_name} come riconoscimento delle attività svolte nell'ambito del servizio. Si possono guadagnare badge dallo svolgimento di attività quali l'aggiunta di nuove offerte e richieste, il commento sui contenuti di altri utenti, lo scambio di qualsiasi tipo di risorsa (vendita e prestito di beni, offerta di servizi, organizzazione di passaggi, etc.) e in generale dimostrando di essere un utente attivo. Nota bene che si ottengono badge solo da quegli scambi per i quali si sono ottenuti feedback positivi.

%p
Si possono vedere i badge guadagnati da ogni utente sulla pagina del singolo profilo. Una persona con molti badge dimostra di essere attiva, affidabile ed apprezzata dagli altri utenti. Quindi cerca di essere attivo in #{service_name}: vendi, compra, noleggia e prendi in prestito beni, offri favori agli altri, condividi passaggi e osserva crescere il tuo arsenale di badge!
