%p
  You can earn several different badges in Kassi as a recognition of your actions in the service. You can view the badges the people have earned in their profile page. A person with lots of badges is most likely active, reliable and liked by other users.

%p
  So be active in Kassi: buy, sell, lend and borrow items, do others favors, share rides and watch your badge arsenal grow!
