%h3 KIRJALLINEN SUOSTUMUS TUTKIMUKSEEN
%br/
%p
  Hyväksymällä tämän suostumuksen vahvistan, että osallistun vapaaehtoisesti OtaSizzle-projektiin liittyvään tutkimukseen nimeltä Kassieksperimentti.

%p
  Olen lukenut ja ymmärtänyt alla olevan tutkimusselosteen ja vahvistan, että minulle on annettu riittävästi tietoja ja mahdollisuus esittää kysymyksiä tutkimuksesta (tai mikäli tiedot vaikuttaisivat tutkimukseen, minulle on luvattu kyseinen mahdollisuus kokeen jälkeen). 

%p
  Olen valmis seuraamaan tutkijoiden minulle antamia ohjeita ennen tutkimusta, sen aikana ja sen jälkeen. 

%p
  Annan suostumukseni siihen, että henkilötietojani käsitellään tutkimusselosteessa kuvatulla tavalla. 
  
%p
  Minulle on kerrottu, että minulla on oikeus keskeyttää tutkimukseen osallistuminen missä tahansa vaiheessa tarvitsematta kertoa syytä ja olla vastaamatta mihin tahansa kysymykseen mitä tutkimuksen aikana, sitä ennen, tai sen jälkeen minulle  esitetään.

%p
  Mikäli haluat tutkimuksesta lisää tietoa tai sinulla on muuta kysyttävää, voit ottaa yhteyttä:
%p
  Tutkija Antti Virolainen (antti.virolainen (ät) tkk.fi)
  %br/
  Tutkija Juho Makkonen (juho.makkonen (ät) tkk.fi)
  %br/
  Projektipäällikkö Olli Pitkänen (olli.pitkanen (ät) hiit.fi)
  %br/
  Professori Martti Mäntylä (martti.mantyla (ät) hiit.fi)
  
%p
  Tietotekniikan tutkimuslaitos HIIT
  %br/
  Spektri Pilotti
  %br/
  Metsänneidonkuja 4
  %br/
  02130  Espoo
  %br/
  %br/
  Puh: (09) 4511