%p
  #{service_name}-palvelussa voit antaa palautetta muille käyttäjille aina, kun olet tarjonnut heille jotain tai pyytänyt heiltä jotain. Palautteen avulla voit kertoa, vastasiko toisen käyttäjän toiminta odotuksiasi. Muut käyttäjät näkevät tämän palautteen käyttäjän profiilissa ja voivat sen perusteella päätellä, kannattaako kyseisen käyttäjän kanssa olla tekemisissä jatkossa. Hyvän palautteen avulla pyynnöt ja tarjoukset onnistuvat varmemmin myös jatkossa. Kannattaa siis aina muistaa antaa palautetta tapahtumista, ja muistuttaa myös toista osapuolta antamaan palautetta sinulle. Palautteen antaminen onnistuu menemällä postilaatikkoosi ja klikkaamalla "Anna palautetta" -linkkiä hyväksytyn pyynnön tai tarjouksen kohdalta.

%p
  Palaute muodostuu #{service_name}-palvelussa numeerisesta arviosta ja sanallisesta kuvauksesta. Numeerinen arvio voi olla välillä 1 (ei vastannut lainkaan odotuksia) - 5 (ylitti täysin odotukset). Jos annat jonkin muun kuin neutraalin "vastasi odotuksia" -palautteen, sinun tulee perustella sanallisesti, mikä meni erityisen hyvin tai huonosti.

%p
  Tällä sivulla näet seuraavat tiedot siitä käyttäjästä, jonka profiilissa olet: keskiarvon palautteissa annetuista numeerisista palautteista, eri tasoisten palautteiden määrät sekä listan kaikista palautteista sanallisine kuvauksineen. Listassa kaapo-hahmon ilme kuvaa kyseiseen palautteeseen liittyvää numeerista arviota. Odotusten mukaan menneiden tai ne ylittäneiden palautteiden taustaväri on vihreä, negatiivisen arvion saaneiden palautteiden taustaväri taas punainen.