%p 
  Puedes dar feedback a otros usuarios cada vez que hayas ofrecido algo a ellos o hayas solicitado algo de ellos. Con el feedback puedes expresar si la transacción fue como se esperaba. Los demás usuarios pueden ver esta información en el perfil de cada usuario y usarlo para decidir si quieren tratar con esa persona a futuro. Esto significa que si has recibido un feedback positivo, tienes la garantía de mayor éxito en ofertas o solicitudes futuras. De este modo, siempre es bueno recordar que tienes que dar tu opinión ante cada acontecimiento y que es importante que la otra parte también lo haga. Puedes dar feedback yendo a tu buzón de correo y haciendo click al link "Dar feedback", al lado las ofertas o solicitudes aceptadas. 
 
%p 
  El feedback en #{service_name} consiste en una evaluación numérica junto con un texto descriptivo. La nota puede ir entre un 1 (peor de lo esperado) y un 5 (mucho mejor de lo esperado). Si das un feedback no neutral, tienes que explicar por qué estuvo mal o excelente, en el espacio destinado para los comentarios. 
 
%p 
  En esta página puedes ver la siguiente información sobre el usuario que estás visitando: el promedio de las evaluaciones numéricas, el importe de los variados feedbacks que ha recibido junto con los comentarios escritos. La expresión facial de la figura Kaapo en cada uno de los feedback, describe la nota asociada a esa evaluación. Si el suceso fue acorde a las expectativas o las superó, el color de fondo del feedback será una luz verde; en el caso contrario una luz roja.