%p
  Bạn có thể cho phản hồi đối với những người khác mỗi khi bạn hỗ trợ một thứ gì đó cho họ hoặc yêu cầu một thứ gì đó từ họ. Với thông tin phản hồi bạn có thể thể hiện nếu các hành động của nhóm khác chấp nhận được. Các người sử dụng khác có thể xem thông tin này trong hồ sơ của người được nhận và có thể sử dụng nó để quyết định nếu họ muốn kết hợp với người đó trong tương lai. Điều này có nghĩa là khi bạn nhận thông tin phản hồi tích cực, nó sẽ đảm bảo thành công hơn đối với các hỗ trợ và yêu cầu trong tương lai. Theo cách đó, rất tối khi luôn nhớ cho thông tin phản hồi trên các sự kiện, và cũng nhắc nhở nhóm khác cho bạn thông tin phải hồi từ họ. Bạn có thể cho phải hồi bằng vào hộp thư (mailbox) và chọn "Cho thông tin phản hồi-Give feedback" -liên kết tiếp đến một hỗ trợ hoặc yêu cầu đã được chấp nhận.

%p
  Thông tin phản hồi tại #{service_name} gồm có một đánh giá số và một mô tả nguyên bản. Đánh giá số có thể từ 1 (tệ hơn mong đợi) đến 5 (tốt hơn mong đợi). Nếu bạn đưa ra thông tin phản hồi phi trung lập bạn cần nói những gì đặc biệt tốt hoặc tệ trong mô tả nguyên bản.

%p
  Trong trang này bạn có thể xem các thông tin sau về người dùng: trung bình các ước lượng số, tỷ lệ các phản hồi khác nhau và danh sách các phản hồi mô tả nguyên bản. Diễn tả hình dáng Kaapo trong mỗi phản hồi mô tả ước lượng số kết hợp với phản hồi đó. Nếu sự kiện theo như mong đợi hoặc vượt quá, hình nền của thông tin phản hồi sẽ màu xanh lá cây, ngược lại là màu đỏ.