%p 
  Du kan ge feedback till alla användare varje gång du har erbjudit eller begärt något från dem. Med feedback så kan du berätta om allt gick som förväntat eller inte. Andra användare kan se denna information i personens profil. Detta innebär att när du har fått bra feedback så garanterar det en bättre framgång med förfrågningar i framtiden. Därför är det bra att alltid komma ihåg att ge feedback och även påminna den andra parten att återkoppla till dig. Du kan ge feedback genom att gå till brevlådan och klicka på "Ge feedback" länken. 
 
%p 
  Feedback på #{service_name} består av en numerisk utvärdering och en textbeskrivning. Den numeriska utvärderingen kan vara mellan 1 (sämre än väntat) och 5 (mycket bättre än väntat). Om du ger en icke-neutral feedback så behöver du berätta vad som gick särskilt bra eller fel i textbeskrivningen. 
 
%p 
  På denna sidan kan du visa följande information om den användare vars profil du tittar på: genomsnittligt betyg för all feedback och en lista med all textfeedback. Ansiktsutrycken på figurerna på varje feedback beskriver den numeriska utvärderingen. Om händelsen gick enligt förväntningarna eller inte så kan man se att bakgrunden är grön respektive röd.