%p
  Vous pouvez donner un avis sur un autre utilisateur chaque fois que vous lui proposez ou demandez quelque chose. Grâce à ces avis, vous pouvez vous exprimer sur le bon déroulement des transactions. Les autres utilisateurs pourront voir ces informations sur le profil de l'utilisateur en question et pourront s'en servir pour décider s'ils souhaitent avoir affaire à cette personne à l'avenir. Cela signifie que chaque avis positif que vous recevez participe au succès de vos prochaines offres et demandes. Ainsi, il est très important de donner un avis pour chaque événement et de rappeler aux autres d'en faire autant. Pour donner un avis, allez dans votre messagerie #{service_name} et cliquez sur le lien "Donner un avis" qui se trouve à côté de l'offre ou de la demande acceptée.

%p
  Sur #{service_name}, un avis comporte une note et un texte. La note va de 1 (ne correspondait pas à mes attentes) à 5 (dépassait complètement mes attentes). Si votre note n'est pas neutre, vous êtes demandé d'expliquer, dans la partie textuelle, ce qui vous a plu ou déçu.

%p
  Sur cette page, vous pouvez visionner les informations suivantes sur l'utilisateur dont le profil vous intéresse : la moyenne des notes chiffrées, le nombre d'avis par note et une liste d'avis avec leur description. L'expression du personnage Kaapo dans chaque avis décrit la note liée à l'avis. Si la transaction s'est déroulée conformément aux attentes ou les a dépassées, la couleur de fond est vert pale, sinon elle est rouge.