%p 
  Du kan gi tilbakemelding til andre brukere hver gang du har tilbudt noe eller bedt om noe fra dem. Med tilbakemeldinger kan du uttrykke hvorvidt handlingene til den andre parten var som forventet. Andre brukere kan se denne informasjonen under personens profil, og kan bruke den til å vurdere om de ønsker å assosiere seg med vedkommende i fremtiden. Dette betyr at når du har fått positive vurderinger, øker sjansen for vellykkede tilbud og forespørsler i fremtiden. Derfor bør du alltid gi tilbakemelding på ulike hendelser, og minne den andre parten på å gi tilbakemelding til deg. Du kan gi tilbakemeldinger ved å gå til meldinger og klikke på "Gi tilbakemelding"-lenken ved siden av et akseptert tilbud eller forespørsel.
 
%p 
  Tilbakemeldinger på #{service_name} består av en karakter og tekstbeskrivelse. Karakteren kan være mellom 1 (dårligere enn forventet) og 5 (mye bedre enn forventet). Hvis du gir annet enn en nøytral vurdering må du beskrive hva som var spesielt bra eller dårlig. 
 
%p 
  På denne siden kan du se følgende informasjon om brukeren du nå ser på: gjennomsnittlig karakter, antall tilbakemeldinger og en oversikt over alle tilbakemeldinger med beskrivelser. Ansiktsuttrykket til figuren i hver vurdering beskriver karakteren vedkommende har fått. Hvis ting gikk som forventet eller bedre, er fargen grønn - hvis ikke er den rød.