%p
  Hodnocení můžete ostatním uživatelům poskytnout pokaždé, pokud jste jim něco nabídli nebo pokud jste je o něco požádali. Pomocí hodnocení můžete vyjádřit, zda reakce druhé strany byly takové, jaké jste očekávali. Ostatní uživatelé mohou vidět tuto informaci v profilu cílové osoby a mohou se tak rozmyslet, zda se s touto osobou chtějí v budoucnu spojit. To znamená, že pokud jste obdrželi pozitivní hodnocení, zaručí Vám to větší úspěch s Vašimi nabídkami a žádostmi v budoucnu. Proto je dobré vždy pamatovat na poskytnutí hodnocení, a také připomenout i druhé straně, aby Vás také ohodnotila. Hodnocení provedete tak, když ve Vaší e-mailové schránce kliknete na "Ohodnotit uživatele" - odkaz vedle přijaté nabídky nebo žádosti. 

%p
  Hodnocení se v #{service_name} skládá z číselného ohodnocení a komentáře. Číselné ohodnocení se pohybuje v rozmezí od 1 (horší, než se očekávalo) do 5 (mnohem lepší, než se očekávalo). Poskytnete-li neutrální zpětnou vazbu, je potřeba v komentáři vysvětlit, co se podařilo nebo co se nezdařilo.

%p
  Na této stránce si můžete prohlédnout následující informace o uživateli, jehož profil sledujete: průměrné číselné ohodnocení, různé žebříčky hodnocení a seznam všech zpětných vazeb s komentáři. Výraz tváře postavičky Kaapo každého hodnocení je zachycován právě pomocí číselného ohodnocení. Pokud akce proběhla dle očekávání nebo ho dokonce převýšila, barva pozadí u zpětné vazby bude světle zelená, v opačném případě světle červená.