%p 
  Zpětnou vazbu můžete ostatním uživatelům poskytnout pokaždé, pokud jste jim něco nabídli nebo pokud jste je o něco požádali. Pomocí zpětné vazby můžete vyjádřit, zda reakce druhé strany byly takové, jaké jste očekávali. Ostatní uživatelé mohou vidět tuto informaci v profilu cílové osoby a mohou se tak rozmyslet, zda se s touto osobou chtějí v budoucnu spojit. To znamená, že pokud jste obdrželi pozitivní zpětnou vazbu, zaručí Vám to větší úspěch s Vašimi nabídkami a žádostmi v budoucnu. Proto je dobré vždy pamatovat na poskytnutí zpětné vazby, a také připomenout i druhé straně, aby provedla zpětnou vazbu na Vás. Zpětnou vazbu provedete tak, když ve Vaší e-mailové schránce kliknete na "Dát zpětnou vazbu" - odkaz vedle přijaté nabídky nebo žádosti. 
 
%p 
  Zpětná vazba v #{service_name} se skládá z číselného ohodnocení a psaného komentářem. Číselné ohodnocení se pohybuje v rozmezí od 1 (horší, než se očekávalo) do 5 (mnohem lepší, než se očekávalo). Poskytnete-li neutrální zpětnou vazbu, je potřeba v komentáři vysvětlit, co se podařilo nebo co se nezdařilo.
 
%p 
  Na této stránce si můžete prohlédnout následující informace o uživateli, jehož profil sledujete: průměrné číselné ohodnocení, různé žebříčky ohodnocení a seznam všech zpětných vazeb s psanými komentáři. Výraz tváře postavičky Kaapo v každé zpětné vazbě je zachycován právě pomocí číselného ohodnocení zpětné vazby. Pokud akce proběhla dle očekávání nebo ho dokonce převýšila, barva pozadí u zpětné vazby bude světle zelená, v opačném případě světle červená.