%p
  U kunt feedback geven op andere gebruikers elke keer u hen iets voorgesteld hebt of iets van hen gevraagd hebt. Met deze feedback kunt u aangeven of alles verlopen is zoals u verwacht had. Andere gebruikers kunnen deze informatie ook zien en bepalen of ze met deze persoon zaken willen doen. Dit betekent dat wanneer u positieve feedback krijgt, u meer succes zal hebben met toekomstige aanbiedingen. Het is dus een goede zaak om feedback achter te laten en de tegenpartij eraan te herinneren dit ook te doen. U kunt feedback geven door in uw mailbox te klikken op de "Geef feedback"-link die u kunt vinden naast een aanvaard voorstel of verzoek.

%p
  Feedback op #{service_name} bestaat uit een cijfer en een omschrijving. Het cijfer kan liggen tussen 1 (minder goed dan verwacht) en 5 (beter dan verwacht). Geef aanvullend commentaar wanneer u niet-neutrale feedback geeft.
%p
Op deze pagina kunt u de volgende informatie zien over de huidige gebruiker: het gemiddelde van alle cijfers, het aantal keren dat er feedback werd gegeven en een lijst van alle feedback samenvattingen. De gelaatsuitdrukking van het Kaapo figuurtje bij elke feedback symboliseert het bijbehorende cijfer. Indien de handeling naar wens of boven verwachting verliep, zal de achtergrond groen zijn. In het andere geval is deze rood.