%p 
  Du kan gi tilbakemelding til andre brukere hver gang du har tilbudt noe til dem eller bedt om noe fra dem. Med tilbakemeldinger kan du uttrykke hvorvidt handlingene til den andre parten var som forventet. Andre brukere kan se denne informasjonen under personens profil og kan bruke den til å vurdere om de ønsker å assosiere seg med den personen i fremtiden. Dette betyr at når du har fått positive tilbakemeldinger, vil det garantere bedre suksess med tilbud og forespørsler i fremtiden. Derfor er det viktig å alltid huske å gi tilbakemelding på hendelser, og også minne den andre parten på om å gi tilbakemelding til deg. Du kan gi tilbakemelding ved å gå til meldinger og klikke på "Gi tilbakemelding"-lenken ved siden av et akseptert tilbud eller forespørsel.
 
%p 
  Tilbakemeldinger på #{service_name} består av en karakter og tekstbeskrivelse. Karakteren kan være mellom 1 (dårlige enn forventet) og 5 (mye bedre enn forventet). Hvis du gir annet enn en nøytral tilbakemelding må du beskrive hva som var spesielt dårlig eller bra. 
 
%p 
  På denne siden kan du se følgende informasjon om brukeren du nå ser på: gjennomsnittsvurdering i karakter, antall forskjellige tilbakemeldinger og en oversikt over alle tilbakemeldinger med beskrivelser. Ansiktsuttrykket til Kaapo-figuren i hver tilbakemelding forteller om karaktervurdering i tilbakemeldingen. Hvis ting gikk som forventet eller bedre er fargen grønn - hvis ikke er den rød.