%p
  You can give feedback to the other users every time you have offered something to them or requested something from them. With the feedback you can express whether the actions of the other party were as expected. Other users can see this information in the target person's profile and can use it to decide whether they want to associate with that person in the future. This means that when you have received positive feedback, it'll guarantee better success with offers and requests in the future. Thus, it's good to always remember to give feedback on events, and also remind the other party to give feedback to you. You can give feedback by going to your mailbox and clicking the "Give feedback" -link next to an accepted offer or request.

%p
  Feedback in #{service_name} consists of a numeric evaluation and a textual description. The numeric evaluation can be between 1 (worse than expected) and 5 (much better than expected). If you give non-neutral feedback you need to tell what went especially well or wrong in the textual description.

%p
  On this page you can view following information about the user whose profile your viewing: the average of all the numeric evaluations, the amounts of different feedback ratings and a list of all feedback with textual descriptions. The facial expression of the Kaapo figure in each feedback describes the numeric evaluation associated to that feedback. If the event went according to expectations or exceeded them, the background color of the feedback is light green, otherwise it is light red.