%p 
  誰かに何かをオファーまたはリクエストしたとき、他のユーザにフィードバックを残すことが出来ます。フィードバックで、相手方の行動が予想通りだったかどうか表すことが出来ます。他のユーザは目的に合った人のプロフィール上で、この情報を見ることが出来、彼らが将来その人とかかわりたいかどうか決めるために、それを使うことが出来ます。あなたがポジティブなフィードバックを受けたとき、それが将来オファーとリクエストのより良い成功を保証することを意味します。このように、常にやりとりの中でフィードバックをするのを忘れないで、さらに相手方にあなたにフィードバックを伝えると思い出させることは、良いことです。メール受信箱へ行って、受諾されたオファーあるいはリクエスト項目の隣にある「フィードバックする」のリンクをクリックすることによって、あなたはフィードバックを始めることができます。

%p
{service_name}内のフィードバックは、数字の評価と分による説明から成り立ちます。数字、1（期待以下）から5（期待をはるかに上回る）のように評価が出来ます。
特に伝えたいことがありフィードバックをするならば、文章で詳細を書き残せます。
 
%p 
  このページ上で、ユーザーに関する以下の情報を閲覧できます：すべての数字による評価の平均、文によるフィードバックなど。各フィードバックのKaapoの表情は、フィードバックに合わせて数による評価を表しています。やりとりが予想通りか、それらを上回るならば、フィードバックの背景色は淡い緑になります、それ以外は淡い赤色です。