%p 
每次您提供給其他用戶東西或者從他們那裡得到東西，您都可以給予評價。通過評價，您可以表達是否對方的行為符合期望。其他用戶可以看到你給某人的評價，並由此來決定他們是否未來要和那個人聯繫。這意味著，當你已經收到了積極的評價，這將保證在未來能更成功的提供和請求。因此，總是記得給予評價並也提醒對方給你評價是很好的。你可以去你的郵箱，點擊已接受的提供或請求鏈接邊上的“給予評價”給予評價。
 
%p 
  在#{service_name} 中的評論包含一個數字評分和文本描述。數字評分可以是介於1（比預期的差）和5（遠好於預期）。如果您給有別平常的評價，你需要用文字說明為什麼特別好或者不好。
 
%p 
在此頁面，您可以查看您正在查看的用戶的以下信息：平均分數，不同的評論等級的數量和所有評論文字說明的列表。每個評論的Kaapo圖像的面部表情描述了其相關的評論分數評估。如果與預期一致或者超過預期，評論的背景顏色為淺綠色，否則是淡紅色。