%p 
  Du kan gi vurdering til andre brukere hver gang du har tilbudt noe til dem eller bedt om noe fra dem. Med vurderinger kan du uttrykke hvorvidt handlingene til den andre parten var som forventet. Andre brukere kan se denne informasjonen under personens profil og kan bruke den til å vurdere om de ønsker å assosiere seg med den personen i fremtiden. Dette betyr at når du har fått positive vurderinger, vil det garantere bedre suksess med tilbud og forespørsler i fremtiden. Derfor er det viktig å alltid huske å gi vurdering på hendelser, og også minne den andre parten på om å gi vurdering til deg. Du kan gi vurdering ved å gå til meldinger og klikke på "Gi vurdering"-lenken ved siden av et akseptert tilbud eller forespørsel.
 
%p 
  Vurderinger på #{service_name} består av en karakter og tekstbeskrivelse. Karakteren kan være mellom 1 (dårlige enn forventet) og 5 (mye bedre enn forventet). Hvis du gir annet enn en nøytral vurdering må du beskrive hva som var spesielt dårlig eller bra. 
 
%p 
  På denne siden kan du se følgende informasjon om brukeren du nå ser på: gjennomsnittsvurdering i karakter, antall forskjellige vurderinger og en oversikt over alle tilbakemeldinger med beskrivelser. Ansiktsuttrykket til Kaapo-figuren i hver vurdering forteller om karaktervurdering i vurderingen. Hvis ting gikk som forventet eller bedre er fargen grønn - hvis ikke er den rød.