% p
   Du kan give feedback til de andre brugere, hver gang du har tilbudt noget for dem eller anmodet om noget fra dem. Ved at give feedback kan du udtrykke, om de handlinger, foretaget af den anden part var som forventet. Andre brugere kan se disse oplysninger på den givne persons profil, og kan bruge dem til at beslutte, om de ønsker at associere sig med denne person i fremtiden. Det betyder, at når du har modtaget positiv feedback, vil det sikre en højere succesrate med tilbud og anmodninger i fremtiden. Således er det godt altid at give feedback på begivenheder og også minde den anden part om at give feedback til dig. Du kan give feedback ved at gå til din postkasse og klikke på "Giv feedback" -linket ved siden af et accepteret tilbud eller anmodning.
 
% p
   Feedback i # {service_name} består af en numerisk evaluering og en beskrivelse. Den numeriske evaluering kan være mellem 1 (værre end forventet) og 5 (meget bedre end forventet). Hvis du giver ikke-neutral feedback, du nødt til at fortælle, hvad der gik specielt godt eller galt i beskrivelse.
 
% p
   På denne side kan du se følgende oplysninger om den bruger, hvis profil du besøger: gennemsnittet af alle de numeriske evalueringer, mængderne af forskellige feedback ratings og en liste over alle tilbagemeldinger med tekstlige beskrivelser. Kaapo figurens ansigtsudtryk ved hver tilbagemelding beskriver den numeriske vurdering er forbundet til denne feedback. Hvis begivenheden gik som forventet eller ej, baggrundsfarven på denne feedback er lysegrøn, ellers er det lys rød.