%p
  Você pode dar um feedback para os outros usuários toda vez que você oferecer algo para eles ou solicitar deles alguma coisa. Através desse feedback você pode expressar se as ações da outra parte foram as esperadas. Os outros usuários podem ver esta informação no perfil da pessoa alvo e usá-la para decidir se querem realizar transações com essa pessoa no futuro. Isto significa que quando você tiver recebido um feedback positivo, que vai garantir um melhor sucesso com ofertas e pedidos no futuro. Assim, é bom lembrar sempre de dar feedback sobre eventos, e também lembrar a outra parte para dar feedback a você. Você pode dar um feedback, indo para sua caixa postal e clicar no botão "Dar feedback" -link ao lado de uma proposta aceita ou solicitação.

%p
  Qualificações em # {service_name} consiste em uma avaliação numérica e uma descrição textual. A avaliação numérica pode ser entre 1 (pior do que o esperado) e 5 (muito melhor do que o esperado). Se você dar feedback não neutra você precisa dizer o que correu especialmente bem ou errado na descrição textual.

%p
  Nesta página você pode ver as seguintes informações sobre o perfil do usuário: a média de todas as avaliações numéricas, o total das diferentes classificações de feedback e uma lista de todos os comentários com descrições textuais. A expressão facial da figura Kaapo em cada feedback descreve a avaliação numérica associado ao mesmo. Se o evento foi de acordo com as expectativas, a cor de fundo  do feedback é verde claro, caso contrário, é vermelho claro.