%p
  Minden egyes tranzakció után értékelheti a másik user-t. Ez a legegyszerűbb módja annak, hogy elmondjuk mennyire voltunk elégedettek a partner hozzáálásával. Az összes többi felhasználó látni fogja ezt az értékelést a partner adatlapján és ez alapján eldöntheti, hogy szeretne-e üzletelni az adott illetővel. Magyarul, minél több pozitív értékelést kap valaki, annál sikeresebben fog tudni üzletelni a jövőben. Ezért érdemes minden egyes alkalommal értékelést adni és szükség esetén emlékeztetni a partnert is, hogy ugyanezt tegye meg velünk kapcsolatban. Értékelést a postafiókunkban az elfogadott ajánlat vagy igény melletti linkre kattintva lehet.

%p
  A #{service_name} értékelés egy számértékből és egy szöveges részből áll. A számérték 1 (elvártnál rosszabb) és 5 (elvártnál jobb) között adható meg. Ha nem semleges értékelést készít, akkor le kell írnia azt is, hogy pontosan mivel volt nagyon elégedett vagy elégedetlen.

%p
  Ezen az oldalon a felhasználó adatlapja tekinthető meg: az összes értékelés átlaga, az értékelések összege és a szöveges értékelések listája. Minden értékelésben a figura arckifejezése a számszerű értékelésre utal. Ha minden rendben történt, akkor világos zöld, ha problémák voltak akkor világos piros alapszínnel.