%p 
  Můžete dát zpětnou vazbu ostatním uživatelům pokaždé, když jste jim něco nabídli nebo jste od nich něco požadovali. Pomocí zpětné vazby můžete vyjádřit, zda reakce druhé strany byly takové, jaké jste očekávali. Ostatní uživatelé mohou vidět tuto informaci v profilu cílové osoby a mohou to využít a rozhodnout se, zda se s touto osobou chtějí v budoucnu spojit. To znamená, že pokud jste obdrželi pozitivní zpětnou vazbu, zaručí Vám to větší úspěch s nabídkami a žádostmi v budoucnu. Proto je dobré vždy pamatovat na poskytnutí zpětné vazby na akce a také připomenout i druhé straně, aby provedla zpětnou vazbu i na Vás. Zpětnou vazbu provedete tak, že půjdete do Vaší e-mailové schránky a kliknete na "Dát zpětnou vazbu" - odkaz vedle přijaté nabídky nebo žádosti. 
 
%p 
  Zpětná vazba v #{service_name} se skládá z číselného ohodnocení a psaným komentářem. Číselné ohodnocení může být v rozmezí mezi 1 (horší, než se očekávalo) a 5 (mnohem lepší, než se očekávalo). Poskytnete-li neutrální feedback, je potřeba vysvětlit, co šlo vyloženě dobře nebo špatně v psaném komentáři.
 
%p 
  Na této stránce si můžete prohlédnout následující informace o uživateli, jehož profil sledujete: průměrné číselné ohodnocení, množství hodnocení různých zpětných vazeb a seznam všech zpětných vazeb s psanými komentáři. Výraz tváře postavičky Kaapo v každé zpětné vazbě se zachycuje pomocí číselného ohodnocení přidruženého k té zpětné vazbě. Pokud tedy akce proběhla dle očekávání nebo je dokonce převýšila, barva pozadí bude světle zelená, v opačném případě světle červená.