%p
  Je kan feedback geven aan andere gebruikers elke keer je ze iets voorgesteld hebt of iets van hen gevraagd hebt. Met deze feedback kan je aangeven of alles verlopen is zoals je verwacht had. Andere gebruikers kunnen deze informatie zien en bepalen of ze met die persoon zaken willen doen. Dit betekent dat wanneer je positieve feedback krijgt, je meer succes zal hebben met toekomstige aanbiedingen. Het is dus steeds een goede zaak om feedback achter te laten en de tegenpartij eraan te herinneren dit ook te doen. Je kan feedback geven door in je mailbox te klikken op de "Geef feedback"-link die je kan vinden naast een aanvaard voorstel of verzoek.

%p
  Feedback in #{service_name} bestaat uit een cijfer en een omschrijving. Het cijfer kan liggen tussen 1 (minder goed dan verwacht) en 5 (beter dan verwacht). Geef bijkomende commentaar wanneer je niet-neutrale feedback geeft.
%p
Op deze pagina kan je volgende informatie zien over de huidige gebruiker: het gemiddelde van alle cijfers, het aantal keren dat er feedback werd gegeven en lijst van alle feedback samenvattingen. De gelaatsuitdrukking van het Kaapo figuurtje bij elke feedback symboliseert het bijbehorende cijfer. Indien de handeling naar wens of boven verwachting verliep, zal de achtergrond groen zijn. In het andere geval is deze rood.