%p 
  Du kannst einen Benutzer jedes Mal bewerten, wenn dieser Dir etwas angeboten oder etwas von Dir angefragt hat. Mit der Bewertung kannst Du ausdrücken, ob die Transaktion wie erwartet vor sich ging. Andere Benutzer können diese Information im Profil der Zielperson sehen und können dann entscheiden, ob sie mit dieser Person in Zukunft zusammenarbeiten möchten. Wenn Du also positive Bewertungen erhältst, wirst Du mehr Erfolg mit Deinen Angeboten und Anfragen haben. Deswegen lohnt es sich, Transaktionen zu bewerten und auch die andere Partei daran zu erinnern. Du kannst eine Kundenbewertung abgeben, indem Du in Deinem Posteingang neben dem akzeptierten Angebot auf "Bewertung abgeben" klickst.
 
%p 
  Die Bewertung bei #{service_name} beruht auf einer numerischen Benotung und einer schriftlichen Beschreibung. Die numerische Benotung reicht von 1 (schlechter als erwartet) bis 5 (viel besser als erwartet) Wenn Du kein neutrales Feedback vergibst, musst du beschreiben, was so schlecht oder was so gut war. 
 
%p 
  Auf dieser Seite kannst Du die folgenden Informationen über den Benutzer, den Du gerade anschaust, sehen: den Durchschnitt aller Benotungen, die Anzahl der verschiedenen Bewertungen und eine Liste mit allen Bewertungen, die über eine schriftliche Beschreibung verfügen. Der Gesichtsausdruck der Figur in jedem Feedback beschreibt die numerische Benotung des Feedbacks. Falls die Transakation gemäß den Erwartung des Kunden oder sogar noch besser als erwartet ausgegangen ist, dann färbt sich die Hintergrundfarbe der Bewertung hellgrün, anderenfalls färbt sie sich rot.