%p 
每次你提供给其他用户东西或者从他们那里得到东西，你都可以给予评价。通过评价，你可以表达是否对方的行为符合期望。其他用户可以看到指定人的个人资料，并由此来决定他们是否未来要和那个人联系。这意味着，当你已经收到了积极的评价，这将保证在未来能更成功的获得报价和请求。因此，总是记得给予评价并也提醒对方给你评价是很好的。你可以去你的邮箱，点击接受请求或报价链接边上的“给予评价”给予评价。
 
%p 
  在 #{service_name} 中的评论包含一个数字评价和文本描述。数字评价可以是介于1（比预期的差）和5（远好于预期）。如果你给非中立的评价，你需要用文字说明为什么特别好或者不好。
 
%p 
在此页面，你可以查看你正在查看用户的以下信息：平均数字评价，不同的评论等级的数量和所有评论文字说明的列表。每个评论的Kaapo图像的面部表情描述了其相关的评论数字评估。如果与预期一致或者超过预期，评论的背景颜色为浅绿色，否则是淡红色。