%p
  Prisijungimui prie
  %strong
    = @current_community.full_name(I18n.locale)
  jums reikia pakvietimo. Jei turite pakvietimą, prašome įvesti kodą laukelyje žemiau.

%p
  Naudodami pakvietimo kodus mes norime užtikrinti, kad visi #{service_name} vartotojai yra patikimi.