%p
   Це підтвердження запевняє, що лише люди можуть створювати нові облікові записи в #{service_name}. Підтвердження запобігає створенню облікових записів у #{service_name} і розсилку спаму користувачам від усіх видів неприємних спамерських роботів, які сканують Інтернет.

%p
   Підтвердження дуже просте: потрібно заповнити два слова, написані трохи неоднозначним почерком. Якщо ви неправильно написали слова, не бійтеся: ви можете повторити спробу скільки завгодно разів, і ви не втратите жодної інформації, яку ви заповнили в інших полях під час цього процесу.