%p
  이 입증은 오직 인간만이 {service_name}에 계정을 만들 수 있음을 확인합니다. 또한 모든 종류의 웹 크롤링 스팸 로봇 등이 {service_name}에 계정을 만들고 사용자들에게 스팸을 보내는 것을 방지합니다.

%p
  입증은 아주 간단합니다. 다소 모호하게 쓰여진 손글씨 두글자를 입력하시면 됩니다. 잘못 입력하셨어도 걱정하지 마세요. 계속해서 시도하실 수 있으며 미리 입력하신 내용이 중간에 사라지는 일은 없습니다.