%p
  For at deltage i
  %strong
    = @current_community.full_name(I18n.locale)
  skal du have en invitation. Hvis du har en invitation, skal du indtaste koden i feltet nedenfor.
 
%p
  Dette hjælper os til at sikre, at alle #{service_name}-brugere er troværdige parter.