%p 
  Αυτό επιβεβαιώνει ότι μόνο άνθρωποι μπορούν να δημιουργήσουν λογαριασμούς στο Kassi. Έτσι αποφεύγεται να δημιουργούνται λογαριασμοί από αυτόματα "ρομπότ" (spam bots) τα οποία θα στέλνουν ανεπιθύμητα μηνύματα στους χρήστες του Kassi.
 
%p 
  Η επιβεβαίωση είναι πολύ απλή: πρέπει μόνο να συμπληρώσεις τις δύο λέξεις που φαίνονται με παράξενη γραφή. Μην ανησυχείς αν δεν τις γράψεις σωστά: μπορείς να το προσπαθήσεις όσες φορές θέλεις χωρίς να χάσεις τις πληροφορίες που έχεις καταχωρήσει στα άλλα πεδία της διαδικασίας.