%p
  Pour rejoindre
  %strong 
    = @current_community.full_name(I18n.locale) 
  il vous faut une invitation. Si vous avez une invitation, veuillez saisir le code dans le champ dessous. 
 
%p 
  Grâce aux codes d'invitation, nous essayons de faire en sorte que #{service_name} reste un lieu de confiance.