%p 
  Αυτό επιβεβαιώνει ότι μόνο άνθρωποι μπορούν να δημιουργήσουν λογαριασμούς στο #{service_name}. Έτσι αποφεύγεται να δημιουργούνται λογαριασμοί από αυτόματα "ρομπότ" (spam bots) τα οποία θα στέλνουν ανεπιθύμητα μηνύματα στους χρήστες του #{service_name}.
 
%p 
  Η επιβεβαίωση είναι πολύ απλή: πρέπει μόνο να συμπληρώσετε τις δύο λέξεις που φαίνονται με παράξενη γραφή. Μην ανησυχείτε αν δεν τις γράψετε σωστά: μπορείτε να το προσπαθήσετε όσες φορές θέλετε χωρίς να χαθούν οι πληροφορίες που έχετε καταχωρήσει στα άλλα πεδία της διαδικασίας.