%p 
  Um
  %strong  
    = @current_community.full_name(I18n.locale) 
  beitreten zu können, benötigst du eine Einladung. Wenn du eine Einladung hast, gib den Code in das Feld unten ein.  
 
%p 
  Mit der Nutzung von Einladungscodes wollen wir sicherstellen, dass alle #{service_name} Nutzer vertrauenswürdige Mitglieder sind.