%p 
  For 책 bli med i
  %strong 
    = @current_community.full_name(I18n.locale) 
  trenger du en invitasjon. Hvis du har blitt invitert kan du skrive inn invitasjonskoden nedenfor.
 
%p 
  Vi benytter oss av invitasjonssystem for 책 sikre at alle brukere p책 #{service_name} er p책litelige.