%p
  Para participar de
  %strong
    = @current_community.full_name(I18n.locale)
  você precisa ser convidado. Se você já tem um convite, por favor, digite o código na caixa abaixo.

%p
  Através dos convites nós tentamos nos certificar que todos os usuários que participam de #{service_name} são confiáveis.