%p 
  To join 
  %strong 
    = @current_community.full_name(I18n.locale) 
  трябва да имате покана. Ако имате покана, моля въведе кода в полето отдолу. 
 
%p 
  Използвайки кодовете за покани ние се стараем да се уверим, че всички #{service_name} потребители са надеждни.