%p 
  För att gå med
  %strong 
    = @current_community.full_name(I18n.locale) 
  så behöver du en inbjudan. Om du har en inbjudan, vänligen skriv in koden nedan. 
 
%p 
  Genom att använda inbjudningskoder på #{service_name} försöker vi se till att alla användare är pålitliga parter.