%p 
  Potvrđivanjem se uveravamo da se samo ljudi registruju na #{service_name}. Ovim udaljavamo razne spam robote i botove za pretragu od našeg servisa i sprečavamo da šalju poruke korisnicima #{service_name}. 
 
%p 
  Potvrđivanje je jednostavno: trebate uneti dve reči koje su napisane nečitko. Bez brige ako ne uspete iz prvog pokušaja, možete probati ponovo a bez gubitka ranije popunjenih polja.