%p
  A csatlakozáshoz:
  %strong
    = @current_community.full_name(I18n.locale)
  meghívásra van szükség. Ha Önnek van meghívója, kérjük írja be a kódot:

%p
  A meghívásos rendszerrel azt szeretnénk biztosítani, hogy a(z) #{service_name} össze felhasználója megbízható partner.                