% p   
    Оваа потврда уверува дека само луѓе можат да креираат акаунт на {service_name}. Со потврдата се забранува секаков вид на веб базирани спамерски роботи да креираат акаунт на {service_name} и да праќаат спамови на корисниците.  
  
% p   
    Потврдувањето е многу едноставно: потребно е да ги внесете двата збора напишани со малку несмасен ракопис. Ако ги погрешите зботовите, се надеваме нема: можете да се обидете колку што ќе сакате и нема да изгуните ниедна информација што сте ја внесле вретходно во овој процес.