%p 
  การยืนยันนี้เพื่อให้แน่ใจว่าบุคคลเท่านั้นที่สามารถทำการสร้างบัญชีใหม่บน {service_name} การยืนยันนี้เพื่อป้องกันอันตรายต่างๆ จากการรวบรวมข้อมูลบนเว็บ ด้วยหุ่นสแปมเมอร์ต่างๆ จากการสร้างบัญชีบน {service_name} และทำการส่งสแปมให้กับผู้ใช้งาน
 
%p 
  การยืนยันนี้ง่ายมาก โดยคุณต้องป้อนคำ 2 คำที่เขียนด้วยรายมือที่ไม่ชัดเจนในช่อง ถ้าคุณสะกดคำผิด อย่ากลัว คุณสามารถลองใหม่ได้หลายๆ ครั้งเท่าที่คุณต้องการ และข้อมูลที่คุณกรอกไว้ในช่องต่างๆ ก็จะไม่สูญหายไปในขณะดำเนินการ