%p
  Pro vstup 
  %strong
    = @current_community.full_name(I18n.locale)
  potřebujete pozvánku. Pokud ji máte, vložte prosím kód do políčka níže.
 
%p
  Tím, že používáme pozvánky, můžeme zaručit, že všichni uživatelé naší služby #{service_name} jsou důvěryhodní.