%p
  Xác nhận này đảm bảo rằng chỉ có những người có thể tạo tài khoản mới tại #{service_name}. Xác nhận giữ tất cả các loại thư rác từ các tài khoản đang tạo tại #{service_name} và gửi thư rác đến người dùng.

%p
  Xác nhận rất đơn giản: bạn cần điền vào hai từ bằng một từ viết hơi mơ hồ một chút. Nếu bạn đánh vần sai, đừng sợ: bạn có thể thử lại nhiều lần, và bạn sẽ không mất bất cứ thông tin nào bạn đã điền vào các trường trong quá trình xử lý