%p 
   See kinnitus kindlustab, et ainult inimesed saavad {service_name}  uusi kontosid luua. Kinnitus hoiab igasugused veebis indekseerivad rämpspostirobotid eemal kontode loomisest {service_name}  ja kasutajatele rämpsposti saatmisest.
 
%p
   Kinnitus on väga lihtne: pead täitma kaks sõna, mis on kirjutatud pisut kahemõtteliselt. Kui kirjutad sõnad valesti , ära karda: võid proovida nii mitu korda kui soovid ja sa ei kaota teavet, mille täitsid varasemalt.