%p 
  Denne bekreftelsen forsikrer at bare mennesker kan opprette brukerkontoer på #{service_name}. Bekreftelsen sørger for at alle slags spam-roboter holdes langt unna #{service_name}. 
 
%p 
  Denne bekreftelsen er veldig enkel: du må fylle inn de to ordene som er skrevet med litt uklar håndskrift. Frykt ikke hvis du skriver feil: du kan prøve flere ganger uten å miste innholdet du allerede har fylt inn.