%p 
  Aquesta confirmació assegura que només les persones poden crear comptes nous en #{service_name}. La confirmació impideix que tot tipus de robots malintencionats creïn comptes en #{service_name} i envïin correu spam als usuaris.

%p 
  La confirmació és molt senzilla: heu d'omplir les dues paraules escrites amb escriptura manuscrita una mica ambigua. Si no les esriviu correctament, no passa res : podeu tornar a fer-ho tantes vegades com vulgueu, i no perdreu cap de la informació que heu omplert en els altres camps en el procés.