%p
  Para entrar em
  %strong
    = @current_community.full_name(I18n.locale)
  precisa de um convite. Se possuir um convite, por favor, insira o código no espaço abaixo.

%p
  Com o uso de convites, tentamos certificar-nos que o #{service_name} é um lugar de confiança.