% р
   Това потвърждение гарантира, че само реални хора могат да създават нови профили в #{service_name}. Потвърждението задържа всички спам ботове в мрежата, далеч от създаването на профили в #{service_name} и изпращане на спам до потребителите.

% р
   Потвърждението е много просто: трябва да попълните двете думи, написани с малко двусмислен почерк. Ако сгрешите думите, не се притеснявайте: можете да опитате отново толкова пъти, колкото искате, и няма да загубите нито една част от информацията, която сте попълнили в другите области в процеса.