%p 
  Per unir-te a
  %strong 
    = @current_community.full_name(I18n.locale) 
  necessites una invitaci처. Si tens una invitaci처, si us plau introdueix el codi en  el quadre seg체ent.
 
%p 
  Utilitzant codis d'invitaci처, intentem assegurar-nos que tots els usuaris de #{service_name} siguin fiables.