%p 
  Acesta confirmare ne asigura ca doar oamenii pot crea conturi în #{service_name}. Aceasta confirmare previne crearea de conturi pe #{service_name} de catre tot felul de roboti ai internetului si trimiterea de mesaje spam catre utilizatori.
 
%p 
  Confirmarea este foarte simpla: trebuie sa completati cele doua cuvinte scrise ambiguu. Nu va faceti griji daca ati gresit cuvintele: puteti incerca de cate ori aveti nevoie si nu veti pierde informatia pe care ati introdus-o in celelalte campuri.