%p
  Deze confirmatie garandeert dat enkel mensen nieuwe accounts kunnen aanmaken in {service_name}. Dit houdt allerlei soorten spam robots weg die hun eigen accounts zouden kunnen aanmaken in {service_name} om ongewenste berichten naar andere gebruikers te sturen.

%p
  De confirmatie is erg simpel: vul de twee woorden in die geschreven staan in handschrift. Geen probleem als je een fout maakt: je kan zo dikwijls als je wil opnieuw proberen zonder andere informatie die je eerder al invulde te verliezen.