%p 
  Pentru a deveni membru
  %strong 
    = @current_community.full_name(I18n.locale) 
  ai nevoie de o invitație. Dacă ai o invitație introduceți codul in câmpul de mai jos.
 
%p 
  Folosind coduri de invitație încercăm sa ne asigurăm că toți  #{service_name} utilizatori sunt de încredere.