%p
  Pour vous joindre à une communauté #{service_name}
  %strong  
    = @current_community.name 
  il vous faut une invitation. Si vous avez une invitation, veuillez saisir le code dans le champ dessous.