%p 
 この確認は以下を保障します。{service_name}でのアカウントを作成出来る人だけに対するものです。この確認作業は{service_name}内でスパムや攻撃メールの類のメールをユーザに送るのを避け続けます。
 
%p 
  確認作業はとても簡単です。少し曖昧な筆跡で書かれた二つの単語を記入する必要があります。もし言葉のスペルを間違えた場合でも、安心してください：何回でも再試行することができ、手続き中、記入済みの情報を失うことはありません。