%p 
  Aby dołączyć
  %strong 
    = @current_community.full_name(I18n.locale) 
  musisz mieć zaproszenie. Jeżeli je masz, wprowadź kod w polu poniżej. 
 
%p 
  Poprzez używanie kodów staramy się, aby użytkownicy {service_name} byli zaufani.