% p
   Denne bekræftelse sikrer, at kun mennesker kan oprette nye konti i #{service_name}. Bekræftelsen holder alle former for grimme web-crawling spammer robotter væk fra at oprette konti i #{service_name} og sende spam til brugere.
 
% p
   Bekræftelsen er meget enkel: du skal udfylde de to ord skrevet i en lidt utydelig håndskrift. Hvis du staver ordene forkert kan du blot prøve igen så mange gange du vil, og du vil ikke miste nogen af de oplysninger du har udfyldt i de andre felter i processen.