%p
  Denna bekräftelse försäkrar att bara människor kan skapa nya konton hos #{service_name}. Bekräftelsen håller alla typer av robotar och spammare borta från att skapa konto på #{service_name} och för att skicka spam till användare. 
 
%p 
  Bekräftelsen är mycket enkel: du behöver bara fylla i de två orden som är skrivna i handstil. Om du skrev fel ord så gör det inget. Du kan försöka hur många gånger du vill.