%p 
  Um die beitreten zu können
  %strong  
    = @current_community.full_name(I18n.locale) 
  benötigen Sie eine Einladung. Falls Sie eine Einladung haben, so schreiben Sie diese in das untere Feld.  
 
%p 
  Mit der Nutzung von Einladungscodes wollen wir sicherstellen dass alle #{service_name} Benutzer vertrauensvolle Beteiligte sind.