Bu doğrulama {service_name}'ta sadece kişilerin yeni hesap oluşturmasını temin etmek için vardır. Bu doğrulama her türlü robot uygulamasının {service_name}'ta hesap oluşturmasının ve kullanıcılara spam göndermesinin önüne geçmektedir.

Bu doğrulamayı gerçekleştirmek çok basittir: Biraz karışık bir el yazısıyla yazılmış iki kelimenin ilgili kutucuğa girilmesi gerekmektedir. Kelimelerin yanlış girilmesi durumunda herhangi bir sorun oluşmaz: İstediğiniz kadar deneyebilirsiniz. Deneme sürecinde diğer alanlarda doldurduğunuz bilgiler kaybolmayacaktır.