%p 
  To join 
  %strong 
    = @current_community.full_name(I18n.locale) 
  teil peab olema kutse. Kui olete kutse saanud, siis palun sisetage kood andmeväljale all. 
 
%p 
  Kasutame kutseid selleks, et olla kindlad, et kasutajad #{service_name} on usaldusväärsed.