%p 
  Diese Bestätigung versichert, dass nur Menschen ein Konto in #{service_name} erstellen können. Die Bestätigung hält allerlei lästige Web-Crawling-Spam-Roboter fern, damit diese keine Konten in #{service_name} erstellen können und sie somit keinen Spam an andere Nutzer senden können.
 
%p 
  Die Bestätigung ist sehr einfach: Du musst einfach nur die zwei Wörter, die in unklarer Handschrift daneben stehen, in ein Feld schreiben. Es ist kein Problem, falls du dich verschreibst, da du es immer wieder probieren kannst und somit auch keine schon eingegebenen Informationen verloren gehen.