%p 
...Šis patvirtinimas užtikrina, kad tik žmonės galėtų sukurti naujas #{service_name} paskyras. Šis patvirtinimas neleidžia kenksmingiems interneto robotams kurti #{service_name} paskyras ir siųsti šlamštą vartotojams. 

%p
...Patvirtinimas labai paprastas: jums reikia įrašyti du žodžius parašytus dviprasmiška rašysena. Jei padarysite klaidą, nieko tokio: galite bandyti tiek kartų kiek norite neprarasdami informacijos, kurią užpildėte anksčiau.