Cette confirmation permet de vérifier qu'uniquement des personnes pourront créer un nouveau compte Kassi. La confirmation empêche tout type de robot de spam de créer leurs compte sur Kassi, afin d'envoyer du spam aux autres utilisateurs.

La procédure de confirmation est très simple : vous devez remplir les deux mots écrits "à la main" d'une manière un peu floue. Pas de crainte au cas où vous feriez une petite faute de frappe : vous pouvez réessayer autant de fois qu'il vous le faut, sans perdre les informations remplies dans les autres champs.