%p
  To join
  %strong
    = @current_community.full_name(I18n.locale)
  you need to have an invite. If you have an invite, please enter the code in the box below.

%p
  By using invitation codes we try to make sure that all #{service_name} users are trustworthy parties.