%p
  Para ingressar
  %strong
    = @current_community.full_name(I18n.locale)
  você precisa de um convite. Se possuir um, por favor, entre com o codigo na caixa a baixo.

%p
  Usando códigos nós tentamos certificar que todos usuários do #{service_name} são confiáveis..
