%p 
  Acestă confirmare ne asigură că doar oamenii pot crea conturi în #{service_name}. Această confirmare previne creearea de conturi pe #{service_name} de catre tot felul de roboți ai internetului și trimiterea de spam către utilizatori
 
%p 
  Confirmarea este foarte simplă: trebuie să completezi cele două cuvinte scrise ambiguu. Nu-ți face griji dacă ai greșit cuvintele: poți să încerci de câte ori ai nevoie și nu vei pierde informația pe care ai introdus-o în celelalte câmpuri.