 %p  
  Por unuiĝi al la komunumo 
  %strong   
    = @current_community.full_name(I18n.locale)  
  vi devas havi inviton. Se vi havas ĝin, bonvolu entajpi la kodon en la malsupran enigujon.
  
%p  
  Per la uzado de invitkodoj, ni klopodas certiĝi pri tio ke ĉiuj la uzantoj de #{service_name} estu fidindaj.