%p
سينضم إلى
%s
    = @current_community.full_name(I18n.locale) 
يجب أن يكون لديك دعوة, في حال لديك دعوة, الرجاء إدخال الرمز في المربع بالأسفل

%p
بإستخدام رموز الدعوة, نحن نضضمن أن جميع مستخدمي ‎{service_name}‎ هم أعضاء موثوقين.