%p
  Để tham gia cộng đồng #{service_name}
  %strong 
    = @current_community.full_name(I18n.locale)
  bạn cần có lời mời. Nếu bạn có lời mời, hãy nhập mã số vào hộp dưới đây. 

%p
  Bằng cách sử dụng mã số lời mời chúng ta cố gắng để đảm bảo rằng tất cả người dùng #{service_name} là những nhóm đáng tin cậy.