%p
  Díky tomuto potvrzení víme, že jenom skuteční lidé si otevírají na tržišti účty #{service_name}. Máme tedy jistotu, že žádný robot se nedostane na #{service_name} a nebude uživatelům zasílat spam.

%p
  Samotné potvrzení je jednoduché: stačí, když opíšete dvě slova. Nebojte se, že se spletete, máte neomezeně pokusů a nepřijdete o žádná již zadaná data.