%p
   Šis apstiprinājums nodrošina, to, ka tikai cilvēki var izveidot jaunus kontus #{service_name}. Apstiprinājums attur visu veidu neparedzētu tīmekļa pārmeklēšanas spamerus robotus no kontu izveides #{service_name} un surogātpastu nosūtīšanas lietotājiem.
 
%p
   Apstiprinājums ir ļoti vienkāršs: Jums ir jāieraksta divi vārdi, kas rakstīti mazliet neskaidrā rokrakstā. Ja Jūs nepareizi uzrakstījāt vārdus, nebaidieties: Jūs varat mēģināt vēlreiz tik daudz reižu, cik vēlaties, un Jūs nepazaudēsiet informāciju, kuru jau esat ierakstījis citos laukos.