%p 
  Para ingressar 
  %strong  
    = @current_community.full_name(I18n.locale) 
  você precisa de um convite. Se possuir um, por favor, entre com o codigo no espaço abaixo.  
 
%p 
  Com o uso de convites nós tentamos certificar que  #{service_name} seja um lugar de confiança.