%p 
  Για να συμμετέχεις στην κοινότητα
  %strong  
    = @current_community.full_name(I18n.locale) 
  πρέπει να έχεις πρόσκληση. Αν έχεις πρόσκληση, παρακαλούμε γράψε τον κωδικό στο παρακάτω πλαίσιο.  
 
%p 
  Χρησιμοποιώντας προσκλήσεις με κωδικό προσπαθούμε να διασφαλίζουμε ότι όλοι οι χρήστες του #{service_name} είναι αξιόπιστοι.