%p
Për t'ju bashkuar
%strong
= @current_community.full_name(l18n.locale)
ju nevojitet një ftesë. Nese keni një ftesë, ju lutem shkruani kodin e saj në kornizën më poshtë.

%p
Duke përdorur kodin e ftesës mundohemi të sigurojmë që të gjithë përdoruesit e %s {service_name} janë legjitimë.