%p 
  To join 
  %strong 
    = @current_community.full_name(I18n.locale) 
  du skal have en invitation. Hvis du har en invitation, skal du indtaste koden i feltet nedenfor.
 
%p 
  Ved at bruge invitationskoder vi forsøger at sikre, at alle #{service_name} brugere er troværdige parter.