Þetta auðkenni tryggir að einungis manneskjur geti búið til nýja aðganga hjá #{service_name}. Auðkenning kemur í veg fyrir að tölvuhakkarar, vírusar og annað slíkt búi til aðgang hjá #{service_name} og sendi ruslpóst til notenda.

Auðkenning er mjög auðveld: þú þarft að fylla inn tvö orð sem skrifuð eru með óljósri rithönd. Ekki óttast að skrifa orðin vitlaust: þú getur reynt eins oft og þú getur og upplýsingar sem þú hefur fyllt inn nú þegar munu ekki glatast.