%p 
  Za registracijo 
  %strong 
    = @current_community.full_name(I18n.locale) 
  potrebuješ vabilo. Če že imaš vabilo, prosim vnesi kodo iz vabila v spodnje okence. 
 
%p 
  Z uporabo vabil se trudimo da so vsi #{service_name} uporabniki preverjene stranke.