%p 
  Per entrare in 
  %strong 
    = @current_community.full_name(I18n.locale) 
  devi avere un invito. Se hai un invito per favore inserisci il codice nel campo sottostante.
 
%p 
  Usando codici di invito cerchiamo di assicurare che tutti gli utenti di #{service_name} siano affidabili.