%p 
  Cette confirmation permet de vérifier que seules les personnes réelles pourront créer un nouveau compte #{service_name}. La confirmation empêche les robots de spam de créer leurs compte sur #{service_name} et d'envoyer du spam aux autres utilisateurs. 
 
%p 
  La procédure de confirmation est très simple : vous devez remplir les deux mots écrits "à la main" dans une écriture floue. Pas de crainte au cas où vous feriez une petite faute de frappe : vous pouvez essayer autant de fois qu'il le faut, sans perdre les informations remplies dans les autres champs.