%p
   Щоб приєднатися до
   %strong
     = @current_community.full_name(I18n.locale)
   потрібно отримати запрошення. Якщо воно у вас є, введіть його код нижче.
 
%p
   Використовуючи коди запрошень, ми маємо на меті створення спільнот, заснованих на довірі користувачів #{service_name} один до одного.