%p 
  சேர
  %strong 
    = @current_community.full_name(I18n.locale) 
  உங்களுக்கு அழைப்பு வேண்டும். உங்களிடம் அழைப்பு இருந்தால் அதன் குறியீட்டை கீழுள்ள கட்டத்துக்குள் உள்ளிடவும்.
 
%p 
அழைப்பு குறியீட்டை பயன்படுத்துவதன் மூலம் அனைத்து {service_name} பயோகிப்பாளர்களும் நம்பிக்கையானவர்கள் என உறுதி செய்ய முயற்சி செய்கிறோம்