%p
  Para unirte a la comunidad
  %strong
    = @current_community.full_name(I18n.locale)
  necesitas tener una invitación. Si tienes una, por favor ingresa el código en el recuadro de más abajo.

%p
  Mediante el uso de los códigos de invitación, tratamos de asegurarnos de que todos los usuarios de #{service_name} son fidedignos.