%p
  Ez a megerősítés azért szükséges, hogy valóban csak létező emberek tudjanak regisztrálni itt: #{service_name}. Ezzel próbáljuk távoltartani a webet böngésző spammer robokat, hogy ne tudjanak #{service_name} fiókot létrehozni és a felhasználókat spam-elni.

%p
  A megerősítés nagyon egyszerű: két szót lát a képernyőn, amelyek viszonylag nehezen kiolvashatóak. Ezeket írja be. Ha elrontotta, semmi gond, többször is megpróbálhatja és a többi beírt információ nem vész el.