%p
   Ta potrditev zagotavlja, da lahko samo ljudje ustvarijo nove račune v #{service_name}. Potrditev preprečuje vse vrste neprijetnih robotov za pošiljanje neželene pošte, ki iščejo po spletu, od ustvarjanja računov v #{service_name} in pošiljanja neželene pošte uporabnikom.
 
%p
   Potrditev je zelo preprosta: izpolniti morate dve besedi, napisani z nekoliko dvoumno pisavo. Če ste napačno črkovali besede, se ne bojte: poskusite lahko znova, kolikorkrat želite, in pri tem ne boste izgubili nobenih podatkov, ki ste jih izpolnili v drugih poljih.