%p 
  Liittyäksesi Kassi-yhteisöön 
  %strong  
    = @current_community.name 
  tarvitset kutsun. Jos sinulla on kutsu, kirjoita kutsukoodi alla olevaan kenttään.
  
%p
  Kutsukoodien käytöllä pyritään varmistamaan, että kaikki yhteisön jäsenet ovat luotettavia tahoja.