%p 
  Pridať sa
  %silný
     @current_community.full_name(I18n.locale)
  musíte byť pozvaný. Ak máte pozvánku, prosím, zadajte kód do poľa nižšie.

%p 
  Pomocou kódov pozvánok sa snažíme ubezpečiť, že všetci # {service_name} používatelia sú dôveryhodnými stranami.