%p
  Deze bevestiging garandeert dat enkel echte mensen accounts kunnen aanmaken op {service_name}. Dit houdt allerlei soorten spam robots tegen die  ongewenste berichten naar andere gebruikers kunnen te sturen.

%p
  De bevestiging is zeer eenvoudig: vul alstublieft de twee handgeschreven woorden in. U kunt de woorden zo vaak als u wilt opnieuw invoeren zonder dat bovenstaande informatie verloren gaat. 