%p
  เข้าร่วม
  %strong
    = @current_community.full_name(I18n.locale) 
  คุณต้องถูกเชิญ ถ้าคุณได้รับการเชิญแล้ว กรุณาใส่รหัสในกล่องข้างล่าง

%p
  จากการใช้รหัสการเชิญนี้ เราพยายามทำให้แน่ใจว่าผู้ใช้ #{service_name} เป็นที่น่าเชื่อถือ