%p
  Da bi pristupili
  %strong= @current_community.full_name(I18n.locale) 
  potrebno je da imate pozivnicu. Ako imate pozivnicu, unesite kod u polje ispod.

%p
  Korištenjem kodova pozivnica želimo biti sigurni da su svi #{service_name} korisnici od povjerenja.