%p
  Esta confirmação garante que apenas pessoas possam criar novas contas no #{service_name}, impedindo que robots nocivos, rastreadores da internet, o possam fazer para enviar spam a usuarios de #{service_name}.

%p
  A confirmação é muito simples: basta preencher o campo com as duas palavras que vê escritas em caligrafia um pouco ambígua. Se cometer erros, não se preocupe: poderá tentar novamente quantas vezes quiser, e não perderá a informação dos campos já preenchidos.