%p 
  Acesta confirmare ne asigura ca doar oamenii pot crea conturi în #{service_name}. Aceasta confirmare previne crearea de conturi pe #{service_name} de catre tot felul de roboti ai internetului si trimiterea de mesaje spam catre utilizatori.
 
%p 
  Confirmarea este foarte simplă: trebuie să completați cele două cuvinte scrise cu o scriere de mână puțin ambiguă. Dacă scrieți greșit cuvintele, nu vă temeți: puteți încerca din nou de câte ori doriți și nu veți pierde niciuna dintre informațiile pe care le-ați completat în celelalte câmpuri din proces.