%p 
  Lai pievienotos 
  %strong 
    = @current_community.full_name(I18n.locale) 
  Jums nepieciešams uzaicinājums. Ja Jums ir uzaicinājums, lūdzu ievadiet kodu apakšējā logā. 
 
%p 
  Izmantojot uzaicinājuma kodus, mēs cenšamies pārliecināties, ka visi #{service_name} lietotāji ir uzticami dalībnieki.