%p
  Esta confirmación asegura que sólo personas podrán crear nuevas cuentas en #{service_name}. Esta confirmación impide que desagradables robots y arañas spammer creen cuentas en #{service_name} y envíen correos no deseados a los usarios.

%p
  La confirmación es muy simple: tienes que rellenar el espacio con las dos palabras, escritas manualmente de manera un poco ambigua. Si te equivocas al escribirlas, no te preocupes: puedes tratar las veces que quieras y, aún así, no perderás ningún tipo de información que hayas llenado en otros campos del proceso.