%p 
  Um die  #{service_name} community beitreten zu können
  %strong  
    = @current_community.name 
  benötigen Sie eine Einladung. Falls Sie eine Einladung haben, so schreiben Sie diese in das untere Feld.  
 
%p 
  Mit der Nutzung von Einladungscodes wollen wir sicherstellen dass alle #{service_name} Benutzer vertrauensvolle Beteiligte sind.