%p 
  Pentru a deveni membru al comunitatii
  %strong 
    = @current_community.full_name(I18n.locale) 
  ai nevoie de o invitație. Dacă ai o invitație completează codul in câmpul de mai jos.
 
%p 
  Folosind coduri de invitație încercăm sa ne asigurăm că toți utilizatorii #{service_name} sunt de încredere.