%p 
  Para entrar
  %strong  
    = @current_community.full_name(I18n.locale) 
  você precisa de um convite. Se possuir um convite, por favor, entre com o código no espaço abaixo.  
 
%p 
  Com o uso de convites nós tentamos nos certificar que  #{service_name} seja um lugar de confiança.