% p
   Konfirmasi ini menjamin, bahwa hanya orang yang dapat membuat account baru di #{service_name}. Konfirmasi melindungi dari semua jenis kejahatan  robot spammer untuk membuat akun di #{service_name} dan mengirim spam ke pengguna.
 
% p
   Konfirmasi ini sangat sederhana: Anda perlu mengisi dua kata yang ditulis dalam tulisan tangan. Jika Anda salah mengeja kata, jangan takut: Anda dapat mencoba lagi sebanyak yang Anda butuhkan, dan Anda tidak akan kehilangan informasi yang telah Anda isikan.