%p 
  Za registraciju
  %strong 
    = @current_community.full_name(I18n.locale) 
  treba vam pozivnica. Ako je imate unesite kod u polje ispod. 

%p 
  Pozivnice koristimo kako bi svi korisnici #{service_name} bili ljudi od poverenja.