%p 
  For å bli med i
  %strong 
    = @current_community.full_name(I18n.locale) 
  trenger du en invitasjon. Hvis du har blitt invitert, kan du skrive inn invitasjonskoden nedenfor.
 
%p 
  Vi benytter oss av invitasjonssystem for å sikre at alle brukere på #{service_name} er til å stole på.