%p
  Для того, чтобы присоединиться к сообществу
  %strong 
    = @current_community.full_name(I18n.locale)
  требуется получить приглашение. Если у вас оно есть, введите его код ниже.

%p 
  Используя коды приглашений мы преследуем цель создания сообществ, основанных на доверии пользователей #{service_name} друг к другу.