%p 
  Vďaka tomuto potvrdeniu vieme, že iba skutočný ľudia si otvárajú na trhovisku účty #{service_name}. Máme teda istotu, že žiadny robot sa nedostane na #{service_name} a nebude užívateľom zasielať spam. 
 
%p 
  Samotné potvrdenie je jednoduché: stačí, keď opíšete dve slová. Nebojte se, že se pomýlite, máte neobmedzený počet pokusov a neprídete o žiadne zadané dáta.