%p 
  Questa conferma assicura che solo persone fisiche possono creare un nuovo account in {service_name}. La conferma tiene lontani i robot spammer dal creare nuovi account falsi in {service_name} dall'inviare spam agli utenti.
 
%p 
  È molto semplice dare conferma del nuovo account: è necessario inserire le due parole scritte in un carattere simile alla scrittura manuale. Se si inseriscono i caratteri sbagliati si può riprovare all'infinito senza perdere le informazioni richieste e già inserite negli altri campi.