%p
  This confirmation assures, that only people can create new accounts in #{service_name}. The confirmation keeps all kinds of nasty web-crawling spammer robots away from creating accounts in #{service_name} and sending spam to users.

%p
  The confirmation is very simple: you need to fill in the two words written in a bit ambiguous handwriting. If you misspell the words, fear not: you can try again as many times as you like, and you will not lose any of the information you filled in the other fields in the process.