%p 
  Essa confirmação garante que apenas pessoas possam criar novas contas no #{service_name} e serve para impedir robôs de criar conta no #{service_name} e enviar spam para todos os usuários.

 
%p 
  A confirmação é muito simples: você precisa reescrever as duas palavras escritas a mão que aparecem na tela. Se você errar as palavras, não se preocupe: você poderá tentar novamente quantas vezes quiser e não perderá nenhuma informação que preencheu anteriormente.