%p
  Da bi pristupili #{service_name} zajednici
  %strong  
    = @current_community.name 
  potrebno je da imate pozivnicu. Ako imate pozivnicu, unesite
kod u polje ispod.  
 
%p 
  Korištenjem kodova pozivnica želimo biti sigurni da su svi #
{service_name} korisnici od povjerenja.