%p
  To join the #{service_name} community
  %strong 
    = @current_community.name
  you need to have an invite. If you have an invite, please enter the code in the box below. 

%p
  By using invitation codes we try to make sure that all #{service_name} users are trustworthy parties.