%p 
  Essa confirmação garante que apenas pessoas possam criar novas contas no #{service_name}. A confirmação mantem todos os tipos de robos spammers sem criar contas no #{service_name} e impedem que eles enviem spams. 
 
%p 
  A confirmação é muito simples: você precisa preencher as duas palavras escritas em linguagem ambígua. Se você errar as palavras não se preocupe você poderá tentar novamente quantas vezes quiser, e não perderá nenhuma informação que preencheu em outros processos.