%p
  Tämä varmistus takaa, että ainoastaan ihmiset pystyvät luomaan uuden tunnuksen #{service_name}-palvelussa. Varmistus pitää loitolla ilkeämielisten tahojen tekemät robotit, jotka pyrkivät luomaan tunnuksia löytämiinsä verkkopalveluihin ja lähettämään niiden käyttäjille roskapostiviestejä.

%p
  Varmistus toimii yksinkertaisesti: sinun tulee syöttää kenttään kaksi yllä näkyvää, hieman epäselvällä käsialalla kirjoitettua sanaa. Jos sanat menevät väärin, ei hätää: voit yrittää uudestaan niin monta kertaa kuin haluat. Muut syöttämäsi tiedot eivät myöskään huku, vaikka syöttäisit sanat väärin.