P%
هذا التأكيد يضمن ان الاشخاص فقط يمكنهم إنشاء حسابات جديدة في #{service_name}. 
التأكيد يبقي جميع أنواع روبوتات البريد العشوائي المزعجة على الويب بعيدة عن إنشاء حسابات في#{service_name} وإرسال رسائل غير مرغوب فيها إلى المستخدمين.
%p
لتأكيد بسيط للغاية: تحتاج إلى كتابة الكلمتين بخط يد غامض بعض الشيء. إذا أخطأت في تهجئة الكلمات ، فلا تخف: يمكنك إعادة المحاولة اكثر من مرة ، ولن تفقد أيًا من المعلومات التي ملأتها في الحقول الأخرى في العملية