%p 
  Untuk gabung 
  %strong 
    = @current_community.full_name(I18n.locale) 
  anda harus mendapat undangan. Jika anda mendapat undangan, silahkan masukkan kodenya pada kotak dibawah. 
 
%p 
  Dengan menggunakan kode undangan kami mencoba untuk memastikan bahwa semua pengguna #{service_name} adalah pihak - pihak yang dapat dipercaya.