%p
  Om aan te sluiten
  %strong
    = @current_community.full_name(I18n.locale)
  heb je een uitnodiging nodig. Als je die hebt, breng dan de bijbehorende code hieronder in.

%p
  Door gebruik te maken van uitnodigingen trachten we ervoor te zorgen dat alle #{service_name} gebruikers betrouwbaar zijn.