%p 
  Untuk join 
  %strong 
    = @current_community.full_name(I18n.locale) 
  Anda harus mendapat invitasi. Jika Anda mendapat invitasi, silakan masukkan kode invitation pada kotak dibawah. 
 
%p 
  Dengan menggunakan kode invitasi kami mencoba untuk memastikan bahwa semua pengguna #{service_name} dapat dipercaya.