%p
  Эта проверка нужна для того, чтобы удостовериться, что новые учётные записи в #{service_name} создают реальные люди, а не боты, рассылающие спам или вирусы #{service_name}.

%p
  Пройти проверку очень просто: вам нужно ввести в поле два слова с картинки. Если вы ошибётесь, ничего страшного — вы всегда сможете попробовать ещё столько раз, сколько потребуется, при этом уже введённая вами информация не потеряется.