%p 
  Ova potvrda omogućuje da samo ljudi mogu kreirati novi korisnički račun u  #{service_name}.  Ovom potvrdom također spriječavamo sve vrste neugodnih web spamera od kreiranja korisničkih računa u #{service_name} te slanja spama prema korisnicima.

%p 
  Potvrda je vrlo jednostavna: ispunite polje sa dvije riječi napisane u malo dvosmislenom načinu pisanja. Ako krivo napišete riječi, ne brinite: možete pokušati ponovno koliko god puta želite i nećete izgubiti ništa od informacija koje ste popunili u drugim poljima u procesu.