%p
  შეერთება 
  %sძლიერი 
    =@current_community.full_name(I18n.locale) 
  თქვენ გჭირდებათ მოსაწვევი. თუ გაქვთ მოსაწვევი, გთხოვთ მიუთითეთ კოდი ქვევით გრაფაში,

%p
  მოწვევის კოდის გამოყენებით ჩვენ გვინდა დავრწმუნდეთ, რომ ყველა # {service_name} მომხმარებელი იმსახურებს ნდობას.