%p
  To potwierdzenie zapewnia, że tylko ludzie mogą tworzyć nowe konta w platformie #{service_name}. Potwierdzenie zabezpiecza przed robotami skanującymi sieć (i wysyłającymi spam) i uniemożliwia im tworzenie kont w #{service_name} i wysłania niechcianych wiadomości do użytkowników.

%p
  Potwierdzenie jest bardzo proste: będziesz musiał podać dwa słowa napisane trudnym charakterem pisma. Jeżeli pomylisz pisownię, nie bój się: możesz spróbować ponownie tak wiele razy jak chcesz i nie utracisz żadnej informacji, którą wypełniłeś w innych polach w trakcie procesu.