%p
  Om deel te nemen
  %strong
    = @current_community.full_name(I18n.locale)
  heb je een uitnodiging nodig. Als je in het bezit bent van een uitnodiging voer de bijbehorende code dan hieronder in.

%p
  Door gebruik te maken van uitnodigingen proberen we ervoor te zorgen dat alle #{service_name} gebruikers betrouwbaar zijn.