%p
  For at kunne joine
  %strong
    = @current_community.full_name(I18n.locale)
  skal du have en invitation. Hvis du har en invitation, skal du indtaste koden i feltet nedenfor.
%p
  Det hjælper os med at sikre, at alle #{service_name}-medlemmer er troværdige.