%p
  Dzięki temu potwierdzeniu mamy pewność, iż prawdziwi ludzie tworzą konta na platformie #{service_name}. Potwierdzenie zabezpiecza przed robotami skanującymi sieć i wysyłającymi spam. Uniemożliwia im tworzenie kont w #{service_name} i wysłania niechcianych wiadomości do użytkowników.

%p 
  Sposób potwierdzenia jest bardzo prosty: będziesz musiał podać dwa słowa napisane trudnym charakterem pisma. Jeżeli pomylisz pisownię nic się nie stanie: możesz spróbować ponownie, tyle razy ile chcesz. Nie martw się - nie utracisz żadnej informacji, którą wprowadziłeś wcześniej w innych polach.