%p 
  Pridružiti se
  %strong 
    = @current_community.full_name(I18n.locale) 
 morate imeti povabilo. Če imate povabilo, vnesite kodo v spodnje polje. 
 
%p 
  Z uporabo vabil se trudimo, da so vsi uporabniki #{service_name} zaupanja vreden.