%p
ეს დასტურის წერილი ადასტურებს, რომ მხოლოდ ხალხს შეუძლია შექმნას ახალი ანგარიში {service_name}-ში. ეს დასტური იცავს თქვენს ანგარიშს ყველა ტიპის მომაბეზრებელი სპამერებისგან, ანუ ისინი ვერ შეძლებენ შექმან ანგარიში {service_name}-ში ან დააგზავნონ სპამები მომხმარებლებთან.

%p
ეს დასტური ძალიან მარტივია. თქვენ უნდა შეავსოთ ორი სიტყვა დაწერილი ცოტა გაურკვეველი ხელწერით. თუ თქვენ წერისას შეცდომას დაუშვებთ, არ შეგეშინდეთ: თქვენ შეგიძლიათ ცადოთ იმდენჯერ, რამდენჯერაც გსურთ და თქვენ არ დაკარგავთ უკვე შევსებულ ინფორმაციას, რომელიც შევსების პროცესში შეიყვანეთ.