%p 
  Aby dołączyć
  %strong 
    = @current_community.full_name(I18n.locale) 
  musisz mieć zaproszenie. Jeżeli posiadasz zaproszenie, wprowadź kod w polu poniżej. 
 
%p 
  Dzięki wykorzystaniu kodów mamy pewność, że użytkownicy {service_name} są zaufani.