%h3 Information for Participants in a Scientific Research
%br/
%p
  %b This document describes the purpose, progress and other aspects of the study in question, as required by the ethical rules of research on human subjects, and as decreed by the HIIT Ethical Committee. The Ethical Committee has granted approval for human research to be carried out in the study for the purposes given in this document and for the methods listed in it.

%h4 Invitation

%p 
  You are invited to take part in a scientific user study led by Professor Martti Mäntylä of the Helsinki Institute for Information Technology (HIIT), a joint research institution of the Helsinki University of Technology and the University of Helsinki. The study forms a part of the OtaSizzle project in the MIDE Programme of Helsinki University of Technology. The study involves several test subjects. Participation is voluntary.
  
%h4 Purpose of the Research
%p 
  In line with the project to which it belongs, this study examines social media services and the use of those services. By collecting information on our test subjects, we hope to learn what is most important for service users. The ultimate aim of the study is to produce results that can be used in designing and creating better services.

%h4 Risks and Discomfort
%p 
  The methods used during the study present no greater risk to the subjects than normal use of computers and mobile phones does. In the study’s possible interviews and questionnaires you are entitled to skip any questions you are uncomfortable with. Observation of users’ actions “in the field”, in their daily lives, may also be included in the study. This kind of study would be informed in advance and the observers will introduce themselves in advance to test subjects and tell them about the research and their methods. Observation is not obligatory and you have right to refuse to participate. 

%h4 Benefits for Participants and the Community 
%p 
  We strive to make the tested services at least partially useful, so that participants in the study will receive some benefit from using them. There is no other particular benefit from participating in the study. Although you receive no personal gain from participating, we believe that by taking part you will help to produce information that will lead to better services being designed and offered in the future.

%h4 Confidentiality
%p 
  During the study, we will collect data on you and your use of services. Data is collected partly by asking you directly and observing your actions, but also by collecting some information automatically during use of service. All the data collected on you during the study is treated confidentially and is never disclosed to third parties without express consent from you, unless it is required by law. Users who use services with their mobile phones can also be asked to install SP360 software in their mobile phones, but it is voluntary. If you are using SP360 software, Nokia has access to the data collected by the software, as described in the SP360 consent document. Data related to you is only used in combination with other data. In the analysis, data will be collated using phone numbers, IMEI codes and other identifiers. All identifying data will be destroyed at the latest at the end of this five-year project; earlier, if possible in practice. Whenever the study’s outcomes are published or processed scientifically or otherwise, individual test subjects will not be mentioned, nor can they be identified from the data. There is a public data file description that determines how data is processed, stored and eventually destroyed.

%p 
  This research complies with the Finnish Personal Data Act (523/1999), which is based on EU legislation.

%h4 Participation and Cancellation 
%p 
  Participation in the study is completely voluntary. If you decide to take part in the study, you have the right to cancel your participation at any time, without any consequences. You also have the right not to answer any questions you don't want to answer, and still continue participating in the study. In the unlikely event that the circumstances should require it, the Research Director has the right to cancel your participation.

%h4 Researchers’ Contact Details
%p 
  For more information on the study or in case of any questions, please contact:

%p 
  Helsinki University of Technology, Helsinki Institute for Information Technology

%p 
  Research Director:
  %br/
  Professor Martti Mäntylä
  %br/
  Tel.: +358 (0)9 4511
  %br/
  Email: martti.mantyla (ät) hiit.fi

%p 
  Practical matters:
  %br/
  Project Manager Olli Pitkänen
  %br/
  Tel.: +358 (0)9 4511
  %br/
  Email: olli.pitkanen (ät) hiit.fi