%p
  Kassi is a social media service that allows its users to change favors and items and communicate with each other. It is a part of Helsinki University of Technology’s (TKK) OtaSizzle-research project, where the service is being tested and developed. The project is conducted by Helsinki Institute for Information Technology HIIT, a joint research institute of TKK and University of Helsinki. The Kassi-service may only be used in accordance with these terms of use. TKK reserves the right to change these terms of use if required. Valid terms of use can be found from Kassi’s website. 

%h3 Rights of Content

%p
  The users themselves retain the right to all text, pictures and other content that they create in the service. The users allow others to utilize the content in accordance with the nature of the service and furthermore allow TKK to file information and data and make changes that are necessary for the service or the study, however other rights are not transferred from the users, unless specifically otherwise agreed. The responsibility of the content lies with the user, who has produced it to the service. TKK has the right to remove any material when it deems it necessary. 

%h3 Disclaimer

%p
  Kassi-service is experimental in its nature, as well as a part of a study, therefore no guarantees of its functioning can be given. HIIT, TKK and University of Helsinki can under no circumstances be liable for damage that is caused to the user. The user may not store any information or data in the service, and expect it to remain there. 

%h3 The Removal of a User 

%p
  TKK has the right to remove any users from Kassi and terminate their right of use of the service without any specific reason and without being liable for compensation.

%h3 Applicable Jurisdiction

%p
  The jurisdiction that is applicable in this service and these terms of use is that of Finland, unless something else is required by binding law.
  
%h3 Consent for study

%p
  By accepting these terms I also give my consent to a research study detailed below.

.consent
  = render :partial => "people/help_texts/consent"
  
.consent
  = render :partial => "people/help_texts/research_info"