- if @current_community
  - if @current_community.label.eql?("okl")
    = render :file => community_file("okl_terms", true)
  - else
    = render :file => community_file("terms", true)
- else
  = render :file => "communities/default/terms/terms.#{I18n.locale}.haml"