/* Main colors */
$bg_color: #f7f5e6;
$dark_green: #223f05;
$medium_brown: #765d3a;
$orange: #d45207;
$text_color: #464646;

/* Other colors */
$bg_color_dark: darken($bg_color, 10%);
$dark_brown: darken($medium_brown, 12%);
$dark_orange: darken($orange, 10%);
$darker_brown: #5d492e;
$darker_orange: darken($orange, 20%);
$error_text: #8a1f11;
$error_border: #fbc2c4;
$error_bg: #fbe3e4;
$form_bg: #d1c9b4;
$greyish_green: #ccd1b9;
$light_brown: lighten($medium_brown, 12%);
$light_green: #ececdb;
$light_green_bg: #ececdb;
$light_green_status_box: #d0e2ae;
$light_grey: lighten($text_color, 20%);
$light_orange: lighten($orange, 15%);
$light_red_status_box: #f1cecf;
$lighter_green: #3e6714;
$lighter_grey: lighten($text_color, 30%);
$lighter_orange: lighten($orange, 25%);
$listing_button_grey: #5c5c5c;
$listing_button_light_grey: #b8b19f;
$notice_text: #264409; 
$notice_border: #c6d880; 
$notice_bg: #e6efc2;
$teaser_bg: #e7b78d;
$unread_message: #efd6ba;
$warning_text: #514721;
$warning_border: #ffd324;
$warning_bg: #fff6bf;
$yellow: #fdf4bc;

/* Used to fix form padding problem in FF */
input[type="submit"]::-moz-focus-inner {border:0;}

/* Used for divs with rounded corners */
@mixin rounded($radius: 7px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/* Used for divs with rounded top or bottom */
@mixin half_rounded($side, $radius: 7px) {
  border-#{$side}-left-radius: $radius;
  border-#{$side}-right-radius: $radius;
  -moz-border-radius-#{$side}right: $radius;
	-moz-border-radius-#{$side}left: $radius;
  -webkit-border-#{$side}-right-radius: $radius;
	-webkit-border-#{$side}-left-radius: $radius;
}

/* Draws a thin line */
@mixin spacer($color: $medium_brown, $type: solid) {
	border-top: 1px $type $color;
	width: 100%;
	margin: 10px 0;
	padding: 0;
	height: 0;
}

/* Flash notification */

@mixin notification($type, $text, $border, $bg, $font-weight: bold) {
	margin: 0 5px;
	color: $text;
	border: 2px solid $border;
	background: $bg url("/assets/icons/notification_icon_" + $type + ".png") 5px 0 no-repeat;
	font-weight: $font-weight;
	font-size: 14px;
	padding: 5px 5px;
	overflow: hidden;
	width: 927px;
}

#notifications {
	margin-top: 15px;
	.notice {
		@include notification("notice", $notice_text, $notice_border, $notice_bg);
	}
	.error {
		@include notification("error", $error_text, $error_border, $error_bg);
	}
	.warning {
		@include notification("warning", $warning_text, $warning_border, $warning_bg);
	}
	.info_message{
		@include notification("info", $notice_text, $notice_border, $notice_bg, normal);
		line-height: 18px;
	}
}

.notifications {
	margin-top: 20px;
	.notice {
		@include notification("notice", $notice_text, $notice_border, $notice_bg);
	}
	.error {
		@include notification("error", $error_text, $error_border, $error_bg);
	}
}

/* Hidden div stuff */

@mixin hidden_div($width: 300px) {
	@include rounded(15px);
	width: $width;
	padding: 10px 10px 15px 10px;
	background: $bg_color;
	display: none;
	overflow: hidden;
	h3 {
		font-size: 14px;
		margin: 0;
		padding: 0;
		color: black;
	}
	h4 {
		font-size: 14px;
		margin: 0;
		padding: 0;
		color: black;
	}
}

@mixin hidden_title($width: 200px) {
	float: left;
	width: $width;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0 0 20px;
}