div.container_24, div.feedback_div { display: none; } 
.js_enabled div.container_24, .js_enabled div.feedback_div { display: block; }

.feedback_div {
	@include half_rounded(bottom);
	padding: 20px 20px 35px 20px;
  width: 250px;
 	background: lighten($dark_green, 5%);
	color: white;
	h3 {
		color: $bg_color;
		font-size: 16px;
		margin-bottom: 5px;
	}
}