.userName{
  vertical-align: top;
  position: relative;
  top: 9px;
  left: 10px;
}

.AvatarDropdown {
  width: auto !important;
}

.SearchBar__searchButton__1Ck2b svg {
  stroke: rgb(46, 18, 46);
}

.Avatar__avatar__Jub8R {
  border-radius: 0;
}

.shopping-cart {
	font-size: 35px;
}

.Topbar__topbarListingButton__2SNl8 span.AddNewListingButton_background {
	background: #fff !important;
	border-radius: 0 !important;
	border: 1px solid #d6d3d3 !important;
}


.AddNewListingButton__button__2H8yh {
	border-radius: 0 !important;
}

.AddNewListingButton_desktop {
	color: black !important;
	font-size: 25px !important;
}


.SearchBar__focusContainer__2uI0-::before {
	border-radius: 0 !important;
}

#topbar-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;  
}

.AddNewListingButton__mobile__2JhHF, .AddNewListingButton__desktop__17Luf {
	padding: 0 1em;
}

.Logo {
	margin: 0 auto;
}

.SearchBar__searchButton__1Ck2b{
	left: 0 !important;
	border-right: 1px solid #d6d3d3;
}

.SearchBar__keywordInput__2HTav:only-of-type, .SearchBar__locationInput__3g__8:only-of-type {
	margin-left: 25px;
}

.AddNewListingButton__desktop__17Luf{
	height: 42px;
}

.item-time {
	padding: 3px 8px;
    float: left;
    width: 100%;
    font-size: 12px;
    color: #a2a2a1;
}

.home-fluid-thumbnail-grid-author {
	background-color: #fff;
	height: auto;
}

.fluid-thumbnail-grid-image-image {
	border-radius: 0;
}

.fluid-thumbnail-grid-image-image-container {
	height: 300px; width: 100%;
	img{
		height:300px; width: 100%;	object-fit: contain;
    
	}
}

.product-details {
	.company-info {
		border-top: 2px solid #d6d3d3;
		padding: 1px 8px;
		font-weight: bold;
		float: left;
    	width: 100%;

	}
	.item-name {
		float: left;
		width: 100%;
		font-weight: normal;
		padding-left: 8px;
		margin-top: -6px;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

body{
  padding-top: 80px;
}