
.Link__link__3pNRT {
  vertical-align: top;
  position: relative;
   top: -18px;
  left: 10px;
}

.userName{
  vertical-align: top;
  position: relative;
  top: 5px;
  left: 10px;
}

.AvatarDropdown {
  width: auto !important;
}

.SearchBar__searchButton__1Ck2b svg {
  stroke: rgb(46, 18, 46);
}


.shopping-cart {
	font-size: 35px;
}



.SearchBar__focusContainer__2uI0-::before {
	border-radius: 0 !important;
}

#topbar-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;  
}

.AddNewListingButton__mobile__2JhHF, .AddNewListingButton__desktop__17Luf {
	padding: 0 1em;
}

.Logo {
	margin: 0 auto;
    padding-left: 50px;
}

.SearchBar__searchButton__1Ck2b{
    height: 100%;
	left: 0 !important;
	border-right: 1px solid #d6d3d3;
}

.SearchBar__keywordInput__2HTav:only-of-type, .SearchBar__locationInput__3g__8:only-of-type {
	margin-left: 25px;
}

.AddNewListingButton__desktop__17Luf{
	height: 42px;
}

.item-time {
	padding: 3px 8px;
    float: left;
    width: 100%;
    font-size: 12px;
    color: #a2a2a1;
}

.home-fluid-thumbnail-grid-author {
	background-color: #fff;
	height: auto;
}

.fluid-thumbnail-grid-image-image {
	border-radius: 0;
}

.fluid-thumbnail-grid-image-image-container {
	height: 300px; width: 100%;
	img{
		height:300px; width: 100%;	object-fit: contain;
    
	}
}

.product-details {
	.company-info {
		border-top: 2px solid #d6d3d3;
		padding: 1px 8px;
		font-weight: bold;
		float: left;
    	width: 100%;

	}
	.item-name {
		float: left;
		width: 100%;
		font-weight: normal;
		padding-left: 8px;
        font-size: 12px;
		margin-top: -6px;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

body{
  padding-top: 44px;
}
.Topbar__topbar__7GUWt {
    height: 45px;
    
}
.SearchBar__searchButton__1Ck2b svg {
 -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
top: 10px;
}

.SearchBar__form__27PQI {
  display: none;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  padding-left: 1.65em;
  z-index: 6;
  transition: height 1s ease-in;
  font-size: 16px

  /* When any child element of this form has focus, hilight the whole
     form using a pseudo element. See: http://stackoverflow.com/a/11167056 */
}

.SearchBar__mobileSearchOpen__34aWg .SearchBar__form__27PQI {
  display: -webkit-flex;
  display: flex;
}

@media (min-width: 1201px) {
  .SearchBar__form__27PQI {
    display: -webkit-inline-flex;
    display: inline-flex;
    position: relative;
    height: 36px;
    width: 480px;
    padding-left: 1.715em;
    top: 0;
    font-size: 14px;
  }
  }

@media (min-width: 1270px) {
  .SearchBar__form__27PQI {
    width: 480px;
  }
  }

.AvatarDropdown__avatarWithNotifications__1TdZT {
    top: -13px;
      height: 35px;  
}
.AvatarDropdown__avatarWithNotifications__1TdZT img {
    width: 35px;
}
.AddNewListingButton__desktop__17Luf {
widht: 80%;
height: auto;
}

.ProfileDropdown__rootArrowBelow__3YUUJ {
          top: -25px;
}
.ProfileDropdown__rootArrowTop__3Vvtx {
          top: -25px;
}

.ProfileDropdown__box__T_uM4 {
        top: 63px;
    
}

.home-toolbar-button-group-button {
    background-color: white;
    color: black;
}
.home-toolbar-button-group-button.selected {
    background-color: white;
    color: black;
}
.home-toolbar-button-group-button.selected:hover {
    background-color: black;
    color: white;
}
.Topbar__topbarMenuSpacer__3hqBi {
    width: 100px!important;
    float: right;
}
.MenuPriority__hiddenLinks__1LcCU {
    float: right;
}
.topbarMenuSpacer {
    width: 250px!important;
}
.MenuPriority {
    width: 250px!important;
    float: right;
}
