
.home-fluid-thumbnail-grid-item {
    min-height: 450px;
    max-height: 450px;

}
.wrapper {
    background-color: #fbfbfb;
}
.wrapper {
    .row {
            background-color: #fbfbfb;
    }
}

.background {
    background-color: #ffffff;
    width: auto;
    height: auto;
    overflow:auto;
}


.home-toolbar {
    background-color: white;
    border: 1.5px solid #e3e3e3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
        padding-top: 10px;
        padding-right: 10px;
    float: right;
           padding-left: 10px;
}

article.page-content {
        background-color: #fbfbfb;
}

#linebreak {
    border: 1.5px solid #e3e3e3;
    margin: 0 auto;
    min-height: 450px;
    max-height: 450px;
    width: 109%;
    position: relative;
    background-color: white;
}

#linebreak2 {
    margin: 0 auto;
    position: relative;
    background-color: white;
    padding-left: 5%;
}
.wrapper.row {
  padding-left: 5%;
}
.col-border {
    border: 1.5px solid #e3e3e3;
    background-color: white;
}
#desktop-filters {
    width: 100%;
    #filters {
        button {
            margin-left: 12px;   
        }
    }
}
.custom-filter-options {
    margin-left: 12px; 
}
.custom-filter-min-max-title {
      margin-left: 12px;   
    
}

.col-border {
    .row {
        .col-12{
            background-color: white;
        }
    }
}
.Link__link__3pNRT {
  vertical-align: top;
  position: relative;
   top: -18px;
  left: 10px;
}

.userName{
  vertical-align: top;
  position: relative;
  top: 5px;
  left: 10px;
  font-weight: bold;
}

.AvatarDropdown {
  width: auto !important;
}

.SearchBar__searchButton__1Ck2b svg {
  stroke: rgb(46, 18, 46);
}


.shopping-cart {
	font-size: 35px;
}



.SearchBar__focusContainer__2uI0-::before {
	border-radius: 0 !important;
}

#topbar-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;  
}

.AddNewListingButton__mobile__2JhHF, .AddNewListingButton__desktop__17Luf {
	padding: 0 1em;
}
.Logo__logoImage__3oOkB {
    top: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 9999;
}
.Logo {
	margin: 0 auto;
    padding-left: 50px;
}

.SearchBar__searchButton__1Ck2b{
    height: 100%;
	left: 0 !important;
	border-right: 1px solid #d6d3d3;
}

.SearchBar__keywordInput__2HTav:only-of-type, .SearchBar__locationInput__3g__8:only-of-type {
	margin-left: 25px;
}

.AddNewListingButton__desktop__17Luf{
	height: 42px;
}

.item-time {
	padding: 3px 15px;
    float: left;
    width: 100%;
    font-size: 12px;
    color: #a2a2a1;
}

.home-fluid-thumbnail-grid-author {
	background-color: #fff;
	height: auto;
}

.fluid-thumbnail-grid-image-image {
	border-radius: 0;
}

.fluid-thumbnail-grid-image-image-container {
	height: 300px; width: 100%;
	img{
		height:300px; width: 100%;	object-fit: contain;
    
	}
}
.product-details{
    margin: 0 auto;
    padding-left: 5%;
}
.product-details {
	.company-info {
		border-top: 2px solid #d6d3d3;
		padding: 1px 8px;
		font-weight: bold;
		float: left;
    	width: 95%;
        font-size: 15px;
	}
	.item-name {
		float: left;
		width: 100%;
		font-weight: normal;
		padding-left: 8px;
        font-size: 12px;
		margin-top: -6px;
	}
    .pull-right {
        font-weight: normal;
		padding-left: 8px;
        font-size: 12px;
    }
 
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

body{
  padding-top: 44px;
}
.Topbar__topbar__7GUWt {
    height: 45px;
    
}
.SearchBar__searchButton__1Ck2b svg {
 -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
top: 10px;
}

.SearchBar__form__27PQI {
  display: none;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  padding-left: 1.65em;
  z-index: 6;
  transition: height 1s ease-in;
  font-size: 16px

  /* When any child element of this form has focus, hilight the whole
     form using a pseudo element. See: http://stackoverflow.com/a/11167056 */
}

.SearchBar__mobileSearchOpen__34aWg .SearchBar__form__27PQI {
  display: -webkit-flex;
  display: flex;
}

@media (min-width: 1201px) {
  .SearchBar__form__27PQI {
    display: -webkit-inline-flex;
    display: inline-flex;
    position: relative;
    height: 36px;
    width: 480px;
    padding-left: 1.715em;
    top: 0;
    font-size: 14px;
  }
  }

@media (min-width: 1270px) {
  .SearchBar__form__27PQI {
    width: 480px;
  }
  }

.AvatarDropdown__avatarWithNotifications__1TdZT {
    top: -13px;
      height: 35px;  
}
.AvatarDropdown__avatarWithNotifications__1TdZT img {
    width: 35px;
}
.AddNewListingButton__desktop__17Luf {
widht: 80%;
height: auto;
}

.ProfileDropdown__rootArrowBelow__3YUUJ {
          top: -25px;
}
.ProfileDropdown__rootArrowTop__3Vvtx {
          top: -25px;
}

.ProfileDropdown__box__T_uM4 {
        top: 63px;
    
}

.home-toolbar-button-group-button {
    background-color: white;
    color: black;
}
.home-toolbar-button-group-button.selected {
    background-color: white;
    color: black;
}
.home-toolbar-button-group-button.selected:hover {
    background-color: black;
    color: white;
}
.Topbar__topbarMenuSpacer__3hqBi {
    width: 100px!important;
    float: right;
}
.MenuPriority__hiddenLinks__1LcCU {
    float: right;
}
.topbarMenuSpacer {
    width: 250px!important;
}
.MenuPriority {
    width: 250px!important;
    float: right;
    padding-left: 50px;
}
.MenuPriority__priorityLinks__XgHdH {
    float:right;
}
.menu__label {
    display: none;
}
.listing-image-thumbnail {
     border: 1px solid #000000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
}
#thumbnail-stripe {
    left: 5px;
}
.AddNewListingButton {
  font-family: Arial;
  color: #000000;
  font-size: 19px;
  background: #ffffff;
  border: solid #d9d9d9 2px;
  text-decoration: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.AddNewListingButton__button__2H8yh {
  font-family: Arial;
  color: #000000;
  font-size: 19px;
  background: #ffffff;
  border: solid #d9d9d9 2px;
  text-decoration: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.AddNewListingButton__responsiveLayout__1JnL9 {
  font-family: Arial;
  color: #000000;
  font-size: 19px;
  background: #ffffff;
  border: solid #d9d9d9 2px;
  text-decoration: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}