@import "mixins/all";

.design-wrapper {
  padding: 20px;
}

.design-h1,
.design-h2,
.design-h3 {
  margin-bottom: lines(0.5);
}

.design-h1 {
  @include huge-type;
}

.design-h2 {
  @include larger-type;
  border-bottom: 1px solid #CCC;
}

.design-h3 {
  @include big-type;
}

.design-section {
  margin-bottom: lines(1);
}

.design-component {
  border: 1px solid #CCC;
  @include border-radius(5px);
}

.design-example {
  border-bottom: 1px solid #CCC;
  padding: lines(0.5);
}

.design-code {
  background-color: #FCFCFC;
  padding: lines(0.5);
  @include small-type;
  @include border-bottom-radius(5px);
  overflow-x: scroll;
}

.design-small-type {
  @include small-type;
}
.design-normal-type {
  @include normal-type;
}
.design-big-type {
  @include big-type;
}
.design-large-type {
  @include large-type;
}
.design-larger-type {
  @include larger-type;
}
.design-huge-type {
  @include huge-type;
}
.design-mega-type {
  @include mega-type;
}
.design-giga-type {
  @include giga-type;
}

.design-block-background {
  min-height: lines(2);
  background-color: $highlight;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: lines(2);
  text-align: center;
}

.design-block-margin {
  margin-bottom: lines(0.5);
}

.design-block {
  @extend .design-block-background;
  @extend .design-block-margin;
}

@mixin design-mq-active {
  background-color: #CAEBCC;
  color: darken(#CAEBCC, 40%);
}

.design-mq-tiny-mobile {
  @extend .design-block;
  @include media(tiny-mobile) { @include design-mq-active; }
}
.design-mq-mobile {
  @extend .design-block;
  @include media(mobile) { @include design-mq-active; }
}
.design-mq-large-mobile {
  @extend .design-block;
  @include media(large-mobile) { @include design-mq-active; }
}
.design-mq-small-tablet {
  @extend .design-block;
  @include media(small-tablet) { @include design-mq-active; }
}
.design-mq-tablet {
  @extend .design-block;
  @include media(tablet) { @include design-mq-active; }
}
.design-mq-small-desktop {
  @extend .design-block;
  @include media(small-desktop) { @include design-mq-active; }
}
.design-mq-mid-desktop {
  @extend .design-block;
  @include media(mid-desktop) { @include design-mq-active; }
}
.design-mq-desktop {
  @extend .design-block;
  @include media(desktop) { @include design-mq-active; }
}

.col-content {
  @extend .design-block-background;
}