@import "common";

/* Fonts */
$sans_font: 'Droid Sans', Helvetica, Arial, Verdana;
$serif_font: 'Droid Serif', Helvetica, Georgia, Times, serif;

/* Mixins */

@mixin connect_icon($icon_type) {
	display: block;
	float: left;
	background: $darker_brown url("/assets/dashboard/connect_icons/" + $icon_type + ".png") no-repeat;
	width: 49px;
	height: 49px;
	color: transparent;
	&:hover { background: $darker_brown url("/assets/dashboard/connect_icons/" + $icon_type + ".png") no-repeat 0 -49px};
}

@mixin form {
  @include rounded(10px);
  background-color: rgba(0,0,0,0.1);
  margin: 40px 0 70px 0;
  padding: 35px 40px 25px 40px;
  overflow: hidden;
  .form_button {
    @include form_button;
  }
  label.error {
		@include form_error_field;
		margin-left: 0;
		width: 524px;
	}
}

@mixin form_button {
  font-family: $serif_font;
  @include rounded(7px);
  text-align: center;
  display: block;
  background-color: #dc7438;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(220, 116, 56)), to(rgb(212, 82, 7)));
  background-image: -webkit-linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  background-image: -moz-linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  background-image: -o-linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  background-image: -ms-linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  background-image: linear-gradient(top, rgb(220, 116, 56), rgb(212, 82, 7));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dc7438', EndColorStr='#d45207');
  color: white;
	font-size: 18px;
	font-weight: 500;
  padding: 15px 30px;
	border: 0px;
	cursor: pointer;
	&:active {
    background-color: #ed9374;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 147, 116)), to(rgb(231, 113, 72)));
    background-image: -webkit-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -moz-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -o-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -ms-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ed9374', EndColorStr='#e77148');
	}
	&:focus {
    background-color: #ed9374;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 147, 116)), to(rgb(231, 113, 72)));
    background-image: -webkit-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -moz-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -o-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -ms-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ed9374', EndColorStr='#e77148');
	}
	&:hover {
	  background-color: #ed9374;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 147, 116)), to(rgb(231, 113, 72)));
    background-image: -webkit-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -moz-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -o-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: -ms-linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    background-image: linear-gradient(top, rgb(237, 147, 116), rgb(231, 113, 72));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ed9374', EndColorStr='#e77148');
	}
}

@mixin form_error_field {
	font-size: 15px;
	font-weight: 500;
	clear: both;
	float: left;
	margin: 5px 0 0 170px;
	padding: 14px 10px 5px 10px;
	background: red url("/assets/dashboard/error_arrow.png") no-repeat top left;
	color: white;
	a {
	  margin: 0;
	  padding: 0;
	  font-size: 15px;
	  font-weight: 500;
	  color: black;
	  &:hover { color: $text_color };
	}
}


/* Actual stuff */

body {
  font-family: $sans_font;
  background: $medium_brown;
  color: $text_color; 
}

h1 {
  font-family: $serif_font;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px $text_color;
  line-height: 60px;
  span.indentation { margin-left: 30px; }
}

h1.new_tribe { 
  font-family: $serif_font;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0; 
}

h1.browse {
  font-family: $serif_font;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

h2 {
  font-family: $serif_font;
  margin: 30px 0 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: $lighter_green;
  letter-spacing: 1px;
}

h2.new_tribe {
  font-family: $sans_font;
  text-align: center;
  margin-top: 0;
  font-size: 18px;
  color: white;
  margin-bottom: 0;
}

h2.new_tribe_bottom {
  font-family: $sans_font;
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 16px;
  color: white;
}

h2.browse {
  font-family: $sans_font;
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 18px;
  color: white;
}

h2.campaign_page {
  font-family: 'Droid Serif', Helvetica, Georgia, Times, serif;
  margin: 18px 0 5px 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

h3 {
  font-family: $serif_font;
  margin: 30px 0 0 0;
  font-size: 20px;
  letter-spacing: 4px;
  color: white;
  font-weight: 200;
}

h3.pricing {
  font-family: $sans_font;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

h3.map_bubble {
  margin: 0;
  color: $text_color;
  font-size: 24px;
  width: 190px;
  float: left;
  line-height: 30px;
}

h4 {
  font-family: $serif_font;
  margin: 30px 0 0 0;
  font-size: 36px;
  font-weight: 200;
  color: $lighter_green;
  letter-spacing: 1px;
}

a, a:visited {
	color: white;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	color: $yellow;
}

a:active {
	color: $light_orange;
}

a.green_part_link {
  color: $light_orange;
  font-size: 18px;
  font-weight: 400;
  &:hover { color: $lighter_orange; }
  &:focus { color: $lighter_orange; }
  &:active { color: $light_orange; }
}

a.green_part_link_smaller {
  color: $light_orange;
  font-size: 16px;
  font-weight: 400;
  &:hover { color: $lighter_orange; }
  &:focus { color: $lighter_orange; }
  &:active { color: $light_orange; }
}

a.smaller {
	font-size: 11px;
}

li[role=presentation] a {
  color: black;
  font-weight: 300;
  font-size: 12px;
}


p.form {
  clear: both;
  color: white;
  padding: 5px 0 10px 0;
  font-size: 14px;
  line-height: 18px;
}

ul {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

li {
  padding: 0;
  margin-left: 25px;
}

#header {
  height: 64px;
	background: $bg_color;
	overflow: hidden;
}

#logo {
  margin-top: 13px;
  float: left;
}

#select_language_form {
  margin-top: 21px;
  float: right;
}

#slogan {
  color: $orange;
  margin: 23px 0 0 20px;
  float: left;
}

#language_switch { 
  overflow: hidden;
  float: right;
}

#language_label { 
  float: right;
  margin-right: 10px;
}

@mixin main($height: 421px) {
  height: $height;
  background-color: #3e6e14;
  background-image: -webkit-gradient(radial, 50% 100%,100,50% -50%,100, from(rgb(34, 63, 5)), to(rgb(62, 110, 20)));
  background-image: -webkit-radial-gradient(50% 0%, rgb(62, 110, 20), rgb(34, 63, 5));
  background-image: -moz-radial-gradient(50% 0%, rgb(62, 110, 20), rgb(34, 63, 5));
  background-image: -ms-radial-gradient(50% 0%, rgb(62, 110, 20), rgb(34, 63, 5));
  background-image: radial-gradient(50% 0%, rgb(62, 110, 20), rgb(34, 63, 5));
  box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.5);
  -khtml-box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.5);
  p.intro {
    text-align: center;
    margin: 0;
    padding: 0 80px;
    font-size: 18px;
    color: white;
  }
  p.browse { 
    margin-top: 5px;
    color: white;
    font-size: 12px;
    text-align: center;
    a.green_part_link { font-size: 16px; }
  }
  p.tour {
    text-align: center;
    margin-top: 26px;
    font-size: 18px;
    color: white;
  }
  div.faq_question {
    margin-top: 26px;
    font-size: 18px;
    color: white;
  }
  div.faq_answer {
    margin-top: 26px;
    font-size: 14px;
    color: white;
  }
}

#home_main {
  @include main;
}

#faq {
  @include main;
  height: 100%;
  overflow: hidden;
  padding-bottom: 20px;
}

#campaign_main {
  @include main(833px);
  p { 
    font-size: 16px;
    margin: 10px 0;
  }
  p.top { margin: 45px 0 20px 0; }
}

#new_tribe_form_main {
  @include main;
  height: 100%;
  overflow: hidden;
}

#home_main_title {
  height: 163px;
}

#home_main_screenshot {
  height: 218px;
}

.home_main_screenshot_longer {
  height: 283px;
  margin-bottom: 20px;
}

#home_main_screenshot_bottom {
  height: 289px;
}

.form_field_container {
  overflow: hidden;
  margin-bottom: 15px;
  span.email {
    float: left; 
    color: white; 
    font-size: 16px;
    font-weight: 200;
  }
  img.email {
    float: left;
    margin-left: 5px;
    padding-top: 4px;
  }
}

.form_field_container_taller {
  overflow: hidden;
  margin-bottom: 20px;
}

label.dashboard {
	color: white;
	font-size: 22px;
}

input[type=text], input[type=password] {
	height: 44px;
	width: 524px;
	float: left;
	border: 0;
	padding: 3px 12px;
	font-size: 18px;
	background: $bg_color;
}

input[type=text].domain_field {
  width: 264px;
  float: left;
  margin: 0 15px;
}

input[type=text].organization_email {
  width: 360px;
  margin-top: 3px;
  float: left;
}

input[type=text]:focus, input[type=password]:focus { 
	background: white; 
}

textarea {
	width: 524px;
	height: 100px;
	float: left;
	border: 0;
	padding: 12px;
	font-size: 18px;
	background: $bg_color;
}

textarea:focus { 
	background: white; 
}

label {
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}

div.get_started {
  width: 100%;
  cursor: pointer;
	a { 
	  @include form_button;
	  font-size: 26px;
  	font-weight: 500;
    padding: 15px 20px;
	}
}

div#community_categories { 
  overflow: hidden; 
  margin: 30px 0 60px 0;
}

div.community_category {
  width: 310px;
  cursor: pointer;
  @include rounded(10px);
  float: left;
	a {
	  @include form_button;
	  font-size: 22px;
  	font-weight: 500;
    padding: 15px 20px;
    margin: 10px;
	}
}

#thanks {
  padding-top: 10px;
  color: white;
  font-size: 14px;
}

#home_more_info {
  overflow: hidden;
  background: $bg_color;
  padding-bottom: 35px;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
  -khtml-box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
  a { 
    color: $orange;
    &:hover { color: $light_orange; }
    &:focus { color: $light_orange; }
    &:active { color: $dark_orange; }
  }
  p {
    font-size: 14px;
    line-height: 24px;
    margin-right: 20px;
  }
}

#footer {
  overflow: hidden;
}

.white_corner {
  height: 75px;
  width: 59px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin: 5px 0 40px 0;
}

.footer_links {
  line-height: 28px;
  overflow: hidden;
}

.footer_links_left {
  float: left;
  width: 90px;
}

.footer_links_right {
  float: left;
}

#connect_icons {
  @include rounded(7px);
  background-color: $darker_brown;
  padding: 15px;
  width: 177px;
  height: 47px;
  margin-top: 5px;
  a.left_icon { margin-right: 15px; }
  a.facebook { @include connect_icon("facebook");}
  a.twitter { @include connect_icon("twitter");}
  a.google_plus { @include connect_icon("google_plus");}
}

#product {
  margin-top: 34px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  a { 
    font-size: 14px;
    font-weight: 400;
  }
}

#select_community_form {
  overflow: hidden;
  margin-bottom: 23px;
}

#logos {
  overflow: hidden;
  margin-top: 20px;
  img.left_logo { 
    float: left;
    margin-right: 30px;
  }
  a.logo_link {
    display: block;
    float: left;
    margin-right: 30px;
  }
}

#new_stuff {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 25px;
}

#new_box {
  @include rounded(7px);
  background-color: $dark_green;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  overflow: hidden;
  float: left;
}

#new_text {
  overflow: hidden;
  font-size: 16px;
  float: left;
  padding-top: 7px;
  margin-left: 20px;
  a { 
    font-size: 16px;
    font-weight: 400; 
  }
}

.dashboard_spacer {
  @include spacer($lighter_grey);
}

.hidden { display: none; }

/* Creating a new tribe */

#new_tribe_form {
  @include form;
}

div.domain_container { overflow: hidden; }
span.domain {
  padding-top: 10px;
  float: left;
  color: white;
  font-size: 22px;
}

#login_form, #signup_form {
  @include form;
  text-align: left;
  .send_button { 
    @include form_button;
  }
  h2 {
    color: white;
    margin: 0 0 15px 0;
    font-size: 22px;
  }
  .text {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
  }
  label.error {
		@include form_error_field;
		margin-left: 0;
		width: 360px;
	}
}

.unwanted_text_field {
  display:none
}

#password_forgotten {
	display: none;
}

#error_box {
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
}

#notice_box {
  background-color: lighten($dark_green, 50%);
  color: $dark_green;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
}

div.show_tribe_link {
  width: 100%;
  cursor: pointer;
  @include rounded(10px);
  float: left;
	a {
	  @include form_button;
	  font-size: 22px;
  	font-weight: 500;
    padding: 15px 20px;
    margin: 30px 0 50px 0;
	}
}

#new_community_map_canvas {
  margin-top: 10px;
  width: 540px; 
  height: 200px;
  float: left;
}

.signup_checkbox_container {
	overflow: hidden;
}

.signup_checkbox_input_container {
	margin-right: 10px;
	float: left;
}

.signup_checkbox_label_container {
	margin-top: 4px;
	float: left;
}

.hidden_description_terms {
	@include hidden_div(500px);
}

.hidden_content {
	clear: both;
	padding: 12px 20px 0 20px;
}

.hidden_title { @include hidden_title; }
.hidden_title_wide { @include hidden_title(300px); }

.close_link {
	float: right;
	width: 18px;
	height: 18px;
	a {
	  color: $orange;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		display: block;
	}	
}

p.okl { color: white; }

#browse_tribes_main {
  @include main;
  height: 100%;
  overflow: hidden;
}

#map-canvas {
  margin: 20px 0 40px 0;
  width: 100%;
  height: 500px;
}

.pricing_column {
  @include form;
  margin-bottom: 30px;
  padding: 20px 25px;
  a { 
    @include form_button;
    font-size: 22px;
    margin-bottom: 10px;
  }
}

div.language {
  color: white;
  font-size: 18px;
  padding-bottom: 3px;
  width: 100%;
}

#organization_email_form {
  @include form;
  overflow: hidden;
  .send_button { 
    @include form_button;
    float: left;
    margin-left: 15px;
  }
}

#confirmation_pending_form {
  @include form;
  overflow: hidden;
  p {
    color: white;
    font-size: 16px;
    a { font-size: 16px;}
  }
  input.resend_email_confirmation_button, input.send_button { @include form_button; }
}

.map_bubble_3{
  overflow: hidden;
  width: 340px;
}

.map_bubble_link {
  a {
    @include form_button;
    padding: 5px;
    font-family: $sans_font;
  }
  padding: 0;
  width: 150px;
  float: right;
}

p.map_bubble {
  padding-top: 10px;
  width: 340px;
  font-style:italic;
}

#header_links {
  overflow: hidden;
  float: right;
  a {
    font-size: 17px;
    color: lighten($dark_green, 10%);
    &:hover { color: lighten($dark_green, 20%); }
    float: right;
    margin: 20px 18px 0 0;
  }
}

.faq {
  a {
    color: $light_orange;
    font-size: 14px;
    font-weight: 400;
    &:hover { color: $lighter_orange; }
    &:focus { color: $lighter_orange; }
    &:active { color: $light_orange; }
  }
  
}

#api_main {
  @include main;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  text-align: center;
}

#statistics {
  background-color: $bg_color;
  
  h2 {
    font-size: 28px;
  }
  h3 {
    color: black;
  }
  h4 {
    font-size: 16px;
  }
}

div.wrapper { 
  overflow: hidden;
  display: none; 
} 
.js_enabled div.wrapper { display: block; }

#no_javascript_container {
  @include rounded(10px);
  background: $bg_color;
  padding: 30px 40px;
  margin-top: 50px;
  h1 {
    color: $text_color;
    font-size: 22px;
    text-shadow: none;
    margin: 0;
  }
  a {
    color: $orange;
    font-size: 12px;
    &:hover { color: $light_orange;}
  }
}