@import "common";

$bg_color: #f7f5e6;
$text_color: #464646;
$form_bg: #d1c9b4;
$orange: #d45207;
$light_orange: lighten($orange, 15%);
$medium_brown: #765d3a;
$dark_brown: darken($medium_brown, 12%);
$light_brown: lighten($medium_brown, 12%);
$notice_text: #264409; 
$notice_border: #c6d880; 
$notice_bg: #e6efc2;
$error_text: #8a1f11;
$error_border: #fbc2c4;
$error_bg: #fbe3e4;
$warning_text: #514721;
$warning_border: #ffd324;
$warning_bg: #fff6bf;
$dark_green: #223f05;

@mixin send_button {
	font-size: 14px;
	font-weight: bold;
	background: $medium_brown;
	width: 200px;
	height: 42px;
	padding: 0;
	border: 0;
	color: white;
	&:active { 
		background-color: $dark_brown;
		padding-top: 1px; 
	}
	&:hover { background-color: $light_brown; }
	&:focus { background-color: $light_brown; }
}

@mixin colored_title($color: $orange, $width: 340px) {
	color: $color;
	width: $width;
	font-size: 18px;
	font-weight: 500;
	display: block;
	border-bottom: 6px solid $color;
	margin-bottom: 10px;
	word-wrap: break-word;
	overflow: hidden;
}

/* Basic form */
@mixin form {
	background: $form_bg;
	overflow: hidden;
}

@mixin form_error_field {
	font-size: 13px;
	font-weight: bold;
	clear: both;
	float: left;
	margin: 5px 0 0 170px;
	padding: 14px 10px 5px 10px;
	background: red url("/assets/error_arrow.png") no-repeat top left;
	color: white;
}

body {
  background: $bg_color;
	color: $text_color;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2.orange_wide { @include colored_title($orange, 460px); }
h2.brown_wide {
	@include colored_title($medium_brown, 460px);
	a {
		color: $medium_brown;
		&:hover { color: $dark_brown;};
		&:focus { color: $dark_brown;};
	}	
}

a {
  color: white;
	&:hover {color: white; }
	&:active {color: white; }
	text-decoration: none;
}

a.form {
	color: $orange;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
	&:hover {color: $light_orange; }
	&:active {color: $light_orange; }
}

a.form_small {
	color: $orange;
	font-size: 11px;
	text-decoration: none;
	font-weight: 400;
	padding-top: 3px;
	&:hover {color: $light_orange; }
	&:active {color: $light_orange; }
}

p { font-size: 18px; }

#logo {
  margin-top: 27px;
}

#select_language_form {
  margin-top: 29px;
  float: right;
}

#slogan, #language_label {
  color: $orange;
  margin-top: 30px;
}

#language_switch { overflow: hidden; }

#language_label { 
  float: right;
  margin-right: 10px;
}

#header {
  overflow: hidden;
}

#image_header {
  margin-top: 20px;
}

#main {
  margin-top: 20px;
  overflow: hidden;
  h1 { line-height: 45px; }
}

#main_text {
  a {
  	color: $orange;
  	font-size: 18px;
  	text-decoration: none;
  	font-weight: 500;
  	&:hover {color: $light_orange; }
  	&:active {color: $light_orange; }
  }
}

.form_field_container {
  margin-bottom: 15px;
}

#login_form {
  overflow: hidden;
  background: $form_bg;
  padding: 30px;
  margin: 10px 0 0 30px;
  h2 {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 15px;
	}
  input.text_field {
		font-weight: bold;
		color: $text_color;
		background: $bg_color;
		width: 273px;
		font-size: 14px;
		height: 24px;
		padding: 9px;
		border: 0;
		&:focus { background: white; }
	}
	input.send_button {
		@include send_button;
	}
	.text {
		margin: 10px 0;
		line-height: 16px;
	}
}

#password_forgotten {
	display: none;
}

#recent_listings {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 50px;
}

.recent_listing {
  overflow: hidden;
  width: 450px;
  h5 { 
    float: left;
    width: 350px;
  }
  span { float: right; }
}

.request_spacer_wide {
  @include spacer($orange);
  width: 460px;
}

.offer_spacer_wide {
  @include spacer;
  width: 460px;
}

.recent_listing {
  overflow: hidden;
  h3 {
    font-size: 16px;
    width: 350px; 
    float: left;
    margin: 0;
    padding: 0;
  }
  span { 
    float: right;
    padding-top: 4px;
  }
}

#signup_form {
	@include form;
	padding: 20px 25px 25px 25px;
	line-height: 25px;
	h2 {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 15px;
	}
	input.text_field {
		font-weight: bold;
		color: $text_color;
		background: $bg_color;
		width: 375px;
		font-size: 14px;
		height: 18px;
		padding: 9px;
		margin-left: 10px;
		border: 0;
		&:focus { background: white; }
	}
	input.send_button {
		@include send_button;
		margin: 15px 0 0 10px;
	}
	input.send_button_terms {
		@include send_button;
		width: 250px;
	}
	label {
		margin: 10px;
		font-size: 14px;
		font-weight: bold;
	}
	label.checkbox {
		margin: 0;
		padding-top: 5px;
		width: 200px;
		font-size: 12px;
		font-weight: bold;
	}
	label.before_description {
	  margin: 0 10px;
	  float: left;
	}
	.links {
		margin: 10px 0 0 10px;
	}
	.text {
		margin: 0 10px 10px 10px;
		line-height: 16px;
	}
	span.big {
		margin: 5px;
		color: $orange;
		font-weight: bold;
		font-size: 16px;
	}
	span.small {
		font-size: 11px;	
	}
	span.tiny_description { 
	  float: left;
	  font-size: 11px;
	  padding-top: 2px;
	}
	textarea {
		margin-left: 10px;
		width: 300px;
		color: $text_color;
		background: $bg_color;
		font-size: 12px;
		height: 50px;
		padding: 9px 9px;
		border: 0;
		&:focus { background: white; }
	}
	.default_textarea_text {
		background: $bg_color;
		color: lighten($text_color, 30%);
	}
	div.title_label {
		margin-left: 10px;
		width: 300px;
		font-size: 14px;
		font-weight: bold;
	}
	div.title_content {
		margin-left: 10px;
		font-size: 14px;
		line-height: 16px;
	}
	label.error {
		@include form_error_field;
		width: 373px;
		margin-left: 10px;
	}
}

@mixin hidden_div($width: 300px) {
	width: $width;
	padding: 10px 10px 15px 10px;
	background: $bg_color;
	display: none;
	overflow: hidden;
	h3 {
		font-size: 14px;
		margin: 0;
		padding: 0;
	}
}

.hidden_description {
	@include hidden_div;
}

.hidden_description_terms {
	@include hidden_div(500px);
}

.hidden_description_feedback {
	@include hidden_div(600px);
}

@mixin hidden_title($width: 200px) {
	float: left;
	width: $width;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0 0 20px;
}

.hidden_title { @include hidden_title; }
.hidden_title_wide { @include hidden_title(300px); }

.close_link {
	float: right;
	width: 18px;
	height: 18px;
	a {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		display: block;
	}	
}

.hidden_content {
	clear: both;
	padding: 12px 20px 0 20px;
}

.signup_checkbox_container {
	margin-left: 10px;
	overflow: hidden;
}

.signup_checkbox_input_container {
	margin-right: 10px;
	float: left;
}

.signup_checkbox_label_container {
	margin-top: 4px;
	float: left;
}

.notification_text {
	width: 850px;
	float: left;
	padding: 5px 0 5px 55px;
}

.close_notification_link {
	padding-top: 2px;
	width: 20px;
	float: right;
	font-size: 18px;
	font-weight: bold;
}


a.handle {
	&:hover { 
		background-position: -40px 0;
	}
}

#new_feedback_form {
	overflow: hidden;
	input.send_button {
		@include send_button;
		font-size: 13px;
		margin: 10px 35px 10px 0;
	}
	label {
		float: left;
		width: 235px;
		margin-top: 10px;
	}
	.default_textarea_text {
		background: $bg_color;
		color: lighten($text_color, 30%);
	}
	input.text_field {
		float: left;
		color: $text_color;
		background: $bg_color;
		width: 235px;
		border: 0;
		&:focus { background: white; }
		font-size: 14px;
		height: 18px;
		padding: 9px 9px;
		font-weight: bold;
		margin: 5px 0 0 0;
	}
	textarea {
		float: left;
		margin: 5px 0 0 0;
		width: 235px;
		color: $text_color;
		background: $bg_color;
		font-size: 12px;
		height: 80px;
		padding: 9px 9px;
		border: 0;
		&:focus { background: white; }
	}
	span {
		float: left;
		width: 235px;
	}
	a {
		color: $light_orange;
		&:hover { color: lighten($light_orange, 10%); }
	}
	label.error {
		font-size: 13px;
		font-weight: bold;
		width: 325px;
		margin: 5px 60px 0 0;
		padding: 14px 10px 7px 10px;
		background: red url("/assets/error_arrow3.png") no-repeat top left;
		color: white;
	}
}

.unwanted_text_field {
  display:none
}

#error { 
	margin-top: 120px; 
	h2 {
		margin-bottom: 5px;
	}
}

#error_content {
  margin-top: 70px;
	h2 { 
	  line-height: 30px;
	  margin-bottom: 20px;
	}
}

#error_kaapo {
  margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#error_page_feedback_form {
	@include form;
	margin-bottom: 30px;
	padding: 20px;
	overflow: hidden;
	input.send_button {
		@include send_button;
		font-size: 13px;
		margin: 20px 35px 10px 0;
	}
	label {
		float: left;
		width: 405px;
	}
	input.text_field {
		float: left;
		color: $text_color;
		background: $bg_color;
		width: 405px;
		border: 0;
		&:focus { background: white; }
		font-size: 14px;
		height: 18px;
		padding: 9px 9px;
		font-weight: bold;
		margin: 5px 0 10px 0;
	}
	textarea {
		float: left;
		margin: 5px 0 0 0;
		width: 405px;
		color: $text_color;
		background: $bg_color;
		font-size: 12px;
		height: 80px;
		padding: 9px 9px;
		border: 0;
		&:focus { background: white; }
	}
}

.hidden { display: none; }

#additional_info p { 
  font-size: 14px;
  a { font-size: 14px; } 
}

#read_more_link_container {
  a { font-size: 14px; }
  margin-bottom: 10px;
}