%h3 What is Gear Lending?

%p 
  Gear Lending is the Airbnb equivalent for adventure travel gear allowing you to rent out your bike, skis, and backpack to interested locals or travellers from all around the world.
  
%p  
  Gear Lending will allow you to set up and list all of your equipment and rent it out to other travelers and adventures that you can justify their competency. Gear Lending then manages the money and between the Renter and the Lender, and allows you two to share info, list and modify your rates, and cover any personal policies. 

%h3 Who is Gear Lending for?
 
%p
  Gear Lending is only for outdoor gear, not toasters, ladders, or your car. The idea for Gear Lending came for the desire to travel both locally and internationally without having to take all of your gear with you, and when your in an awesome place, and have a closet full of unused outdoor gear why not rent it out! Of course there are rental stores, but there’s so much unused gear that people have, why not use that instead.

%h3 Team

%p
  Sean Kolk and Zac Apte conceptualized  and founded Gear Lending. They met in Chile working on different start ups and realized that they had potential working together on an idea that they were both passionate about.

%p
  Sean has 6+ Years of guiding outdoors trips in caves, mountains, and at sea. He’s worked for a plethora of outdoor retail stores, managed an adventure gear rental program, and purchased more backpacks than he’s willing to admit. Since travelling to Africa and South America with over 100lbs of gear each time he’s actively interested in making gear lending a reality, not only for you – but also because he wants to use it! 

%p
  Zac Apte grew up in Berkley with the whole of the bay areas disposal of biking, hiking, and surfing to him. Zac has worked with multiple communities in the biology, design, and programming fields bringing together constructive groups to create impactful organizations. Zac leads Gear Lending’s financials and business.
