.feed-item.feed-request
  .feed-content{:class => (organization.logo.present? ? "profile-content-with-image" : "")}
    %h3
      = organization.name
      
    %small.feed-listing-icons
      - if organization.has_admin?(@current_user)
        = link_to t(".edit"), edit_organization_path(organization) 
  - if organization.logo.present?
    .feed-image
      = image_tag organization.logo.url(:small), :alt => organization.name