-# This is not intended to be used, just to check contents of an organization in browser if needed
name
= @organization.name
allowed_emails
= @organization.allowed_emails
logo
= image_tag @organization.logo.url(:medium)