%p
  = t("emails.common.hey", :name => @resource.given_name_or_username)
%p
  = t("emails.reset_password_instructions.reset_password_instructions", {:username => @resource.username, :password_reset_link => link_to(t('emails.reset_password_instructions.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale => I18n.locale))}).html_safe 
  
%p  
  = t("emails.common.thanks")
  %br/
  = t("emails.common.kassi_team")
  