<%= render "header" %>

<h1>React components (the most important ones):</h1>
<!-- Add new components here. -->
<!-- You should create individual styleguide pages for them too. -->
<br/>
<%= react_component("OnboardingTopBar", props: @topbar_props, prerender: false, raise_on_prerender_error: false) %>
