- if presenter.section_info_single_column?
  = render 'admin2/design/landing_page_versions/column_popup', presenter: presenter, form: form
- elsif presenter.section_hero?
  = render 'admin2/design/landing_page_versions/hero_popup', presenter: presenter, form: form
- elsif presenter.section_footer?
  = render 'admin2/design/landing_page_versions/footer_popup', presenter: presenter, form: form
-# - elsif presenter.section_footer?
-#   = render 'footer', presenter: presenter, form: form
-# - elsif presenter.section_info_multi_column?
-#   = render 'multi_column', presenter: presenter, form: form
-# - elsif presenter.section_listings?
-#   = render 'listings', presenter: presenter, form: form
-# - elsif presenter.section_categories?
-#   = render 'categories', presenter: presenter, form: form
-# - elsif presenter.section_locations?
-#   = render 'locations', presenter: presenter, form: form
-# - elsif presenter.section_video?
-#   = render 'video', presenter: presenter, form: form
