.content-card-section-container.clp
  %section.content-card-section.clp
    %h2= t('admin2.landing_page.header')
    %p.ingress= t('admin2.landing_page.info_text_1')
    = link_to t('admin2.landing_page.btn_text'), 'https://www.sharetribe.com/products/go/landing-page/?utm_source=marketplaceadminpanel&utm_medium=referral&utm_campaign=landingpagesection', target: :_blank, class: %i[btn btn-secondary]
    .clp-bg