%p
  Huom: jos et ole Aalto-yliopiston opiskelija tai työntekijä, mutta toimit Otaniemi-Tapiola-Keilaniemi -alueella, liity tämän yhteisön sijaan
  = link_to "Otaniemi International Network Kassiin", "http://oin.kassi.eu"
  
