%p
  Tämä #{service_name}-yhteisö on tarkoitettu Aallon opiskelijoille ja työntekijöille. Tarvitset liittyäksesi Aallon sähköpostiosoitteen. Jos et kuulu Aaltoon, voit liittyä 
  = link_to("Otaniemi International Network #{service_name(:illative)}", "http://oin.sharetribe.com") + ","
  joka toimii samalla alueella ja on avoin kaikille.
  
