%p
  Note: if you are active in Otaniemi-Tapiola-Keilaniemi region but not a student or staff in Aalto University, please join
  = link_to "Otaniemi International Network Kassi", "http://oin.kassi.eu"
  instead.
  