%p
  This #{service_name} community is meant for Aalto University's students and personnel. You need an Aalto email address to join. If you are not part of Aalto, you can join the
  = link_to "Otaniemi International Network #{service_name}", "http://oin.sharetribe.com"
  that is open to all.
  