- tags = Tag.tags(:limit => 20, :order => "count DESC", :listing_type => listing_type)
- result = tag_cloud(tags, %w(tag1 tag2 tag3 tag4 tag5 tag6))

- if !tags.empty?
  &nbsp;
  #tag_cloud
    .left_panel_section
      .left_panel_title
        %h3= "Tag Cloud"      
      - result.each do |k, v|
        = link_to k, '#', :class => v, :name => "tags_"+k

:javascript
  var remember_tag = "#{params[:tag]}";
