%svg.loaderLargeRevert{:preserveaspectratio => "xMidYMid", :viewbox => "0 0 30 30", :xmlns => "http://www.w3.org/2000/svg"}
  %circle{:cx => "15", :cy => "15", :fill => "none", :r => "12", "stroke-linecap" => "round"}
    %animatetransform{:attributename => "transform", :begin => "0s", :calcmode => "linear", :dur => "1.5s", :keytimes => "0;0.5;1", :repeatcount => "indefinite", :type => "rotate", :values => "0 15 15;180 15 15;720 15 15"}
    %animate{:attributename => "stroke-dasharray", :begin => "0s", :calcmode => "linear", :dur => "1.5s", :keytimes => "0;0.5;1", :repeatcount => "indefinite", :values => "9 56;46 14;9 56"}
