@import "mixins/all";

.subcategory-label {
  margin-left: lines(1);
}

.top-level-category-container {
  border-bottom: 1px solid $highlight;
  margin-bottom: lines(0.25);
  padding-bottom: lines(0.25)
}

.listed-category-col {
  margin-bottom: 0;
}