@import "mixins/all";

.edit-community-details-edit-link {
  margin-bottom: lines(0.5);
}

.edit-community-details-field {
  margin-bottom: lines(1);
}

.edit-community-details-field-title {
  font-weight: bold;
}

.checkbox-container .settings-checkbox-label {
  font-weight: 500;
}