@import "mixins/all";

$add-custom-field-option-with-multiple-locales-label-top-padding: 5px; // Used to center label text vertically with inline text field
$custom-field-option-height: lines(1.5); // Used to center label text vertically with inline text field

.custom-fields-list-title,
.custom-fields-mobile-list-title {
  font-weight: bold;
}

.custom-fields-details {
  @include small-type;
  @include ellipsis;
}

.new-field-name-locale-label {
  font-weight: 500;
  margin: 0;
  line-height: $custom-field-option-height;
}

.custom-field-categories-checkbox-container {
  float: left;
  min-width: lines(9.5);
}

.custom-field-category-checkbox {
  display: inline-block;
  width: auto;
}

.custom-field-category-checkbox-label {
  display: inline-block;
  width: auto;
  font-weight: normal;
  margin: 0 0 0 lines(0.25);
}

.add-custom-field-buttons {
  width: 100%;
}

.custom-field-actions {
  text-align: right;
  line-height: $custom-field-option-height;
}

.custom-field-option-locales {
  padding: lines(0.5) lines(0.5) 0 lines(0.5);
}

.custom-field-option-locale-column {
  margin-bottom: lines(0.125);
}

.custom-field-column-without-bottom-margin {
  margin-bottom: 0;
}

.custom-field-option-with-multiple-locales-label {
  margin: $add-custom-field-option-with-multiple-locales-label-top-padding 0 0 0;
}

.custom-field-option-locale-row input[type=text] {
  @include media(tablet) {
    margin: 0;
    padding: 0 lines(0.25);
    min-height: $custom-field-option-height;
  }
}

.category-ajax-status-message,
.listing-shape-ajax-status-message,
.custom-field-ajax-status-message {
  display: none;
}

.custom-field-option-container:nth-of-type(odd) {
  background: $highlight;
}

.new-custom-field-type-form {
  margin-top: lines(1);
}

.new-listing-shape-template-form-column,
.new-custom-field-type-form-column {
  margin-right: lines(0.5);
  display: inline-block;
}

// Category classes that inherit from custom field classes are added here

.new-category-name-locale-label {
  @extend .new-field-name-locale-label;
}

.add-category-buttons {
  @extend .add-custom-field-buttons;
}

.category-listing-shapes-checkbox-container {
  @extend .custom-field-categories-checkbox-container;
}

.category-listing-shape-checkbox {
  @extend .custom-field-category-checkbox;
}

.category-listing-shape-checkbox-label {
  @extend .custom-field-category-checkbox-label;
}
