@import "mixins/all";

.sender-address-preview-container {
  margin-top: lines(0.75);
  margin-bottom: lines(1.0);
}

.sender-address-preview {
  background-color: $highlight;
  padding: 10px 20px;
}

.sender-address-label {
  margin-top: 0;
}

.sender-address-status-loading-spinner {
  height: 20px;
  vertical-align: text-bottom;
  margin-left: lines(0.25);
}

.welcome-email-editor-background {
  background-color: $highlight;
  padding: 20px;
}

.status-verified {
  font-weight: bold;
  color: $green;
}