@import "mixins/all";

.sender-address-preview-container {
  margin-top: lines(0.75);
  margin-bottom: lines(1.0);
}

.sender-address-preview {
  background-color: $highlight;
  padding: 10px 20px;
}

.sender-address-label {
  margin-top: 0;
}

.sender-address-status-loading-spinner {
  height: 20px;
  vertical-align: text-bottom;
  margin-left: lines(0.25);
}

.welcome-email-editor-background {
  background-color: $highlight;
  padding: 20px;
}

.sender-address-verification-from {
  font-weight: bold;
}

.status-verified {
  font-weight: bold;
  color: $green;
}

.status-requested {
  font-weight: bold;
  color: #FF0000;
}

.status-error {
  font-weight: bold;
}

.status-resent {
  font-weight: bold;
}

input {
  &.sender-address-disabled {
    &, &:hover {
      background-color: $highlight;
    }
  }
}

button {
  &.sender-address-disabled {
    &, &:hover {
      background-color: $border;
    }
  }
}