@import "mixins/all";

.footer-menu-container-padding {
  padding: lines(0.5);
  padding-bottom: 0;
}

.footer-menu-container {
  @extend .footer-menu-container-padding;

  &:nth-of-type(odd) {
    background: $highlight;
  }
}

#footer-menu-form {
  input[type="radio"] {
    margin-left: 0.75em
  }
  input[disabled] {
    background-color: #e8e8e8;
  }
  button[disabled] {
    background-color: #c3c3c3;
  }
}

.footer-social-container {
  .provider {
    font-weight: bold;
    margin-left: 10px;
  }
}
