@import "mixins/all";

#membership-popup {
  @include media(desktop) {
    min-width: 600px;
  }
}

#membership-popup-content {
  .membership--pending-popup {
    margin-top: 10px;
  }
  .membership--pending-buttons {
    text-align: center;
    margin-top: 30px;
    .button {
      display: initial;
    }
    .cancel-button {
      display: initial;
      padding-top: 0.5625em;
      padding-bottom: 0.5625em;
    }
  }
}
