#admin_testimonials {
  tbody tr:nth-child(2n) {
    border-bottom: 3px solid white;
  }
  td {
    &.testimonial-title {
      border-bottom: 3px solid white;
    }
    .testimonial-cell {
      margin: auto;
      .testimonial-icon {
        position: relative;
        font-size: 1.2em;
        line-height: 1.2em;
      }
    }
  }
}

