- if customizations.size == 1
  = render 'one_language', form: form, customization: customizations.first, disabled_placeholder: disabled_placeholder
- else
  = render 'many_languages', form: form, customizations: customizations, disabled_placeholder: disabled_placeholder
