<h1>About Kassi</h1>
<br><br>
<h2>What is Kassi?</h2>
<p>Kassi is a service that enables the exchange of various favors through listings posted by users. 
There are five categories: Marketplace, Favors, Group search, Carpools, Lost&found and Other. You can browse the listings without 
registering to the service, but if you want to answer to a listing or see the user profiles you have to create an user account.</p>

<p>
Kassi is one of the <a href='http://mide.tkk.fi/en/OtaSizzle'>OtaSizzle</a> services. If you have created an user account in Sizl.org or in any other Otasizzle service, 
those credentials will be valid also for Kassi. However, every Kassi user has a personal Kassi profile. The information of the 
users Kassi profile will not be visible in other Otasizzle services.</p>

<h2>What is the purpose of Kassi?</h2>
<p>The aim of Kassi is to make the exchange of daily favors easier in the metropolitan area. Kassi is part of 
Otasizzle, a project of HUT and HIIT. The purpose of the project is to study the development of social web services.</p>

<h2>Who is a potential user of Kassi?</h2>
<p>Because Kassi takes advantage of its users being located on the same area, it is originally designed 
for those who live or spend time regularly in Otaniemi. However, anyone can register as a user of Kassi in spite of where they live or work.</p>


