<h1>About Kassi</h1>
<br><br>
<h2>What is Kassi?</h2>
<p>Kassi is a service that enables borrowing, buying, selling and giving away items and the exchange of various favors. Users of Kassi can list their items they could lend and their expertise and other things they could do in their profiles. These are then shown in lists that can be browsed or searched. If something is not already to be found in Kassi you can post a listing. There are seven categories of listings: Marketplace, Items to borrow, Lost property, Car pools, Group search, Favors and Others. You can browse the listings, favors and items to borrow without registering to the service, but if you want to answer to a listing or see the user profiles you have to create an user account.</p>

<p>If you have created an user account in sizl.org or in any other Otasizzle service, those credentials will be valid also for Kassi, because Kassi is one of the OtaSizzle services. However, every Kassi user has a personal Kassi profile that has some extra information that is not shown elsewhere. </p>


<h2>What is the purpose of Kassi?</h2>
<p>The aim of Kassi is to make the exchange of daily favors easier in the metropolitan area. Kassi is part of 
<a href='http://mide.tkk.fi/en/OtaSizzle'>OtaSizzle-project</a>, a project of HUT and HIIT. It is funded by TKK’s ’Technology for Life’ campaign 
	donations from private companies and communities. The purpose of the project is to study the development and use of social web services.</p>

<h2>Who is a potential user of Kassi?</h2>
<p>Because Kassi takes advantage of its users being located on the same area, it is originally designed 
for those who live or spend time regularly in Otaniemi. However, anyone can register as a user of Kassi in spite of where they live or work.</p>


