%h2= t("common.default_community_slogan")

%p= t("common.default_community_description")

%p= t("infos.about.default_about_text", :click_here_link => link_to(t("infos.about.click_here_link_text"), dashboard_link(:locale => I18n.locale, :ref => "about_page"))).html_safe