<h1>Kassi help</h1>
<br><br>
<h2>Concepts in Kassi</h2>

<p><b>Listing</b> = If you need a favor or borrow something, or for example are searching someone to play tennis with you, you can post a listing.</p>

<p><b>Replying to listing</b> = You can reply to listing by sending a message to person who has posted that listing. Only that person will see your answer.</p>

<p><b>Commenting on listing</b> = You can comment on a listing. Everyone will see your comment. </p>

<p><b>Closing a listing</b> = You can close a listing and after that your listing won't be shown if someone is browsing listings - only the search will find it. When you're closing a listing you can also leave your thanks to a person who has done a favor. </p>

<p><b>Editing a listing</b> = You can edit your listing with "edit" button. If you don't upload a new picture, the old one will remain.</p>

<p><b>Kassi event</b> = Kassi event means an action where two or more people change favors or items in Kassi. Every user has a list of Kassi events in his profile that he has participated in. Kassi event is formed every time one closes a listing and marks a realizer for a favor or when one thanks someone for lending or doing something.</p>

<p><b>Kassi partner</b> = User with who you have made a Kassi event.</p>

<p><b>Category</b> = A classification to a listing. (There's more information below)</p>

<p><b>Favor</b> = Something little and nice that one can do for another user. Favors may vary from repairing a bike to bringing some milk from shop or giving guidance with computers. In your own profile you can write down the favors you are able to offer to other users.</p>

<p><b>Item</b> = Users can list their items they could lend for other inn their profile. If you have written your address in your contact information your items will be shown on a map if a user is browsing items and click "show an item on a map".</p>

<p><b>Inbox</b> = Inbox is in users own view if user is logged in. Replies to user's listings, requests for borrowing items or doing favors and other messages that has been sent to user will be found here. Messages that user has sent himself will be in inbox too.</p>

<p><b>Profile</b> = In user's profile are his contact information, items that he can lend and favors he offers to make. Also comments on that user, his listings and Kassi events can be seen here.</p>

<p><b>Thanking for a favor or item</b> = Some other user can be thanked for doing a favor or lending something. Thanking is done by going to that user's profile and by clicking the "thank for" links next to the favors and items he has done. Thanking will create a new Kassi event. With thank you, you can leave a written comment on user which is then shown in his profile.</p>
<br>

<h2>Categories</h2><br>

<h4>Market Place</h4>
<p>Marketplace is meant for buying, selling and giving away items.<p>
<p><b>Examples:</b></p>
<p>Sofa for sale <br> 
Giving away little kittens</p>

<h4>Borrow Items</h4>
<p>Here you can ask other users to lend thing for you.<p>
<p><b>Examples:</b></p>
<p>Borrow a hammer <br>
Borrow another guitar for the Guitar Hero"</p>

<h4>Favors</h4>
<p>Here you can find listings, in which help for various tasks is needed.<p>
<p><b>Examples:</b></p>
<p>Walking the dog<br>
Help with computer problems<br>
Activities that need more than one person (e.g. folding the sheets)<br></p>

<h4>Groups</h4>
<p>In group search you can search for more than one person at a time. 
This category can be used both for leisure and more useful tasks. Listings in this category usually don’t offer or ask for any payment.<p>
<p><b>Examples:</b></p>
<p>Searching for company to watch a movie<br>
Workers for community effort<br>
Searching for someone to play badminton with<br></p>

<h4>Rides</h4>
<p>This category is meant for searching and offering car rides, saving money and nature!<p>
<p><b>Examples:</b></p>
<p>You're driving to Turku tomorrow, and you could give somebody else a ride there too</p>
	
<h4>Lost Property</h4>
<p>Items lost find their owners here.<p>
<p><b>Examples:</b></p>
<p>You found an umbrella in a bus.</p>

<h4>Others</h4>
<p>Listings, that don’t fit to any category mentioned above can be posted here.<p>
<p><b>Examples:</b></p>
<p>Because we have tried to take all use cases into consideration, this category has naturally no example cases. :)</p>
