<h1>Apua Kassin käyttöön</h1>
<br><br>
<h2>Käsitteitä</h2>

<p><b>Ilmoitus</b> = Jos tarvitset tavaraa tai palvelusta, haluat myydä jotakin tai kaipaat vaikkapa sulkapalloseuraa, voit tiedottaa
tästä jättämällä Kassiin ilmoituksen.</p>

<p><b>Ilmoitukseen vastaaminen</b> = Ilmoitukseen voi vastata lähettämällä viestin ilmoituksen jättäjälle. Ainoastaan ilmoituksen jättäjä 
näkee lähetetyn vastauksen.</p>

<p><b>Ilmoituksen kommentointi</b> = Ilmoituksiin voi liittää tekstimuotoisen kommentin. Kommentit näkyvät kaikille muille käyttäjille.</p>

<p><b>Ilmoituksen sulkeminen</b> = Ilmoituksen voi sulkea, jolloin se ei enää näy avoimien ilmoitusten listassa ja samalla voit jättää 
sanallisia kommentteja ilmoitukseen vastanneille hyvin tehdystä työstä. </p>

<p><b>Ilmoituksen muokkaaminen</b> = Ilmoitusta voi muokata "muokkaa" napista. Voit muokata tekstiä, voimassaoloaikaa, kielivalintaa, näkyvyyttä ja kuvaa. Mikäli et lataa ilmoitukseen uutta kuvaa, vanha kuva jää voimaan.</p>

<p><b>Kassitapahtuma</b> = Kassitapahtuma syntyy, kun kaksi tai useampaa henkilöä vaihtavat palveluksia tai tavaroita Kassin kautta. 
Kunkin käyttäjän profiilissa näkee listan kassitapahtumista, joissa hän on ollut osallisena. Kassitapahtuma syntyy aina, kun sulkee ilmoituksen ja
merkitsee sille tekijän, tai kun kiittää jotakuta lainatusta tavarasta tai tehdystä palveluksesta.</p>

<p><b>Kassikumppani</b> = Käyttäjä, jonka kanssa kassitapahtuma on suoritettu.</p>

<p><b>Kategoria</b> = Ilmoituksen luokitus (kts. tarkemmat kuvaukset sivun alaosasta).</p>

<p><b>Palvelus</b> = Palvelus on pieni mukava asia, jonka voi tehdä toiselle käyttäjälle. Nämä vaihtelevat pyörän korjauksesta haalarimerkkien
ompeluun tai tietokonepulmissa avustamiseen. Omaan profiiliin voi luoda listan palveluksista, joita on valmis tarjoamaan muille käyttäjille.</p>

<p><b>Tavara</b> = Kukin Kassin käyttäjä voi luoda profiiliinsa listan tavaroista, joita hän on valmis lainaamaan muille käyttäjille. Mikäli olet kertonut yhteystiedoissasi osoitteesi, tavarasi näkyy myös kartalla, mikäli käyttäjä klikkaa "näytä tavara kartalla" tavaralistassa.</p>

<p><b>Postilaatikko</b> = Postilaatikko sijaitsee kirjautuneen käyttäjän Oma-näkymässä. Postilaatikkoon saapuvat vastaukset omiin ilmoituksiin,
pyynnöt lainata tavaroita tai tehdä palveluksia sekä muut käyttäjälle lähetetyt viestit. Postilaatikossa näkyvät lisäksi omat lähetetyt viestit.</p>

<p><b>Profiili</b> = Profiilissa sijaitsevat käyttäjän yhteystiedot sekä tavarat, joita hän tarjoaa lainaan ja palvelukset, joita hän
tarjoutuu tekemään. Profiilista näkyvät myös käyttäjän saamat kommentit, hänen luomansa ilmoitukset sekä kassitapahtumat, joissa hän on ollut
osallisena.</p>

<p><b>Tavaralainasta / palveluksesta kiittäminen</b> = Toista käyttäjää voi kiittää tavaran lainaamisesta tai palveluksen tekemisestä. Kiittäminen tapahtuu klikkaamalla kyseisen käyttäjän profiilin tavara-/palveluslistoissa olevia linkkejä. Kiittäminen synnyttää aina uuden kassitapahtuman. 
Kiittämisen yhteydessä voit myös jättää käyttäjälle sanallisen kommentin, joka näkyy tämän profiilissa.</p>
<br>

<h2>Kategoriat</h2><br>

<h4>Kauppapaikka</h4>
<p>Kauppapaikalla voi ostaa, myydä ja antaa tavaraa.<p>
<p><b>Esimerkkejä:</b></p>
<p>Ostetaan kurssikirja <br> 
Myydään sohva <br>
Annetaan tarpeettomaksi jäänyt televisio ilmaiseksi pois</p>

<h4>Lainatavarat</h4>
<p>Täällä voit pyytä tavaroita lainaksi<p>
<p><b>Esimerkkejä:</b></p>
<p>Vasaran lainaaminen <br>
Guitar Heron toisen kitaran lainaaminen juhliin</p>

<h4>Palvelukset</h4>
<p>Palveluksista löytyvät ilmoitukset, joissa etsitään apua erilaisiin asioihin.<p>
<p><b>Esimerkkejä:</b></p>
<p>Taulun kiinnittäminen seinään <br>
Kaupassa käynti <br>
Koiran ulkoilutus <br>
Apua tietokoneongelmissa <br>
Askareet, joihin tarvitaan useampi kuin yksi ihminen (esim. lakanoiden viikkaus) <br></p>

<h4>Porukkahaku</h4>
<p>Porukkahaulla voi hakea useampia ihmisiä kerrallaan joko huvia tai hyötyä varten.
 Porukkahaku-kategoriasta löytyvät ilmoitukset ovat useimmiten sellaisia, joista ei pyydetä tai tarjota maksua.<p>
<p><b>Esimerkkejä:</b></p>
<p>Porukan kokoaminen leffaa katsomaan<br>
 Talkootyöntekijöitä<br>
 Sulkapallokaverin tai lenkkiseuran etsintä <br></p>

<h4>Kimppakyydit</h4>
<p>Kimppakyydit -kategoriassa voi kategorian nimen mukaisesti pyytää ja tarjota kyytiä 
ja jakaa samalla matkakustannuksia (sekä säästää ympäristöä).<p>

<h4>Löytötavarat</h4>
<p>Kadonneet tavarat löytävät täällä oikeat omistajansa. (Osio tarpeellinen varsinkin naapurustojen omille ryhmille jne.)<p>
<p><b>Esimerkkejä:</b></p>
<p>Useamman killan sitsien jäljiltä jääneet löytötavarat.<br>
Sateenvarjo hukattu TKK:n päärakennukselle.<br></p>

<h4>Muut</h4>
<p>Tähän kategoriaan voi laittaa ilmoitukset, jotka eivät sovi mihinkään muuhun kategoriaan. 
</p>
<p><b>Esimerkkejä:</b></p>
<p>Koska kaikki tapaukset on pyritty ottamaan huomioon, ei tällä kategorialla luonnollisestikaan ole 
esimerkkitapausta. :)</p>



