= render :partial => "layouts/left_hand_navigation", :locals => { :links => about_links }

.left-navi-section.about-section
  %h2= community_slogan
  %p= community_description(false)
  #sharetribe
    = render :file => community_file("about", true)