%h3 What is Kassi?

%p 
  Kassi makes it easier to sell, buy and lend stuff, do favors, organize car pooling and in general to exchange day-to-day resources within a local community. Kassi users can offer each other items, favors, rides and housing and also request all these from other users.
  
%p  
  Kassi aims to create a local item and service directory for each community and thus decrease the need for members to buy goods and services outside the community. Thus, use of the service saves both your time and money, and saves the planet at the same time. It is also a great way to meet new people in your neighborhood.

%h3 Who is Kassi for?

%p
  Kassi is a community-based service for schools, cities, companies and associations. You are currently browsing the Kassi community of #{@current_community.name.capitalize}.

%p
  Would you like to use Kassi with the people in your school, city, company or association? Read more at
  = link_to "http://www.kassi.eu", "http://www.kassi.eu"
  and leave us your email address using the form on the site, if you want more information about the service.

%h3 Who's behind Kassi?

%p
  Kassi has been developed as a part of the 
  = link_to("OtaSizzle research project", "http://sizl.org")
  of Aalto University. Researchers Antti Virolainen and Juho Makkonen are responsible for the development of the service. If you have any questions, comments or feedback regarding the service, please send them to info (aet) kassi.eu or directly to Antti's or Juho's personal email addresses (firstname.lastname@kassi.eu).