%h3 ¿Qué es Kassi? 
 
%p  
  Con Kassi es más fácil vender, comprar, y prestar productos; hacer favores, compartir viajes en automóvil y, en general, intercambiar las cosas que necesitas para cada día dentro de tu comunidad. 
 
%p   
  Con Kassi puedes crear un directorio de artículos y servicios disponibles para tu comunidad y así disminuir la necesidad de sus miembros de comprar bienes y servicios fuera de ella. Además, al usar Kassi, ahorras tiempo y dinero, ayudas al planeta y compartes más con quienes son parte de tu comunidad. 
 
%h3 ¿Para quién es Kassi? 
 
%p 
  Kassi es un servicio basado en comunidades, ya sean escuelas, universidades, empresas o asociaciones. Actualmente tú estás buscando la comunidad Kassi de #{@current_community.name.capitalize}. 
 
%p 
  ¿Te gustaría usar Kassi con la gente de tu escuela, universidad, empresa o asociación? Lee más aquí 
  = link_to "http://www.kassi.eu", "http://www.kassi.eu" 
  y dejános tu dirección de correo electrónico utilizando el formulario en el sitio, si quieres más información sobre el servicio. 
 
%h3 ¿Quién está detrás de Kassi? 
 
%p 
  Kassi ha sido desarrollado como parte 
  = link_to("OtaSizzle del proyecto de investigación", "http://sizl.org") 
  de la Universidad Aalto. Los investigadores Antti Virolainen y Juho Makkonen son los responsables del desarrollo del servicio. Si tienes cualquier pregunta, comentario o algún feedback con respecto al servicio, por favor envíanos un correo a info (aet) kassi.eu o directamente a los correos personales de Antti o Juho (nombre.apellido@kassi.eu).