%h3 Τι είναι το Kassi; 
 
%p  
  Χάρη στο Kassi είναι πολύ εύκολο να πουλάς, να αγοράζεις και να δανείζεις αντικείμενα, να προσφέρεις βοήθεια σε άλλους, να βρίσκεις συνταξιδιώτες και γενικά να μοιράζεσαι καθημερινά πόρους μέσα σε μια κοινότητα. Οι χρήστες του Kassi μπορούν να προσφέρουν ο ένας στον άλλο αντικείμενα, βοήθεια, το όχημά τους ή διαμονή. 
 
%p   
  Σκοπός του Kassi είναι να δημιουργήσει για κάθε κοινότητα ένα κατάλογο από αντικείμενα και υπηρεσίες που μπορούν να προσφέρουν τα μέλη της έτσι ώστε να μειωθεί η ανάγκη τους να αγοράσουν αγαθά και υπηρεσίες εκτός αυτής. Έτσι, οι χρήστες του Kassi εκτός του ότι κάνουν οικονομία, κάνουν ταυτόχρονα καλό στο περιβάλλον. Επίσης, είναι ένας πολύ καλός τρόπος να γνωρίσετε άτομα στη γειτονιά σας ή την κοινότητά σας.

%h3 Για ποιον είναι το Kassi;

%p
  Το Kassi είναι μια υπηρεσία για κοινότητες: σχολεία, πανεπιστήμια, πόλεις, εταιρίες, σύλλογοι κλπ. Αυτή τη στιγμή βλέπετε το Kassi της κοινότητας "#{@current_community.name.capitalize}".

%p
  Θα θέλατε να χρησιμοποιήσετε το Kassi με τα άτομα από το σχολείο, την πόλη, την εταιρία ή το σύλλογό σας; Διαβάστε περισσότερα στο 
  = link_to "http://www.kassi.eu", "http://www.kassi.eu".
και αν θέλετε περισσότερες πληροφορίες για την υπηρεσία δώστε μας την ηλεκτρονική σας διεύθυνση χρησιμοποιώντας τη φόρμα στην ιστοσελίδα.

%h3 Ποιος είναι πίσω από το Kassi;

%p
  Το Kassi έχει αναπτυχθεί στα πλαίσια του ερευνητικού προγράμματος
  = link_to("OtaSizzle", "http://sizl.org")
του Πανεπιστημίου του Aalto, στη Φινλανδία. Οι ερευνητές Antti Virolainen και Juho Makkonen είναι υπεύθυνοι για την ανάπτυξη της υπηρεσίας. Αν έχετε ερωτήσεις, σχόλια ή προτάσεις για το Κassi, παρακαλούμε να τις στείλετε στην ηλεκτρονική διεύθυνση info(παπάκι)kassi.eu ή κατευθείαν στις ηλεκτρονικές διευθύνσεις του Antti ή του Juho, δηλαδή στο όνομα.επώνυμο@Kassi.eu.