%h3 Wat is Kassi?

%p 
  Kassi maakt het verkopen, kopen en lenen van spullen, een gunst doen, organiseren van carpooling en in het algemeen het uitwisselen van dagelijkse hulpmiddelen binnen een lokale gemeenschap gemakkelijker. 

%p  
  Kassi doelt op het maken van een locale item en directoryservice voor een gemeenschap en daarmee de behoefte van leden te verlagen die spullen en/of diensten buiten deze gemeenschap willen aanschaffen. Gebruik van de service bespaart u tijd en geld, en redt tegelijkertijd de aarde. Het is daarnaast een goede manier om nieuwe mensen te ontmoeten in uw omgeving. 

%h3 Voor wie is Kassi?

%p
  Kassi is een op een gemeenschap gebaseerde service voor scholen, steden, bedrijven en verenigingen. U bent op dit moment de Kassi gemeenschap van #{@current_community.name.capitalize} aan het browsen.

%p
   Zou u Kassi met de mensen van uw school, stad, bedrijf of vereniging willen gebruiken? Lees er meer over op = link_to "http://www.kassi.eu", "http://www.kassi.eu" en stuur ons uw e-mailadres door het formulier in te vullen op de website om meer informatie over de service te ontvangen. 

%h3 Wie zit achter Kassi?

%p
  Kassi is ontwikkelt als onderdeel van = link_to("OtaSizzle research project", "http://sizl.org") van de Aalto Universiteit. Onderzoekers Antti Virolainen en Juho Makkonen zijn verantwoordelijk voor de ontwikkeling van de service. Mocht u vragen, opmerkingen of feedback hebben betreffende de service dan kunt u deze sturen naar info@kassi.eu of direct naar Antti?s of Juho?s persoonlijke e-mailadressen (naam.achternaam@kassi.eu)



