<h1>Tietoa Kassista</h1>
<br><br>
<h2>Mikä on Kassi?</h2>
<p>Kassi on palvelu, jonka tarkoituksena on helpottaa tavaroiden lainaamista, ostoa ja myyntiä, palvelusten vaihtoa, 
kimppakyytien organisointia ja muita sen käyttäjien päivittäisiä askareita.
Kassin käyttäjät voivat tarjota profiilissaan muille lainatavaroita ja palveluksia ja tehdä hakuja muiden profiileihin.</p>

<p>
Jos haluttua tavaraa tai palvelusta ei löydy, voi jättää palveluun ilmoituksen. 
Ilmoitukset on jaettu kahdeksaan kategoriaan, joita ovat kauppapaikka, palvelukset, 
tavaralainat, porukkahaku, kimppakyydit, löytötavarat, asuminen ja muut.  
Tavaroita, palveluksia ja ilmoituksia voi selata rekisteröitymättä, mutta ilmoituksiin vastaaminen ja käyttäjien profiilien tarkastelu vaatii 
rekisteröitymisen.</p>

<h2>Miksi Kassi on olemassa?</h2>
<p>Kassi on yksi <a href='http://sizl.org'>OtaSizzle-projektin</a> palveluista. Projekti on rahoitettu yksityisten yritysten ja yhteisöjen 
TKK:n ”Teknologia elämään” - kampanjalle antamilla lahjoituksilla. Projektin tarkoituksena on tutkia sosiaalisten
internetpalveluiden kehittämistä ja käyttöä sekä helpottaa niiden avulla ihmisten arkielämää.</p>

<p>
Kassin käyttäjätunnukset toimivat myös projektin
muissa palveluissa, ja myös profiilitiedot ja kaverilistat ovat kaikkien palveluiden käytössä. Ne tiedot, jotka liittyvät vain Kassiin 
(esimerkiksi tarjotut lainaesineet), eivät näy muualla kuin Kassissa.
</p>

<h2>Kenelle Kassi on tarkoitettu?</h2>
<p>Kassi on palvelun paikallisuutta hyödyntävästä luonteesta johtuen suunnattu alussa ensisijaisesti 
kaikille Aalto-yliopiston parissa toimiville henkilöille, mutta kuka tahansa voi rekisteröityä palvelun käyttäjäksi, 
ja se on varmasti hyödyllinen muillekin pääkaupunkiseudulla oleskeleville.</p>

<h2>Mistä voin kysyä lisää Kassista?</h2>
<p>Kassia, tai toista OtaSizzle-palvelua Ossia, koskevia kysymyksiä voi lähettää osoitteeseen: otasizzle-helpdesk@hiit.fi 
tai sitten suoraan Emmi Suhoselle (etunimi.sukunimi@tkk.fi). Henkilökohtaisesti Emmiltä voi tulla kyselemään projektiin 
liittyvistä asioista Aalto-yliopiston Teknillisen korkeakoulun T-talolta huoneesta A218. Jokaisen Kassi-sivun alalaidassa on myös palautelaatikko,
josta voi lähettää palautetta tai kehitysideoita Kassin tekijöille.</p>
