= render :partial => "layouts/left_hand_navigation", :locals => { :links => about_links }

- content_for :title, t('layouts.infos.how_to_use')

- content_for :title_header do
  %h1= t("layouts.infos.info_about_kassi")

.left-navi-section.about-section
  = render :layout => "layouts/mercury_editable_page", :locals => { :content_type => "how_to_use_page_content" } do
    - content = how_to_use_content.html_safe

    - content_for :meta_description, StringUtils.first_words(strip_tags(content))
    - content_for :keywords, StringUtils.keywords(strip_tags(content))

    - content
