= render :partial => "layouts/left_hand_navigation", :locals => { :links => about_links }

- content_for :title do
  = t('layouts.infos.terms')

- content_for :title_header do
  %h1= t("layouts.infos.info_about_kassi")

.left-navi-section.about-section
  = render :partial => "infos/terms_content"
