<div id="announcement_div">
<% unless flash[:notice].blank? %>
  <div class="announcement notification">
    <% if flash[:notice].is_a?(Array) %>
      <%= t(flash[:notice][0]) + " " + flash[:notice][1] %>
    <% else %>  
      <%= t(flash[:notice]) %>
    <% end %>  
  </div>
<% end %>

<% unless flash[:warning].blank? %>
  <div class="announcement warning">
    <%= t(flash[:warning]) %>
  </div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="announcement error">
    <%= t(flash[:error]) %>
  </div>
<% end %>
</div>