%head
  %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  -#
    For some reason, emails use @community even though the convention is to use @current_community
    So, try to use @current_community but fallback to @community

  - community = @current_community || @community

  :scss
    $link1: ##{community.custom_color1 || "d96e21"};

    a {
      color: $link1;
      text-decoration: none;
    }

    .email-action-button {
      padding: 12px 20px 14px;
      border-radius: 4px;
      text-decoration: none;
      background: $link1;
      border: 2px solid darken($link1, 5%);
      color: #fff;
    }