<footer class="footer-section">
  <div class="footer-top" style="background-image: image-url('bg.jpg');">
    <div class="footer-newsletter">
      <div class="container">
        <div class="row g-4 align-items-center justify-content-center">
          <div class="col-lg-6">
            <div class="newsletter-part">
              <div class="ft-header">
                <h4>Get The Latest Ava One Updates</h4>
              </div>
              <form action="#">
                <input type="email" placeholder="Your Mail Address">
                <button type="submit"> Subscrib now</button>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="social-part ps-lg-5">
              <div class="ft-header">
                <h4>Join the Community</h4>
              </div>
              <ul class="social-list d-flex flex-wrap align-items-center mb-0">
                <li class="social-link"><a href="#"><i class="icofont-twitter"></i></a></li>
                <li class="social-link"><a href="#"><i class="icofont-twitch"></i></a></li>
                <li class="social-link"><a href="#"><i class="icofont-reddit"></i></a></li>
                <li class="social-link"><a href="#"><i class="icofont-instagram"></i></a></li>
                <li class="social-link"><a href="#"><i class="icofont-dribble"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="text-center py-4 mb-0">All rights reserved &copy; Ava One 2022</p>
    </div>
  </div>
</footer>