%svg{:height => "100%", :style => "fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;", :version => "1.1", :viewbox => "0 0 40 40", :width => "100%", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:serif" => "http://www.serif.com/", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %g#btn_google_light_normal
    %g#button-bg
      %path#path-2{:d => "M40,2c0,-1.104 -0.896,-2 -2,-2l-36,0c-1.104,0 -2,0.896 -2,2l0,36c0,1.104 0.896,2 2,2l36,0c1.104,0 2,-0.896 2,-2l0,-36Z", :style => "fill:#fff;"}
      %path#path-21{:d => "M40,2c0,-1.104 -0.896,-2 -2,-2l-36,0c-1.104,0 -2,0.896 -2,2l0,36c0,1.104 0.896,2 2,2l36,0c1.104,0 2,-0.896 2,-2l0,-36Z", "serif:id" => "path-2", :style => "fill:none;"}
      %path#path-22{:d => "M40,2c0,-1.104 -0.896,-2 -2,-2l-36,0c-1.104,0 -2,0.896 -2,2l0,36c0,1.104 0.896,2 2,2l36,0c1.104,0 2,-0.896 2,-2l0,-36Z", "serif:id" => "path-2", :style => "fill:none;"}
      %path#path-23{:d => "M40,2c0,-1.104 -0.896,-2 -2,-2l-36,0c-1.104,0 -2,0.896 -2,2l0,36c0,1.104 0.896,2 2,2l36,0c1.104,0 2,-0.896 2,-2l0,-36Z", "serif:id" => "path-2", :style => "fill:none;"}
    %g#logo_googleg_48dp
      %path#Shape{:d => "M28.64,20.205c0,-0.639 -0.057,-1.252 -0.164,-1.841l-8.476,0l0,3.481l4.844,0c-0.209,1.125 -0.843,2.078 -1.796,2.716l0,2.259l2.908,0c1.702,-1.567 2.684,-3.875 2.684,-6.615Z", :style => "fill:#4285f4;"}
      %path#Shape1{:d => "M20,29c2.43,0 4.467,-0.806 5.956,-2.18l-2.908,-2.259c-0.806,0.54 -1.837,0.859 -3.048,0.859c-2.344,0 -4.328,-1.583 -5.036,-3.71l-3.007,0l0,2.332c1.481,2.941 4.525,4.958 8.043,4.958Z", "serif:id" => "Shape", :style => "fill:#34a853;"}
      %path#Shape2{:d => "M14.964,21.71c-0.18,-0.54 -0.282,-1.117 -0.282,-1.71c0,-0.593 0.102,-1.17 0.282,-1.71l0,-2.332l-3.007,0c-0.609,1.215 -0.957,2.59 -0.957,4.042c0,1.452 0.348,2.827 0.957,4.042l3.007,-2.332Z", "serif:id" => "Shape", :style => "fill:#fbbc05;"}
      %path#Shape3{:d => "M20,14.58c1.321,0 2.508,0.454 3.44,1.345l2.582,-2.581c-1.559,-1.452 -3.596,-2.344 -6.022,-2.344c-3.518,0 -6.562,2.017 -8.043,4.958l3.007,2.332c0.708,-2.127 2.692,-3.71 5.036,-3.71Z", "serif:id" => "Shape", :style => "fill:#ea4335;"}
      %rect#Shape4{:height => "18", "serif:id" => "Shape", :style => "fill:none;", :width => "18", :x => "11", :y => "11"}