<!-- -# <script>
-# - if APP_CONFIG.use_google_tag_manager.to_s == "true"
-#   = render partial: "analytics/google_tag_manager", locals: {feature_flags: feature_flags, community_id: community_id}
-#
-# - if APP_CONFIG.use_google_analytics.to_s == "true"
-#   = render partial: "analytics/legacy_google_analytics"
-#
-# - if google_analytics_key
-#   = render partial: "analytics/customer_analytics", locals: {google_analytics_key: google_analytics_key}
-# </script> -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-74081880-1', 'auto');
  ga('send', 'pageview');
</script>
