<script>
- if APP_CONFIG.use_google_tag_manager.to_s == "true"
  = render partial: "analytics/google_tag_manager"

- if APP_CONFIG.use_google_analytics.to_s == "true"
  = render partial: "analytics/legacy_google_analytics"

- if @current_community && @current_community.google_analytics_key
  = render partial: "analytics/customer_analytics"

- if APP_CONFIG.use_google_analytics.to_s == "true" || (@current_community && @current_community.google_analytics_key)
  :plain
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
