- if (APP_CONFIG.use_google_analytics)
  :javascript
    $(document).ready(function() {
      start_analytics('#{APP_CONFIG.google_analytics_key.to_s}', '#{APP_CONFIG.google_analytics_domain}');
    });