<script>
- if APP_CONFIG.use_google_tag_manager.to_s == "true"
  = render partial: "analytics/google_tag_manager"

- if APP_CONFIG.use_google_analytics.to_s == "true"
  = render partial: "analytics/legacy_google_analytics"

- if @current_community && @current_community.google_analytics_key
  = render partial: "analytics/customer_analytics"
</script>
