.left-navi
  - links.each do |link|
    %a{:id => link[:id], :href => link[:path], :title => link[:text], :class => (link[:name].eql?(@selected_left_navi_link) ? "selected left-navi-link" : "left-navi-link")}
      .left-navi-link-icon{:class => link[:icon_class]}
      .left-navi-link-text= link[:text]

- links.each do |link|
  - if link[:name].eql?(@selected_left_navi_link)
    .left-navi-dropdown.toggle.with-borders.hidden-tablet{data: {toggle: '.left-navi-menu'}}
      .icon-with-text{:class => link[:icon_class]}
      .text-with-icon= link[:text]
      %i.icon-dropdown.ss-dropdown

.left-navi-menu.toggle-menu.hidden
  - links.each do |link|
    %a{:href => link[:path], :title => link[:text], :id => "#{link[:name]}_left_navi_link"}
      .icon-with-text{:class => link[:icon_class]}
      .text-with-icon= link[:text]
