<% sub_navi_items = get_sub_navi_items(session[:navi2])%>
<% if (sub_navi_items) %>
<div id="sublinks">
  <ul>
    <% sub_navi_items.each do |name, url| %>
      <% if (name.to_s.eql?(session[:navi3])) %>
        <li class="active"><%= link_to t(name), url %>
        <%= render :partial => "layouts/left_sub_sub_navi" %>
        </li>
      <% else %>
        <li><%= link_to t(name), url %></li>
      <% end %> 
    <% end %>  
  </ul>
</div>
<% end %>