- if @current_user && @current_user.has_admin_rights_in?(@current_community)
  %p
    %a{:id => "edit_link", :href => "/editor" + request.path, :data => { :save_url => mercury_update_path }}
      .icon-with-text-container
        = icon_tag("edit", ["icon-part"])
        .text-part= t("common.edit_page")
%div{:id => content_type, :data => {:mercury => "full"}}
  = yield
