- { :notice => "ss-check", :warning => "ss-info", :error => "ss-alert" }.each do |announcement, icon_class|
  - if flash[announcement]
    .flash-notifications
      .flash-notification{:class => "flash-#{announcement.to_s}"}
        .flash-icon{:class => icon_class}
        .flash-text
          = flash[announcement]
