#notifications.container_24
  - [:notice, :warning, :error].each do |announcement|
    - if flash[announcement]  
      %div{:class => announcement.to_s}
        .notification_text
          = t(".#{flash[announcement]}")
        .close_notification_link  
          = link_to "X", "#", :onclick => "$('#notifications').slideUp('fast');"
