
- if @show_maintenance_warning
  .flash-notifications
    .flash-notification{:class => "flash-warning"}
      .flash-icon{:class => "ss-info"}
      .flash-text
        = t("layouts.notifications.maintenance_mode", count: @minutes_to_maintenance)

- { :notice => "ss-check", :warning => "ss-info", :error => "ss-alert" }.each do |announcement, icon_class|
  - if flash[announcement]
    .flash-notifications
      .flash-notification{:class => "flash-#{announcement.to_s}"}
        .flash-icon{:class => icon_class}
        .flash-text
          = flash[announcement]
