- if file_field.file?
  .info-text-container.filename-container
    .info-thumbnail
      - unless file_field.processing?
        = image_tag file_field.url(:thumbnail)
    .info-text-content
      %p
        = t('admin.communities.edit_look_and_feel.current_image')
        = ' '
        = file_field.original_filename
