<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  <table border="0" cellpadding="0" cellspacing="0" style="width:550px; border-top:4px solid #406704; font: 12px arial, sans-serif; margin: 0 auto;"><tr><td>
    <h1 style="font-size: 22px; margin:7px 0 12px 0; padding:0;">Kassi</h1>
    
    <%= yield %>
    
    <br /><br >

    <%= render :partial => "user_mailer/mail_signature" %>
    
    </td>
    </tr>
  </table>

  </body>

</html>
