= render :partial => 'layouts/head'
   
= render :partial => 'layouts/global-header'

%header.inbox-header
    
%article.page-content
  
  .wrapper
  
    .left-hand-navigation
      %a.selected
        .ss-mail.icon-with-text
        .text-with-icon Messages
      %a
        .ss-earth.icon-with-text
        .text-with-icon Notifications
  
    = yield