.avatarDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  & .avatarProfileDropdown {
    display: none;
  }

  &.openDropdown,
  &.touchless:hover {
    & .avatarProfileDropdown {
      display: block;
    }
  }
}
