.box {
  position: absolute;
  border: var(--ProfileDropdown_border);
  right: var(--ProfileDropdown_rightOffset);
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: var(--ProfileDropdown_zIndex);
  margin-top: calc(var(--ProfileDropdown_topSeparation) - var(--ProfileDropdown_arrowWidth) - 1);
}

.profileActions {
  display: flex;
}

.profileAction {
  width: 8.6em;
  height: 8.6em;
  border-right: var(--ProfileDropdown_border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--ProfileDropdown_textColor);
  padding: 0 0.69em;
  text-align: center;

  &:hover {
    background-color: rgb(249, 249, 249);
    color: var(--ProfileDropdown_textColorFocus);
  }
}

.profileAction:last-of-type {
  border-right: 0;
}

.profileActionIconWrapper {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: flex-end;
}

.notificationCount {
  position: absolute;
  left: 0;
  bottom: 17px;
  width: 100%;
  text-align: center;
  color: var(--ProfileDropdown_colorLight);
  font-size: var(--ProfileDropdown_fontSizeNotification);
}

.profileActionLabel {
  flex-basis: 40%;
  text-align: center;
  line-height: 1.25em;
  max-width: 100%;
  word-wrap: break-word;
}

.logoutArea {
  border-top: var(--ProfileDropdown_border);
  padding: 0.69em 1.15em;
  font-size: var(--ProfileDropdown_textLinkSize);
}

.adminLink {
  display: inline-block;
  cursor: pointer;
}

.logoutLink {
  float: right;
  cursor: pointer;
  color: var(--ProfileDropdown_logoutLinkColor);

  &:hover {
    color: var(--ProfileDropdown_textColorFocus);
  }
}

/* The arrow on top */

.rootArrowTop,
.rootArrowBelow {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  position: relative;
}

.rootArrowTop {
  border-color: transparent;
  border-bottom-color: white;
  border-width: calc((var(--ProfileDropdown_arrowWidth) - 2 * var(--ProfileDropdown_lineWidth)) / 2);
  margin-left: calc(0 - (var(--ProfileDropdown_arrowWidth) - 2 * var(--ProfileDropdown_lineWidth)) / 2);
  z-index: calc(var(--ProfileDropdown_zIndex) + 1);
  left: calc(var(--ProfileDropdown_lineWidth) * 2 + 1);
  top: var(--ProfileDropdown_topSeparation);
}

.rootArrowBelow {
  border-color: transparent;
  border-bottom-color: var(--ProfileDropdown_borderColor);
  border-width: calc(var(--ProfileDropdown_arrowWidth) / 2);
  margin-left: calc(0 - var(--ProfileDropdown_arrowWidth) / 2);
  top: calc(var(--ProfileDropdown_topSeparation) - var(--ProfileDropdown_arrowWidth));
}
